[2021-12-09 03:08] #8017 closed

[2021-12-09 04:06] elizaan36 opened #8024 "New notification: Navigation survey"
Title: We'd like your feedback on the WooCommerce navigation
Content: We're making improvements to the WooCommerce navigation and would love your feedback. Share your experience in this 2 minute survey.

Segmentation: All existing Ecommerce plan users
Timing: Immediate
Cadence: Once
CTA leads to: https://automattic.survey.fm/feedback-on-woocommerce-navigation
CTA label: Share feedback

@pmcpinto t

[2021-12-09 04:34] ilyasfoo commented on #7935
The developer blogpost has been updated with the following updates:

![https://d.pr/i/N3jTEo](https://d.pr/i/N3jTEo+)
Full Size: https://d.pr/i/N3jTEo

![https://d.pr/i/qjAkZo](https://d.pr/i/qjAkZo+)
Full Size: https://d.pr/i/qjAkZo

[2021-12-09 04:39] ilyasfoo commented on #7935
@woocommerce/ghidorah Appreciate it if you can check if what I did above is sufficient ⬆️

[2021-12-09 14:21] pmcpinto commented on #8024
@elizaan36 It would be great to exclude new users, since we already have a survey for them. For example: include only stores that are +3 months old. What do you think?

@becdetat do you think it's possible to have someone implementing this during cycle 19?

[2021-12-09 14:22] pmcpinto commented on #8011
Truncating is a good solution 👍

[2021-12-09 14:33] pmcpinto commented on #7785
This is a good workaround for the moment.

This would be a great solution. The way how these extensions are promoted is going to be reviewed in the upcoming months. So it's better to wait until we have more clarity about this.

[2021-12-09 15:10] gglobalstep opened #8026 "[GlobalStep - 6.0 RC-2] "Set up shipping" task not being marked as completed when we click "No thanks" in the previous step."
## Bug Description:
"Set up shipping" task not being marked as completed when we click "No thanks" in the previous step.

## Environment:
Woocommerce Version :
WooCommerce 6.0 RC-2
Wordpress version: 5.8.2

PC:
Windows 10
Firefox(Version 95.0)
Chrome(96.0.4664.93)

Test Instruction link:
https://github.com/woocommerce/woocommerce/wiki/Release-Testing-Instructions-WooCommerce-6.0#fix-fix-shipping-t

[2021-12-09 15:11] rodelgc opened #8027 "[WC 6.0.0-rc.2] After clicking "Install & enable" in the "Enable shipping label printing" step, user is taken back to the task list instead of to the "Connect your store" step."
### Describe the bug
When I was testing the "Set up shipping" task in WC 6.0.0-rc.2, which contains WC Admin 2.9.1, I noticed that after clicking "Install & enable" in the "Enable shipping label printing" step, I was taken back to the task list in the home page instead of being taken to the 4th step "Connect your store".

In WC 5.9, the user is being taken correctly to the "Connect your store" ste

[2021-12-09 15:37] joshuatf commented on #7889
This is related to woocommerce/woocommerce#32230

For context, the annual revenues in the business details are rough ranges between the most commonly used currencies and converted locally.  The product types prices are pulled directly from WooCommerce.com and will need to be handled on that end to resolve this.

Unless we plan to remove the currency conversion from the business details step, I thi

[2021-12-09 15:40] joshuatf commented on #7890
I have mixed feelings on the expectations here.  I'm not entirely sure that navigating to a different tab without clicking "Continue" would warrant a save, but I could be wrong.

cc @elizaan36 @pmcpinto for your thoughts.

[2021-12-09 15:51] joshuatf commented on #7899
Duplicate of https://github.com/woocommerce/woocommerce-admin/issues/6598

[2021-12-09 15:51] #7899 closed

[2021-12-09 18:43] #8018 closed

[2021-12-09 20:13] joshuatf commented on #8027
Thanks again for taking the time to outline this issue, @rodelgc!

This issue stems from the new task list REST API cache not being invalidated when `No thanks` is clicked.  We'll want to run the `onComplete` prop passed from the task fill when clicking this button as this is considered completion and will both optimistically complete the task and invalidate the cache.

[2021-12-09 20:17] joshuatf commented on #8026
Thanks, @gglobalstep!

This issue stems from the new task list REST API cache not being invalidated when `No thanks` is clicked. We'll want to run the onComplete prop passed from the task fill when clicking this button as this is considered completion and will both optimistically complete the task and invalidate the cache.

[2021-12-09 20:22] joshuatf commented on #7708
Hi @Stas0238 - since there are many versions of WooCommerce Admin, this may take a while to go through and test them all.  It would be great if you could check on the latest version to see if the issue is resolved.

If you can still reproduce it, then we can dig further into why it's happening, but I'm a little hesitant to go down a rabbit hole into older versions if an issue is already resolved.

[2021-12-10 02:00] becdetat commented on #8024
I'll ask.

@mattsherman @adrianduffell Could either of your teams pick this up?

[2021-12-10 04:52] #7935 closed

[2021-12-10 08:10] adrianduffell commented on #7935
Looks great @ilyasfoo, thank you!

[2021-12-10 10:10] caiodigioia commented on #7827
Hello...?

[2021-12-10 11:23] pmcpinto commented on #7890
Yep. I have the same feeling. @elizaan36 @jarekmorawski what do you think?

[2021-12-10 11:37] jarekmorawski commented on #7890
Interesting. Can we save changes automatically? I believe that "Continue" isn't supposed to be a submit button, but a guidance that creates a scaffolding for the experience and gives people a sense of progress. Ideally, the changes would be saved automatically in the background and submitted at the last step of the profiler.

[2021-12-10 12:51] mattsherman commented on #7660
@johnregan3 Thanks for submitting a PR! I will make sure the team reviews this.

[2021-12-10 12:54] mattsherman commented on #8024
I can put this above our spikes, priority-wise. Not positive that it would get wrapped up in Cycle 19, but I suspect it will.

[2021-12-10 12:56] mattsherman commented on #8024
I have updated the description to note this.

[2021-12-10 13:01] #7542 closed

[2021-12-10 20:12] joshuatf commented on #8007
Also noting that there are many reasons that free extension data should be invalidated.  One easy option (but not necessarily performant) would be to invalidate cache on component mount.

[2021-12-10 20:36] joshuatf commented on #7857
I'm not able to reproduce this either, but this could be highly dependent on what's using the rules engine and the store settings.

@slaFFik @WillBrubaker could you copy and paste the system report from `/wp-admin/admin.php?page=wc-status&tab=status`?

I'm thinking that even if we can't reproduce, we could add validation to this rule to prevent it from being run and make sure it gets logged when t

[2021-12-10 21:07] louwie17 commented on #8024
@becdetat @elizaan36 would this still be a valid sentiment for targeting ecommerce plan users?
[code]

[2021-12-11 18:03] mattsherman opened #8028 "Navigation: Support flyout menus on hover"
TODO: Needs to be groomed... just a placeholder right now.

## References

- Navigation design update, i1: pbIJXs-12C-p2

[2021-12-12 13:10] mattsherman commented on #7782
@elizaan36 This mockup shows a separate state field, and the state and "zip code" (post code) fields on the same line, which is not how the form is currently implemented. I'm just double-checking that these design changes are not expected to be part of this specific fix.

<img width="513" alt="Screen Shot 2021-12-12 at 08 06 42" src="https://user-images.githubusercontent.com/2098816/145713595-e567

[2021-12-13 11:15] pmcpinto commented on #8028
Matt, thanks for creating the issue. @elizaan36 can you take a look at the acceptance criteria? I think that Matt included everything, but it can be helpful to have you double-check the details. Thanks!

[2021-12-13 12:12] peterfabian commented on #8029
Moved to admin repo, as I assume that's where it belongs. Please let me know if I'm mistaken.

[2021-12-13 20:15] louwie17 commented on #8024
Scratch my last comment, I realize there is a `is_ecommerce` rule I can use

[2021-12-13 20:16] elizaan36 commented on #7786
Thanks for bringing this up @lanej0 ! 💜 The label should definitely be left aligned with the input.

I like the search icon because it may prompt users to start typing (rather than doom scrolling through the endless list) 😆
I'd actually add left padding to the input (rather than removing it from the label) so that there's some breathing room from the search icon.

![Frame 2356](https://user-images

[2021-12-14 02:48] moon0326 commented on #7931
Hey @pmcpinto ✋

As far as I know, we're already tracking the page view with `page_view` track. Could you share with us what was challenging? Is this because the name is not unique?

[2021-12-14 10:36] andfinally commented on #8014
This may change with the release of WooCommerce 6.0 on 14 December, where we are reverting to the previous menu situation for marketplace My Subscriptions.

https://github.com/woocommerce/woocommerce-admin/pull/7901
https://github.com/woocommerce/woocommerce-admin/pull/7902

[Slack thread](p1638914677069200-slack-G63C8LS9M)
[Nav prototype](pbIJXs-Ak-p2) shows how the nav is supposed to work

[2021-12-14 13:43] #7660 closed

[2021-12-14 15:02] pmcpinto commented on #7931
@moon0326 in the previous experiments we assumed that everyone in the eCommerce plan that fired a wc-admin pageview saw the WCPay red badge. And this wasn't 100% accurate as we weren't tracking the red badge views or something similar. But as I mentioned in the description, maybe we can get this through ExPlat without creating new Tracks. We can use an event like wcadmin_page_view as the exposure

[2021-12-14 15:20] LevinMedia commented on #6693
@joshuatf @mattsherman can we proceed with the plan I detailed in my most recent [comment](https://github.com/woocommerce/woocommerce-admin/issues/6693#issuecomment-863303812)?

[2021-12-14 15:57] joshuatf commented on #6693
Sounds like a good plan to me.  Thanks for confirming, @LevinMedia!

[2021-12-14 16:23] elizaan36 commented on #7785
Thanks for bringing this up @lanej0! Agreed on the workaround for clarity in the interim.

Sounds like a WooCommerce.com issue that needs to be resolved, especially with the upcoming onboarding/essentials work. Is there someone we should flag this with for visibility, @mattyza ?

If paid products are shown in the onboarding it's going to be key to first present the correct currency based on what w

[2021-12-14 16:30] jarekmorawski commented on #7785
I found some research that suggests that presenting prices in customer's local currency by reduce checkout abandonment by up to 50%. It should be easier once WCCOM starts using WCPay and built-in multi-currency feature. When that happens, in addition to the currency switcher mentioned by Elizabeth above, we probably should display the exchange rate and FX fee, too.

[2021-12-14 16:33] elizaan36 commented on #7890
Agree with Josh on this one. I don't think the expectation will be that the form will save automatically, but it feels like what's missing is a warning that any changes made will be lost when using the stepper to navigate.

So if the merchant has made any changes to the step then tries to navigate away via the stepper without clicking "Continue", the warning modal would appear. If no changes are m

[2021-12-14 17:27] joshuatf commented on #7915
@becdetat I'm working on adding the meta property, but I stumbled across the `content_data` property in notes.

It seems this was originally intended as some form of localization helper, but is being used to store meta information about the note.  Is there any reason not to rely on that property?

[2021-12-14 18:29] elizaan36 commented on #8014
It looks like the "My subscriptions" submenu will be removed from the Extensions category in the navigation, so that problem will be fixed. I'm a little unclear how users will navigate to "My subscriptions" from the marketplace screens since it's not a category level item, but that's for a separate issue.

[2021-12-14 19:13] joelclimbsthings commented on #8014
Thanks @andfinally , @elizaan36 . It sounds like we're good to close this issue then 👍🏻

[2021-12-14 19:13] #8014 closed

[2021-12-14 22:34] elizaan36 commented on #8024
Yes, makes sense.
Do you think we should remove the Inbox note with new user survey so there isn't the possibility of doubling up? Also, the new nav survey has been open for a while (since before bug fixes) so it's a little problematic to get clean results.

[2021-12-14 22:49] elizaan36 commented on #8028
Looks perfect to me. Thank you @mattsherman 🙏

cc @jarekmorawski - FYI this nav optimization work is being scoped for an upcoming cycle.

[2021-12-15 00:25] mattsherman commented on #7923
@pmcpinto @elizaan36 Can you please confirm that we want to change the newsletter to be deselected by default? The team is concerned that this will result in a sizable drop in the number of newsletter subscriptions.

@pmcpinto @elizaan36 There was strong pushback on this specific detail when the team discussed this story. I agree. It feels wrong to allow the Continue button to function if the user

[2021-12-15 00:30] mattsherman opened #8033 "OBW: Remove border between email address field and newsletter subscription checkbox"
A border exists between the email address field and the newsletter subscription checkbox. This shouldn't be there.

The border should be removed, and the vertical margin between the two fields tightened up.

## Actual

<img width="513" alt="Screen Shot 2021-12-14 at 19 29 40" src="https://user-images.githubusercontent.com/2098816/146100867-4746404a-a1c1-4abf-ae98-02ce1116969b.png">

## Desired

<i

[2021-12-15 00:31] mattsherman commented on #7923
This has been split into a separate bug. See https://github.com/woocommerce/woocommerce-admin/issues/8033

[2021-12-15 00:45] mattsherman commented on #7782
Location in WooCommerce core where the country locale information is available. This is where whether postal code (and other address fields) is required and what they should be labeled:

https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/class-wc-countries.php#L795-L1546

@pmcpinto @elizaan36 This brings up a related point... this issue specifically refers to just p

[2021-12-15 00:49] mattsherman commented on #7915
@joshuatf Interesting about the `content_data` property. I would say that if it is already being used to story meta informatino about the note that gets passed on to the client, then we could definitely use it for this case.

[2021-12-15 01:07] elizaan36 opened #8034 "Navigation: wc-admin app bar overlapping WPCOM navigation on mobile"
### Describe the bug
When viewing an ecommerce plan or business plan site on mobile (when the new WooCommerce navigation is turned off), the wc-admin app bar overlaps the WordPress.com unified navigation.

### To Reproduce

1. On any WordPress.com hosted site with Woo navigation turned off, go to any WooCommerce area such as 'WooCommerce Home' or 'Orders'
2. See error

### Expected behavior
When t

[2021-12-15 01:17] elizaan36 opened #8035 "Activity panel badges are too close to card titles"
I noticed recently that the padding between Activity panel card titles and the badges (with orders/stock/reviews count) has collapsed. In addition to creating a readability issue, this creates a visual inconsistency on the screen.

The expected behavior is that the padding would be consistent other card titles and badges on the home screen, such as the "Things to do next" list as shown in the scre

[2021-12-15 01:43] elizaan36 commented on #7782
Ideally the post code/zip code field would localize based on the country/region selected. Is that not possible as part of this work?

I'm not too worried about the order of address fields or locales where address fields aren't required.

[2021-12-15 01:56] elizaan36 commented on #7923
The goal of this update is to improve the conversion of this step. When the newsletter is selected by default, the email field is required and the hunch is that this was causing drop offs.

The error clearly states that the email is required, so we're providing the feedback on what's required for their choice. If the Continue button is disabled, that would be even more clear (and the right thing t

[2021-12-15 02:37] mattsherman commented on #7782
I think that the implementation required to make post code conditionally optional will get us most of the way to localizing the field labels as well. But, that seems like a distinct/larger issue. We could change this story to encompass that if agreed. /cc @pmcpinto

Localized address formats are super "fun"... I agree that it isn't an immediate concern, but I'd love to see more complete localizati

[2021-12-15 08:46] andfinally commented on #8014
Thanks @elizaan36, people will get to My Subscriptions via a tab on the Extensions page. This is unfortunately rather indirect, but we found that changing this led to an immediate drop in people browsing and buying extensions. Here's how it'll be with the classic nav:

<img width="500" alt="image" src="https://user-images.githubusercontent.com/1647564/146153089-26a21b3f-5ee3-4e78-84da-9e11e4487abb

[2021-12-15 09:31] ilyasfoo opened #8036 "Empty payments task accessible from Inbox note after WCPay installed via onboarding"
### Describe the bug
Payments task is not available when WCPay is installed via setup wizard's business step.

However, there's a note "Set up additional payment providers" which still links to the payments task. Unfortunately, this link would display a blank screen.

### To Reproduce
1. In a fresh JN site, install WCA [2.9.3](https://github.com/woocommerce/woocommerce-admin/releases/tag/v2.9.3)
1

[2021-12-15 10:02] pmcpinto commented on #7923
@mattsherman  @elizaan36 sorry, I think there was a misunderstanding. The newsletter subscription needs to be selected by default when the user visits the page. Perhaps the best option is to show the error message only when the user tries to proceed without an email address and with the newsletter subscription deselected. Let me know what you think

[2021-12-15 10:15] pmcpinto commented on #7782
I think this and other suggestions should be part of a follow-up story, as most likely we'll have significant changes to the profiler during Q1 (eg.: merging the profiler with the wcccom nux).

[2021-12-15 15:02] gglobalstep opened #8037 "[GlobalStep - 2.9.2] "Store Management" panel fails to appear after hiding the "Setup Task List"."
## Bug Description:
"Store Management" panel fails to appear after hiding the "Setup Task List".

## Environment:
Woocommerce Version :
WooCommerce: v6.0.0
WooCommerce Admin: 2.9.2
WordPress version: v5.9-beta3

PC:
Windows 10, Mac 10.14.6
Chrome(Version 96.0.4664.110)
Firefox(Version 95.0)
Safari: v15.1

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the

[2021-12-15 16:32] louwie17 commented on #7919
Estimating this as a 2, given it might take a little bit of tinkering with the timing and making sure things are recorded correctly and covering all the use cases.

[2021-12-15 18:32] elizaan36 commented on #8014
Ok thanks, and just to clarify for the new WooCommerce nav - will the navigation item still show as `Marketplace`?
I'm asking because it would be very confusing if that were named `Extensions` because of the extensions section of the new nav.
<img width="113" alt="Screen Shot 2021-12-15 at 12 31 04 PM" src="https://user-images.githubusercontent.com/5121465/146244864-4881090b-2b1b-45c0-8357-2c2ba2d

[2021-12-15 18:44] elizaan36 commented on #7923
ah ok! @jarekmorawski is this something you could look into if you have a moment in the coming days? It could use a fresh design perspective with the approach of the newsletter subscription being selected by default.

[2021-12-15 19:23] moon0326 commented on #7931
Thank you for the explanation 👍

[2021-12-15 20:50] nicholasjeberlin commented on #7891
19105245-hc

[2021-12-15 23:24] moon0326 commented on #8037
Thank you @gglobalstep. I was able to reproduce it on my end. We'll work on a fix soon.

[2021-12-15 23:51] moon0326 opened #8040 "Activating WC Pay overrides the Inbox component CSS"
### Describe the bug

Activating WC Pay overrides the Inbox component CSS incorrectly.

### To Reproduce

1. Install and activate the latest WooCommerce and WC Pay.
2. Navigate to WooCommerce -> Home
3. Notice the Inbox component has 0 padding top and bottom

### Screenshots

![Screen Shot 2021-12-15 at 3 22 13 PM](https://user-images.githubusercontent.com/4723145/146282676-ecc14612-06e6-4333-8c10

[2021-12-16 13:13] jarekmorawski commented on #7923
Interesting! Why do we collect the email address? Is it used for something other than newsletter? If not and we don't really need it for the OBW, maybe we could only display it conditionally based on whether user selected the newsletter or not?

![setup](https://user-images.githubusercontent.com/79307566/146378216-b0f69d12-9a3f-4eff-938b-b96eec3b9260.gif)

[2021-12-16 14:27] elizaan36 commented on #7782
@pmcpinto To confirm, any additional localization efforts beyond the Post code label would be outside the scope of this issue? @mattsherman mentioned that the implementation would get us most of the way there for the label change anyway.

[2021-12-16 14:42] elizaan36 commented on #7923
Good question. The email is used for account information if provided, so it's not only for the newsletter.

I think the solution of only showing the error message when the user tries to proceed is a good one, but the email field should still appear together with the other fields above the checkbox selection.

[2021-12-16 15:06] osirismqz opened #8041 "Add Phone number to customer reports"
### Is your feature request related to a problem? Please describe.
Exporting customer reports with a phone number would be quite useful to use your list with Facebook audiences and other CRM software.

### Describe the solution you'd like
Adding phone number (billing and shipping) to customer reports.

### Describe alternatives you've considered
I tried to find a way to add the phone number via ho

[2021-12-16 16:50] joshuatf commented on #7689
Closed by https://github.com/woocommerce/woocommerce-admin/pull/7805

[2021-12-16 16:50] #7689 closed

[2021-12-16 17:23] pmcpinto commented on #7923
+1

[2021-12-16 18:03] joshuatf commented on #7782
My vote is for handling this all at once (optionally over multiple PRs but I'd like to see it done in the same sprint).  The information required for localizing all fields and various requirements is contained in https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/includes/class-wc-countries.php#L795-L1546

The more time consuming portion of this is creating a REST API and po

[2021-12-16 18:04] joshuatf commented on #7971
@pmcpinto We can set this up on our scheduled action that runs daily, but it won't be exactly 5 minutes after.   How important is that timing?

[2021-12-16 18:08] joshuatf commented on #7997
Dev note: the `label` prop currently is set to accept a string.  We can either change this to pass in content or we can add a `tooltipText` prop to this component.

[2021-12-16 20:36] louwie17 commented on #7919
@becdetat I didn't tackle this one so far in my PR, as I am not sure how we would want to tackle this, a user can't quit the onboarding from the screen they would have to manually hit return or edit the url or close the tab/window all together.
We do already trigger the `_step_complete` track for each step, so I wonder if we could look at that to determine if a user quit early?

[2021-12-16 21:50] mattsherman commented on #6063
Customer report of this in the WordPress.org forums:

https://wordpress.org/support/topic/some-strings-in-the-interface-are-not-translated/

[2021-12-17 02:20] moon0326 commented on #8037
It looks like this https://github.com/woocommerce/woocommerce-admin/pull/7820 PR fixed the problem.

Closing it as it works as expected with the latest main branch.

[2021-12-17 02:20] #8037 closed

[2021-12-17 02:25] edwinho89 commented on #7891
Another issue reported in 12768836-hc

[2021-12-17 11:49] pmcpinto commented on #7782
That is a good point. What will be the difference in terms of effort to implement it altogether?

[2021-12-17 12:01] pmcpinto commented on #7971
We already trigger a couple of notifications when the plugin is installed/activated. The goal with the 5 min delay is to check is firing this notification later leads to better engagement. The 5 min timing is not critical, as long as we fire the notification during the first 60 minutes. Let me know if it's possible

[2021-12-17 13:20] adrianduffell commented on #7931
Our re-aligned development cycles for EOY causes us some bother here. Assuming that having the data by 2022-02-28 is a hard requirement, we'll need to cherry-pick this work in after the 3.1 code freeze. cc @moon0326 @ilyasfoo

[2021-12-17 14:05] mattsherman commented on #7948
Closing this one in favor of woocommerce/woocommerce#32239

[2021-12-17 14:05] #7948 closed

[2021-12-17 17:07] AtrumGeost commented on #7891
Another report here: 4618700-zd-woothemes

[2021-12-17 23:30] shaunkuschel commented on #7920
Received another report of this on 4613327-zen.

[2021-12-17 23:55] elizaan36 opened #8043 "Remove the new user navigation feedback note"
We're introducing a new Inbox note to get feedback from existing users of the WooCommerce navigation but there's a previous inbox note asking for feedback from a potentially overlapping audience.

To prevent any annoying overlap for users - there's the potential to get two notes at the same time if your store is >3 months old and you turn on the navigation - we need to remove the note that appears

[2021-12-18 05:17] #7766 closed

[2021-12-18 09:18] #7778 closed

[2021-12-18 21:17] #6535 closed

[2021-12-19 17:24] #7802 closed

[2021-12-20 00:37] becdetat commented on #7915
@joshuatf I agree, `content_data` looks ideal for this.

It would just need to be supported in remote inbox notifications and available client-side.

[2021-12-20 09:54] #7786 closed

[2021-12-21 01:20] ilyasfoo commented on #7246
Hey @moon0326, can this be closed?

[2021-12-21 01:56] moon0326 commented on #8040
This was fixed in https://github.com/Automattic/woocommerce-payments/pull/3528

[2021-12-21 01:56] #8040 closed

[2021-12-21 01:57] moon0326 commented on #8041
Thank you so much for opening this feature request @osirismqz. This sounds very useful to me as well. We'll look into it.

[2021-12-21 01:58] ilyasfoo opened #8052 "Dummy issue"
### Describe the bug
A dummy issue

[2021-12-21 02:10] #8052 closed

[2021-12-21 03:23] moon0326 commented on #8041
Hi @osirismqz 👋
I've looked into it further and found two hooks you can use two add a customer phone number.

This [filter](https://github.com/woocommerce/woocommerce-admin/blob/main/src/API/Reports/Customers/Controller.php#L607) can be used to add a new column in the exported CSVs

This [filter](woocommerce_report_customers_prepare_export_item) can be used to add data to the new column.

[2021-12-21 08:55] Warpsmith opened #8056 "Translation files BREAKS date selector"
### Describe the bug

The Swedish translation file is breaking the date selector at WooCommerce->Analytics->Revenue

Also, less important, the date format is hardcoded to US format, instead of following the date format set in the settings.

### To Reproduce

1. Go to: WooCommerce->Analytics->Revenue when using the swedish version.

### Actual behavior:

1. There is no year in the date, only ÅÅÅÅ
2

[2021-12-21 13:42] louwie17 opened #8058 "Spike: Try out `createPreloadingMiddleware` to replace settings hydration hook"
### Description

We are [currently hydrating a bunch](https://github.com/woocommerce/woocommerce-admin/blob/main/client/index.js#L30-L33) of our mutable settings into our @wc/admin/settings datastore by making use of `wcSettings`. This allows a user to retrieve mutable settings two way's, using our data store or making use of `wc.wcSettings.getSetting`. This could add confusion, and the latter is

[2021-12-21 13:52] louwie17 opened #8059 "Update documentation for using `wcSettings` for 3PDs"
### Description

We should update the `wcSettings` documentation to make clear to 3PDs how to use this and to be cautious using settings that are not set by the plugin themselves. All we might need to do on wc-admin is point to documentation in the WC Blocks repo somewhere -> https://github.com/woocommerce/woocommerce-gutenberg-products-block/tree/trunk/assets/js/settings/shared.

Some of these se

[2021-12-21 15:52] #7915 closed

[2021-12-21 17:55] rrennick opened #8060 "PHP constant throws error in PHP 8"
### Describe the bug
Per https://www.php.net/manual/en/function.constant.php, `constant()` throws an error in PHP 8 when the constant is not defined. The place where I found this is https://github.com/woocommerce/woocommerce-admin/blob/main/src/Schedulers/MailchimpScheduler.php#L90. There may be other instances.

### To Reproduce

1. Update your test site to PHP 8.0
2. Load the onboarding profile

[2021-12-21 19:35] louwie17 opened #8061 "Filter notes in inbox and home screen by user capability"
### Description

Currently any note is displayed to any user that has access to the **WooCommerce > Home** screen. Some of these notes focus on specific tasks like creating a product, or enabling a payment gateway and it could be that users don't have those privileges, but are still shown this note while on the WC homescreen.

We should filter notes by a users capability. This will require, either

[2021-12-21 20:15] moon0326 opened #8062 "Include WCPayments menu item in WCA"
**Description:** we want to expand the experiment implemented in [#686](https://github.com/Automattic/wc-calypso-bridge/issues/686) and [#744](https://github.com/automattic/wc-calypso-bridge/issues/744)
More info here: p1634651781002000-slack-C01LPBCV4J1

The code is already done in WC Calypso Bridge repository. We should copy the code from the bridge repository to WCA.

**Acceptance criteria:**

[2021-12-21 20:17] moon0326 opened #8063 "Display the WCPayments menu item red badge"
Add a menu item named "Payments" with a red "1" badge linking to the [Welcome screen](https://github.com/woocommerce/woocommerce-admin/issues/8064).

The menu item should display under the following conditions:

- WC Pay plugin is not activated.
- Store is located in the U.S.
- Store has not [opted out](https://github.com/automattic/wc-calypso-bridge/issues/691). Perhaps add a new WP option to kee

[2021-12-21 20:17] moon0326 opened #8064 "Add WC Pay welcome screen"
![image.png](https://images.zenhubusercontent.com/5f56e5a83c18801db083d2ad/ac338a62-56f2-4c1f-91f0-c2cd8b914612)

 [Figma](https://href.li/?https://www.figma.com/file/7QOkvxzz1ylS3QBS4zqW8R/Payments-experiments?node-id=8537%3A35116)

- There is a new [Onboarding package](https://github.com/woocommerce/woocommerce-admin/tree/main/packages/onboarding) containing components that may be able to be re-

[2021-12-21 20:17] moon0326 opened #8065 "Allow merchants to remove the WCPayments menu item if they don't want to adopt our product"
The welcome page has a “No thanks” button.

![image](https://user-images.githubusercontent.com/9312929/124137527-56cc4f80-dab8-11eb-95f0-db1b0bb9e458.png)

When this button is pressed, the store should no longer display the Payments menu item. Additionally, an exit survey will appear (issue #694).

WC Calypso PR: https://github.com/Automattic/wc-calypso-bridge/pull/706

[2021-12-21 20:18] moon0326 opened #8066 "Add exit survey to WC Pay welcome screen"
An exit survey should display upon clicking "No thanks" on the WC Pay welcome screen.

![image](https://user-images.githubusercontent.com/9312929/124138089-e540d100-dab8-11eb-98e5-328ea4f6414a.png)

The feedback should be collected with a Tracks event.

The approach for the [Customer Effort Score modal](https://github.com/woocommerce/woocommerce-admin/blob/de1c79df0efdac16eb83b337a2ba9cce8b352ae0/

[2021-12-21 20:18] moon0326 opened #8067 "Reuse one of the financial incentives implemented for the new existing store acquisition experiment"
Stores that set up WC Pay should have the "no transaction fees for 3 months" promo applied to their account.

WC Calypso issue for more details: https://github.com/automattic/wc-calypso-bridge/issues/689
WC Calypso PR: https://github.com/Automattic/wc-calypso-bridge/pull/705

[2021-12-21 20:19] moon0326 opened #8068 "Automatically redirect merchants to the KYC flow after they install the extension"
The WC Pay welcome screen has a "Get Started" button.

![image](https://user-images.githubusercontent.com/9312929/124141299-e32c4180-dabb-11eb-963b-c0f9c0a7f8e5.png)

This button should install WCPay while showing loading/progress, then redirect to `wcpaySettings.connectUrl` global var after installation.

WC Calypso Bridge PRs: https://github.com/Automattic/wc-calypso-bridge/pull/700 and https://

[2021-12-21 20:19] moon0326 opened #8069 "Add payments setting"
Users should be able to re-enable the Payments menu item after dismissing it with the "No, thanks" button.

A new WooCommerce setting needs to be added  for this called "Payments". We perhaps also need to switch our existing usage of the `wc_calypso_bridge_payments_dismissed` option to use this setting instead?

The exit survey states:

WC Calypso Bridge PR: https://github.com/Automattic/wc-calyps

[2021-12-21 20:35] moon0326 commented on #8067
We need to confirm to see if the promo used in the PR is still active. The promo slug (`wcpay-promo-2021-6-incentive-2`) suggests that it is intended for 2021. We should find out if we want to use a new promo for 2022.

[2021-12-21 20:57] moon0326 opened #8070 "Research: assignment exclusion groups"
We want to start the implementation with a small subset of US stores (% tbd).

Using ExPlat seems to be the best approach to segment the two experiences, but we're not sure if ExPlat supports what we need.

We want to start with a small subset of US stores and expand the % as we go. However, it looks like it's not possible to exclude the users who were previously assigned when we increase % later

[2021-12-21 22:49] psealock commented on #8058
@louwie17, this sounds like an interesting idea. Here are just a few thoughts:

We currently try to discourage accessing mutable settings via `wc.wcSettings.getSettings` by throwing an error if accessed directly.

https://github.com/woocommerce/woocommerce-admin/blob/e65aec4cdc67e0e280d4d7722876670f7b0647c1/packages/wc-admin-settings/src/index.js#L46-L50

This system evolved into this dysfunctiona

[2021-12-21 23:13] psealock commented on #8056
Thanks for the bug report @Warpsmith

I'm seeing the translation correctly to "YYYY" over at [translate.wordpress.org](https://translate.wordpress.org/projects/wp-plugins/woocommerce-admin/stable/sv/default/?filters%5Bterm%5D=YYYY&filters%5Bterm_scope%5D=scope_any&filters%5Bstatus%5D=current_or_waiting_or_fuzzy_or_untranslated&filters%5Buser_login%5D=&filter=Apply+Filters&sort%5Bby%5D=priority&sor

[2021-12-21 23:20] psealock commented on #7993
WooCommerce Core gets around this by appending only the latest entries of `changelog.txt` into its `readme.txt`. Considering the pending merge to Core, we could close this issue out as this will be handled in that repo.

I wasn't aware however of this consequence so I've added it as an action item in https://github.com/woocommerce/woocommerce/issues/31135

[2021-12-21 23:26] Warpsmith commented on #8056
I'm not sure. I don't quite understand that translate site.
The `\u00c5\u00c5\u00c5\u00c5` was found in the .json files in the folder wp-content>languages>plugins

[2021-12-21 23:32] psealock commented on #7810
Hi @tomalec

The `@woocommerce/settings` is a webpack alias in wc-admin and probably blocks too 😭 . What data are you trying to access?

This is a huge area of technical debt with [perhaps some changes coming](woocommerce/woocommerce#32208) and these decisions continue to haunt us. Sorry for the confusion.

You can get data that is added on page load using `wc.wcSettings.getSettings` directly. How

[2021-12-22 00:04] moon0326 commented on #8060
Thank you @rrennick for taking the time to report this issue. I was able to reproduce it on my end. We'll look into it as soon as possible.

[2021-12-22 00:14] moon0326 commented on #8056
Thank you @Warpsmith for taking the time to report this issue.

I was able to reproduce it on my end. We'll look into it as soon as possible.

@psealock I was able to reproduce it on a JN site. It displays `ÅÅÅÅ` for me as well. I think this is an encoding-related issue.
![Screen Shot 2021-12-21 at 4 14 22 PM](https://user-images.githubusercontent.com/4723145/147013815-e4c2d11e-df3f-438d-a09a-81b1

[2021-12-22 00:23] Warpsmith commented on #8056
I'm not a programmer, but I don't think it has to do with encoding. I think that the server expect to get `YYYY` to which it will return the year. But that some over-ambitious translator changed `YYYY` into `ÅÅÅÅ`, which the server doesn't understand and therefore return unchanged. I believe that `YYYY` shouldn't be translated at all.
That is just my guess though - as I said, I don't know anything

[2021-12-22 01:20] moon0326 commented on #8056
Thank you for the insights. We'll look into it further.

I haven't checked it on yet, but we'll make sure to look into it as well and try to support it in the next update.

[2021-12-22 02:56] ilyasfoo opened #8071 "Add capability for ExPlat integration to authenticate WPCOM users"
### Description

Related P2 comment: pbmo2S-Un-p2#comment-2135

Our current implementation of ExPlat integration only supports anonymous users. We should add the capability to authenticate WPCOM users to support experiments that require it.

Optimally, this capability should be added to both JS and PHP implementation of ExPlat integration.

[2021-12-22 05:11] #7970 closed

[2021-12-22 05:11] nawaz0705 commented on #7920
I have received another report on this issue on Happychat [#33314448](https://mc.a8c.com/support-stats/happychat/transcript.php?id=33314448)

[2021-12-22 12:22] #7551 closed

[2021-12-22 14:14] mcampal commented on #8030
While I'm not able to replicate this from my end on a testing site, I came across a user experiencing this issue when only WooCommerce and WooCommerce Payments are active on their site while running the Storefront theme and everything is updated.

I can see that they are also not able to run the WooCommerce Payments setup wizard. See the screencast for reference:

![Screen Capture on 2021-12-22 at

[2021-12-22 14:53] leonardola commented on #8030
@mcampal the original issue only happens on a specific branch/test release of WC Pay. This should not happen on stable version as the change was reverted. So not sure if this is 100% related.

[2021-12-22 15:37] mcampal commented on #8030
I see. In this case, the user has the following setup:

WC Version: 6.0.0
WC Admin Version: 2.9.4
WooCommerce Payments: 3.4.0

Would you suggest opening a new issue, @leonardola?

I noticed that a similar issue has been reported [here](https://github.com/Automattic/woocommerce-payments/issues/2806), but it is now closed since we weren't able to replicate the issue. I can see that you were able to

[2021-12-22 16:56] leonardola commented on #8030
@mcampal I created a fresh install with the same plugins and storefront theme but I could not reproduce the error you reported. The errors can be related but I am sure yet. Does any error show up on console when opening the page?

[2021-12-22 17:18] pmcpinto opened #8073 "Inbox 2.0 click Tracks not working properly"
### Describe the bug
The Tracks event tied to the inbox message click is not working properly

### To Reproduce
1. Create a new store with WC 6.1 beta installed
2. Enable event tracking
3. On the home screen scroll down to the inbox notifications
4. Click on the title or CTA
5. See that we're not firing wcadmin_inbox_action_click

### Actual behavior:
It's firing wcadmin_inbox_panel_view several t

[2021-12-22 17:19] pmcpinto commented on #8073
@ilyasfoo @moon0326 can you check and fix this? We need to fix this on time for WC 6.1. Without the Tracks fix it will not be possible to measure the impact of the Inbox changes.
Also, it would be great to check if the other Inbox events are working properly. They seem to be working fine, but it's good to double-check. Thanks!

[2021-12-22 17:22] louwie17 commented on #8058
Yeah this would support this and push people to use the data store instead. This piece of code is only used internally by us though, so won't be of any use to a 3PD, they would be using https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/assets/js/settings/shared/utils.ts#L18-L26 which doesn't throw that warning.

Yeah the `preloadingMiddleware` acts almost identical to

[2021-12-22 17:27] pmcpinto opened #8074 "Change the reviews empty state panels logic"
**Description:** we're display the Reviews empty state panel when publishedProductCount > 0 && reviewsEnabled === 'yes'. Showing the Reviews empty state before receiving a review can be confusing, especially because we have stricter conditions to show the orders and inventory empty state panels.

**Acceptance criteria:**
- [ ] Update the Reviews panel condition to only be visible after getting the

[2021-12-22 17:28] pmcpinto commented on #8074
@joelclimbsthings I'm not sure when this regression was introduced. But if possible, it would be great to have it fixed on wc admin 3.0/wc core 6.1.

Let me know if it's doable. Thanks!

[2021-12-22 17:40] mcampal commented on #8030
There are no errors on the console when opening the page.

When trying to access **WooCommerce > Home** or the '**Payments**' section (that would trigger the setup wizard) from their WP-Admin, they are being redirected to `/wp-admin/admin.php?page=wc-admin&path=%2Fpayments%2Fconnect` and the page loading as seen [here](https://user-images.githubusercontent.com/47186013/131077507-557a9c7d-578c-4017

[2021-12-22 19:30] moon0326 commented on #8073
Thank you for catching it @pmcpinto. We can definitely work on it to include in for WC 6.1.

I wasn't able to find any info on `wcadmin_inbox_action_click` in Inbox 2.0 [epic](https://github.com/woocommerce/woocommerce-admin/issues/7241)

Do we need any properties for `wcadmin_inbox_action_click` such as clicked note title?

[2021-12-22 20:39] moon0326 opened #8075 "Remove WCPayments Menu from calypso bridge"

[2021-12-23 06:21] danemaster00 opened #8076 "sucuri and woocommerce incompatability"
I can access wocommerce > orders
and marketing > coupons
both from left side panel

but if I try to enter any other area such as analytics or woocommerce >home, I get 502 errors in my browser
this is the only plugin that generates these issues

all plugins disabled except for sucuri security - lastest version
wordpress multiside - addon domain and primary domain same issue
theme is "hello elemento

[2021-12-23 06:33] danemaster00 commented on #8076
![image](https://user-images.githubusercontent.com/85789369/147198605-2c410925-c636-4a76-a7e3-0b0e7106d55c.png)

[2021-12-23 06:34] danemaster00 commented on #8076
![image](https://user-images.githubusercontent.com/85789369/147198743-19b620b6-1619-4d72-be95-36d02220b73c.png)

[2021-12-23 07:36] danemaster00 commented on #8076
woocommerce 6.0.0 is the one giving me issues
woocommerce 4.1.3 IS working with my website.
now im trying to find the most recent iteration which does not generate 502

[2021-12-23 08:52] #7895 closed

[2021-12-23 09:26] pauljacobson commented on #8030
Hi there. In 4631039-zen, our user came back wiht the following feedback:

I've asked them to reach out to Hostgator for more details in case this is helpful here.

[2021-12-23 09:48] ilyasfoo commented on #8069
Potentially done in https://github.com/woocommerce/woocommerce-admin/compare/main...add/8064-add-wc-pay-welcome-screen since this task is simply text in the exit survey modal

[2021-12-23 09:50] ilyasfoo commented on #8065
Potentially done in https://github.com/woocommerce/woocommerce-admin/compare/main...add/8064-add-wc-pay-welcome-screen

[2021-12-23 09:52] ilyasfoo commented on #8066
Potentially done in https://github.com/woocommerce/woocommerce-admin/compare/main...add/8064-add-wc-pay-welcome-screen since I've tested the exit survey modal in the PR

[2021-12-23 09:53] ilyasfoo commented on #8067
Hi @pmcpinto, do we reuse the same WCPay promo or do we need a new one as @moon0326 mentioned above?

[2021-12-23 11:20] ilyasfoo opened #8077 "Add Inbox note: WCPay - Remind me later"
This note will be a reminder for users that view the Welcome screen in [#744](https://github.com/Automattic/wc-calypso-bridge/issues/744), then navigate away without installing WCPay.

Title: Save big with WooCommerce Payments
Content: Save up to 50% in fees by managing transactions in WooCommerce Payments. With WooCommerce Payments, you can securely accept major cards, Apple Pay, and payments in

[2021-12-23 13:28] leonardola commented on #8030
@pauljacobson That confirms that it was not related to the original issue. I used the [default .htaccess](https://wordpress.org/support/article/htaccess/) file during all the tests.

[2021-12-23 13:30] John-belt commented on #7964
Hey guys any update on this?? Would rather appreciate if yu guys can implement this. There has been lot of taxing related issues like partial/full refund is not update in analytics and some other issues as well. It would be really great if we have a bit of flexibility and this really helps us.

[2021-12-23 15:34] joshuatf opened #8078 "Plugins should be installable asynchronously"
### Is your feature request related to a problem? Please describe.
When installing many plugins at once, WP has to install them synchronously due to its file system management.  This creates long delays in the onboarding profiler where many plugins are installed at once and we await a response from the server.

### Describe the solution you'd like
We should add endpoints that allow async installat

[2021-12-23 19:07] rrennick opened #8080 "WC Pay promotion error in PHP 8.0"
### Describe the bug

We are seeing the following error on our PHP 8.0 smoke testing site:

[code]

The `$wc_pay_spec` variable is used without being checked to confirm it is an object in https://github.com/woocommerce/woocommerce-admin/blob/main/src/Features/WcPayPromotion/WCPaymentGatewayPreInstallWCPayPromotion.php#L29:L33.

### To Reproduce

1. Update to PHP 8.0
2. Activate WooCommerce
3. Visi

[2021-12-23 20:33] moon0326 commented on #8080
Howdy @rrennick  👋

Thank you for taking the time to report this bug.

I wasn't able to reproduce it with the stopes provided, but I can see that the code potentially error out when `Init::get_wc_pay_promotion_spec()` returns non-object.

it's possible to get null or an empty array when one of the rules defined in `https://woocommerce.com/wp-json/wccom/payment-gateway-suggestions/1.0/payment-metho

[2021-12-23 20:59] octaedro commented on #8074
Hi @pmcpinto,

I'll cut the `WC-Admin 3.0` final release on Tuesday.

I'm taking a look at this bug but I'm not sure that I understood it correctly.
As far as I know, the panels will be shown only when they [have something to show](https://github.com/woocommerce/woocommerce-admin/pull/5552#issuecomment-724041280).

The Orders panel will be shown [when `totalOrderCount > 0`](https://github.com/wooc

[2021-12-23 21:01] moon0326 commented on #8076
Hi @danemaster00

Thank you for taking the time to report this issue.

Unfortunately, I wasn't able to reproduce the issue on my end.

I installed the latest WordPress + WooCommerce + Sucuri Security - Auditing, Malware Scanner and Hardening. However, I was still able to access all my pages.

 It would be helpful to investigate the issue if you could provide us the system report from WooCommerce -

[2021-12-23 21:25] csmcneill commented on #8030
In 4631039-zen, our user came back wiht the following feedback:

Yes, I finally got htis extra information:

Related to the ".htaccess" file of WordPress:

"Due to plugin there were unwanted scripts like deny codes which was removed by previous agent, I would suggest you optimize the website."

[2021-12-23 23:26] catsma97504 opened #8082 "Fatal Error Attempting to Log In to Admin"
Unable to log directly into the Admin side with my username and password.  I get a fatal error.  However, I can log in through the store and use the Admin Toolbar to access the Admin Dashboard and then manage my site.

To reproduce, simply attempt to log in directly to wp-admin.php

Fatal Error:
PHP Fatal error: Uncaught Error: Call to undefined function wc_empty_cart() in /nas/content/live/everyt

[2021-12-24 02:43] moon0326 commented on #8082
Hi @catsma97504,

Thank you for taking the time to report this issue. Unfortunately, I was not able to reproduce it on my end.

Could you give me more details on how to reproduce it?

Could you also disable your plugins, except WooCommerce, and see if it works?

It would be also helpful if you can provide us with the system status report. You can retrieve it on WooCommerce -> Status page.

[2021-12-24 02:46] moon0326 commented on #7800
not stale

[2021-12-24 02:48] moon0326 commented on #8030
It sounds like this is not an issue on our end. Is it okay to close this issue?

[2021-12-24 02:52] moon0326 commented on #7964
Hi @John-belt,

Sorry for the delay in response. I'm going to ping our team leads so they can take a look at it.

Hey @adrianduffell and @mattsherman 👋

It sounds like this is a nice feature to have. Could you guys look into it and see if we can work on it in the near future?

Thanks!

[2021-12-24 05:08] catsma97504 commented on #8082
Here are the steps I take when attempting to log into Admin....

1.  Navigate to /wp-admin which takes me to the login screen at wp-login.php
2. Click the Login with Username and Password link
3. Enter my Username and Password and click the Remember Me box
4. Click the Login Button and get the error

After disabling all plugins, except for WooCommerce, I am able to login to Admin.  Now to figure o

[2021-12-24 05:18] moon0326 opened #8084 "Set wc-pay-welcome-page flag to true in core.json"
Description: We're using `wc-pay-welcome-page` flag in WCA for the WC Pay menu feature to turn it on/off easily when needed.

This [PR](https://github.com/woocommerce/woocommerce-admin/pull/8083/files#diff-80aaf6db9940786bf93912c10dbeebda8dea619e4751e0d21ee09384e0a7b9f0R22) sets the flag to `true` in `development.json` and `plugin.json` already.

Once we're ready to release, we should set the flag

[2021-12-24 16:02] rrennick commented on #8080
@moon0326 Sorry I wasn't able to provide accurate steps. We are getting the error in an E2E script that is updating the plugin using the dashboard plugin update screen. That may be triggering an attempt to create a note. I had hoped going to a WC screen would produce the same error. The E2E log doesn't provide any useful info to indicate which step is triggering the error.

[2021-12-25 02:30] moon0326 commented on #8082
@catsma97504 Thank you for providing the details 👍

It looks like one of the plugins is causing the problem.

Could you enable other plugins one by one and find what's causing the error?

if it's one of our official plugins, we may be able to help.

[2021-12-27 02:36] #7837 closed

[2021-12-27 07:38] chihsuan commented on #8070
I think it's very hard to exclude users who were previously assigned since ExPlat doesn't support that feature.

But if we can get the number of live experiment participants, then we might be able to use a remote control flag to pause the experiment.

For example, we want to target an initial 10% and expand to 20%. Our experiment can be set to 20% and we implement a remote control flag to stop the

[2021-12-27 07:55] ilyasfoo commented on #8067
Note: The API is included from the initial migration but needs work to make it work.  https://github.com/woocommerce/woocommerce-admin/pull/8083/files#diff-8a5274bc250a0e698f2589153a55b39c9bd845750ecbb4bd00d948cb37515d6dR128

[2021-12-27 08:29] #8080 closed

[2021-12-27 10:25] pmcpinto commented on #8073
@moon0326 @ilyasfoo I think Elizabeth forgot to mention that we wanted to keep the existing Tracks events.

Yes. We should keep the event props that we currently have in this event: note_name, note_content, screen, etc.

Let me know if you have additional questions. Thanks!

[2021-12-27 10:53] pmcpinto commented on #8067
Good question. I think we can reuse the same promo. @thenbrent what do you think?

@ilyasfoo when do you need the answer on this?

[2021-12-27 12:29] leonardola commented on #8030
@moon0326 do not close the issue. The bug that @mcampal brought up is not related to the original issue

[2021-12-27 12:32] pmcpinto commented on #8074
Ah you're right. I've got confused because I was testing the task list flow and the Reviews panel empty state was displayed right after I dismissed the setup task list.

@jarekmorawski do you agree with this logic?

[2021-12-27 21:41] NeosinneR opened #8088 "Include MailPoet in Installed marketing extensions"
### Is your feature request related to a problem? Please describe.
MailPoet was [included in Recommended extensions](https://github.com/Automattic/woocommerce.com/issues/11522) and to minimize confusion, offer better UX, and incentivize to use MailPoet I'd also like to include it in Installed marketing extensions.

### Describe the solution you'd like
When MailPoet is installed, show it in Install

[2021-12-28 03:16] ilyasfoo commented on #8067
@pmcpinto Best to have it by 3rd Jan, since on 4th I'll be including it in Beta 2 for GS testing.

[2021-12-28 11:30] pmcpinto commented on #8067
Ok. So let's reuse the same promo. Thanks

[2021-12-29 06:21] chihsuan opened #8095 "Changing ‘Analytics’ settings should update the dashboard immediately without hard refresh"
### Describe the bug

Currently, if we update the ‘Excluded statuses’ on Analytics settings and navigate to another page like ‘overview’, we need to hard refresh the page to see the changes on the analytics dashboard, which can be confused and not user friendly.

### To Reproduce

1. Go to Analytics > Settings
2. Toggle some options on 'Excluded statuses'
3. Navigate to Analytics > Overview

### A

[2021-12-29 07:33] chihsuan commented on #7215
The different padding style is intentional.

[2021-12-29 07:58] chihsuan commented on #7215
I'm not sure if the header color and font-weight style are also intentional or we should make them consistent. cc @pmcpinto @elizaan36

[2021-12-29 08:05] chihsuan opened #8096 "WooCommerce Docs link on the help menu does not work"
### Describe the bug

When clicking the WooCommerce Docs link on the help menu of WooCommerce Admin, it redirects the page to https://woocommerce.com/?utm_source=help_panel&utm_medium=product instead of https://woocommerce.com/documentation/.

### To Reproduce

1. Go to /wp-admin/admin.php
2. Click the WooCommerce Docs  link on the Help menu

### Actual behavior:

 It redirects the page to ‘https:

[2021-12-29 08:14] ilyasfoo commented on #8029
Thanks! I mistakenly reported in the wrong repo (one of the downfalls of having too many tabs opened).

[2021-12-29 08:22] jarekmorawski commented on #8074
Yes, that makes sense. Following the logic originally suggested by Elizabeth, we want the panels to show up for the first time when we've got some information to display (an unfulfilled order or unpublished review), then show the empty state once the user clears the content (fulfills the order or publishes a review). In other cases, the panels should not be visible.

[2021-12-29 08:29] ilyasfoo commented on #8096
Great catch on this one, @chihsuan! I think the best use of our effort here is to replace all old `docs.woocommerce.com` links with `woocommerce.com/documentation` since it looks the old domain is deprecated.

[2021-12-29 08:32] #8006 closed

[2021-12-29 09:00] jarekmorawski commented on #7890
Something like this, maybe?

![image](https://user-images.githubusercontent.com/79307566/147644854-41505640-483c-436c-a14b-e40bc79ded25.png)

If it was a warning asking them to save changes, people could fall into an endless feedback loop when they wanted to go to a preview step, but in order to save changes, they clicked `Continue` and went to the next step instead. In this version they can save

[2021-12-29 09:20] jarekmorawski commented on #7923
Good to know. In that case, would it make sense to show the email first? Given its position there'd be a higher chance it'd be filled out first so even when people unselected the newsletter checkbox, they'd encounter the error. If they unchecked it first, we'd change the label and show validation error beneath the email field.

![email](https://user-images.githubusercontent.com/79307566/147646598-

[2021-12-29 10:30] jakub50 opened #8097 "Cannot access Settings->Checkout after update to version 3.0.0"
### Describe the bug
**I have Czech localization** and so some error messages might be wrongly translated back into English.
The bug appeared after the update to version 3.0.0.

### To Reproduce
1.] Go to WooCommerce -> Settings -> Checkout
2.] Critical error page appears.

It is also impossible to make an order, which results in red message Internal server error in the last step.
When I try to mo

[2021-12-29 10:48] jakub50 commented on #8097
Downgrading to version 2.9.4 fixed the problem.

[2021-12-29 10:50] pmcpinto commented on #7931
@moon0326 @ilyasfoo sorry, I missed this [comment](https://github.com/woocommerce/woocommerce-admin/issues/7931#issuecomment-995117154).

Mmm, you're right.

Payments is a [top-level menu item](https://d.pr/i/bFNWEv), so users will see the red badge without hovering over the menu, right?

If we use Abacus and assign 10% of US stores to the treatment version, I think we will know automatically the

[2021-12-29 13:24] rafanectar opened #8098 "Wrong total value for "Items sold" and "Net sales" in Categories tables (leaderboard and all categories)"
### Describe the bug
The total value for "Items sold" and "Net sales" for Categories reports is not correct when the main category and subcategories are selected at the same time. In that case, the total values shown both on the leaderboard table (Section "Analytics") and "Analytics > Categories" table are counted one time for each category/subcategory.

### Actual behavior:
We have this structure

[2021-12-29 14:24] octaedro commented on #8097
Thank you @jakub50 for reporting this error.
I wasn't able to reproduce the bug. Just to rule some things out, could you turn off your theme and try with [Twenty Twenty-One](https://wordpress.org/themes/twentytwentyone/)?
Please let me know if that doesn't resolve the issue.

[2021-12-29 16:17] osirismqz commented on #8041
This filters doesn't seem to work anymore.

I tried on my own. Then I used this gist: https://gist.github.com/becdetat/0de2f79672e768f4e72b43d7ab07e2e3 recomended on this pull https://github.com/woocommerce/woocommerce-admin/pull/5134

The filters don't add columns to any reports exported.

[2021-12-29 18:41] squilib commented on #7920
Same issue here, I can download all reports, but not Custom October 2021
Lol

[2021-12-29 19:05] delacruzdesign commented on #5745
Fix problem with add capabilty "manage_options" to shop_manager rol.

`$role->add_cap( 'manage_options', true );`

[2021-12-29 19:11] octaedro commented on #8098
Thank you @rafanectar for reporting this bug, we really appreciate your help.

This bug was already reported [here](https://github.com/woocommerce/woocommerce-admin/issues/7710). Since that one has more information on it, I’ll close this one out.

[2021-12-29 19:11] #8098 closed

[2021-12-30 02:05] #7907 closed

[2021-12-30 03:34] ilyasfoo commented on #8070
I may be wrong but I don't think that's how experiments work since the % of our target audience isn't something that's progressive (like 10%, 20% and eventually 100%). I think the number signifies the % of users being assigned to treatment or otherwise.

[2021-12-30 03:48] ilyasfoo commented on #8070
I'm thinking of another solution of storing a WP site option for every user that's been exposed to our initial experiment. This way, we can properly identify every user that's been exposed to the initial experiment and automatically exclude them from future similar experiments.

However, I'm not sure yet if a `null` variation from assignment API response would actually mean the user is assigned to

[2021-12-30 03:51] ilyasfoo commented on #7931
Yes

I have a suggestion for using a site option to "tag" the exposed users [here](https://github.com/woocommerce/woocommerce-admin/issues/8070#issuecomment-1002860654)

This is a good point, we can bake in logic to ensure that users who have the extension installed are not exposed. We can detect if they have a wcpay account if they have already set up wcpay on their site.

[2021-12-30 06:15] chihsuan commented on #8027
Closed since this has been fixed in https://github.com/woocommerce/woocommerce-admin/pull/8031

[2021-12-30 06:15] #8027 closed

[2021-12-30 07:55] boskjoett commented on #8097
I have the same issue with version 3.0.0, and had to rollback to version 2.9.4. I am running Woocommerce in Danish.

[2021-12-30 11:39] pmcpinto commented on #7931
Great!

@ilyasfoo that can be a good workaround, even if it's not scalable. What if we approach this from a different angle and target 100% of users located in a smaller country? For example, NZ and IE. That would simplify the implementation and mitigate some risks, right?

[2021-12-30 11:44] webdados opened #8102 "Add an hook on WC_Widget_Layered_Nav_Filters to allow to extend it"
Before line 108 there should exist something like `do_action( 'woocommerce_after_active_filters_widget_items' );` that allows 3rd party developers to add items to the active filters widget.

Let's say I write a custom WC_Widget based class to filter by any other meta value, like _sale_price being >= 0, for example.
I should be able to add an item to the active filters widget to insert a new <li> w

[2021-12-30 15:55] dlackovic2 commented on #5745
I wouldn't call that really a fix. I don't want to add this user this high capability as it is not required for sure.

[2021-12-30 20:23] octaedro commented on #8097
Thank you @boskjoett and @jakub50,
Now I can reproduce the error. A fix will be included in `WooCommerce Admin 3.0.1`.

[2021-12-30 20:23] #8097 closed

[2021-12-31 05:09] ilyasfoo commented on #7931
That sounds good as well. To implement, we'll just have to add a custom segment in WPCOM to apply the `woo_store_country` check similar to the tasklist experiment for US, CA, & AU. If you confirm to go this route, let us know the list of countries to apply to & the experiment names.

[2021-12-31 09:36] pmcpinto commented on #8074
@jarekmorawski thanks for the feedback. What do you think about tweaking the logic of the Reviews panel? I feel it's a bit weird to show the Reviews panel empty state before getting any review. cc @octaedro for additional feedback

[2021-12-31 09:44] jarekmorawski commented on #8074
Yes, definitely. If we're not showing Orders and Stock, we shouldn't show the Reviews, either. Ideally, it'd appear only when the first review is added.

[2021-12-31 09:44] pmcpinto commented on #7890
The modal would appear at any step where the user changes something, correct?

[2021-12-31 09:47] jarekmorawski commented on #7890
Yes. If I changed the contents of any field at the current step and proceeded to the next one, we'd show the modal. The only exception would be the "Continue" button, which would automatically save changes and take people to the next step.

[2021-12-31 11:18] delacruzdesign commented on #5745
I know it. But this solves the problem of continuous 403 errors.

Also although it is not 100% safe, I use Adminize Plugin. If someone tries to access these areas through the url, Adminize does not allow it.

As long as you use secure passwords for your Store Managers, there should be no problems.

I think it is a solution simply as a preventive measure, until it is corrected. But this problem has

[2021-12-31 15:00] pmcpinto commented on #8074
@octaedro I've updated the issue title and description to match our request. LMK if you have questions

[2021-12-31 15:10] pmcpinto commented on #7923
I think that talking about email marketing sign-up right at the beginning of the journey may drive some users away. I prefer to keep it at the end of the stage :)

[2022-01-02 05:48] danemaster00 commented on #8076
are you using multipress?

[2022-01-02 08:07] danemaster00 commented on #8076
interestingly it seems woocommerce is not alone on these issues.
gutenberg ultimate addons (templates) and alot of other imported templates from random gutenberg plugins, when imported to my page and saved, are causing the edit of the page to instantly hit a 502 error.

Its quite interesting that elementor templates arent having this issue. its quite strange and not sure what to do about it.
but i

[2022-01-02 16:34] csmcneill opened #8103 "Displaying 100 rows of orders returns error 500, fatals"
### Describe the bug

If you navigate to **Analytics > Orders** and change the `Rows Per Page` to `100`, the following error occurs on the page:

[code]

Additionally, a fatal error occurs:

[code]

Lastly, the following console error appears:

[code]

### To Reproduce

1. Go to **Analytics**.
2. Go to **Orders**.
3. Modify the dates to get a large number of orders.
4. The `Rows Per Page` field de

[2022-01-02 16:37] csmcneill commented on #8103
@solstudioim was unable to reproduce this issue, but I was able to.

[2022-01-03 07:51] #7891 closed

[2022-01-03 10:58] pmcpinto commented on #7931
@ilyasfoo when do you need the final answer regarding this change?

[2022-01-03 12:06] pmcpinto commented on #7881
@joelclimbsthings is it possible to implement this change in cycle 20?

[2022-01-03 12:07] pmcpinto commented on #7882
@joelclimbsthings is it possible to implement this change in cycle 20?

[2022-01-03 13:31] ilyasfoo commented on #7931
@pmcpinto If we're going to use other countries like you suggested, ideally before Thursday since RC is next week Tuesday. If we're attempting my suggestion, I'd say by tomorrow since otherwise, we may risk having to include big changes after RC.

[2022-01-03 15:32] octaedro commented on #8074
Thank you @pmcpinto for updating this issue.
Is it ok if we add this change to `WC-Admin 3.1` (the `beta.1` was released a week ago) or could it wait until `3.2`?

[2022-01-03 16:33] rrennick commented on #7272
Reopened. We missed the stale warning due to the holiday break.

[2022-01-03 18:38] pmcpinto commented on #7931
@ilyasfoo let's go with using 100% of other countries*: NZ and IE. This option seems to be less risky and with less work and less tech debt.

*  excluding new users and users who already have the extension installed or a wcpay account

cc @thenbrent

[2022-01-03 18:42] lukecav commented on #6920
Able to reproduce the same issue in WooCommerce 6.0.0, WordPress 5.8.2.

[2022-01-03 18:51] qtfish commented on #7748
Search for ...
Log Entries32 entries
Jul 18 2021
19:42:19 GMT-0500 (Central Daylight Time)
usort(): Returning bool from comparison function is deprecated, return an integer less than, equal to, or greater than zero
 Type: PHP Deprecated Line: 2357
 File: /home/d834z34n1acf/public_html/wp-content/themes/enfold/config-templatebuilder/avia-template-builder/php/template-builder.class.php
More details

[2022-01-03 21:38] joelclimbsthings commented on #7882
@pmcpinto This hasn't been pointed, but I don't believe this would be a problem to bring into cycle 20 👍🏻

[2022-01-03 21:40] joelclimbsthings commented on #7881
Shouldn't be a problem; perhaps we should bring in @mattsherman as well to confirm.

[2022-01-04 00:45] moon0326 commented on #7931
Thank you @pmcpinto @ilyasfoo! It sounds like we have a plan 👍

[2022-01-04 00:46] moon0326 opened #8106 "Use ExPlat to render the menu conditionally"
Description: We want to show the WC Pay menu in NZ and IE only with our first release then expand to other countries later.

Implement ExPlat to render the menu conditionally only when users are in a specific experiment (TBD)

Please see [this issue](https://github.com/woocommerce/woocommerce-admin/issues/7931#issuecomment-1004280973) for the context.

[2022-01-04 01:25] ilyasfoo commented on #7748
Thanks for sharing the logs, @qtfish. Unfortunately, nothing in there provides information about the crash. Are you still experiencing them with the latest WooCommerce Admin plugin?

[2022-01-04 02:19] ilyasfoo commented on #8106
I'll do the necessary WPCOM changes to add custom segments when the experiment names are confirmed

[2022-01-04 02:25] moon0326 commented on #8106
Thank you! The code change for this is ready. I'll start testing once we have the experiment names.

[2022-01-04 02:49] ilyasfoo commented on #8103
Hi @csmcneill, thanks for filing this issue. However, I too, can't reproduce the issue in my local with instructions given. Looking at the offending codes, it seems that the error occurs when:
1. The product is a child order (It needs to have a parent)
2. The parent order does not exist

![image](https://user-images.githubusercontent.com/3747241/148002909-e3896f93-61a2-419e-88ac-a87fc280c9e8.png)

[2022-01-04 03:00] #7906 closed

[2022-01-04 03:24] chihsuan opened #8107 "PHP unit tests failed with latest woocommerce"
### Describe the bug

The PHP unit tests with the latest woocommerce are failing.

[CI job logs](https://github.com/woocommerce/woocommerce-admin/runs/4697689554?check_suite_focus=true#step:6:259):

[code]

Looks like the woocommerce project structure has been changed. The composer.json file is moved from the root path to `plugins/woocommerce` folder.

- [Latest (6.0.0) woocommerce](https://github

[2022-01-04 03:31] #8007 closed

[2022-01-04 06:24] qtfish commented on #7748
unfortunately whenever i am on the back end and i click on Analytics i get a blank error page like posted earlier in the forum.
I am not sure whats going on, I am up to date on the version of wordpress and theme and everything.

[2022-01-04 08:25] ilyasfoo commented on #7748
Since we don't know the reason, it may be worth attempting a conflict test. [Self-Service Guide](https://docs.woocommerce.com/document/woocommerce-self-service-guide/).

**How to test for conflicts**

The best way to determine if the issue is being caused by a theme and/or plugin is to:

1. Temporarily switch your theme to [Storefront](https://woocommerce.com/storefront/?aff=10486&cid=1131038) or

[2022-01-04 09:03] #8107 closed

[2022-01-04 09:03] #8096 closed

[2022-01-04 09:23] chihsuan commented on #8012
I've looked into this bug. The root cause is that [they're using different route paths](https://github.com/woocommerce/woocommerce-admin/blob/main/client/layout/controller.js#L76-L144).

- Overview -> `/analytics/overview`
- Other reports -> `/analytics/:report`

So, when we navigate from the "Overview" to the other Analytics pages, the route path will be changed and it will [re-render the entire

[2022-01-04 10:00] #8088 closed

[2022-01-04 10:22] pmcpinto commented on #8074
Hey @octaedro it can wait until 3.2. Thanks!

[2022-01-04 14:35] lenamtl commented on #7837
Is this fixed?

[2022-01-04 18:03] octaedro opened #8109 "The activity panel is not visible after hiding the setup task list"
### Describe the bug

The activity panel is not being shown after hiding the setup task list.
The activity panel should be visible when:
- The task list is hidden.
- There is at least an **order** with the state: `processing` or `on-hold` or a **review** not approved or a low **stock** product.

### To Reproduce

1. Checkout the `main` branch.
2. Add a product.
3. Create an order with the state: `

[2022-01-04 21:38] mattsherman commented on #7971
@pmcpinto Since this is a new inbox notification specific to merchants that indicated they used Magento, how are we measuring whether delaying the firing of this notification by 5-60 minutes leads to better engagement than firing it immediately?

We can certainly implement the inbox notification with a delay, but I just wanted to double-check this first to make sure that we understand how we will

[2022-01-04 21:54] Zalv2 commented on #8103
Hi @csmcneill @ilyasfoo

From my understanding non of the errors has to do with Subscription orders, the only current plugin active is just WooCommerce.

Maybe you'll like the FTP, SSH, and WP Access to my website so you can review from there? I'm also wondering if it has to do with my security or firewall, let me know your thoughts.

[2022-01-04 22:03] mattsherman commented on #8109
@woocommerce/ghidorah Can somebody from Ghidorah please look into this? It seems related to the experiment in https://github.com/woocommerce/woocommerce-admin/issues/7659.

[2022-01-04 23:32] octaedro commented on #8109
Summarizing a couple of things I noticed:
- It seems that [countLowStockProducts, countUnapprovedReviews, and countUnreadOrders](https://github.com/woocommerce/woocommerce-admin/blob/main/client/homescreen/activity-panel/index.js#L45-L47) are null, and this is why [the collapsible panels aren't being shown](https://github.com/woocommerce/woocommerce-admin/blob/main/client/homescreen/activity-panel

[2022-01-05 01:34] moon0326 commented on #8109
I'll take a look at it.

[2022-01-05 02:23] #8109 closed

[2022-01-05 02:54] ilyasfoo commented on #8103
@csmcneill Thanks for trying those out. It does seem to be an edge case. If your reproducible local is a test site, would you mind giving a full database export of it so I can take a closer look? You can ping me on slack

@Zalv2 Thanks for offering, if we still can't reproduce, that would be a last resort at the moment.

I don't think security or firewall would cause this

[2022-01-05 05:02] chihsuan commented on #8029
@ilyasfoo Do you have any idea why we need both `withOnboardingHydration` and `withSelect` to get the profile items?

Looks like `withOnboardingHydration` set the profile items from onboarding setting data but  The `getProfileItems()` inside the `withSelect` will still fetch the data via  `/onboarding/profile` API.

I'm trying to inject the `hasFinishedResolution` state to the home component but f

[2022-01-05 05:39] #8011 closed

[2022-01-05 05:51] chihsuan commented on #7889
Agreed on closing this issue and handling it in woocommerce/woocommerce#32230. Please feel free to reopen this if having other thoughts.

[2022-01-05 05:51] #7889 closed

[2022-01-05 06:06] nawaz0705 commented on #7920
I have received another report on this issue on Happychat #[30450195](https://mc.a8c.com/support-stats/happychat/transcript.php?id=30450195)

[2022-01-05 06:29] ilyasfoo commented on #8029
@chihsuan I don't have the full context of how the app evolved around this part, so please take what I'm saying with a grain of salt. If I understand correctly, hydration only serves as an initial population of onboarding data since its settings data is obtained from a global JS variable - so it's theoretically instant.

As for `withSelect`, if I'm not mistaken it's to fetch the latest data becaus

[2022-01-05 07:17] pmcpinto commented on #7931
The experiment name can be: woocommerce_payments_menu_promo_nz_ie

[2022-01-05 08:43] ilyasfoo commented on #7931
@pmcpinto  Would we want to use dynamic naming, `woocommerce_payments_menu_promo_nz_ie_2022_01`? We can set the experiment for February as well

[2022-01-05 08:52] chihsuan commented on #8029
Okay, thanks for your explanation! I confirmed that using `withOnboardingHydration` can make our first-time redirection faster.

I'll add a `hasFinishedResolution` check to ensure this. I just realized it's normal that the initial `hasFinishedResolution` state is true since it's very fast.

[2022-01-05 10:01] #7863 closed

[2022-01-05 10:20] pmcpinto commented on #7931
Good idea. It makes sense to use dynamic naming. Thanks for the suggestion 🙌

[2022-01-05 15:18] jaimyborgman commented on #5774
Somehow i've got the same problem, all other reports generated which will be e-mailed are mailed to me. But for the revenue I see tasks coming into the background (3) and nothing is being mailed. Is there already a solution for this? It btw looks like it broke after an update or maybe its using a wrong mail provider? If for instance its using phpmail directly it will not work. But I don't think so

[2022-01-06 01:47] #8029 closed

[2022-01-06 02:24] ilyasfoo commented on #7931
Nice! Let me know when the experiment is created in Abacus. Changes are made by @moon0326 and at the moment we're pretty confident the logic works, but it'll be great to have it up with `staging` by Monday next week so we can properly test before RC.

[2022-01-06 07:21] chihsuan commented on #7307
I believe this is already fixed. I've verified that on the released version, clicking the "Customer Name" can be redirected to the respective details screen.

I'm going to close this. Please reopen it if I'm wrong.

[2022-01-06 07:21] #7307 closed

[2022-01-06 09:06] chihsuan commented on #7175
Look like the "Things to do next" option is no longer shown on the "help menu" now even the "set up task list" is shown.

We use the [`isToggleable` variable](https://github.com/woocommerce/woocommerce-admin/blob/main/client/tasks/tasks.tsx#L131-L151) to decide whether to show it but the [backend API doesn't contain isToggleable property on tasklists](https://github.com/woocommerce/woocommerce-adm

[2022-01-06 09:22] chihsuan commented on #6676
I believe this has been fixed on the main branch. I tried to reproduce the issue using the provided instructions, the `validateDOMNesting` warning is disappeared and the "Orders Match All Filters" string is shown properly as below.

![Screen Shot 2022-01-06 at 17 21 02](https://user-images.githubusercontent.com/4344253/148359867-b40957a8-2b8f-4d49-9c47-4cb928dbc3be.png)

I'm going to close this. P

[2022-01-06 09:22] #6676 closed

[2022-01-06 10:12] chihsuan commented on #7827
The root cause is that we use `d3.timeFormat` to format the date string and we don't load d3 locale files. If we keep using `d3.timeFormat`, we need to load its locales. I think the best way to fix this is we use `@wordpress/date` or `moment` to handle this instead.

[2022-01-06 10:21] #7592 closed

[2022-01-06 10:27] ilyasfoo commented on #8103
I've received the database dump from @csmcneill and found the underlying issue. Child orders are created when an order is refunded, with the original order is set as the parent. In this case, somehow a refunded order is deleted without deleting the child orders.

I suspect this could be a data issue as I could not reproduce it by trashing and permanently deleting an order, as the children orders d

[2022-01-06 13:55] ilyasfoo commented on #8103
I've received the database dump from @csmcneill and found the underlying issue. Child orders are created when an order is refunded, with the original order is set as the parent. In this case, somehow a refunded order is deleted without deleting the child orders.

I suspect this could be a data issue as I could not reproduce it by trashing and permanently deleting an order, as the children orders d

[2022-01-06 14:01] imanuelgittens commented on #7584
I'm getting this issue in WooCommerce version 6.0.0. I see the scheduled action but no email is sent. I checked my sendgrid activity and inbox and I see no email. @ahmedzeidan did you change anything to get it to work?

[2022-01-06 14:25] moon0326 commented on #8070
Closing this as we've decided to launch the experiment in [NZ and IE](woocommerce/woocommerce#32219).

[2022-01-06 14:25] #8070 closed

[2022-01-06 16:32] ahmedzeidan commented on #7584
@imanuelgittens  I did nothing to make it work,,, Try to check your schedule status as it could be stuck there... a workaround is to export all the store's numbers and filter that in manually.

[2022-01-06 21:09] mattsherman commented on #7881
I think that is doable... I'll add this to our Cycle 20 backlog.

[2022-01-06 22:24] #8106 closed

[2022-01-06 22:25] moon0326 commented on #8077
Closing as the change has been merged.

[2022-01-06 22:25] #8077 closed

[2022-01-07 00:23] melek opened #8125 "Update WordPress.org readme.txt to clarify this is a feature plugin that shop owners don't need."
### Is your feature request related to a problem? Please describe.
The Wordpress.org page for this plugin doesn't make it clear when it is appropriate to install this plugin. Store owners are confused about whether they need this, and don't realize that stable versions are built into WooCommerce core.

This results in negative reviews that are probably by people who think this plugin is mandatory

[2022-01-07 01:11] ilyasfoo opened #8126 "[GlobalStep] "Two Columns" option is selected for "Single Column" layout under "Display" on Woocommerce > Home page."
@gglobalstep commented on [Thu Jan 06 2022](https://github.com/woocommerce/woocommerce/issues/31580)

### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

"Two Columns" option is selected for "Single Column" layout under "Display"

[2022-01-07 02:40] chihsuan opened #8127 "Publish docs CI is failing"
### Describe the bug

"Publish docs" CI pipeline is failing after the #8057 is merged.

Error:

[code]

https://github.com/woocommerce/woocommerce-admin/runs/4727096895?check_suite_focus=true

### Actual behavior:

CI job is failing.

### Expected behavior

Should be able to build the doc and pass the CI.

[2022-01-07 03:37] #7623 closed

[2022-01-07 03:39] chihsuan commented on #8043
https://github.com/woocommerce/woocommerce-admin/pull/8055 Closed.

[2022-01-07 03:39] #8043 closed

[2022-01-07 04:12] ilyasfoo commented on #8126
Hi @gglobalstep, I wasn't able to reproduce the issue with the steps given. I've attempted this thrice.

![image](https://user-images.githubusercontent.com/3747241/148490396-7f8678dd-16c1-47b1-8566-43c2119829e0.png)

[2022-01-07 04:25] #7768 closed

[2022-01-07 05:05] #8127 closed

[2022-01-07 05:09] #8067 closed

[2022-01-07 14:29] gglobalstep opened #8131 "[GlobalStep - 3.1.0-beta.2]: Two "Back Arrows" are displayed for all options under "Task List" on "Woocommerce > Home" page."
## Bug Description:
Two "Back Arrows" are displayed for all options under "Task List" on "Woocommerce > Home" page.

## Environment:
Woocommerce Version :
WooCommerce: v6.0.0
WooCommerce Admin: 3.1.0 beta 2
WordPress version: 5.8.3

PC:
Windows 10, Mac 10.14.6
Chrome(Version 97.0.4692.71)
Firefox(Version 95.0.2)
Safari: v15.0

## Steps To Reproduce:
1. Create any test site using JN site.
1. Instal

[2022-01-07 14:46] louwie17 commented on #8131
@joshuatf this one kinda stumped me, and I couldn't immediately reproduce it ( I haven't done thorough testing ). The back button seems to only be triggered by the Task component, so I am not overly sure how two arrows can show up (unless two tasks where rendered, or could two headers be rendered?).

The only other thought I had, is that some of this might be from async js chunks that didn't get u

[2022-01-07 18:13] moon0326 commented on #8056
I've submitted new suggestions on https://translate.wordpress.org/projects/wp-plugins/woocommerce/stable/sv/default/?filters%5Bterm%5D=YYYY&filters%5Bterm_scope%5D=scope_any&filters%5Bstatus%5D=current_or_waiting_or_fuzzy_or_untranslated&filters%5Buser_login%5D=&filter=Apply+Filters&sort%5Bby%5D=priority&sort%5Bhow%5D=desc

[2022-01-07 20:44] #8084 closed

[2022-01-07 20:45] moon0326 opened #8132 "WC Pay menu - use the same option name to respect the saved setting"

[2022-01-07 20:45] #8132 closed

[2022-01-07 22:02] stevedeckert opened #8134 "Sorting the Analytics product table by SKU makes all products disappear from table, showing "No data to display""
### Describe the bug
While on the WooCommerce Analytics Products page, sorting the results table by SKU makes all the products in the results table disappear and it shows "No data to display". The totals at the bottom still show the number of products that it should be displaying, and it still displays "Page 1 of 2". Sorting by any other column correctly shows the products, which all have SKUs.

#

[2022-01-08 06:59] moon0326 commented on #7894
Not stale. Reopening.

[2022-01-09 16:32] strarsis opened #8453 "PHP Notice: `Undefined index: woocommerce_wc_pay_promotion_payment_methods_table_v2`"

[2022-01-09 19:15] #7828 closed

[2022-01-10 01:25] becdetat commented on #5774
Sorry @jaimyborgman , I'm not sure I understand this fully. Are you saying that if you don't use phpmail is _does_ work?

[2022-01-10 03:07] csmcneill opened #8135 "Fatal errors when accessing WooCommerce > Orders in PHP 8 environment"
### Describe the bug

A user experienced the following fatal errors after updating to PHP 8 and then accessing WooCommerce > Orders:

[code]

### To Reproduce

I tried reproducing this on their site with admin credentials, but I couldn't. The user came back and indicated that's because they reverted back to PHP 7.4.

I do not have a PHP 8 environment to test, but I wanted to relay this to the deve

[2022-01-10 10:10] pmcpinto commented on #7971
Hey Matt, good question.

Our assumption is that we're triggering too many notifications at the same time when the store is created. Apart from removing low-performing notifications, we also think that spacing them out over time can lead to a better conversion rate. We aim to compare it with the other notifications that we trigger immediately. It won't be an apples to apples comparison but it can

[2022-01-10 11:38] pmcpinto commented on #7916
@octaedro In which wc admin version will this be included? I'm not finding it in the 3.0 and 3.1 changelog

[2022-01-10 14:18] gglobalstep opened #8149 "[GlobalStep] For Atomic site, "Set up marketing tools" option in "Task List" fails to display on the "Woocommerce > Home" page."
### Prerequisites

- [ ] I have carried out troubleshooting steps and I believe I have found a bug.
- [ ] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

For Atomic site, "Set up marketing tools" option in "Task List" fails to display on the "Woocommerce > Home" page.

### Expected behavior

"Set up marketing tools" option in "Tas

[2022-01-10 14:46] pmcpinto commented on #7931
@ilyasfoo based on what we talked about last week, the Abacus experiment will be implemented by Chi-Hsuan, right?

[2022-01-10 16:32] moon0326 commented on #8125
Thank you for the suggestion @melek. I think this is a great suggestion.

cc @woocommerce/isotope Does anyone have any objections?

@pmcpinto Could you review the copy, please?

[2022-01-10 16:37] moon0326 commented on #8076
@danemaster00 sorry for the delay in response.

It's really hard for us to replicate the environment on our end. I understand that you have provided the setup, but there are a lot of other things involved in a server.

It sounds like this might not be related to WooCommerce at all when other plugins have the same problem. 502 gateway usually means server-side errors.

Have you checked your server

[2022-01-10 18:27] ahsanali1988 opened #8136 "Woocmmerce dashboard and all analytic menus not working"
### Describe the bug

### To Reproduce

Woocommerce dashboard or all submenus of analytic page not working, it's loading for sometime but after all disappear.

 I'm using all plugins with latest version, woocommerce 6.0.0 and WP is also on the latest version.

 There are some errors on console

Refused to execute script from 'https://advanced-trainings.com/shop/?ver=1640273012' because its MIME ty

[2022-01-10 18:43] moon0326 commented on #8131
@louwie17 This one is tricky. I was able to reproduce it 4 times in a row on a JN site at first, but I can't reproduce it anymore 🤷

The back button component is rendered twice actually.

![Screen Shot 2022-01-10 at 10 42 47 AM](https://user-images.githubusercontent.com/4723145/148821126-2e3b4866-32c1-4fc1-8595-7e6711ca58b4.jpg)

[2022-01-10 18:46] moon0326 commented on #8126
@ilyasfoo I was able to reproduce it locally. I used the following steps.

1. Navigate to WooCommerce -> Home
2. Manually update local storage to assign yourself to the treatment group
3. Refresh the page.
4. The tasklist is shown as a single column, but the layout is selected as two columns.

![Screen Shot 2022-01-10 at 10 45 19 AM](https://user-images.githubusercontent.com/4723145/148821482-d44d

[2022-01-10 21:13] moon0326 commented on #8134
Thank you for taking the time to report the bug @stevedeckert.

Unfortunately, I wasn't able to reproduce it on my end.

I might have missed something. Could you please check my screencast? I tested with WooCommerce 6.0 (latest)

![Screen Capture on 2022-01-10 at 13-11-30](https://user-images.githubusercontent.com/4723145/148840174-21ae6f99-a44d-4030-82d7-19d24d52a201.gif)

[2022-01-10 21:18] moon0326 commented on #8136
Hi @ahsanali1988,

Thank you for taking the time to report the bug.

It would be helpful if we can get your system status so that we can try to reproduce the bug correctly.

Could you please navigate to WooCommerce -> Status -> Click `Get system report` and paste the data?

Thanks,
Moon

[2022-01-10 21:24] ahsanali1988 commented on #8136
Hi, yes I have tested in incognito and here is the report:

`
### WordPress Environment ###

WordPress address (URL): https://advanced-trainings.com
Site address (URL): https://advanced-trainings.com
WC Version: 6.0.0
REST API Version: ✔ 6.0.0
WC Blocks Version: ✔ 6.3.3
Action Scheduler Version: ✔ 3.3.0
WC Admin Version: ✔ 2.9.4
Log Directory Writable: ✔
WP Version: 5.8.3
WP Multisite: –
WP Memory

[2022-01-10 21:27] moon0326 commented on #8136
Thank you @ahsanali1988

I'll go ahead and try to reproduce it on my end.

In the meantime, could you please contact your server company and see if they can fix the following error?

`to execute script from 'https://advanced-trainings.com/shop/?ver=1640273012' because its MIME type ('text/html') is not executable, and strict MIME type checking is enabled.`

It looks like your server is sending `te

[2022-01-10 22:20] ahsanali1988 commented on #8136
Hi @moon0326

 This error is only coming on Woocmmerce pages where the system is not working. Look like its need to added header content type: header('content-type application/javascript')

 Let me know if this is something related to that.

[2022-01-10 23:10] mattsherman commented on #7971
@pmcpinto Thanks. I feel that this particular notification is so specialized that I question how valid comparing it to other, more general, notifications would be.

When the team discussed this issue, we all questioned whether, in real life scenarios, there would be much difference from a user perspective in the notification being delivered immediately vs after 5 minutes. If it takes a user nearly

[2022-01-11 00:11] becdetat commented on #7916
@pmcpinto It doesn't look like this was added to the changelog. From what I can see it was included in 3.0.0.

[2022-01-11 01:10] ilyasfoo commented on #7931
@pmcpinto Yes

[2022-01-11 05:36] ilyasfoo opened #8140 "PHP ExPlat produces warning when experiment isn't available in Abacus"
### Describe the bug
Warning in [this line](https://github.com/woocommerce/woocommerce-admin/blob/02010388537c980a55ec27259c636a95fda4c2c9/includes/class-experimental-abtest.php#L139) when an experiment is not available yet in Abacus.

![image](https://user-images.githubusercontent.com/3747241/148886572-bd71fc1f-782b-45a8-accd-791cfc10c6dc.png)

### To Reproduce

1. Make sure `_transient_abtest_va

[2022-01-11 11:44] pmcpinto commented on #8125
Thanks for the suggestion. Just some minor suggestions to the copy, as wc admin goes beyond Analytics:

This is a feature plugin for testing the latest features, such as Analytics, for future versions of WooCommerce. A stable version of this plugin is packaged with WooCommerce since version 4.0, so you don't need to install this plugin for analytics in your WooCommerce store.

Install this plugin

[2022-01-11 13:31] louwie17 commented on #8131
Nice debugging on this @moon0326, I was kinda leaning towards something like that. This would actually be a underlying issue then, that only showed up with the use of these new slot fills?
In either case, thanks for working on a fix for this 💯 💯

[2022-01-11 14:00] KarlisJ opened #8144 "Broken customers link from leaderboard"
### Describe the bug
The link to customer in "Top Customers - Total Spend" leaderboard in Analytics->Overview page is broken and leads to an empty customers table being loaded.

### To Reproduce

1. Make at least one purchase
2. Go to 'Analytics -> Overview'
3. Scroll down to 'Leaderboards' and select 'Top Customers - Total Spend' leaderboard to be displayed
4. Click on any of the customers in the

[2022-01-11 14:36] pmcpinto commented on #7916
👍 thanks for the update

[2022-01-11 16:15] ahsanali1988 commented on #8136
Hi @moon0326

 any luck?

[2022-01-11 16:21] #8131 closed

[2022-01-11 17:46] pmcpinto commented on #7971
True. The best term of comparison is with the notification about the Shopify migration.

Good points. The main reason behind such a short delay was to ensure that the notification was placed at the top to increase the chances of it being read by the user. In the past, there have been some informal discussions about a sticky notification concept. But there are some risks, especially if we want to a

[2022-01-11 17:51] moon0326 commented on #8144
Thank you for taking the time to report the bug @KarlisJ

Unfortunately, I wasn't able to reproduce it with WC 6.0.

Could you see the screencast below and see if I missed any steps?

![Screen Capture on 2022-01-11 at 09-50-07 (1)](https://user-images.githubusercontent.com/4723145/148995319-5d2a78b3-3aec-4006-91ca-4466391bf222.gif)

[2022-01-11 18:26] ahsanali1988 commented on #8136
Hi @moon0326

 Deactivated all plugins and switched the theme to twenty-one. Now I have only Woocmmerce active and we have same error there: https://www.screencast.com/t/uGPjaXUk

[2022-01-11 22:17] moon0326 commented on #8136
Thank you @ahsanali1988

Could you also try downgrading to the previous version from https://developer.woocommerce.com/releases/?

I'm trying to isolate the problem as much as possible.

[2022-01-12 06:47] #8063 closed

[2022-01-12 06:48] #8064 closed

[2022-01-12 06:48] #8060 closed

[2022-01-12 06:48] #8065 closed

[2022-01-12 06:48] #8066 closed

[2022-01-12 06:48] #8068 closed

[2022-01-12 06:48] #8069 closed

[2022-01-12 06:50] #8140 closed

[2022-01-12 07:42] chihsuan commented on #6502
I believe this has been fixed.

I tried to reproduce and found two "Items sold" have been changed to "Products sold" and "Variations Sold".

![Screen Shot 2022-01-12 at 15 38 52](https://user-images.githubusercontent.com/4344253/149084207-90e95f9d-f569-4fb9-b883-08605dabb643.png)

I'm going to close this. Please reopen if you're still facing the issue. Thanks!

[2022-01-12 07:42] #6502 closed

[2022-01-12 10:52] chihsuan opened #8154 "test-php (7.0, 5.6, latest, 6.5.9, 1.10.19) is failing"
### Describe the bug

test-php (7.0, 5.6, latest, 6.5.9, 1.10.19) is failing with

php: 7.0
wordpress: 5.6
woocommerce: latest
phpunit: 6.5.9
composer: 1.10.19

Error logs:

[code]

Action link: https://github.com/woocommerce/woocommerce-admin/actions/workflows/test-php.yml

The latest (6.1.0) [woocommerce](https://github.com/woocommerce/woocommerce/releases) was released a few hours ago. Not sure

[2022-01-12 13:19] KseniaTseiko opened #8229 "Woocommerce analytics pagination for coupons is missing"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

the coupons from Analytics > Coupons lacks pagination and only 25 coupons are shown.

### Expected behavior

I expect pagination and to be able to download all coupons

### Actua

[2022-01-12 19:22] alopezari opened #8155 "Setup Wizard: Improve email UI validation"
### Context
The “Email address” field from the “Store Details” page provides a basic validation of the email format, showing an error message in the text box when the user doesn’t enter a correct email format. However, **the backend is doing the strong validation** here through the `POST /wp-json/wc-admin/onboarding/profile?_locale=user endpoint`, so we have two different levels of error feedback

[2022-01-12 19:35] alopezari opened #8156 "Setup Wizard: The "completed" icons of the steps in the progress bar get lost under certain conditions"
### Description
If you fill some forms/pages of the Setup Wizard and try to go back to the initial page (Store Details) by clicking the button in the progess bar, the "completed" blue tick icons of the steps between the latest filled one and the "Store Details" one get lost in the progress bar. For instance, if you have filled the pages until the "Product Types" one and go to the "Store Details" a

[2022-01-12 19:43] alopezari opened #8157 "Setup Wizard: Recently uploaded theme gets lost under certain conditions"
### Description
If you are at the "Theme" page, and you have uploaded a theme successfully, when you go back to another page in the form and go to Theme again, the theme is not found in the list. If you try to upload it again, a message raises saying "Destination folder already exists", but you won't be able to see the new theme in the list in order to select it. This is solved once you exit the S

[2022-01-12 19:53] alopezari opened #8158 "Setup Wizard: No maximum file size limit when uploading themes"
### Description
Seems there isn't any file size restriction when uploading themes. I could start uploading a +700MB zip file that resulted in a HTTP 500 after 36 seconds loading, with the following message:
[code]

### To Reproduce
1. Start the Setup Wizard.
2. Fill the "Store Details", "Industry", "Product Types" and "Business Details" forms and go to the "Theme" page.
3. Click on "Upload a theme

[2022-01-12 20:41] #7971 closed

[2022-01-12 20:42] alopezari opened #8159 "Setup Wizard: Error message in API after successfully entered the Store Address"
### Description
When I submitted the “Store Address” field from the “Store Details” page, everything looked fine, I was redirected to the “Industry” page and no error message appeared on the UI. However, I checked the response from the `POST /wp-json/wc-analytics/settings/general/batch?_locale=user endpoint` and saw the following object in the response body:
[code]

### To Reproduce
1. Start the S

[2022-01-12 20:52] alopezari opened #8160 "Setup Wizard: Question from Business Details form is not shown properly in smartphone resolution"
### Description
When using Chrome with an **iPhone X resolution**, the first question of the form at the Business Details page is not fully readable. Users familiar to WooCommerce won’t have any problem to answer that question, but those new users might not be sure about what is the form asking about. It would be nice to find about a way to show the full question in the dropdown.

### To Reproduce

[2022-01-12 21:19] alopezari opened #8161 "Setup Wizard: No characters count limit in the text inputs from the Store Details page"
### Description
Seems there is no characters count limit in the “Address line 1”, “Address line 2”, “City” and “Post code” fields from the “Store Details” page. I could add really long texts in those fields and the browser got way slower. The requests got slower too, so performance was compromised as shown in the video and HAR file, and if someone malicious gained access to the Setup Wizard, the s

[2022-01-12 21:21] joelclimbsthings commented on #8155
Thanks @alopezari ! I'd agree that this should be addressed, but not entirely urgently. 👍🏻

[2022-01-12 21:26] ahsanali1988 commented on #8136
Hi @moon0326

 The issue is fixed now. There was a redirect rule set on server ^/store/index.php/cPath/21/?$ :(

 Thank you for your time.

[2022-01-12 21:26] #8136 closed

[2022-01-12 21:39] joelclimbsthings commented on #8157
Thanks again @alopezari ! Definitely a valid issue, and I confirmed it with another theme on the latest `main`.

[2022-01-12 22:44] joelclimbsthings commented on #8159
Confirmed, I'm seeing this as well on `main`, although as mentioned it doesn't seem to be consequential in any way. That said, it's worth looking into this just to ensure nothing is amiss, and give the correct responses in our endpoints.

It's possible the solution may lie in core as we're inheriting some of this logic from `WC_REST_Setting_Options_Controller` which resides there, but it will requ

[2022-01-12 22:54] joelclimbsthings commented on #8160
Thanks @alopezari , I was able to see the same and we definitely want this to be readable via a mobile device. I'm not immediately sure what the best solution would be, so I'll loop in @elizaan36 to see if she has any thoughts.

[2022-01-12 22:56] #8033 closed

[2022-01-12 23:01] joelclimbsthings commented on #8161
Much appreciated @alopezari , I agree that we should limit these fields to some sane value. It could also have security implications in introducing a bit more vulnerability to buffer overflow attacks/etc, although ultimately that should be handled on the server.

[2022-01-12 23:11] joelclimbsthings commented on #8158
Thanks @alopezari , this is an interesting one. Since the upload limit is often set by the host, and WooCommerce is in general host agnostic, it's a bit debatable on how to approach this. Options:
- Just say that we don't see the need to police this on this layer, and that's up to the host configuration (although that doesn't help the usability aspect here)
- Just set this to some static sane limi

[2022-01-12 23:19] #7706 closed

[2022-01-13 01:38] #8126 closed

[2022-01-13 01:39] #8149 closed

[2022-01-13 01:50] #8035 closed

[2022-01-13 03:12] #7710 closed

[2022-01-13 03:53] ilyasfoo opened #8163 "Setup wizard free features checkbox re-check itself"
### Describe the bug

Reproduced this in 3.1.0-rc.1. It seems after installing extensions via free features in the business features tab, all checkboxes are automatically checked just before navigating to the next step. I confirm the plugin is not actually installed, this is only a visual bug. However, users may think it's installed along, so I think this should be prioritized.

### To Reproduce

[2022-01-13 04:12] ilyasfoo opened #8164 "Too much padding in `Set up marketing tools` task"
### Describe the bug
Super minor UI bug, I think `REACH OUT TO CUSTOMERS` has too much padding

![image](https://user-images.githubusercontent.com/3747241/149264454-85cc3b85-6648-436e-8277-c6993d5dceb0.png)

### To Reproduce

1. Go to WooCommerce > Home
2. In task list, click on Set up marketing tools
3. Observe the thing

[2022-01-13 04:16] chihsuan commented on #8163
Agree! 👍

Possible this is a duplicate of this issue woocommerce/woocommerce#32223. We can close them together once we fix this.

[2022-01-13 05:46] chihsuan commented on #6390
I cannot reproduce this on the Firefox browser with the main branch code.

![Screen Shot 2022-01-13 at 13 43 37](https://user-images.githubusercontent.com/4344253/149272755-6c704e4e-2536-4071-ab77-74c038d209e3.png)

I'm closing this since this is over 6 months old.

[2022-01-13 05:46] #6390 closed

[2022-01-13 07:41] chihsuan commented on #7496
I believe this is expected since variations are not associated with product images.

![Screen Shot 2022-01-13 at 15 32 56](https://user-images.githubusercontent.com/4344253/149285548-50a82d2e-a7a6-41b5-b5c6-1274af07816a.png)

![Screen Shot 2022-01-13 at 15 34 57](https://user-images.githubusercontent.com/4344253/149285793-dc053a92-f4b5-459e-90a8-3a304f4483b0.png)

@moon0326  I think we can close t

[2022-01-13 07:48] chihsuan commented on #5556
I'm closing this since this is over 6 months and I couldn't reproduce on the main branch.

![Screen Shot 2022-01-13 at 15 47 51](https://user-images.githubusercontent.com/4344253/149287654-61212bb2-5f0a-4688-8286-419cf5bef80c.png)

[2022-01-13 07:48] #5556 closed

[2022-01-13 08:00] chihsuan commented on #5571
Looks like the layout is changed, no the woo logo and 'stock' icon. I'm closing this since this is over 6 months old.

![Screen Shot 2022-01-13 at 15 58 17](https://user-images.githubusercontent.com/4344253/149289096-270b0237-fd3e-451f-a8b2-3b573760fea2.png)

[2022-01-13 08:00] #5571 closed

[2022-01-13 08:22] chihsuan commented on #5640
I'm closing this since I can see the 'chart' in the storybook on the main branch now.

![Screen Shot 2022-01-13 at 16 21 31](https://user-images.githubusercontent.com/4344253/149292581-7bbfc711-5d86-44d6-a3e8-7c9fdeded75b.png)

[2022-01-13 08:22] #5640 closed

[2022-01-13 10:28] pmcpinto opened #8167 "Event wcadmin_tasklist_completed not working"
### Describe the bug
The wcadmin_tasklist_completed event is not being fired when the user hides the task list

### To Reproduce

1. Create a new store with usage tracking enabled
2. Go to the home screen
3. Click to hide the task list
4. See that wcadmin_tasklist_completed is not being fired

### Expected behavior
The wcadmin_tasklist_completed should be fired when the user clicks to hide the tas

[2022-01-13 10:29] pmcpinto commented on #8167
@becdetat can you check if someone is available to take a look at this during the next few days? Thanks!

[2022-01-13 14:19] kingkero commented on #6243
Any news on this?

Seems like `ReportFilters` is part of the package (https://github.com/woocommerce/woocommerce-admin/blob/main/packages/components/src/index.js#L30), but other `Report*` components are still missing.

[2022-01-13 16:53] joshuatf commented on #8028
Given we've decided to forego the nav fly-out and pursue other design options, I'm going to close this issue.

It's also worth noting that I did investigate making this change with existing components.  The fly-out style would not be possible without relatively in depth modifications to the Gutenberg components.

If we did decide to go forward with a fly-out style, I might consider the use of the

[2022-01-13 18:24] moon0326 commented on #8061
I'll work on the remote inbox notification part.

[2022-01-13 18:56] alopezari commented on #8156
Yes! It's an odd one. Let me know if I can help with anything!

[2022-01-13 19:01] alopezari commented on #8158
Indeed it's interesting! Please, let me know if I can help with anything or provide more info. I'm quite interested on how this one is addressed!

[2022-01-13 20:31] moon0326 commented on #8167
I've looked into it and this is what I found so far.

It looks like we're using [hideTaskList](https://github.com/woocommerce/woocommerce-admin/blob/main/client/tasks/task-list-menu.tsx#L15) from the data store, but the [function](main/packages/data/src/onboarding/actions.js#L365) doesn't call recordTrack.

I think we can put the recordEvent back in [task-list-menu.tsx](https://github.com/woocomme

[2022-01-13 22:30] joshuatf commented on #8167
@moon0326 I think we do call the event in the task list model - https://github.com/woocommerce/woocommerce-admin/blob/64bf00732fe4682425a1ecf9ddd085d33acadc16/src/Features/OnboardingTasks/TaskList.php#L116-L123

I think we generally want to decouple our tracks from the UI as much as possible so that in the future UI changes don't break our tracks.

In this case, if the event is not firing still, I

[2022-01-14 00:20] moon0326 commented on #8167
Thank you! Ah, I did not check the backend. That's actually better 💯

I'll test it again and see what's going on.

[2022-01-14 00:52] becdetat commented on #8167
Thanks @moon0326 @joshuatf , I've put this in Cycle 20 and dropped it in Ghidorah's backlog

[2022-01-14 06:29] chihsuan commented on #6474
Hi @PixelBlender22, I understand the issue is confusing for users who had used the 'report' page. But I'm going to close this since I think this is a relatively low impact on the "Analytics" page and the issue is over 6 months old.

Please feel free to reopen if you strongly request this feature. Thanks!

[2022-01-14 06:29] #6474 closed

[2022-01-14 07:40] chihsuan commented on #6473
It seems that we [create some new elements in our component using `document` APIs](https://github.com/woocommerce/woocommerce-admin/blob/main/client/wp-admin-scripts/print-shipping-label-banner/shipping-banner/index.js#L201-L203). The React warns us because they are not rendered by this React instance.

We can probably fix this by mocking the document object but this is expected for the currently

[2022-01-14 07:40] #6473 closed

[2022-01-14 08:40] chihsuan commented on #6694
I'm closing this since this is low impact and is over 6 months.

I think changing these term definitions would cause many following issues since they are already defined in our document. As for the translation issues, please feel free to give us some suggestions to improve the German terms `Bruttoumsatz, Umsatz insgesamt and Nettoumsatz`

[2022-01-14 08:40] #6694 closed

[2022-01-14 08:57] chihsuan commented on #6099
I'm closing this since this is low impact feature. (see p90Yrv-2Bc-p2)

[2022-01-14 08:57] #6099 closed

[2022-01-14 10:33] chihsuan commented on #8163
It turns out they're different. To fix woocommerce/woocommerce#32223, we probably need to store the state on the global store to persist the state between steps.

[2022-01-14 11:03] pmcpinto commented on #8028
Thanks for posting the summary of your findings.

[2022-01-14 11:30] pmcpinto commented on #7937
@joshuatf @mattsherman I'm assuming that we can start sharing the update docs and example extension with our partners, right? Where can I find all the info that we should share with them?

[2022-01-14 11:49] pmcpinto opened #8170 "Reintroduce the CES in key features"
**Description:** the leadership team wants to establish a high-level metric around user satisfaction and the customer effort score fits this purpose. We should reintroduce the CES in key store management features to ensure we're covering the most important actions of the Core experience.

**Acceptance criteria:**
- [ ] Reintroduce the CES in the following actions:
Add a product (wcadmin_product_ad

[2022-01-14 13:31] joshuatf commented on #7937
@pmcpinto Yes, this is ready for use.  The docs can be found at https://github.com/woocommerce/woocommerce-admin/blob/main/docs/features/payment-gateway-suggestions.md.

This includes instructions for getting started with an example extension and all the details needed to customize the payment gateway suggestions experience.

Please keep me in the loop if you receive any feedback or if a 3PD needs

[2022-01-14 13:39] #7782 closed

[2022-01-15 10:53] damiannep commented on #7920
If I change the row count to 100, and there is only one page of the report, the download does not work as I would expect from https://woocommerce.com/document/woocommerce-analytics/#analytics-basics__download-csv.

Another report in 33668829-hc

[2022-01-15 10:56] alopezari opened #8174 "Setup Wizard: Explain users how to start the Setup Wizard again when they attempt to skip it"
### Context
When users skip the Setup Wizard in the first page (Store Details), they can start it later again, but it's not trivial finding out how to do so. We could think about ways to ease that step and improve the user experience.

### Improvement suggestion
When users attempt to skip the wizard, it would be interesting showing them a dialog explaining how they can start the wizard again (or p

[2022-01-15 11:32] alopezari opened #8175 "Downloadable Product Permissions: Make users can only add one downloadable product permission for the same product in the same order"
### Context
When editing an order, I was able to add several download product permissions for the same downloadable product. I checked the title and download url were exactly the same in all these duplicated downloadable product permissions, and this looks superfluous to me.

I can see the point of letting users add multiple download permissions for the same product in the same order.

Benefits:

[2022-01-15 12:00] alopezari opened #8176 "Downloadable Product Permissions: a "-1" is rendered every time merchants click the "Grant access" button without entering any product"
### Description
When editing orders, if you go to the "Downloadable product permissions" section and click the "Grant access" button without selecting any downloadable product, a "-1" is rendered in the component.

### To Reproduce
1. Create an order.
2. Open the order and go to the "Downloadable product permissions" section at the bottom.
3. Make sure you have not searched any product.
4. Click t

[2022-01-15 12:27] alopezari opened #8177 "Downloadable Product Permissions: The whole "Downloadable product permission" section is collapsed in the order page when clicking the toggle button of a single permission"
### Description
When creating or editing an order, users can see a section at the bottom (a postbox component) for managing downloadable product permissions. This section stores the different downloadable product permissions that users want to add to the order. Both the "Downloadable product permissions" section and each permission (inside the section) have a toggle button, so that the components

[2022-01-17 02:03] #8163 closed

[2022-01-17 02:34] chihsuan commented on #7177
Duplicate of https://github.com/woocommerce/woocommerce-admin/issues/7710

Fixed in https://github.com/woocommerce/woocommerce-admin/pull/8153

[2022-01-17 02:34] #7177 closed

[2022-01-17 02:57] chihsuan commented on #6770
This is related to https://github.com/woocommerce/woocommerce-admin/issues/7710

Fixed in https://github.com/woocommerce/woocommerce-admin/pull/8153

Tested with Bikes also have the parent category (Vehicles) selected.

![Screen Shot 2022-01-17 at 10 51 51](https://user-images.githubusercontent.com/4344253/149700979-52e30bd2-3e80-49a2-8c2b-6b3d41766733.png)

[2022-01-17 02:57] #6770 closed

[2022-01-17 03:04] chihsuan commented on #1637
I'm closing this since the last comment is over 6 months old.

[2022-01-17 03:04] #1637 closed

[2022-01-17 04:20] chihsuan commented on #4919
I'm going to close this since this bug is over 6 months old without updates and it seems that we don't have things to help.

[2022-01-17 04:20] #4919 closed

[2022-01-17 06:11] chihsuan commented on #5131
I'm going to close this.

I've confirmed 'Draft order' has been excluded and there is no 'draft' status in the setting now.

![Screen Shot 2022-01-17 at 14 03 10](https://user-images.githubusercontent.com/4344253/149716064-c0fab1b1-4916-48d2-9235-3ead2c84f001.png)

[2022-01-17 06:11] #5131 closed

[2022-01-17 06:21] chihsuan commented on #5490
Hi @gglobalstep, I'm going to close this since I think the buttons are properly aligned now.

If you're still facing the issue. Please free feel to open this with a screenshot or a short video. Thanks!

![Screen Shot 2022-01-17 at 14 19 15](https://user-images.githubusercontent.com/4344253/149717785-406ef8c7-cc16-4565-a705-411f11bc2aac.png)

[2022-01-17 06:21] #5490 closed

[2022-01-17 06:25] chihsuan commented on #5980
I'm going to close this since the issue has been fixed in #6235 and it's over 6 months without any updates.

[2022-01-17 06:25] #5980 closed

[2022-01-17 06:33] chihsuan commented on #5989
I'm closing this because the `woocommerce_rest_prepare_product_object` filter doesn't exist in our repo now.

[2022-01-17 06:33] #5989 closed

[2022-01-17 06:39] #6389 closed

[2022-01-17 10:57] pmcpinto commented on #8167
Hey @moon0326 in which release can we include this fix?

[2022-01-17 11:31] pmcpinto opened #8183 "Drop in wcadmin_tasklist_task_completed after 6.1 release"
**Description:** there was a huge drop in the number `wcadmin_tasklist_task_completed` events after 6.1 release. I'm assuming that there's something wrong with this event, as all the other task list-related events show steady numbers.

[2022-01-17 11:32] pmcpinto commented on #8183
@mattsherman @joshuatf @becdetat Is it possible to investigate what happened? This is quite urgent, as it's one of our most important events and it needs to be fixed in 6.2.

[2022-01-17 15:06] mattsherman commented on #4271
Closing this -- no longer an issue.

[2022-01-17 15:06] #4271 closed

[2022-01-17 15:13] Mte90 commented on #7825
I get a lot of those errors:
[code]

[2022-01-17 15:14] mattsherman commented on #7694
@tomalec Do you still need help with this issue? Please let me know!

[2022-01-17 16:16] joshuatf commented on #8183
Thanks for alerting us, @pmcpinto.  I've found the issue and will have a fix out today.

Sorry this managed to slip by us.  I'll look into why this happened and get some testing in place to make sure this does not happen again.

[2022-01-17 17:19] jrodger commented on #6676
Thanks for trying to reproduce this @chihsuan. I've re-tested and I'm also not seeing the issue anymore 🎉

[2022-01-17 20:21] senff opened #8190 "Year showing as AMAMAMAM in Analytics when language is set to Portuguese"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When the site language is set to Portuguese, the year is not displaying correctly in the Analytics section.  Instead of showing a number, it's showing "AMAMAMAM" everywhere on th

[2022-01-17 20:22] mattsherman commented on #6878
Keeping this open as I need to make sure there are not loose ends to tidy-up.

[2022-01-18 01:24] ilyasfoo commented on #8167
Hey @pmcpinto, it'll be included in 3.1-rc.2

[2022-01-18 03:09] moon0326 commented on #8167
@pmcpinto We'll aim to include it in the upcoming 3.1.0 RC2.

[2022-01-18 03:22] ilyasfoo commented on #8167
Hmm, I've looked into it, it seems the backend is firing `wcadmin_tasklist_completed` just fine. I've tested this in both the old task list and the experimental tasklist.

@pmcpinto Browser console will not be able to see the tracks firing because it's triggered from backend. I've tested it in a fresh JN site with the latest WC 6.1. The way I tested it is I modified the backend's tracks code to lo

[2022-01-18 04:37] chihsuan commented on #3834
Closing this since this bug is over 6 months old.

[2022-01-18 04:37] #3834 closed

[2022-01-18 04:42] becdetat commented on #8183
Thanks for jumping on this so quickly @joshuatf . Can you let us know what you find out about how this happened? Either here or as a P2 would be great :-)

[2022-01-18 05:15] ilyasfoo commented on #8167
@pmcpinto You can also confirm if the tracks is working by using the live tracks tool and filter the eventname with `%tasklist_%`

[2022-01-18 05:24] sridhargoshika opened #8188 "How to remove/hide zero dollar orders from WooCommerce Analytics?"
Is there any option to remove the zero dollar orders in WooCommerce Analytics? I don't see relevant settings at Analytics > Settings

[2022-01-18 05:31] #8154 closed

[2022-01-18 08:10] chihsuan commented on #6376
I believe this has been fixed on the main branch. I couldn't reproduce this by following the instructions.

Everything works as expected now. I'm going to close this. Please free feel to reopen this if I'm wrong. Thanks.

![Screen Shot 2022-01-18 at 16 05 08](https://user-images.githubusercontent.com/4344253/149896311-39e3b62b-aeba-43cb-a612-5cfa321e5a5f.png)
![Screen Shot 2022-01-18 at 16 05 25](

[2022-01-18 08:10] #6376 closed

[2022-01-18 09:14] chihsuan commented on #6383
We can include the discounts from the virtual coupons but the "Revenue" and "Coupons" reports might have inconsistent data.

I just created two orders. One is manually applied discounts `order_id =6`. Another is to use an actual coupon `order_id=18`.

You can see below that both of them are listed on the `wp_wc_order_product_lookup` table with the coupon_amount values.

[code]

But only the actual

[2022-01-18 10:10] #6255 closed

[2022-01-18 10:24] #2006 closed

[2022-01-18 10:31] #5836 closed

[2022-01-18 11:04] #6326 closed

[2022-01-18 11:47] pmcpinto commented on #8167
Thanks for checking this. So it looks like the event is working correctly, right?

[2022-01-18 11:58] vedanshujain commented on #8190
I have moved this issue to the woocommerce-admin repo as they manage this part of the codebase.

[2022-01-18 12:37] pmcpinto commented on #8183
@joshuatf I don't if it helps, but in some tasks, the drop started right after the 6.0 launch. Namely, `woocommerce-payments `and `gla_complete_setup`

[2022-01-18 13:01] jessy-p commented on #8183
For WooCommerce Payments, the task does not appear to complete at all, do you think it is related? p1642489408002400-slack-C011ENB20Q1

[2022-01-18 14:27] katinthehatsite opened #8191 "Deleting Products Adds Blank Space to Analytics Data"
### Describe the bug

When you delete an old product with variations from the site, it removes it from the Analytics > Variations tab and adds a blank space instead.

### To Reproduce

1. First, you would need to have a few variable products sold on the site and have data under Analytics > Variations
2. Then, delete one of the variable products recorded in the data and check what displays after un

[2022-01-18 14:30] katinthehatsite commented on #8191
One question as well - is it possible to recover this Analytics data in some way? Thanks!

[2022-01-18 15:05] joshuatf commented on #8183
@jessy-p I'm not able to retrieve that shorthand slack thread.  Could you paste again or send me via Slack?

If the task is not completing at all in the task list, that sounds like a separate issue.  I'd be happy to test today if you can confirm.

[2022-01-18 15:06] joshuatf commented on #8183
@becdetat Will do!  Planning on p2ing this afternoon.

[2022-01-18 16:31] fhaps commented on #7597
@joshuatf I tested on one of my sites and could still reproduce the issue. Here's how the line for Uncategorized displays in the report:

![](https://d.pr/i/TmGZjf+)
Image Link: https://d.pr/i/TmGZjf

Here's what shows once I expand that category:

![](https://d.pr/i/EoNcyC+)
Image Link: https://d.pr/i/EoNcyC

Date range is the same on both instances. I cleared WordPress and WooCommerce transients

[2022-01-18 17:04] elizaan36 commented on #8160
Thanks for pointing this out, @alopezari!

@jarekmorawski Would you mind taking a look at this?

[2022-01-18 20:07] #7997 closed

[2022-01-18 21:04] moon0326 commented on #4150
I'm closing this as this has been stale for some time. Please feel free to open it again or submit a new issue to discuss.

[2022-01-18 21:04] #4150 closed

[2022-01-18 21:08] moon0326 commented on #4216
I'm closing this as this has been stale and it looks like the requested feature has been merged in https://github.com/Automattic/woocommerce-payments/pull/617

Please feel free to re-open it if needed.

[2022-01-18 21:08] #4216 closed

[2022-01-18 21:10] moon0326 commented on #4266
Pining @jconroy 👋

Do you still want to leave this issue open?

[2022-01-18 21:13] moon0326 commented on #4376
I'm closing this as it has been stale and we no longer display marketing plugins during the onboarding.

[2022-01-18 21:13] #4376 closed

[2022-01-18 21:17] moon0326 commented on #4420
Closing this as this has been stale and we no longer display FB plugin on the business tab.

[2022-01-18 21:17] #4420 closed

[2022-01-18 21:20] mattsherman commented on #8174
@alopezari Thank you for this suggested improvement. I will place it in the product backlog for the development team to consider in the future.

[2022-01-18 21:29] moon0326 commented on #3954
Closing this as it's been stale for 6 months+

[2022-01-18 21:29] #3954 closed

[2022-01-18 21:44] alopezari commented on #8174
Great, thanks Matt!

[2022-01-18 21:46] moon0326 commented on #5507
Closing this for now as it's been stale for 6+ months. Please feel free to re-open if needed.

[2022-01-18 21:46] #5507 closed

[2022-01-18 21:50] moon0326 commented on #6181
I'm tempted to close this issue and the problematic unicode char has been removed and the issue is not reproducible anymore.

What do you think @ilyasfoo?

[2022-01-19 00:28] moon0326 commented on #5399
Closing this as this has been stale for 6+ months Please re-open it if needed.

[2022-01-19 00:28] #5399 closed

[2022-01-19 00:30] moon0326 commented on #6241
Closing this as this has been stale for 6+ months. Please re-open it if needed.

[2022-01-19 00:30] #6241 closed

[2022-01-19 00:32] moon0326 commented on #6860
FYI, This is still reproducible.

[2022-01-19 01:03] ilyasfoo commented on #8167
@pmcpinto Yes

[2022-01-19 01:05] moon0326 commented on #7218
I can't reproduce this error anymore. It looks like https://github.com/woocommerce/woocommerce-admin/pull/7418 fixed the issue.

Closing this issue, but please feel free to re-open it if needed.

[2022-01-19 01:05] #7218 closed

[2022-01-19 01:07] ilyasfoo commented on #6181
@moon0326 Since the infinite loop can still be caused by external issues, I think we can add a guard condition, like a loop counter that will trigger exit once it's reached a limit.

[2022-01-19 02:15] #7639 closed

[2022-01-19 02:27] moon0326 commented on #6181
Sounds good. Let's leave it open.

[2022-01-19 02:29] moon0326 commented on #6181
Sounds good. Let's leave it open 👍

[2022-01-19 07:32] chihsuan commented on #7900
I found actually the `thousand_sep` of `Åland Islands` (AX) is set to a blank space in [woocommerce/i18n/locale-info.php](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/i18n/locale-info.php#L225).

We also post the same value.
![Screen Shot 2022-01-19 at 15 16 57](https://user-images.githubusercontent.com/4344253/150082573-31e2a133-72af-4b9d-96f8-61f67ac40f08.png)

But t

[2022-01-19 07:48] chihsuan commented on #7957
Not very understand how RemoteInboxNotificationsEngine works. But maybe we can simply add a `$stored_state` check before we call `update_stored_state to avoid too many update actions`?

[code]

[2022-01-19 08:11] chihsuan commented on #7888
I think this might be a little tricky since some special characters are not special in some languages.

[2022-01-19 08:23] chihsuan commented on #7569
@ilyasfoo You're right. There is no `currency_code` attribute in the [`currencySettings`](https://github.com/woocommerce/woocommerce-admin/blob/0d53d2fa16943befb0067ccbd62b87b3d05a8afe/packages/currency/src/index.js#L124-L132).

![Screen Shot 2022-01-19 at 16 18 16](https://user-images.githubusercontent.com/4344253/150091622-742a4adc-b74e-4594-b0b8-2a87116c1f76.png)

I think it's most likely that

[2022-01-19 08:24] russellgi commented on #7957
Morning.  I have this issue, and there's over 460 of them pending without a date.  This is from importing products.  Do I have to manually run them all, or is there another way to do it?

[2022-01-19 11:28] pmcpinto commented on #8167
👍  I'll leave the issue open in case @moon0326 wants to tweak how this event is being tracked.

[2022-01-19 16:45] #8074 closed

[2022-01-19 20:38] joelclimbsthings commented on #6361
Going ahead and closing this issue, as it's stale and seems to be of fairly low value.

[2022-01-19 20:38] #6361 closed

[2022-01-19 20:52] moon0326 commented on #8190
Thank you for taking the time to report this issue. I was able to reproduce it locally. We'll look into it as soon as possible.

[2022-01-19 22:20] joshuatf commented on #7953
This issue affects a relatively small subset of users, but does impact the product experience.  Keeping this issue open for now.

Also noting here that while potentially somewhat out of scope for this issue, scheduled update actions through action scheduler are not guaranteed to run in order and version update callbacks (which signal the end of an update) have potential to cause issues.

[2022-01-19 22:24] joshuatf commented on #7078
I'm closing this issue since it's over 6 months old, but if you still need help with this, @ShaimaaElbanna feel free to post back here with any more steps we can use to reproduce this and we can revisit this.

[2022-01-19 22:24] #7078 closed

[2022-01-19 22:32] joshuatf commented on #6036
Hi @olsonrebecca 👋  I just wanted to check if you're still experiencing this issue and if the one I encountered is the same as yours.

My gut feeling on this is that we need a more formalized unique tax structure.  This is probably something we need to handle in core.  cc @mattsherman any thoughts on this one?

[2022-01-19 23:11] joshuatf commented on #7072
Thanks for reporting this issue, @aries223.  This is still an issue and https://github.com/woocommerce/woocommerce-admin/issues/6036 should be considered when working on this one.

This comes down to retrieval of tax data where WooCommerce Admin checks the taxes table (which can be updated or deleted) while the legacy reports check an order type `sales-reports` in the post data.  The legacy way is

[2022-01-19 23:27] moon0326 commented on #8188
Hi @sridhargoshika,

Thank you for submitting this question. We don't have a way to remove zero-dollar orders at the moment, but I think it's a nice to have feature.

I'm going to label this issue and we'll discuss as a team to implement a setting to remove zero-dollar orders in the upcoming WCA releases.

[2022-01-19 23:30] moon0326 commented on #6323
I'm closing this as it has been stale for 6+ months and no further similar bugs reported. Please feel free to re-open it if needed.

[2022-01-19 23:30] #6323 closed

[2022-01-20 00:15] olsonrebecca commented on #6036
Thank you so much for checking in with me, @joshuatf. The reports now show the City Name/Tax code (rather than just the state), but it still isn't correct. The same code/rate sometimes shows multiple times, rather than being combined. For example, for the city of Seattle I'm showing the same name/code/rate on 12 different lines. Some lines include multiple orders, others do not. My guess is that i

[2022-01-20 00:19] #7569 closed

[2022-01-20 00:20] #7827 closed

[2022-01-20 03:09] ilyasfoo commented on #7581
Closing this until a decision is made for the direction of navigation feature pbIJXs-1aH-p2

[2022-01-20 03:09] #7581 closed

[2022-01-20 03:20] chihsuan commented on #6920
I've looked into this. There was an action bound to `wc_admin_unsnooze_admin_notes` but it was removed in https://github.com/woocommerce/woocommerce-admin/pull/3936/commits/87d29d2a10d15285e21f57b13d649c6f97ab68ae#diff-9629281bfd9d7bc9363b02940377d6e73f7b122a9bcfa9e1ead3e6a90c196152L52

I cannot find the reason why we remove it but It seems that it is safe to remove the `schedule_unsnooze_notes` a

[2022-01-20 03:22] ilyasfoo commented on #7453
This is a great feature suggestion, thank you. Unfortunately, I have to close it due to a lack of prioritization on our part since it isn't aligned with our current focus at the moment.

p90Yrv-2Bc-p2

[2022-01-20 03:22] #7453 closed

[2022-01-20 03:25] ilyasfoo commented on #6063
Closing this as it's not prioritized at the moment.

[2022-01-20 03:25] #6063 closed

[2022-01-20 03:32] chihsuan commented on #6731
I'm closing this since the `Set up WooCommerce Payments` task has been replaced by `Set up payments` task. The behavior is also different after deactivating the WooCommerce Payment plugin..

[2022-01-20 03:32] #6731 closed

[2022-01-20 03:47] ilyasfoo commented on #6203
I quickly tested, it seems arrow keys are intercepted somewhere else, as `onKeyDown` wasn't even fired when I pressed them, but other keys fire the method.

As this it'll take more effort to sleuth and fix, I'm closing this issue as it's not prioritized.
p90Yrv-2Bc-p2

[2022-01-20 03:47] #6203 closed

[2022-01-20 06:59] ilyasfoo commented on #6920
@chihsuan Thanks for asking! It feels like we're so close, but I think we can close this issue for now. I'll keep this in a list of issues in case we can revisit it anytime in the future.

[2022-01-20 07:40] chihsuan commented on #6920
Okay, I'm closing this. Thanks!

[2022-01-20 07:40] #6920 closed

[2022-01-20 08:40] #8155 closed

[2022-01-20 10:26] ilyasfoo commented on #6243
It has been a while, we can't find contributors able to help with this feature request. I may close this issue in a few days if no one picks this up.

[2022-01-20 10:30] ilyasfoo commented on #6416
Closing, p90Yrv-2Bc-p2

[2022-01-20 10:30] #6416 closed

[2022-01-20 10:37] ilyasfoo commented on #6465
I believe this is no longer relevant, closing.

[2022-01-20 10:37] #6465 closed

[2022-01-20 10:42] ilyasfoo commented on #6545
Sorry but due to the lack of priority for this feature request and no contributors willing to step up, we're closing this issue for now.

[2022-01-20 10:42] #6545 closed

[2022-01-20 11:24] #2452 closed

[2022-01-20 12:10] ilyasfoo commented on #7180
Closing this as I believe it was done in 11640-gh-Automattic/woocommerce.com

[2022-01-20 12:10] #7180 closed

[2022-01-20 14:33] joshuatf commented on #7779
Agreed that this is not the best solution here and we should strive to clean this up.

[2022-01-20 15:29] joshuatf commented on #7003
I don't think we're using the collapsible list at the moment, but this could be a regression from refactoring.  cc @woocommerce/mothra for anyone that might have more info on when it's supposed to be shown.  Always for the extended list?

It still looks like it can be used, but none of the task lists have the prop currently.

If we still plan to use it, this issue still needs to be addressed.  cc

[2022-01-20 15:54] pmcpinto opened #8198 "Payments task: include Square in Spain"
**Description:** Square's launch in Spain is set for Jan 25 and we need to start including the extension in the payments task for spanish users.

**Acceptance criteria:**

- [ ] Display Square as an option in the payments task if the user selects Spain as the country in the Store Details step and if he selects one of the following options in the Business details step - Currently selling elsewhere?

[2022-01-20 17:48] joshuatf commented on #7042
I think this is a great idea, but will close this issue for now so we can focus more on activation for the next quarter.

We can revisit this at a later date and reopen then.

[2022-01-20 17:48] #7042 closed

[2022-01-20 17:54] joshuatf opened #8199 "Backend tracks should be debuggable on the frontend"
### Is your feature request related to a problem? Please describe.
Tracks are very hard to debug on the backend, unlike the ones that are visible in the console.

### Describe the solution you'd like
We have a few options:

a) Constant to enable debugging tracks.  However, this is still a hassle to add the constant and view tracks for non-devs.
b) Create a helper to show debugged tracks in a helpe

[2022-01-20 18:01] joshuatf commented on #6130
Since this is not a priority for right now, I'm going to close this issue.

[2022-01-20 18:01] #6130 closed

[2022-01-20 18:16] joshuatf commented on #8012
Good find, @chihsuan.  I think we may want to look at limiting the number of re-renders or in this case, when SlotFill renders.

This problem could happen in other categories outside of Analytics as well once we begin React-ifying more pages and we won't be able to guarantee they're on the same route/path.

[2022-01-20 19:55] joshuatf commented on #7175
Thanks for the ping, @chihsuan!

We should probably allow the backend to define toggleability and include it for this PR.

I also ran some quick tests when enabling this and after toggling off the list, we lose the option to toggle it back on.  These can probably be addressed in the same PR.

[2022-01-20 19:56] joshuatf commented on #7175
Moving this to the cycle backlog since this is a bug we should fix in the near term.

[2022-01-20 20:27] mattsherman commented on #8125
@moon0326 Is this ready for a re-review by the team?

[2022-01-20 20:28] mattsherman commented on #8061
@moon0326 Since you have assigned yourself to this and mentioned you are working on it, can you please move it to the appropriate pipeline? Thanks!

[2022-01-20 21:15] joshuatf commented on #7310
I think we should go ahead and remove this.  It's not being used anywhere and removing should be relatively simple.

[2022-01-20 21:17] jarekmorawski commented on #7003
I confirm that we'll use collapsible lists in the future and it'd be great to have it working. Thanks for the ping!

[2022-01-21 00:15] becdetat commented on #8198
@pmcpinto

Will do, I don't see this as an issue

Do you mean "start including the extension in the payments task for *spanish* users"?

[2022-01-21 02:29] ilyasfoo commented on #8125
I just created a PR for this ^

[2022-01-21 02:48] ilyasfoo commented on #7296
@pmcpinto Has this been done since you mentioned it for August?

[2022-01-21 02:50] #8164 closed

[2022-01-21 07:26] chihsuan commented on #5854
@louwie17 I'm going to close this since it has been a while. Please free feel to reopen it if you plan to fix it. Thanks!

[2022-01-21 07:26] #5854 closed

[2022-01-21 07:29] chihsuan commented on #5767
I'm closing this since this is over 6 months old. Please reopen if anyone has the bandwidth to pick it up. (p90Yrv-2Bc-p2)

[2022-01-21 07:29] #5767 closed

[2022-01-21 08:01] chihsuan commented on #7725
Keeping this in the backlog. I think this can increase the team’s capacity to generate more impact in the future.

[2022-01-21 10:14] pmcpinto commented on #8198
Yes. Thanks for spotting that. I was looking at the previous request to include Square when I wrote this issue :)

[2022-01-21 10:24] pmcpinto commented on #7296
Yes. I'll close the issue

[2022-01-21 10:24] #7296 closed

[2022-01-21 10:29] ilyasfoo commented on #8071
@pmcpinto This issue intends to add support for `New logged-in users only` audience filter in ExPlat. Do you think this is a need? Otherwise we could close this.

[2022-01-21 12:37] pmcpinto opened #8204 "Task list experiment: remove 2col experiment code"
**Description:** The control outperformed the treatment version. See the results here: pbxNRc-ZP#comment-2935-p2

We’ll continue using the control version, for now, so the 2 column experiment code should be removed.

[2022-01-21 12:38] pmcpinto commented on #8204
cc @becdetat for inclusion in cycle 21

[2022-01-21 12:45] pmcpinto commented on #8071
Hey Ilyas, I think we should leave this one open. Eventually, we'll need to add this support in the future.

[2022-01-21 14:37] pmcpinto commented on #8073
@moon0326 @ilyasfoo is it possible to check if the event is working properly? There's a drop in the number of wcadmin_inbox_action_click after the 6.1 release and getting the same issue as before: when I click in a message: no wcadmin_inbox_action_click and lots of wcadmin_inbox_panel_view

[2022-01-21 14:44] pmcpinto commented on #8073
If there's something wrong, it needs to be fixed on time to be included in 6.2

[2022-01-21 16:35] strarsis opened #8205 "WordPress "Thank you" button links to JavaScript snippet (open in new tab)"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

When the `href` (= `https://www.example.com/wp/wp-admin/?service-worker&wc-hide-notice=update&_wc_notice_nonce=[...]`) of the `Thank you` button after a successful database updat

[2022-01-21 20:21] joshuatf commented on #7925
Closing this issue.  Spike complete; notes can be found at p90Yrv-2B0-p2.

[2022-01-21 20:21] #7925 closed

[2022-01-21 23:22] catsma97504 commented on #8082
Turned out to be the Wholesale plugin was the cause.  Figured out what was in conflict and got everything again working.  Sorry for the late response.  Been busy updating my site.

[2022-01-21 23:22] #8082 closed

[2022-01-22 17:48] #7174 closed

[2022-01-22 22:17] #7628 closed

[2022-01-23 12:47] mattsherman commented on #8188
@sridhargoshika Can you please provide more detail as to why you would like this feature? It would be helpful to the product team to fully understand why you have zero dollar orders and why it is important that they be removed from the Analytics screens for you. Thanks!

[2022-01-23 13:02] mattsherman commented on #8144
This is the correct path.

As with @moon0326, I too cannot reproduce this with WooCommerce 6.1.1.

@KarlisJ Can you please provide us with more details on your setup (WooCommerce version, WooCommerce Admin version -- you can view these at `/wp-admin/admin.php?page=wc-status`)?

[2022-01-23 13:10] mattsherman commented on #8134
I too cannot reproduce this with WooCommerce 6.1.1.

I'm going to close this one as the linked ZD ticket also doesn't provide more information and was closed.

@stevedeckert If this issue crops up again, or you have additional information to help us track this down, please re-open this issue and let us know!

[2022-01-23 13:10] #8134 closed

[2022-01-23 13:15] mattsherman commented on #8190
I'm closing this one as @moon0326 has requested an update of the translation and that fix falls outside of our codebase.

[2022-01-23 13:15] #8190 closed

[2022-01-23 13:17] mattsherman commented on #8191
@katinthehatsite Thanks for alerting us to this issue. I can reproduce it and will have the team look into it further to determine how to best proceed.

At this point, it is unclear to me if this data can be recovered in some way.

[2022-01-24 01:26] ilyasfoo commented on #8073
Apologies @pmcpinto, it seems this PR wasn't cherry-picked into 6.1. I totally missed checking it.

The fix is already in WCA3.1 and will be included in 6.2.

[2022-01-24 03:04] ilyasfoo commented on #6243
Closing this for now.

[2022-01-24 03:04] #6243 closed

[2022-01-24 03:13] ilyasfoo commented on #7496
I agree @chihsuan. Closing this

[2022-01-24 03:13] #7496 closed

[2022-01-24 03:18] ilyasfoo commented on #7435
I think we can close this issue for now. Linking to a bigger-picture issue for i18n on woocommerce.com endpoints woocommerce/woocommerce#32242.

[2022-01-24 03:18] #7435 closed

[2022-01-24 03:21] ilyasfoo commented on #7458
Since there was no activity on this issue for a while, I'm closing.

[2022-01-24 03:21] #7458 closed

[2022-01-24 03:26] ilyasfoo commented on #5625
Closing this as this issue wasn't prioritized, we probably could revisit it in the future as I think it is a useful feature for merchants.

[2022-01-24 03:26] #5625 closed

[2022-01-24 03:28] ilyasfoo commented on #5688
Closing this as this issue wasn't prioritized, we probably could revisit it in the future as I think it is confusing for merchants to have different columns for the same export.

[2022-01-24 03:28] #5688 closed

[2022-01-24 03:30] sridhargoshika commented on #8188
@mattsherman I was asked by our marketing team to see if we can have WooCommerce Analytics ignore $0 orders for all the reports. The reason being, they want to know if our sales have increased in total # of orders over the years, but the $0 orders are clouding our ability to tell.

[2022-01-24 03:41] becdetat opened #8207 "Product management extensibility spike"
We need to have a technical spike to determine the consequences of moving to a React-based, redesigned interface for product management, primarily around allowing third-party extensions to continue to work with the management interface.

We don't have any designs for the new interface, so we can limit this spike to using the current interface.

It is important that we, @woocommerce/mothra, become

[2022-01-24 03:43] ilyasfoo commented on #5690
I feel like this is a tough nut to crack since we can't know for sure what set of data the client needs from the backend's perspective. Maybe the best we could do is to have different sets of pre-loaded data for different sections of the app.

I may close this issue in a few days since it's not used to track any specific fixes.

[2022-01-24 03:46] #5743 closed

[2022-01-24 04:12] ilyasfoo commented on #5745
I was able to reproduce this in WooCommerce 6.1.1. I think we should fix it soon.

[2022-01-24 04:42] becdetat opened #8208 "Test coverage for key tracks events"
We need to have test coverage for the following key tracks events. Please add your initials to the table when you start and complete implementing coverage.

  |   | Started (initial) | Completed (initlal)
-- | -- | -- | --
Store profiler |   |   |  
Event name | Description |   |  
wcadmin_storeprofiler_store_details_continue | Step 1 proceed |   |  
wcadmin_storeprofiler_store_details_skip | Step

[2022-01-24 04:46] #8125 closed

[2022-01-24 06:14] ilyasfoo commented on #7127
Closing as I believe this was resolved by https://github.com/woocommerce/woocommerce-admin/pull/7417

[2022-01-24 06:14] #7127 closed

[2022-01-24 06:16] #7246 closed

[2022-01-24 06:21] ilyasfoo commented on #7323
Closing this in favour of a big-picture issue for i18n support on WooCommerce.com APIs woocommerce/woocommerce#32242

[2022-01-24 06:21] #7323 closed

[2022-01-24 06:37] ilyasfoo commented on #7328
Hi @kimek, unfortunately, we aren't able to decide on how to produce a backward compatible fix this yet, but hopefully, we'll be able to soon.

In the meantime, a workaround you can try to use is the partial refund method (but setting the refund to 100% of the original price) since it should account for tax properly.

[2022-01-24 07:14] ilyasfoo commented on #7900
@chihsuan Good catch on AX numbering format, I confirm it to be expected according to this site https://www.localeplanet.com/icu/sv-AX/index.html.

I agree with your assessment, this could probably be our value is trimmed prior saving. I think we should close this issue and report an issue on core for saving `woocommerce_price_thousand_sep` with a blank space value. I think we shouldn't try with `

[2022-01-24 07:56] ilyasfoo commented on #7964
It seems we aren't able to prioritize this feature request at the moment, at least for the first quarter of 2022. I have to close this issue for now.

However, filtering by states is definitely a useful feature for merchants, we may come back and reevaluate this once we are able to allocate efforts into improving analytics.

[2022-01-24 07:56] #7964 closed

[2022-01-24 08:23] KarlisJ commented on #8144
After updating to the latest WC version I see that both `/analytics/customers` and `/customers` paths are handled the same and the issue is no longer there.

The version I had when recording this issue was 5.8.x

[2022-01-24 08:52] chihsuan commented on #7215
I'm closing this since this is over 6 months old.

[2022-01-24 08:52] #7215 closed

[2022-01-24 08:53] ilyasfoo commented on #4266
Hey, @ecgan!

Is this being worked on? I'm going to close this issue if not since we're grooming our repo.  p90Yrv-2Bc-p2

[2022-01-24 09:20] chihsuan commented on #6483
I was able to reproduce this with `@woocommerce/component` 8.1.1. I'm going to put this other backlog since I think this is more like a bug, not a feature request.

[2022-01-24 09:21] chihsuan commented on #5765
keeping this in backlog for prioritization

[2022-01-24 09:25] chihsuan commented on #7555
I think this is a good feature that we should keep in the backlog for prioritization.

[2022-01-24 12:58] joashrajin opened #8211 "Marketing: Error triggered when viewing the overview page"
### Prerequisites

- [X] I have carried out troubleshooting steps and I believe I have found a bug.
- [X] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

I have multiple sites using PHP 8+ which trigger this error when opening the Marketing > Overview Page. The error is:

[code]

### Expected behavior

There should not be an error

[2022-01-24 20:44] kcfgl commented on #2110
@psealock Hey again! I'd love to see the ability to add custom summary numbers. Hopefully this will be re-opened or has been addressed in another ticket. Thanks!

[2022-01-24 21:37] mattsherman commented on #8207
@woocommerce/mothra will handle this in Cycle 21.

[2022-01-25 01:13] mattsherman commented on #8188
@sridhargoshika Thanks for the explanation!

While we don't provide this functionality directly in the UI currently, on the Analytics > Orders screen you can download a CSV of the data and then use a spreadsheet application such as Excel or Google Sheets to further filter things. Perhaps that would be a reasonable workaround for now?

<img width="1069" alt="Screen Shot 2022-01-24 at 20 11 40" src=

[2022-01-25 01:49] joelclimbsthings commented on #7920
I've tried to reproduce this issue on my local to no avail. I've tried a few versions of WordPress and WooCommerce, including WordPress 5.8.2 and WooCommerce 5.9 with PHP 7.4.1 as mentioned above.

I'm going to keep this around since it's been reported multiple times, but if anyone can shed some light on other factors that may help reproduce it let us know 🤞🏻 .

[2022-01-25 02:04] ilyasfoo commented on #8167
I've confirmed with @moon0326 that we aren't changing the way the event is tracked. An issue was filed by Joshua to improve on debugging backend tracks https://github.com/woocommerce/woocommerce-admin/issues/8199

[2022-01-25 02:04] #8167 closed

[2022-01-25 02:06] ilyasfoo commented on #7659
Closing this as it's done

[2022-01-25 02:06] #7659 closed

[2022-01-25 02:09] ilyasfoo commented on #7241
Closing this as it's done

[2022-01-25 02:09] #7241 closed

[2022-01-25 03:02] chihsuan commented on #8211
Hi, @joashrajin Thank you for reporting the issue. I was able to reproduce this bug and confirmed "WooCommerce knowledge base" can't load the data properly.

![Screen Shot 2022-01-25 at 10 59 52](https://user-images.githubusercontent.com/4344253/150903027-2015864b-aed6-444e-aaf0-6da546c40cf5.png)

Looks like `count(NULL)` is a warning in PHP 7 but becomes a fatal error in PHP 8+. I think we can ad

[2022-01-25 03:44] ilyasfoo commented on #8198
The remote endpoint is on schedule to be deployed on 25th.

@pmcpinto We can include the fallback in WCAdmin `3.2` as well, would you think that's more ideal?

[2022-01-25 04:16] sridhargoshika commented on #8188
@mattsherman It would be good if we have an option at Analytics > Settings as the `Exclude Zero Dollar Orders` checkbox.
Is WooCommerce Admin extension Analytics Settings are customizable using our own custom script/functions.php/plugin?

[2022-01-25 07:39] rjchow commented on #6739
I think this issue has been closed by https://github.com/woocommerce/woocommerce-admin/pull/7868
Can you confirm please? @moon0326

[2022-01-25 08:18] ecgan commented on #4266
@ilyasfoo , it's not being worked on. I'll proceed to close this issue. Thanks for pinging me on this! 🙏

[2022-01-25 08:18] #4266 closed

[2022-01-25 11:30] pmcpinto commented on #8073
Thanks for the heads up. I'll test 6.2 RC1 to check if everything is working properly

[2022-01-25 16:14] janw-me commented on #7920
We also have this problem with a client. I did a lot of digging to find the problem (I think)
1) I request revenue from october to today.
2) in the Scheduled Actions 3 `woocommerce_admin_report_export`and one `woocommerce_admin_email_report_download_link` are pending.
3) Let nature run it's course and run the schedules
4) Using xdebug I see the `$percent_complete` is 99 never 100 in the function [

[2022-01-25 16:34] pmcpinto commented on #7127
@ilyasfoo Pinterest hasn't been included in the task, but we also don't have an exact date for inclusion yet. So we can leave this issue closed.

[2022-01-25 16:38] pmcpinto commented on #8198
Yes. that would be great. Thanks!

[2022-01-25 19:06] #4314 closed

[2022-01-25 19:23] jacob-sewell opened #8215 "Suggestion: Remove padding/margin around paragraph tags in Snackbar notices"
As of PR #8173 it's possible to include markup in Snackbar error notices, though the only place it's currently happening is on server-side errors importing sample products. This can result in some odd padding if the error message has a `p` tag in it.

![Screen Shot 2022-01-25 at 13 19 34](https://user-images.githubusercontent.com/890809/151044512-dd7d3184-da45-4569-baad-fac834a24f5e.png)

From @lo

[2022-01-25 19:33] jacob-sewell opened #8216 "Add __unstableHTML option to createNotice() with API error messages where appropriate"
Issue #4314 referenced one particular API call whose error message gets put into a Snackbar via `createNotice()`. As of PR #8173 it's possible to preserve tags in messages displayed in a Snackbar if you pass `{ __unstableHTML: true }` as a third parameter to `createNotice()`. This only affects the specific Sample Products Import case, so any other API calls that display server-provided messages in

[2022-01-25 21:11] joelclimbsthings commented on #7920
Thanks much @janw-me ! That's very helpful.

It looks like this percentage value is actually originally generated in the `WC_CSV_Batch_Exporter` class [here](https://github.com/woocommerce/woocommerce/blob/27eba955ddd38c3606a03c3266b8f447afbe6b1d/plugins/woocommerce/includes/export/abstract-wc-csv-batch-exporter.php#L187), which actually resides in the core repo.

That said, I'm transferring this

[2022-01-25 21:47] #7881 closed

[2022-01-26 00:26] moon0326 commented on #8144
@KarlisJ Thank you for reporting it back. I'm glad it's fixed in the latest version.

I'm closing this issue for now, but please feel free to re-open it if needed.

[2022-01-26 00:26] #8144 closed

[2022-01-26 09:37] #8198 closed

[2022-01-26 10:32] jarekmorawski commented on #8160
Ideally, the labels would sit outside the fields, but that's not how they're currently built. We might change that in the future but for now maybe we could make the the text break in two lines? It'll take up more space, but it'll be legible.

[2022-01-26 11:23] pmcpinto commented on #7931
@ilyasfoo the Abacus experiment was enabled a couple of days ago. Is everything working properly? Let me know if you're confident that we'll be able to release this in WC 6.2. Thanks

[2022-01-26 12:31] rjchow commented on #6340
The page at https://docs.woocommerce.com/document/activity-panels/ is no longer published, and leads to a 404

However, the screenshot at https://docs.woocommerce.com/document/home-screen/ still shows the older version without the activity panel, and is also missing reviews and stock.

I had trouble accessing the relevant pages on docs.woocommerce.com to make the necessary modifications, so I'm ju

[2022-01-26 14:42] #8211 closed

[2022-01-26 19:09] moon0326 commented on #6739
Yup! the suggested change has been made in #7868

[2022-01-26 20:28] #6598 closed

[2022-01-26 22:10] rrennick opened #8221 "Top margin/padding with new navigation"
### Describe the bug
If you enable the new navigation on a standalone install the margin/padding for the embedded header applies to all dashboard pages.

### To Reproduce

1. Enable the new navigation on a standalone WooCommerce site
2. Go to the WP Dashboard
3. See screenshot

### Screenshots

<img width="1266" alt="Screen Shot 2022-01-26 at 6 03 03 PM" src="https://user-images.githubusercontent.

[2022-01-27 00:28] moon0326 commented on #6739
I'm closing this as the change has been made already.

Please feel free to re-open it if needed.

[2022-01-27 00:28] #6739 closed

[2022-01-27 02:51] chihsuan commented on #8221
Hi @rrennick, thank you for taking the time to report the bug! However, I can't reproduce the issue in my local with Firefox.

Could you share your system status or additional context so that we can try to reproduce the bug correctly?

https://user-images.githubusercontent.com/4344253/151282776-7af7b2a8-17b5-4df2-8869-28f19fbf5107.mov

[2022-01-27 05:26] stormit opened #8237 "Scheduled Actions"

[2022-01-27 06:48] ilyasfoo commented on #7931
@pmcpinto I've just tested it in [WC 6.2 RC](https://developer.woocommerce.com/2022/01/25/woocommerce-6-2-rc/) in both WPCOM and JN, I confirmed to be able to get treatment when the store is in `NZ` or `IE`. @moon0326 had also deployed the bridge changes yesterday to make sure the WCPay menu codes do not conflict.

I'm confident it's ready for release in 6.2

[2022-01-27 10:07] pmcpinto commented on #7931
@ilyasfoo thanks for the update. Were you able to verify that the event tracking is working as expected?
I'm trying to use the bookmarklet to get the treatment version, but it's not working 🤔

[2022-01-27 10:20] pmcpinto opened #8223 "Payments recommendation card - introduce more extensions"
**Description:** now that the payments recommendation placement seems pretty stable in terms of adoption, we want to include more payments partners. We want to start by replicating the same rules that are applied to the payments task.

**Acceptance criteria:**
- [ ] Replicate the same rules we have in place for the payments task. Including the order in which we should show each extension
- [ ] The

[2022-01-27 10:24] pmcpinto commented on #8223
@becdetat @mattsherman I added this to cycle 21. Matt, AFAIR the previous work was implemented by Mothra. But let me know if the team doesn't have the bandwidth to tackle this.

[2022-01-27 10:53] ilyasfoo commented on #7470
I think it's good to fix this issue since it's I don't think it's too complex and the information & context are pretty clear.

[2022-01-27 10:54] ilyasfoo commented on #5690
Closing this issue for now

[2022-01-27 10:54] #5690 closed

[2022-01-27 11:08] #8156 closed

[2022-01-27 12:23] ilyasfoo commented on #7931
@pmcpinto It's possible that your site may have attempted to get an assignment while not having the store's location set up yet, thus gets ineligible, and it's cached so changing store location would not immediately fix it. The cache is stored for 2 hours so you may try again after.

I find a reliable way to test this in JN is install WC 6.1 first, setup the store with NZ or IE, and then install 6

[2022-01-27 15:08] rrennick commented on #8221
Thanks for the quick follow up. I tried it in an install with only WC 6.1.1 active and did not see the issue. The site that has the issue has a slightly out of date version of Jetpack active. I suspect that might be the source of the issue.

[2022-01-27 15:08] #8221 closed

[2022-01-27 16:40] pmcpinto commented on #7931
You're right. It was a caching issue. I just checked the JN site and was able to access the experiment.

[2022-01-27 16:52] joshuatf opened #8224 "Tracks on the backend should allow for easier testing"
### Is your feature request related to a problem? Please describe.
When testing we have a difficult time mocking track functionality.

### Describe the solution you'd like
Either a quick investigation into an easy solution or some function to more easily mock tracks during test.

### Describe alternatives you've considered
In a recent PR, I've explicitly returned a value from a function to show th

[2022-01-27 19:08] jacob-sewell opened #8225 "Country/Region selection not preserved"
### Describe the bug

On returning to the Store Details step of the OBW, the "Country / Region" field is blank. The other parts of the address are still populated with the values entered during the first time through Store Details.

Initially found on a JN site during 3.2.0-beta.1 smoke test, but reproduced locally on Woo core 6.1.0 WC Admin 3.0.3.

### To Reproduce

1. Create a new store
2. Go th

[2022-01-27 20:03] jacob-sewell opened #8226 "OBW: WooCommerce Payments not suggested as a business feature for a store with a US address"
### Describe the bug

On creating a new store with a US address, WooCommerce Payments was not suggested as a recommended business feature in the Free features step.

Initially found on a JN site during 3.2.0-beta.1 smoke test, but reproduced locally on Woo core 6.1.0 WC Admin 3.0.3.

### To Reproduce

1. Create a new store
2. Go through the Store Details screens. I used:
     * a Kansas address

[2022-01-27 21:28] mattsherman commented on #8223
@pmcpinto @becdetat I'll take a look at this. The description and AC are very sparse, so I'll need to dig into things to flesh that out... as this is written, it isn't clear exactly what needs to be done.

[2022-01-27 21:57] joshuatf commented on #8224
There are some libraries here that would be useful in mocking out static methods or we could also create a wrapper around the tracks class and pass in instances, but I think both approaches bring some level of complication.

Instead, I think the best approach here is to keep logic of methods using tracks simple and return at a minimum a boolean response for testing purposes.

Closing this issue.

[2022-01-27 22:11] joshuatf commented on #7898
This issue still occurs.  It's likely related to preloaded data not being ready by the time the `Form` is initialized.

[2022-01-27 22:13] joshuatf commented on #7888
I agree with @chihsuan.  Aside from the inability to have a comprehensive list of disallowed characters, many of the characters used in the above screenshot are usable characters for store addresses in certain countries.

Closing this issue.

[2022-01-27 22:13] #7888 closed

[2022-01-27 22:17] joshuatf commented on #7788
Just noting that this logic makes sense if the profiler is incomplete, but if they've completed until the last step, we would want to begin at store details again since it's possible to revisit the setup wizard after completion.

Going to keep this issue open since it could prove useful in helping users set up stores more quickly.

[2022-01-27 22:23] joshuatf commented on #7685
Removing `Needs triage`; this issue should remain open until the task list experiment is complete if we decide to keep it.  If we keep the old task list, this will still been to be fixed.

[2022-01-27 22:32] joshuatf commented on #7625
@barryhughes Its been a while since you opened this issue, but do you recall if you were able to reproduce this?

I was not able to on 2.6.1; the existing theme mods should be destructured and saved along with the new logo - https://github.com/woocommerce/woocommerce-admin/blob/d4cf43f89e6eee136e06ab598b815571f1de59d6/client/task-list/tasks/appearance.js#L195-L198

While there's a chance that this

[2022-01-27 23:18] barryhughes commented on #7625
Hi @joshuatf: yes, at least when I left my previous comment, I was able to replicate and could see the `theme_mods_<THEME>` option being overwritten/reset. Perhaps it has since been fixed via other changes.

[2022-01-28 02:05] chihsuan commented on #8226
no mailing list
    no usage tracking
    CBD products

Hi @jacob-sewell If I'm not mistaken, the`WooCommerce Payments` is expected to not be suggested if users select the **"CBD products"**.

https://github.com/woocommerce/woocommerce-admin/blob/281ae241d0c6d15f696c74cd6bd28294dee16a0f/src/Features/RemoteFreeExtensions/DefaultFreeExtensions.php#L240-L244

[2022-01-28 03:06] ilyasfoo opened #8227 "Add `woocommerce_admin_install_timestamp` to ExPlat API calls"
### Description

We don't have a good way to detect a new store for the Experimentation Platform since we [don't support WPCOM auth](https://github.com/woocommerce/woocommerce-admin/issues/8071). New store criteria for eligibility check is critical since it's a common use-case for experimenters.

A workaround I propose is to add the value stored in `woocommerce_admin_install_timestamp` to the ExPl

[2022-01-28 03:15] ilyasfoo commented on #8227
A potential challenge for JS is we may have to preload the option, which is a direction that we're generally trying to avoid since it may impact performance.

[2022-01-28 03:33] chihsuan commented on #8225
Looks like this is an edge case, we use the regular expression to match state but the `/Kansas$/i` also matches  "Arkansas" since it's a case insensitive regex.

https://github.com/woocommerce/woocommerce-admin/blob/281ae241d0c6d15f696c74cd6bd28294dee16a0f/client/dashboard/components/settings/general/store-address.tsx#L218-L224

[2022-01-28 04:11] jacob-sewell commented on #8226
That explains it! I'll make a note to avoid that when smoke testing.

[2022-01-28 04:15] #8226 closed

[2022-01-28 08:41] kaushikasomaiya opened #8452 "[Bug]: WP Admin notice for removing legacy coupon menu does not disappear after clicking "Remove legacy coupon menu" button"

[2022-01-28 11:46] vedanshujain commented on #8229
I have moved this issue to the admin repo, who would be the correct team to handle this.

[2022-01-28 14:14] pmcpinto commented on #8223
@mattsherman Sorry, I should have included more details. I've updated the description with more information. Let me know if it's clearer now.

[2022-01-28 14:22] pmcpinto commented on #5288
I'm closing this issue, as Creative Mail was included in the Marketing task

[2022-01-28 14:22] #5288 closed

[2022-01-28 14:22] ilyasfoo commented on #8170
We may be able to search for old implementations for some of these events and re-adapt them.

[2022-01-28 14:39] ilyasfoo commented on #8191
@mattsherman Ghidorah can take this to be worked on C21 if you don't mind

[2022-01-28 14:39] pmcpinto opened #8230 "Payments task: display the offline options always below the extensions"
### Describe the bug
In some countries, at least one payments extension is displayed below the offline payments options.

### To Reproduce

1. Create a new store
2. Select India or Australia as country
3. Visit the Payments task
4. See that one of the payment extension is displayed below the offline payments options

### Actual behavior:
Some payment extensions are being displayed below the CoD an

[2022-01-28 14:40] pmcpinto commented on #8230
@becdetat added this to cycle 21.

@mattsherman AFAIR Mothra was the last team to work on the payments task space.

[2022-01-28 14:59] ilyasfoo commented on #8230
@pmcpinto Ghidorah should be able to work on this in C21

[2022-01-28 15:13] mattsherman commented on #8191
@ilyasfoo Go for it!

[2022-01-28 16:34] mattsherman commented on #8226
@jacob-sewell Can you update the smoke testing docs to make note of this, so others don't get tripped up by it in the future? Thanks!

[2022-01-28 18:14] octaedro commented on #5187
I was able to reproduce this error.

After taking a glance, it looks like there is a problem in table `wp_wc_customer_lookup`.

In that table we're saving the `customer_id`, so when we trigger `remove_order_personal_data`, the information in the order is updated and then we update that information in `wp_wc_customer_lookup`. So, if the same customer has two different orders and we trigger `remove_

[2022-01-28 18:14] #5187 closed

[2022-01-28 22:46] moon0326 commented on #8227
@ilyasfoo What do you think about using a filter?

PHP:

[code]

JS:

[code]

We can then use `add_filter` to update the request args.

[code]

[2022-01-28 23:38] ilyasfoo commented on #8227
@moon0326 Nice, I really like the idea of using a filter, I can see how this could be useful! Another possible downside I'd say is that it'll somewhat limit a retroactive change on the backend if we ever need it, but I think the chances of that are minimal if we plan our experiments properly.

Also, in order for this to work with dynamic experiments, I think we'll need the filter to detect the bas

[2022-01-29 00:46] moon0326 commented on #8227
Nice!

Yup! I think filter can use `indexOf` (or regex) to test the dynamic experiment name.

[2022-01-31 03:17] becdetat commented on #7919
Sorry @louwie17 I didn't see this at the time you added your last comment. @pmcpinto can you confirm that not capturing users dropping out, or using `step_complete`, would be ok for this ticket?

[2022-01-31 04:25] rjchow commented on #4253
Some improvement on the cohesiveness and fluidity of our frontend user interface could improve the perceived quality of woocommerce-admin by users, so I believe there is long term value in this piece of work

Started preliminary scoping on this at p90Yrv-2FJ-p2

[2022-01-31 11:58] pmcpinto commented on #6878
Hey @Roslynlavery here's the [link](https://github.com/woocommerce/woocommerce-admin/blob/main/docs/features/payment-gateway-suggestions.md) to the documentation created by @joshuatf with all the instructions required for getting started.
Feel free to reach out in case you have any questions. Thanks!

[2022-01-31 12:12] pmcpinto commented on #7919
@becdetat @louwie17 using `wcadmin_storeprofiler_step_complete` makes sense. However, I think we only fire `step` : `business-features` when the user completes the two steps within the Business details: providing the business details info and installing the extensions. This makes it difficult to understand if they drop before/while they provide the business details or install the extensions. Is it

[2022-01-31 12:35] pmcpinto commented on #8183
@joshuatf what's the best way to check if the fix is working fine? Using the WC 6.2 RC 1 and checking the events in Tracks Live View?

[2022-01-31 14:17] #8078 closed

[2022-01-31 14:25] joshuatf commented on #8183
@pmcpinto Yes, the changes should be included in 6.2.

You can test using this branch of the admin test helper - https://github.com/woocommerce/woocommerce-admin-test-helper/pull/25/files

But if you're not comfortable checking out the branch, we should have it merged in the next couple of days and available for use.

[2022-01-31 18:02] louwie17 commented on #8229
Thanks for creating this issue @KseniaTseiko,
This is a duplicate of #7681, and a fix has been released with WooCommerce Admin 3.1, this should be present in the next WooCommerce release (6.2), which will be released next week.
If you find the issue still persisting in WooCommerce 6.2, please re-open this issue.

[2022-01-31 18:02] #8229 closed

[2022-01-31 20:58] joshuatf commented on #6988
@pmcpinto Just checking in to see if this issue is still a priority.  We have just merged an asynchronous option to install plugins in https://github.com/woocommerce/woocommerce-admin/pull/8079 so we could potentially install and activate all plugins in the background.

[2022-01-31 21:01] joshuatf commented on #7676
I've encountered this issue before in certain hosting environments.  IIRC the issue was that the installation workflow bailed after creating the folder, but permissions had not been properly set by the host.

In this event, there was an empty folder with the plugin name, so there's not a plugin to activate, but this also prevented installation of a new plugin at this path.

I'm not sure if this tr

[2022-01-31 21:56] #7893 closed

[2022-02-01 00:51] becdetat commented on #7919
@louwie17 I'm going to have to defer to you as you're much closer to the code :-)

[2022-02-01 01:36] 1000camels commented on #8188
Rather than just have an option for removing Zero Dollar Orders, would it not be better to provide a hook to filter orders for any number of reasons?
I am looking for way to filter orders with specific meta_data, or ones with children orders or simply to provide a list of order ids that match a specific criteria. I have not been able to figure this out. I have tried to use woocommerce_analytics_or

[2022-02-01 02:51] mattsherman commented on #8058
@louwie17 What's the status of this one? Is it still "In Progress"?

[2022-02-01 04:34] becdetat commented on #8224
I don't think returning a magic value for testing purposes only is a good solution to this. Having a tracks wrapper class that gets injected (we have prior art - see https://github.com/woocommerce/woocommerce-admin/blob/main/tests/remote-inbox-notifications/plugins-activated-rule-processor.php) is much cleaner and maintainable in the long run.

There is going to be a cost up front in converting un

[2022-02-01 05:11] joshuatf commented on #8224
@becdetat I don't see any tracks wrappers in the file you linked to.  Or are you just referring to the dependency injection in those files?

I'm not opposed to moving towards dependency injection for testing/decoupling purposes, but it's definitely worth keeping in mind that we heavily rely on singletons and this will result in a decent amount of refactoring should we go this route.

[2022-02-01 09:48] BackuPs opened #8291 "Wordpress 6.0 alpha fatals on loading Woocommerce admin"
### Prerequisites

- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched for similar bugs in both open and closed issues and cannot find a duplicate.

### Describe the bug

In wordpress 6.0 i get this notification error on the latest woocommerce beta running

Notice: Function add_menu_page was called incorrectly. The seventh parameter passed to add_

[2022-02-01 12:59] louwie17 commented on #8058
Not anymore now that cooldown is over, I unassigned myself and moved it to the Product backlog (not a 100% sure if that is the right column).

[2022-02-01 14:06] rodelgc opened #8239 "In the Shipping task, after completing the "Set store location" step, user is taken immediately to the "Enable shipping label printing" step, thereby skipping the "Set shipping costs" step"
### Describe the bug
After filling up the "Set store location" step and submitting it, you should be taken to the next step (Set shipping costs). Instead, you're taken immediately to the "Enable shipping label printing" step. I observed this behavior in WooCommerce 6.1.1 and 6.2.0-rc.2.

### To Reproduce

1. On a fresh WooCommerce installation, skip setting up the store details.
2. In Products > A

[2022-02-01 14:06] louwie17 commented on #7919
@pmcpinto if using `wcadmin_storeprofiler_step_complete` will work, could we also trigger this track when a user finishes the business details part? We could call it `business-details`. And use the `business-features` track to determine if a user finished after the free features installation.

[2022-02-01 14:55] mattsherman commented on #8223
@pmcpinto Thanks. That helps.

[2022-02-01 15:26] mattsherman commented on #6860
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce-admin/6860?planning-poker) with ZenHub @jacob-sewell @joelclimbsthings @joshuatf @louwie17 @octaedro

[2022-02-01 15:51] pmcpinto opened #8240 "WCPay setup task - display task when extension is installed through Subscriptions option"
**Description:** currently, we don't show the WCPay setup task when new US users install the WCPay extension through the Subscription option in the product types step. More info about this flow here: #7445. We should tweak the logic and display the WCPay setup task, as it's an effective way to drive more users to complete the WCPay setup.

![Captura de ecrã 2022-02-01, às 15.50.41.png](https://i

[2022-02-01 16:04] pmcpinto opened #8241 "Payments task: remove intermediate step when WCPay is installed"
**Description:** we're redirecting users to an unnecessary step, adding friction to the flow, when users have WCPay installed and want to finish the setup through the Payments task.

https://d.pr/v/dPuHjJ

**Acceptance criteria:**
- [ ] Remove the stepper step and automatically redirect users to the WCPay KYC flow when the user has WCPay installed and clicks in the WCPay "Finish setup" CTA in the

[2022-02-01 17:02] #6599 closed

[2022-02-01 18:07] louwie17 commented on #8239
Thanks for creating this @rodelgc, I was able to reproduce this as well and it does seem to be invalid behaviour.

[2022-02-01 18:17] #8227 closed

[2022-02-01 18:26] pmcpinto opened #8242 "Payments task: tweak flow after setting up offline payments"
**Description:** we're redirecting users to the home screen after they enable one of the offline payments options in the payments task. It's pretty common for a store to provide offline and online payments options. So after enabling an offline option, we should redirect users back to the payments task, to allow them to select online payments.

**Acceptance criteria:**
- [ ] Redirect users to the P

[2022-02-01 18:28] louwie17 commented on #8223
@pmcpinto will the new payment plugins shown in the recommendation card have the same copy as the payment task?
Currently for both Stripe and Paypal the copy is different, and wondering if it will be the same for the new ones?

[2022-02-01 18:34] louwie17 commented on #8239
@mattsherman this might be worth adding to our current sprint or the following one, I would assume the solution should be fairly easy.

[2022-02-01 19:33] mattsherman commented on #8223
@pmcpinto In the Payments task for India, for example, there is a "recommended" banner on Stripe. Do we keep this "recommended" banner? And, does the "recommended" banner on the Payments task have any relationship to the "recommended ways to get paid" on the Payments settings.

It seems like this additional layer of "recommendation" is confusing.

[2022-02-01 22:57] 1000camels opened #8244 "Inability to bypass OrdersScheduler Import"
### Is your feature request related to a problem? Please describe.
It is not possible to prevent select orders from being added to the analytics tables. There are any number of reasons this is useful, but specifically there is a request (https://github.com/woocommerce/woocommerce-admin/issues/8188) that provides one example.

### Describe the solution you'd like
A simple hook to allow the bypassin

[2022-02-01 23:34] #8170 closed

[2022-02-02 09:21] pmcpinto commented on #8183
@joshuatf thanks!

I tested WC 6.2 RC1 and the events showed up in the Tracks Live View tool

[2022-02-02 09:27] pmcpinto commented on #7919
Yes. This would be super helpful.

[2022-02-02 09:41] pmcpinto commented on #6988
@joshuatf thanks for the heads up. That can be a good way to overcome this challenge

 I'll create a new issue regarding the idea of installing/activating the plugins in the background, to evaluate the pros & cons of doing this.

[2022-02-02 09:41] #6988 closed

[2022-02-02 09:54] pmcpinto opened #8246 "Store profiler - business features step: install extensions in the background"
**Description:** this issue is a spin-off of #6988. About 17% of users drop the store profiler flow in the business features step. Although the conversion rate is relatively healthy, it is below the other profiler steps. They are usually around 98% conversion rate.

One of our assumptions is that users are having issues while the extensions are being installed, as it was outlined here: #7676

Now

[2022-02-02 09:55] pmcpinto commented on #8246
@mattsherman @joshuatf @jarekmorawski I'd love to have your feedback regarding this topic.

[2022-02-02 10:30] pmcpinto commented on #8223
Thanks for spotting this. I agree that the "recommended" banner can be confusing in the payments settings recommendation card. Let's keep it simple and don't show it in settings.

[2022-02-02 13:37] louwie17 commented on #8244
Hi @1000camels, thanks for submitting this feature request, these filters do seem nice to have, we will discuss this among the team to see when we could work on this.

My initial thought would be to add a filter either in the `import` function that updates the analytics tables -> https://github.com/woocommerce/woocommerce-admin/blob/main/src/Schedulers/OrdersScheduler.php#L160
Or in one of the `sy

[2022-02-02 15:09] joshuatf commented on #8246
I'm definitely in favor of doing this and I think this will be a great improvement to have in the setup wizard flow.  Seeing how long wait times could be on this step was a little shocking and definitely something I think we should prioritize.

While it's obviously much quicker than if a user was to install the plugins one by one, it's detrimental to the user experience in the wizard.

The async p

[2022-02-02 15:54] pmcpinto opened #8248 "Store setup - introduce an additional flow to add store location"
**Description:** collecting the store location right at the beginning of the new user experience is critical, as payments, shipping, and taxes recommendations are tailored according to the store country. About 25% of new users skip the store profiler. Among them, less than 2% add the store location during the first 3 days of activity through settings or the shipping or tax task.
When the user does

[2022-02-02 15:54] louwie17 opened #8249 "[3.2.0 beta 2] Hidden address fields are not being cleared when previous value is entered"
### Describe the bug

When a user selects a country with a postal code and fills it out, but then changes the country to one that hides the postal code field. The postal code field is not cleared, causing the previous entered value to still be saved.

### To Reproduce

1. On a fresh store go to the onboarding flow
2. Select United States as address and fill out all the required fields
3. Before hi

[2022-02-02 15:55] pmcpinto commented on #8248
@jarekmorawski how do you think we could solve this?

[2022-02-02 20:44] joelclimbsthings commented on #7059
Hey @moon0326 , I like the sound of this addition, although we've had it kicking around for ~10 months without any motion, and I think team Atlas will be taking over some of these things after The Merge.

I'm going to close it for now, but feel free to reopen if you feel strongly about it.

[2022-02-02 20:44] #7059 closed

[2022-02-02 22:02] 1000camels commented on #8244
Hi Louwie,

I explored this but found it not easy to use (or even helpful). At that
point in the hook, you have the results for the analytics. But when I look
at the results for orders, I see entries like this:

            [30] => Array
                (
                    [interval] => 2022-01-31
                    [date_start] => 2022-01-31 00:00:00
                    [date_start_gmt] => 202

[2022-02-02 22:04] joelclimbsthings commented on #7597
I also haven't been able to reproduce this issue on my local. Can I ask which version of WooCommerce & WooCommerce Admin you've seen this on @fhaps ?

[2022-02-02 22:07] joelclimbsthings commented on #7694
Closing this issue for now, feel free to let us know if you're still having trouble here @tomalec .

[2022-02-02 22:07] #7694 closed

[2022-02-02 22:11] joelclimbsthings commented on #7708
Closing this on the assumption that it's been fixed in more recent versions, as we're unable to reproduce. Let us know if you've seen this on the latest WooCommerce Admin release.

[2022-02-02 22:17] joelclimbsthings commented on #7810
It looks like this issue is redundant with ongoing efforts to improve the technical debt in this area. Closing for now.

[2022-02-02 22:17] #7810 closed

[2022-02-02 22:19] #7708 closed

[2022-02-02 22:22] joelclimbsthings commented on #7857
I'm closing this for now as it's gone stale, but we can gladly reopen if @slaFFik or @WillBrubaker want to chime in with the requested information.

[2022-02-02 22:22] #7857 closed

[2022-02-02 22:35] joelclimbsthings commented on #7998
Closing this for now as it's gone stale, but we can gladly reopen upon getting more information.

[2022-02-02 22:35] #7998 closed

[2022-02-02 22:37] joelclimbsthings commented on #7999
It looks like this is likely resolved, but let us know if none of the above comments did the trick and more information is available.

[2022-02-02 22:37] #7999 closed

[2022-02-02 22:57] joelclimbsthings commented on #8015
I was able to reproduce this as described. I haven't dived into the query, but it appears that there is some weirdness in how it's picking up refunded orders.

If you want to query only for these records, you can filter for `>1 orders` as described, and add the `total spend < 1` filter as well.

[2022-02-03 08:48] verofasulo opened #8251 "Store setup - WooCommerce Payment Flow"
### Describe the bug
While setting up the store, I clicked on “Get paid with WooCommerce Payments” from the checklist on the home page and completed the flow.

![image](https://user-images.githubusercontent.com/98944206/152309100-02bc47d0-b79d-4edb-aeee-492b13732bf1.png)

But once I finished the flow, I was redirected to an error page that stated “Sorry, you’re not allowed to access this page”.

!

[2022-02-03 12:19] pmcpinto commented on #8251
@becdetat @mattsherman is it possible to include this in cycle 21? This looks like a "critical" bug in one of the main setup flows. AFAIR Mothra was the last team implementing some changes around the payments task: #7720
Thanks!

[2022-02-03 14:41] mattsherman commented on #8251
@pmcpinto Mothra will take care of this in Cycle 21.

[2022-02-03 17:36] pmcpinto opened #8253 "Tax task: provide more context about Automated Taxes"
**Description:** If the user has the store located in one of the countries covered by WC Tax, has the extension installed + connected to Jetpack, we nudge him to enable automated taxes. However, we don't provide any information about this feature and we should help users make an informed decision regarding enabling automated taxes.
We provide links to the documentation through the Help panel, but

[2022-02-03 18:16] pmcpinto opened #8254 "Shipping task: "Enable shipping label printing" step is missing"
### Describe the bug
The "Enable shipping label printing" step is missing in the Shipping task. This option should be available for US users.

### To Reproduce

1. Create a new store located in the US
2. Install WooCommerce Shipping
3. Visit the Shipping task
4. See that the "Enable shipping label printing" step is missing

### Actual behavior:
We don't inform US users that they can enable shippin

[2022-02-03 18:17] pmcpinto commented on #8254
@becdetat @mattsherman this was working well in 6.0 (#8027). So I'm not sure if the bug was introduced after 6.0. Is it possible to check this? Thanks!

[2022-02-03 18:41] louwie17 commented on #8244
Hi Darcy,

Sorry for the confusion, I actually did point you at the wrong hook, sorry about that. The hook I meant is `woocommerce_analytics_orders_select_query` [here](https://github.com/woocommerce/woocommerce-admin/blob/4bfb3f4f98a939068a5b9635e8a80a54c833e7d1/src/API/Reports/Orders/Query.php#L40). You would have access to the order_id, and parent_id here.
This would only alter the orders liste

[2022-02-03 21:00] moon0326 commented on #8191
@katinthehatsite Hi ✋

I just opened a [PR](https://github.com/woocommerce/woocommerce-admin/pull/8255) to address this issue. If the PR gets approval, it will recover the data.

[2022-02-03 21:27] #7986 closed

[2022-02-04 00:55] becdetat commented on #8224
@joshuatf  I'm just referring to dependency injection.

We can keep the singletons and existing static usages, just use a wrapper class for DI whenever you want to test a specific tracks usage. The wrapper class calls the static `WC_Tracks::record_event()` but it can be swapped out with a mock for the test.

Only the code under test needs to be changed to accept a tracks implementation via DI - th

[2022-02-04 03:30] becdetat commented on #8251
Thanks @mattsherman , added to the cycle doc

[2022-02-04 03:41] becdetat commented on #8254
Sure, @mattsherman can you get someone on this please?

[2022-02-04 15:03] #7884 closed

[2022-02-04 15:26] #7693 closed

[2022-02-04 16:17] pmcpinto opened #8261 "Revisit the shipping and tax smart defaults"
**Description:** smart defaults are a powerful way to simplify the setup experience, remove friction and ensure that users can focus on critical tasks.
We've tested the shipping and tax smart defaults concept during 2020. See #4594 and #4595. However, was had some issues as both tasks rely on 3rd party plugins (Jetpack and WooCommerce Shipping and Tax) and we ended up removing them during Q1 2021.

[2022-02-04 18:03] louwie17 commented on #8251
@verofasulo I can't re-produce the “Sorry, you’re not allowed to access this page” page that you are seeing, could I have some more information on what role your `user` is under `Users > All users`. Unless you are using a specific role plugin to manage your permissions.

The other two items I can reproduce, need to do some further investigation.

[2022-02-04 20:12] mattsherman commented on #8254
This will be investigated and addressed by @woocommerce/mothra

[2022-02-04 20:16] mattsherman commented on #8246
@pmcpinto @joshuatf @jarekmorawski  I'd like Mothra to tackle this in Cycle 22.

This seems like a good approach to take, especially with the alert type to ensure it is at the top of screens.

[2022-02-04 20:29] mattsherman commented on #8239
Agreed. Thanks for just going ahead and fixing it! 🙌

[2022-02-04 21:07] mattsherman commented on #8224
@joshuatf @becdetat This issue is closed yet there continues to be discussion on it... reopening.

[2022-02-04 21:36] mattsherman commented on #7919
@louwie17 Since this was re-opened, I'm moving it back to In Progress. It might more clear to just open a new issue for whatever needs to be done.

[2022-02-04 21:37] mattsherman commented on #7919
@pmcpinto What is the priority on this additional change?

[2022-02-04 21:44] louwie17 commented on #8254
@pmcpinto this step only shows up if either Jetpack or `woocommerce-services` are not installed, otherwise this step is hidden (for USA store in particular), [here is that logic](https://github.com/woocommerce/woocommerce-admin/blob/main/client/tasks/fills/shipping/index.js#L166-L177), this doesn't appear to have changed for some time, is there something else you were expected when both of these p

[2022-02-07 07:17] chihsuan commented on #7428
Looks like this bug is over 6 months old. @pmcpinto Can we close this? (according to p90Yrv-2Bc-p2)

[2022-02-07 07:22] chihsuan commented on #4887
@mattsherman This bug is over 6 months old. But if Mothra can handle this, can I move this into "Mothra backlog"?

[2022-02-07 07:56] chihsuan commented on #7258
@ilyasfoo I'm going to close this since this bug is over 6 months old. Free free to reopen it whenever you have the bandwidth to work on it!

[2022-02-07 07:56] #7258 closed

[2022-02-07 08:08] chihsuan commented on #7674
I think this is relatively a low-impact task. Closing this for now. cc @pmcpinto

[2022-02-07 08:08] #7674 closed

[2022-02-07 08:12] chihsuan commented on #5705
This has been fixed in https://github.com/woocommerce/woocommerce-admin/pull/8189.

[2022-02-07 08:12] #5705 closed

[2022-02-07 08:17] chihsuan commented on #4783
@Frisoni Thanks for opening this issue! I understand that a fresh button can make it easier. However, I'm closing this since this has been here for a while and we can use F5 as a workaround. I think we can consider adding it whenever we have the bandwidth.

[2022-02-07 08:17] #4783 closed

[2022-02-07 08:29] chihsuan commented on #7033
I'm not really sure about the potential impact of this request (p1621444162036400-slack-C7U3Y3VMY). The user didn't tell us why he want this feature. @adrianduffell I think we can close this. What do you think?

[2022-02-07 08:42] chihsuan commented on #6383
Closing this for now since this bug is over 6 months old. p90Yrv-2Bc-p2

[2022-02-07 08:42] #6383 closed

[2022-02-07 08:48] chihsuan commented on #6447
Closing this since this bug is over 6 months old. p90Yrv-2Bc-p2

[2022-02-07 08:48] #6447 closed

[2022-02-07 09:13] adrianduffell commented on #7033
@chihsuan Thanks for the ping, yes let's close it. I think it's an enhancement we're unable to prioritize at the moment.

[2022-02-07 10:18] #7033 closed

[2022-02-07 10:26] verofasulo commented on #8251
Hey @louwie17, sure! I attach a screenshot from the All users page:

![image](https://user-images.githubusercontent.com/98944206/152770179-02fb6623-cd37-4e98-a386-cf6a0475b258.png)

Hope this helps! Please let me know if more information is needed :)

[2022-02-07 10:53] pmcpinto commented on #7428
Thanks for the ping. Unfortunately this problem went unnoticed during the last cycle planning sessions. We don't have tracking on that button, but this is one of the main flows of new users, so I think we should fix it. I will add to cycle 22

[2022-02-07 11:01] pmcpinto commented on #8254
Ahhh. I totally forgot that shipping label printing is auto-enabled with WCS. Sorry for the confusion. We don't need to change anything. I'll close the issue

[2022-02-07 11:01] #8254 closed

[2022-02-07 11:08] pmcpinto commented on #8246
Creating an inbox notification can work well. @jarekmorawski @verofasulo what do you think?

[2022-02-07 11:09] ilyasfoo commented on #7258
Hey, @chihsuan. Thanks for bringing this to my attention. I tried to reproduce this again with WCA 3.2 beta 2, and I wasn't able to. I think this may have been fixed by one of your analytics PR in the past 😄

[2022-02-07 11:15] pmcpinto commented on #7919
Is it possible to include this change in wcadmin 3.2? It can wait until 3.3 if the team already has too many things in the pipeline during the upcoming days.

[2022-02-07 11:17] chihsuan commented on #6823
This has been here for a while. However, I think it would be great if we can fix this along with https://github.com/woocommerce/woocommerce-admin/issues/6822.

I believe it should be "Feb" so I changed all "April" to "Feb"  in the issue title and descriptions.

[2022-02-07 14:03] Grezvany13 opened #8264 "Sortable with hidden columns breaks table layout"
Please note; the code with the issue is in `woocommerce/woocommerce`, but since it's an admin related I post it here.

### Describe the bug
When sorting products (`/wp-admin/edit.php?post_type=product&orderby=menu_order+title&order=ASC`) the table layout will break when there are hidden columns (disabled in 'Screen Options').

### To Reproduce
1. Go to 'Products' in wp-admin
2. Click on 'Sorting'

[2022-02-07 14:11] louwie17 commented on #7919
I think so, given part of this issue is already in the repo, and this should be a relatively minimal change. I will add this today.

[2022-02-07 14:37] jarekmorawski commented on #8248
I can see 2 ways:

* default to the geolocation and let people fix/update the address later in settings
* if someone skipped the profiler, we'd ask them in a modal like many ecommerce stores do (example below)

![image](https://user-images.githubusercontent.com/79307566/152808607-0978b729-e250-448e-84cc-3716956400e9.png)

I think the two aren't mutually exclusive and could work well together.

[2022-02-07 18:13] #8191 closed

[2022-02-07 18:55] #8239 closed

[2022-02-07 21:09] mattsherman commented on #8251
@verofasulo This is a WordPress.com site, correct?

@louwie17 I wonder if that makes a difference.

[2022-02-07 23:31] #8249 closed

[2022-02-08 02:36] becdetat opened #8266 "Clean up src/Features/Onboarding.php"
- clean up `src/Features/Onboarding.php`
- 1000+ lines without clear responsibility
- note that this is currently being used so cleanup needs to be done carefully
- use the "move method" refactor where necessary and make new classes internal

My estimate: 5 hours

[2022-02-08 02:55] becdetat opened #8267 "All individual note classes should be made internal"
Generic note classes and traits should remain public.

Also go through `Note` and `Notes` and make functions private where possible, keep `NotesUnavailableException` public.

My estimate: 2 hours

[2022-02-08 03:02] becdetat opened #8268 "Refactor src/Loader.php"
Deprecate functions in `src/Loader.php` that don't belong and use the "move method" refactor (https://refactoring.guru/move-method) to support existing code.

My estimate: 4 hours

[2022-02-08 03:09] becdetat opened #8269 "Document all REST API controllers"
- class is internal (add `@internal` comment)
- functions are internal
- REST APIs are public UNLESS they are experimental or otherwise subject to change (ask if unsure)

My estimate: 8 hours

[2022-02-08 03:12] becdetat opened #8270 "Make src/Features/Navigation/* internal"
Move the files to `./Internal` as appropriate

My estimate: 1 hour

[2022-02-08 03:13] becdetat opened #8271 "Make src/Features/OnboardingTasks/* internal"
Move the files to `./Internal` as appropriate

My estimate: 1 hour

[2022-02-08 03:15] becdetat opened #8272 "Make src/Features/RemoteFreeExtensions/* internal"
Move the files to `./Internal` as appropriate

My estimate: 1 hour

[2022-02-08 04:16] becdetat opened #8273 "Make src/Features/WcPayPromotion/* internal"
Move the files to `./Internal` as appropriate

My estimate: 1 hour

[2022-02-08 04:19] becdetat opened #8274 "Make `src/Features/*` internal except for `Features.php`, `Features/Onboarding.php` and `TransientNotices.php`"
Move everything to `./Internal`.

Note that `Features.php` needs to stay public.

14 files

My estimate: 4 hours

[2022-02-08 04:28] becdetat opened #8275 "Refactor `src/Notes/MerchantEmailNotifications`"
- move `src/Notes/MerchantEmailNotifications/EmailNotification.php` up into `src/Notes` (and keep it public)
- make `/src/Notes/MerchantEmailNotificationss/MerchantEmailNotification.php` internal

My estimate: 2 hours

[2022-02-08 04:36] becdetat opened #8276 "Make `src/Schedulers/*` internal"
Except for `SchedulerTraits.php` - that can be left public.

Move to `src/Schedulers/Internal/` and decorate public functions with `@internal` comment

5 files

My estimate: 4 hours

[2022-02-08 04:55] becdetat opened #8277 "Make files in `src/` internal"
Make the following in `src/` internal (move them to `src/Internal`):

- `CategoryLookup.php`
- `Events.php`
- `FeaturePlugin.php`
- `Install.php`
- `PaymentPlugins.php`
- `Survey.php`
- `WCAdminSharedSettings.php`

My estimate: 3 hours

[2022-02-08 06:07] chihsuan commented on #6512
Since this affects the OBW, I think we should fix this soon, though it has been here for a while.

[2022-02-08 06:26] ilyasfoo commented on #6994
Deciding not to pursue this.

[2022-02-08 06:26] #6994 closed

[2022-02-08 06:27] chihsuan commented on #6499
I was not able to reproduce this on the main branch. I think this has been fixed.

![Screen Shot 2022-02-08 at 14 20 45](https://user-images.githubusercontent.com/4344253/152930434-1ca369ce-7402-4e5f-abaa-4fdedb12bd58.png)

[2022-02-08 06:28] chihsuan commented on #6499
I'm going to close this. @dphyled  Please feel free to reopen this if you're still encountering this issue with the latest version. Thanks!

[2022-02-08 06:28] #6499 closed

[2022-02-08 06:31] chihsuan commented on #4887
@mattsherman I just moved it to the Mothra backlog.

[2022-02-08 07:39] verofasulo commented on #8251
@mattsherman Yes, exactly!

[2022-02-08 08:16] chihsuan commented on #7957
I searched the `there_are_now_products` but found that we don't have code to set `there_are_now_products` to `false`. So the `there_are_now_products` is always true after a product is created.

Also, we have the stored state definition [here](https://github.com/woocommerce/woocommerce-admin/blob/402dc616d50bb0c21d07fdd6c007b4fc32039ce1/src/RemoteInboxNotifications/README.md#stored-state
) but it s

[2022-02-08 08:42] chihsuan commented on #7957
Hi, @russellgi I think you can manually run all with bulk action.

[2022-02-08 15:26] pmcpinto commented on #6512
Agreed. I added this issue to the cycle 22 report for scoping and prioritization

[2022-02-09 00:58] 1000camels commented on #8244
I really need help from a developer regarding Analytics. It would seem that parent_id == 0 is hardwired in other places to indicate an order. So for example, "Top Customers - Total Spend" leaderboard is only tallying orders with no parent, which is excluding my orders. I understand the use of parent_id is used only in the case of shop_order_refund by the developers, but it completely prevents any

[2022-02-09 02:12] 1000camels commented on #8244
Someone has told me that Woocommerce Subscriptions also uses post_parent, which means users of that plugin will also experience some of the issues I am experiencing

[2022-02-09 04:13] ilyasfoo commented on #7957
This sounds like a good alternative! I think the original intention of running this every time was so that no inbox note is missed. For example, the store hasn't fetched remote inbox specifications but it has already created the product & run the action. Thus, notes that come after fetching will never be executed.

As I understand, the state was only meant to be set once to flag that the store has