[2020-01-21 13:43] ajgw commented on #3599
@rrennick Latest version 0.24.0, WC 3.8.1

[2020-01-21 14:21] juliaamosova opened #3600 "[WC 3.9 rc4] Onboarding: `Plugins` section UI being displayed during onboarding on the Calypsoify site"
**Describe the bug**

`Plugins` section UI being displayed during onboarding on the Calypsoify site.

**To Reproduce**

Steps to reproduce the behavior:

1. Use the existing Calypsoify site for testing. I used Pressable site with added `calypsoify=1` parameter;
2. Make sure new onboarding is activated (use this [snippet](https://gist.github.com/justinshreve/6e945dcb4714134156aba1b3c7f086cf) if nee

[2020-01-21 14:54] juliaamosova opened #3601 "[WC 3.9 rc4] Onboarding: Can't select newly uploaded theme during Onboarding"
**Describe the bug**

Can't select newly uploaded theme during Onboarding.

**To Reproduce**

Steps to reproduce the behavior:

1. Go through the new onboarding experience (snippet to activate it is [here](https://gist.github.com/justinshreve/6e945dcb4714134156aba1b3c7f086cf) if needed)
2. On the Themes section, upload one of these 3 WooCommerce themes:

https://wordpress.org/themes/acoustics/
htt

[2020-01-21 17:12] juliaamosova opened #3602 "[WC 3.9 rc4] Onboarding: Not able to select the state of the shop location during onboarding on the Calypsoify site"
**Describe the bug**

Not able to select the state of the shop location during onboarding on the existing Calypsoify site.

**To Reproduce**

Steps to reproduce the behavior:

1. Use the existing Calypsoify site for testing. I used Pressable site with added `calypsoify=1` parameter;
2. Make sure new onboarding is activated (use this [snippet](https://gist.github.com/justinshreve/6e945dcb4714134156

[2020-01-21 17:54] rodrigoprimo opened #3604 "Space is missing to separate two sentences in the setup wizard"
**Describe the bug**
When configuring a new store, in the step to set up taxes, a space is missing to separate the phrases "By clicking 'Configure' you're enabling tax rates and calculations." and "More info here." See the screenshot below.

![Screenshot from 2020-01-21 14-49-53](https://user-images.githubusercontent.com/77215/72829365-6574cd00-3c5d-11ea-93db-28cb6c3b8cec.png)

Those two strings a

[2020-01-21 19:44] rodrigoprimo opened #3605 "[WC 3.9 rc4] Onboarding: vertical aligment for text inside buttons seems off"
**Describe the bug**
For at least two buttons that I tested in the new OBW, the vertical alignment of the text that is displayed inside the button seems off. The area below the text is bigger than the area above it, and I expected them to be the same. See screenshots below:

![Screenshot from 2020-01-21 14-26-26](https://user-images.githubusercontent.com/77215/72835803-27ca7100-3c6a-11ea-8076-79a0

[2020-01-21 19:49] psealock commented on #3601
I'm getting a 500 error on my local install when trying to upload the plugin. I have Jetpack 8.1 installed and active:

[code]
I'm not sure if this is related though.

[2020-01-21 19:56] rodrigoprimo opened #3606 "[WC 3.9 rc4] Setup taxes: currency symbol overlaps with shipping cost value"
**Describe the bug**
The currency symbol and the shipping cost value are overlapping on the "Set up shipping" step of the Dashboard provided by WooCommerce Admin. See screenshot below:

![Screenshot from 2020-01-21 14-42-21](https://user-images.githubusercontent.com/77215/72838292-c9ec5800-3c6e-11ea-9620-3e67d2537a01.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Set the store currenc

[2020-01-22 01:31] timmyc commented on #3601
p90Yrv-1uH-p2

[2020-01-22 01:36] timmyc commented on #3605
Looks like we have a duplicate report in #3597 going to close this one out.

[2020-01-22 01:36] #3605 closed

[2020-01-22 01:38] timmyc commented on #3602
Thanks for the report Julia - I'm going to mark this one as blocked for now since we are going to discuss calypsoify usage soon. Based off the outcome there I will possibly move this to the `wc-calypso-bridge` repo for a fix.

[2020-01-22 01:38] timmyc commented on #3600
Thanks for the report Julia - I'm going to mark this one as blocked for now since we are going to discuss calypsoify usage soon. Based off the outcome there I will possibly move this to the `wc-calypso-bridge` repo for a fix.

[2020-01-22 04:11] timmyc opened #3609 "Extensibility: WCS Labels Report"
Many, many, many 🌕 ago, a demo extension was created to show how wc-admin components could be used to build bespoke reports for WooCommerce Extensions. Much has changed between here and there, and for a cool down project we should revisit that initial effort and create a PR that takes a more current approach to building a WCS Shipping Labels report with `wc-admin`.

Prior Art: https://github.com/t

[2020-01-22 04:19] timmyc opened #3610 "cooldown: e2e Testing"
Currently the project does not have any e2e test coverage - for this cooldown task, let's change that. From talking with @jeffstieler on the topic, he has shared the following items:

- The existing e2e test framework that exists in woo core is not in a state right now that can be leveraged in other projects like WCA or Blocks.
- One approach to get around this would be to copy/paste much of the l

[2020-01-22 04:23] timmyc opened #3611 "cooldown: Explore Looker for KPI Tracking"
While the 2020 roadmap is still be finalized, one thing is certain - a need for a dashboard to measure our KPIs. As such, soon we will be developing a metric dashboard for our projects. Various teams, including Woo Data, have been building upon Looker.

This task would involve:

- Getting to know looker. Check the FG, lots of great content there.
- Get access to looker
- Explore the views that hav

[2020-01-22 08:26] joshuatf commented on #3604
Nice catch on this, @rodrigoprimo and thanks for opening an issue!

This should get parsed as a single string when it heads to translation.  I believe the concatenation used here is purely for readability on the dev side.

[2020-01-22 08:37] #3567 closed

[2020-01-22 11:10] senadir opened #3613 "Use @wordpress/icons instead of Dashicon"
**Is your feature request related to a problem? Please describe.**
Yesterday, Riad (from the Gutenberg team) and I, made some progress on the new icon package, mainly https://github.com/WordPress/gutenberg/pull/17055, https://github.com/WordPress/gutenberg/pull/19809, and https://github.com/WordPress/gutenberg/pull/19808
Icons are now tree shaken, we should start migrating away from Dashicon towar

[2020-01-22 12:07] pmcpinto opened #3615 "Onboarding: Upload theme: add Tracks"
We should add event tracking in the `upload theme` action, so we have a sense of how many users are uploading a theme.

Event name: wcadmin_storeprofiler_store_theme_upload
Properties: theme slug
Recorded properties: theme-slug

Slack thread: C9K5T0XSP/p1579630410046300-slack-wc-admin

[2020-01-22 18:59] psealock commented on #3609
Can we make use of the starter pack? It has some goodies, including built in webpack config and WP Core standards etc.

[2020-01-22 19:22] psealock opened #3617 "Change jetpack-autoloader version dependency to range from specific version"
Lets minimize the chance of a conflict with blocks, wc-rest-api, and core WC by specifiying a range for this dependency.

More info in https://github.com/woocommerce/woocommerce-gutenberg-products-block/issues/1625

[2020-01-22 20:45] timmyc commented on #3609
Nuke and pave! I would hope that we leverage all the tools we now have.

[2020-01-23 06:51] joshuatf commented on #3467
After being able to recreate this issue every time on Pressable, today I am no longer able to.  Spun up a new Pressable site and things worked as expected with settings persisting on refresh without any need to flush the object cache.  The same is true of an Atomic dev site.

I returned to my previously created site and using the same WC and WC admin versions where this bug was present and was not

[2020-01-23 07:08] joshuatf opened #3619 "Spaces are trimmed from concatenated strings"
**Describe the bug**
When concatenating multiple strings together, any whitespace around a string is trimmed by the translation build script.

This prevents us from creating sentences with spaces over multiple lines and may lead to very long lines in addition to unexpected behavior if not caught before merge.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a sentence with a space tha

[2020-01-23 07:11] #3570 closed

[2020-01-23 07:53] joshuatf commented on #3602
This issue should be resolved in the current master branch.

We had 2 PRs that affect this:
* One of them change the behavior to not exclude already selected options for the list (so Florida would still be shown in the list even though this is already the state you've selected) https://github.com/woocommerce/woocommerce-admin/pull/3540
* The second added an option to show all items on click instea

[2020-01-23 07:53] #3602 closed

[2020-01-23 08:15] joshuatf commented on #3592
This could be a plugin conflict or something blocking the import from completing.  I'm happy to help you troubleshoot if you'd like.

1. Have you enabled debugging by adding the following to your `wp-config.php`?
[code]
Does the error log show any details after importing?
2. Have you tried disabling all plugins besides WooCommerce and WooCommerce Admin to see if imports begin working?
3. If you up

[2020-01-23 08:24] joshuatf commented on #3600
I actually opened an issue on `wc-calypso-bridge` recently for a fix on this, but this issue does not stem from the bridge (and it actually resolves it if enabled, but its calypsoify feature cannot be simultaneously enabled with the new onboarding experience by design).

This issue is actually directly from Jetpack's calypsoify module.

While ideally we could deal with this upstream, I may see if

[2020-01-23 09:51] joshuatf commented on #3615
I misspoke in Slack.  I added this event previously. It currently tracks the theme slug after upload completion.

[2020-01-23 09:51] #3615 closed

[2020-01-23 11:32] rodrigoprimo commented on #3604
Thanks for the clarification.

[2020-01-23 15:11] pmcpinto commented on #3615
@joshuatf thanks for checking that. I wasn't sure if it was already implemented because it still wasn't triggered on Tracks. I'm assuming that this event wasn't tested yet.

[2020-01-23 17:23] jeffstieler commented on #3610
Pretty quick to get a PoC in place:

Core PR, based on WCA-in-core: https://github.com/woocommerce/woocommerce/compare/try/add-wc-admin...try/wc-admin-e2e-test

Local PR, adding test: https://github.com/woocommerce/woocommerce-admin/compare/try/downgrade-autoloader...try/puppeteer-test-run-in-core

The downside here is that the E2E tests can only be run from the core repo and have to be committed

[2020-01-24 02:09] #3597 closed

[2020-01-24 02:10] #3604 closed

[2020-01-24 02:11] #3601 closed

[2020-01-24 08:59] joshuatf commented on #3606
Thanks for reporting this, @rodrigoprimo!  Will put out a fix for this and refactor to use the `TextControlWithAffixes` component.

[2020-01-24 11:35] ciszere commented on #3592
Hello again,

1. Im not an programer so I dont know what to do with that code :)
2. Yes i have disable ALL plugins except Woocommerce and Wocommerce Admin
and they still dont work
3. Yes i say an other user that had the same issue so yes. As soon as i
update an order there will be an scheduled action. I have tried to delete
all but it doesent help.

Best regards,
Med vänlig hälsning,
Johan Forsber

[2020-01-24 12:04] pmcpinto commented on #3467
Hey @joshuatf I just tested it in a brand new store and I'm getting the automated taxes message, so it's working smoothly.

[2020-01-24 16:34] jom opened #3624 "PHP warning `A non-numeric value encountered` on order import"
**Describe the bug**
During the _Import Historical Data_ process, PHP warnings are thrown.

**To Reproduce**
Steps to reproduce the behavior:

1. Create products that don't use shipping.
1. Place orders.
1. Run the _Import Historical Data_ tool for a date range that includes those orders.
1. See `A non-numeric value encountered` for line `36`:

https://github.com/woocommerce/woocommerce-admin/blob

[2020-01-24 17:03] rrennick commented on #3624
@jon Thanks for the report :)

[2020-01-24 19:22] pmcpinto opened #3625 "Onboarding - customizing appearance - homepage template: "go shopping" button doesn't work"
**Describe the bug**
Nothing happens when I click on the "Go shopping" button that we display on the homepage that's created during the onboarding. I'm having the same problem with the 2 homepage templates: single product and multiple products.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a store with the new onboarding
2. Visit the Customize Appearance task in the task list
3. Cli

[2020-01-24 19:40] pmcpinto opened #3626 "Onboarding - customizing appearance - homepage template: small improvements in the layout"
1. We should remove the widgets displayed in the sidebar, so the page looks more a shop homepage and the most relevant content is full width. This should be applied on both homepages: single product and multiple products:

- The current layout with the widgets: https://d.pr/i/Fg7AlZ
- Just for reference, the homepage that's currently implemented with Storefront looks cleaner, as it doesn't contain

[2020-01-24 20:36] timmyc opened #3627 "Navigation: Entities Being Encoded in Breadcrumbs"
**Describe the bug**
When viewing the _Accounts & Privacy_ tab in WooCommerce Settings, the page title in the breadcrumbs includes an `&amp;`:

![image](https://user-images.githubusercontent.com/22080/73102003-c7c00e80-3ea5-11ea-82fa-a45d00f8c44e.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Visit `wp-admin/admin.php?page=wc-settings&tab=account` with wc-admin installed

**Expected b

[2020-01-24 20:37] timmyc commented on #3627
Assigning this one to @octaedro as a good first bug to fix :)

[2020-01-24 21:18] timmyc opened #3628 "Activity Panels: W Notice Panel Causing css issues"
**Describe the bug**
When wc-admin is active, admin alerts created by Jetpack, and WooCommerce are getting some css-bleed.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a test site on jurassic.ninja
2. Install WooCommerce Services
3. Connect Jetpack
4. Note the JITM message for WCS, and the nudge to use the onboarding wizard look normal:

<img width="1132" alt="Orders ‹ Tasty Sting

[2020-01-27 11:19] pmcpinto opened #3630 "Onboarding - theme selection step: WC support label on Twenty Twenty theme"
Currently in the theme selection step, we display an alert message saying that the Twenty Twenty theme doesn't support WC. That alert message should be removed as the theme is compatible with WC, the 3.8.1 release was mostly focused on compatibility improvements: p6q8Tx-1m3-p2

Is it possible to confirm if this is a problem on our side? Maybe it's an issue on the theme. Thanks

<img width="1440" a

[2020-01-27 17:11] pmcpinto opened #3631 "Onboarding - industry selection step: add CBD as an industry type"
We need to add CBD as an option in the Industry step (2nd step of the Profiler) in order to have a sense of how many CBD focused stores are being created. It can be placed before "Other". In terms of copy it should be: CBD and other hemp-derived products

https://d.pr/i/Wf7g4N

We should also display an optional input for when the user selects "Other", so we can have a clear picture of what other

[2020-01-28 00:41] Krammig commented on #2454
Same issue here now.

`Notice: Undefined index: /wc/v4/data/countries in C:\Inetpub\vhosts\mysite.com\httpdocs\wp-content\plugins\woocommerce-admin\includes\class-wc-admin-loader.php on line 524

Notice: Undefined index: /wc/v4/reports/performance-indicators/allowed in C:\Inetpub\vhosts\mysite.com\httpdocs\wp-content\plugins\woocommerce-admin\includes\class-wc-admin-loader.php on line 524

Notice:

[2020-01-28 02:33] joshuatf commented on #3592
Hey @ciszere

Ok, no problem.  I can try and help you out without errors enabled; it just may take a bit longer to find the issue.

update an order there will be an scheduled action.

So you do so those actions in there as `pending`, but they never run, is that right?  A few more things we can check to limit down what's happening:

* When you check scheduled actions, are there a large number of pe

[2020-01-28 02:35] joshuatf commented on #3625
@pmcpinto I think this might be left open-ended for the user to set up.  Do you think we should link it to the `Shop` page by default?

[2020-01-28 10:28] pmcpinto commented on #3625
I think it would be better to default the link to the shop page and then the user can change it, instead of leaving it blank.

I tested the onboarding flow ~10 times or more and just in one the last tests I noticed that the link was empty. Considering that all the other buttons on the homepage have a link to products or categories by default, I was expecting to have the same for the "go shopping"

[2020-01-28 15:00] pmcpinto opened #3633 "Onboarding: business step: add Google Ads extension install"
We'll need to add an option to install [Google Ads](https://woocommerce.com/products/google-ads/) in the business step, similar to what already happens with FB and MC.

This should be included in the next development cycle, so we can already display this option in the onboarding before Q1 ends.

Title: “Drive sales with Google Shopping”
Description: “Get in front of new customers on Google and sec

[2020-01-28 15:03] rrennick commented on #3592
If a number of plugins were updated then it's possible that one of the updates is causing a cron job to fail and leave that job at the beginning of the cron queue which effectively disables cron. That would cause AS actions to remain in the pending list.

[2020-01-28 15:14] rrennick commented on #2454
@Krammig Which version of WC Admin are you using? Are you using a mobile app? The reason I ask is that the those end points haven't been used in the last few versions of WC Admin.

[2020-01-28 15:37] #3600 closed

[2020-01-28 16:28] pmcpinto opened #3634 "Onboarding - Business details step: improve event tracking prop"
We provide 5 options in the `Currently selling elsewhere?` field but it seems that in the event tracking prop `already_selling` we only track true and false. It would be more accurate if we have a specific value in that prop for each option that we display.

[2020-01-28 16:54] #3606 closed

[2020-01-28 17:12] #3566 closed

[2020-01-29 11:15] senadir commented on #3610
@jeffstieler how about simply copying the code from WC Core to WC Admin until the code in WC Core gets exposed as a package?

[2020-01-29 14:47] #3564 closed

[2020-01-29 15:05] jeffstieler commented on #3610
@senadir I was first going down a route that would let us run the tests using the core setup without copying files because that will likely lead to a messy cleanup later. A current roadblock to making this smooth for local dev environments is an issue with node module resolutions over symlinks.

Ultimately we could just copy all of the e2e/docker files from core.

[2020-01-29 20:07] Aljullu opened #3642 "SearchListControl has wrong parent-child roles relationship"
**To Reproduce**
1. Install the Axe extension ([Firefox](https://addons.mozilla.org/en-US/firefox/addon/axe-devtools/), [Chrome](https://chrome.google.com/webstore/detail/axe-web-accessibility-tes/lhdoppojpmngadmnindnejefpokejbdd)) so you can do quick accessibility analyses.
2. Go to _WooCommerce_ > _DevDocs_ > scroll down to _SearchListControl_ > press _Toggle loading state_.
3. Go to the _Axe_ t

[2020-01-30 06:50] joshuatf opened #3643 "Tracking onboarding enabled sites"
**Describe the bug**
There are a few issues with how we track sites that have new the new onboarding experience enabled:
* The event `wcadmin_onboarding_toggled` is prefixed with `wcadmin` so it becomes `wcadmin_wcadmin_onboarding_toggled`
* Currently the event is only recorded when the `Onboarding::enable_onboarding()` method is hit.  We should change this to watch for updates to the `woocommerce

[2020-01-30 07:04] joshuatf opened #3644 "Onboarding: Not enough data in tracks to determine progress"
**Describe the bug**
In determining whether someone has started the profiler, how far they got, and if they completed it, we have a few shortcomings with our current tracking methods.

Check out the https://github.com/Automattic/looker/pull/531 branch to see more.

### Start
We're currently using `storeprofiler_welcome_clicked` to determine if the profiler was started.  This may not be accurate if

[2020-01-30 10:47] pmcpinto commented on #3644
Hey @joshuatf it's great to have you taking a look at our event tracking performance. I have a couple of questions:

But if the user skips the step we won't trigger the usage tracking auth message, so we're not tracking them, correct? Or maybe I'm missing something here.

I'm assuming that a step is completed when they click "continue" or "complete/proceed". Your idea is to include an event for an

[2020-01-30 14:26] Aljullu opened #3647 "SearchListControl: selected tags should be in a list"
The list of tags shown in the SearchListControl should be wrapped with `<ul>` and `<li>` tags, to make it easier to navigate them with a screen reader.

![imatge](https://user-images.githubusercontent.com/3616980/73457596-2db00880-4374-11ea-8c28-d7695a47d7e7.png)

The screenshot is from WC Blocks but the relevant code is in this repo: https://github.com/woocommerce/woocommerce-admin/blob/master/pa

[2020-01-30 15:09] rrennick opened #3648 "Onboarding enable needs to be backward compatible"
**Describe the bug**
https://github.com/woocommerce/woocommerce/pull/25527 adddresses a redirect issue which takes the user to the new dashboard instead of the onboarding profiler. We need to add a backward compatibility fix here for sites running prior versions of WooCommerce.

[2020-01-30 17:27] daigo75 commented on #2345
Thanks for the progress. That will present an interesting challenge: how to create a module on an environment without NPM, and without knowledge of Gutenberg blocks or React. 😅

[2020-01-30 18:18] AleThompson opened #3649 "WB"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2020-01-30 19:37] rrennick commented on #3649
@AleThompson I'm going to close this as you have provided no information. If you do have an issue to report, please create a new one and fill out the issue template.

[2020-01-30 19:37] #3649 closed

[2020-01-30 22:18] rrennick commented on #3648
#3651 seems to address this one.

[2020-01-30 22:18] #3648 closed

[2020-01-31 00:47] lukecav opened #3652 "Will an admin nag show if WooCommerce Admin plugin is active in order to WooCommerce to upgrade"
Will the WooCommerce Admin featured plugin need to be deactivated or deleted in order for the WooCommerce Admin features in WooCommerce 4.0 to work correctly?

Will an admin nag show to remind users to deactivate and delete the plugin for WooCommerce Admin since it no longer needed?

[2020-01-31 07:51] nuvoPoint opened #3654 "A non-numeric value encountered"
We see this warning multiple times a day:

PHP Warning: A non-numeric value encountered in wp-content/plugins/woocommerce-admin/src/API/Reports/Products/DataStore.php on line 428

[2020-01-31 13:25] rrennick commented on #3654
@nuvoPoint Thanks for reporting this.

[2020-01-31 13:40] rrennick commented on #3652
@lukecav We will implement arbitration similar to Action Scheduler, Woo Product Blocks, and Woo REST API to determine which version should be active.

There will be something for that. Because there is a wide range of earlier versions still active, how this is handled is likely to vary by version range. As with the above mentioned plugins, sites will be able to install/use the latest version of th

[2020-01-31 13:40] #3652 closed

[2020-01-31 14:07] lukecav commented on #3652
@rrennick

Thank you.

[2020-01-31 14:36] ciszere commented on #3592
Hello Ron,

I have tried the action Schueder 3.0 but it still does not work. Maybe it's
just easier if you get my login credentials and look for your self? :)

Best regards,
Med vänlig hälsning,
Johan Forsberg, Founder

Phone: +46 768 08 82 32
Ciszere AB
Org.nr 559052-7346
www.ciszere.se

*Sent with Shift
<https://tryshift.com/?utm_source=SentWithShift&utm_campaign=Sent%20with%20Shift%20Signature&

[2020-01-31 16:27] pmcpinto opened #3657 "Onboarding - payments task: filter payment gateways if the user selects CBD"
With the introduction of CBD as an option in the Industry type (#3631), we'll need to filter the payment gateways that we show, considering the Square is the only one that supports CBD (p2y3YZ-3M0-p2). So if the user has Jetpack and WCS installed, selected US as a country and CBD as industry type we should display Square as the main payment gateway. In this case, we can install the plugin but we a

[2020-01-31 16:47] pmcpinto opened #3658 "Onboarding - business step: add more options in the competitors list and other fixes"
- We should add the following additional options when the user selects that he's selling on another platform:
Amazon
eBay
Etsy
Squarespace
They should be displayed before the "Other" option

- If the user selects "Other" we should display an option input field, in order to allow him to name the platform that he's using.

- In the first question of this step, we have significant % of users saying t

[2020-01-31 18:20] rrennick commented on #3592
Github is for reporting bugs vs support. You can manually run actions in the Tools -> Scheduled actions screen. There is an action link that's visible when you hover over the action.

If you are a WooCommerce.com customer you could contact support at https://woocommerce.com/contact-us/.

[2020-02-02 03:39] EBolt opened #3697 "Orders not showing in WooCommerce Analytics Graphs"
**Describe the bug**
The order doesn't send an automatical emails notice to let us know that we got an order.

The order doesn't show in the WooCommerce Analytics graphs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'WooCommerce Analytics'
2. Click on 'Daily Orders'
3. Scroll down to 'look at the graph'
4. See error... it says $0 orders or sales, but when you go to WooCommerce order

[2020-02-02 22:24] extrapixel opened #3659 "Posts of type "wc_admin_unsnooze_admin_notes" are created every hour."
This fills up the posts table. Why? Plugin unusable because of this.

[2020-02-02 22:27] extrapixel commented on #3659
plus thousands and thousands of comments by "ActionScheduler".... uninstalled.

[2020-02-03 03:37] psealock opened #3661 "Settings Refactor: Split wcSettings and use wp.data"
## The Problem

Individual bits of wcSettings data are unrelated and rely on different endpoints for manipulation, each with their own requirements for storage and persistence.

More info in p90Yrv-1uN-p2

Attempts to add wp.data stores for settings in #3313 and #3581 have made great progress, but until the core problem described above is resolved, those efforts will stall.

## The Plan

This is a

[2020-02-04 13:39] vedanshujain opened #3663 "[Performance] Use caching to check if someone has physical products"
**Describe the bug**
Query used to fetch data in https://github.com/woocommerce/woocommerce-admin/blob/master/src/Features/OnboardingTasks.php#L174 is pretty heavy. For egs, in my setup of 10k products, I am getting these results:

[code]

As you can see, 300ms for every page refresh while on WooCommerce related admin screens is quite impactful. This query will be slower depending upon how many pr

[2020-02-04 13:47] vedanshujain opened #3664 "[Performance] Use caching to see if there are out of stock products"
**Describe the bug**
Similar to #3663, looks like we also query to see if there are any out stock product to determine if we want to show a notification bell in Stock tab button. This query is also quite heavy, for egs:
[code]

This is not as bad as #3663 though because query is async after the page is loaded. That said, this will still hammer DB of our large users. We should cache this query.

**

[2020-02-04 19:04] amandasjackson commented on #3416
Hey @timmyc sorry I missed replying to the ping above! I see you have been working through this with @meloyelo51 but it looks like we did not get login access in time. Please let me know if there is anything further I can do to help.

[2020-02-04 20:54] melek opened #3665 "Filter Products based on Variation Attributes"
**Is your feature request related to a problem? Please describe.**
We use highly structured variable products in our shop, and reporting on sales by attribute terms requires manually counting up the sales of every product variation matching the attribute term. This is onerous.

Imagine a 'Book' product with 'Paperback' and 'Ebook' variations. If you want to report on ebook sales you cannot use the

[2020-02-04 22:43] danielbitzer opened #3666 "Date format does not appear to be localized"
**Describe the bug**
When viewing tables in WC Admin dates seem to always be formatted as `MM/DD/YYYY`.

**To Reproduce**

1. Go to change store address to an Australian address in WooCommerce > Settings > General
2. Go to Analytics > Orders
3. View order **Date** column
4. Dates will be still in US format.

**Expected behavior**
Date format should be localized for the store's region as in WooComm

[2020-02-04 22:49] timmyc commented on #3416
Thanks @amandasjackson, indeed I have worked with them directly to resolve the issue, but forgot to close the loop here. Essentially, it appears their install of woo core was missing some of the built JS files from the Woo Blocks package which wc-admin requires to interact with Woo settings. Re-installing Woo fixed the problem.

[2020-02-04 22:49] #3416 closed

[2020-02-04 22:57] meloyelo51 commented on #3416
Yes, thank you all for the help.

The reinstall itself didn’t actually fix it…but the work around was using the alternate wp-cron function as we think it was being blocked by hosting plan.

From: Timmy Crawford <notifications@github.com>
Sent: Tuesday, February 4, 2020 5:50 PM
To: woocommerce/woocommerce-admin <woocommerce-admin@noreply.github.com>
Cc: meloyelo51 <meloyelo51@aol.com>; Mention <men

[2020-02-04 23:12] psealock commented on #3666
Thanks for the issue @danielbitzer. Indeed, dates on tables are set to the default instead of a site setting.

[2020-02-04 23:57] timmyc commented on #2345
@daigo75 let us know if we can help at all - I'm on Woo slack `@timmyc` feel free to reach out there or via email

[2020-02-05 00:00] timmyc commented on #3416
Hey @meloyelo51 - indeed there were a couple of different problems at play on your setup. The first though, the error detailed here was resolved by re-installing WooCommerce core, the other issue that you noted above around the job queue not being run definitely seemed to be something with the hosting setup.

[2020-02-05 00:02] meloyelo51 commented on #3416
Ahh yes, I totally forgot about the original problem lol

From: Timmy Crawford <notifications@github.com>
Sent: Tuesday, February 4, 2020 7:01 PM
To: woocommerce/woocommerce-admin <woocommerce-admin@noreply.github.com>
Cc: meloyelo51 <meloyelo51@aol.com>; Mention <mention@noreply.github.com>
Subject: Re: [woocommerce/woocommerce-admin] Dashboard blank Uncaught TypeError: Io.filter is not a functio

[2020-02-05 15:50] #3654 closed

[2020-02-05 19:35] #3627 closed

[2020-02-06 12:28] larssn opened #3676 "Delete button missing from settings if you've never imported anything"
**Describe the bug**
https://github.com/woocommerce/woocommerce-admin/pull/1291#issuecomment-579291373

The delete button is simply missing when you've never used the import button yet.
So you can't delete non-imported data, without importing first, and then deleting (except via REST of course).

**To Reproduce**
Check a fresh install.

PS.
Sorry I don't have time to fill out the rest of the field

[2020-02-06 22:08] rrennick commented on #3676
The import is for importing analytics data into analytics lookup tables vs importing WooCommerce data. A fresh install does not have any analytics data to delete.

[2020-02-06 22:08] #3676 closed

[2020-02-07 13:11] rynaldos opened #3678 "Enabling and disabling the new onboarding wizard options results in blank pages."
**Describe the bug**

In short, when the new on-boarding experience is enabled here:

<img width="780" alt="Screen Shot 2020-02-07 at 14 57 03" src="https://user-images.githubusercontent.com/6198774/74031580-93c30e00-49ba-11ea-8d50-beb9052936b6.png">

Then the page refreshes to a blank page.

You will then need to navigate back to the setup wizard, where you'll see the following:

<img width="558"

[2020-02-07 17:04] rrennick commented on #3678
@rynaldos Thanks for reporting this. Can you provide us with context with versions, new/existing install, etc.?

[2020-02-07 17:27] rynaldos commented on #3678
Howdy @rrennick :)

Absolutely.

This is a clean install WP v5.3.2, WC v3.9.1, WC Admin v0.24.0, and Storefront theme v2.5.3 on local MAMP setup (if that makes a difference).

Please shout if anything else is needed.

[2020-02-07 17:29] rynaldos commented on #3678
Sorry. Original report here: 2676070-zen

[2020-02-07 17:52] rrennick commented on #3678
Can you see about updating WC Admin to the latest version?

[2020-02-07 17:53] rynaldos commented on #3678
Yes, will have a quick look and see if the issue persists. The new version wasn't available when the issue surfaced :)

[2020-02-07 18:00] rynaldos commented on #3678
@rrennick

Wonderful! v0.25.0 works like a charm! Was this a known issue?

[2020-02-07 20:49] rrennick commented on #3678
@rynaldos Awesome, I'll close the issue. There were a few things we fixed related to ensuring the various methods of starting/re-starting the onboarding worked correctly.

[2020-02-07 20:49] #3678 closed

[2020-02-07 22:00] Aljullu opened #3682 "Report table filter shows 'all that include' option even when the input field is empty"
**To Reproduce**

1. Go to the _Customers_ report, for example.
2. Click on the _Search by customer name_ input field.
3. Notice an option appears in the dropdown.
4. Clicking it doesn't change anything and the text (_All customers with names that include_) looks a bit weird.

**Expected behavior**
If there isn't any text in the input field, I think the 'all that include' option shouldn't appear.

[2020-02-07 22:11] Aljullu opened #3683 "Import Historical Data select text is not correctly aligned"
**To Reproduce**
1. Go to _Analytics_ > _Settings_ and scroll down to the _Import Historical Data_ section.
2. Notice the `<select>` text is not correctly aligned. I could verify both with Firefox and Chrome under Linux.

**Expected behavior**
Adding `line-height: 1` seems to fix it.

**Screenshots**
![imatge](https://user-images.githubusercontent.com/3616980/74069597-09e96400-49ff-11ea-8390-bd448

[2020-02-08 23:56] #3368 closed

[2020-02-10 04:39] edmundcwm commented on #3683
I can look into this!

[2020-02-10 11:40] juliaamosova opened #3689 "[4.0 beta1]: New OBW: Can't click on little red alert next to the existing theme on the theme selection step"
**Describe the bug**

Testing 4.0 beta1 pre-public release. New OBW: Can't click on a little red alert next to the existing theme on the theme selection step.

**To Reproduce**

Steps to reproduce the behavior:

1. Start new OBW;
2. On the theme selection screen try to click on the red alert next to `Twenty Twenty` - it looks like something is not right with it so there is a need to know what exac

[2020-02-10 11:46] juliaamosova opened #3690 "[4.0 beta1] New OBW: Can't select Storefront theme (or any other theme?) on the theme selection step"
**Describe the bug**

Testing 4.0 beta1 pre-public release. New OBW: Can't select Storefront theme (or any other theme?) on the theme selection step.

**To Reproduce**

Steps to reproduce the behavior:

1. Start new OBW;
2. On the theme selection screen, try to select Storefront and observe the error: `The response is not a valid JSON response`:

![](http://g.recordit.co/HRqDgmcA2c.gif)

3. Try se

[2020-02-10 11:51] juliaamosova opened #3691 "[4.0 beta1] New OBW: Can't seem to always move passed the first step in new OBW"
**Describe the bug**

Testing 4.0 beta1 pre-public release. New OBW: Can't seem to always move passed the first step in new OBW.

**To Reproduce**

Steps to reproduce the behavior:

1. I tested on a brand new Jurassic Ninja and I was selected randomly to be a part of new OBW (didn't have to use a snippet to enable it).
2. Click on `Get started` and observe an error: `There was a problem updating y

[2020-02-10 12:04] juliaamosova opened #3692 "[4.0 beta1] New OBW: Tax doesn't get enabled when selected to be automatically setup via Tax Task"
**Describe the bug**

Testing 4.0 beta1 pre-public release. New OBW: Tax doesn't get enabled when selected to be automatically setup via Tax Task.

**To Reproduce**

Steps to reproduce the behavior:

1. Go through the new OBW;
2. Make sure to select to proceed with WooCommerce Services activated on the site during OBW:

![Screen Shot 2020-02-10 at 11 26 47 AM](https://user-images.githubusercontent

[2020-02-10 12:42] juliaamosova opened #3693 "[4.0 beta1] New OBW: formatting of the text in the tracking pop-up window is off"
**Describe the bug**

Testing 4.0 beta1 pre-public release. The formatting of the text in the tracking pop-up window is off. It doesn't happen all the time.

**To Reproduce**

Steps to reproduce the behavior:

1. Start new OBW;
2. Click on the `Get started` button. Note that the formatting of the text in the tracking pop-up window is off (the font seems to be different and no padding between lines

[2020-02-10 12:47] juliaamosova opened #3694 "[4.0 beta 1] New OBW: Not able to select any other payment methods other than Stripe & PayPal"
**Describe the bug**

Testing 4.0 beta1 pre-public release. New OBW: Not able to select any other payment methods other than Stripe & PayPal. Not sure if this is intentional hence reporting.

**To Reproduce**

Steps to reproduce the behavior:

1. Start new OBW;
2. On the task list, select to `Set up payments`:

![paymnt1](https://user-images.githubusercontent.com/19143190/74151025-23f39400-4c03-11

[2020-02-10 13:00] juliaamosova opened #3695 "[4.0 beta1] New OBW: Can't use `wp-admin/admin.php?page=wc-setup` to later go back to the OBW"
**Describe the bug**

Testing 4.0 beta1 pre-public release. New OBW: Can't use `wp-admin/admin.php?page=wc-setup` to later go back to the OBW. Not sure if this is intentional so reporting.

**To Reproduce**

Steps to reproduce the behavior:

1. Go through new OBW;
2. After completing it, try to append `wp-admin/admin.php?page=wc-setup` to go back to the beginning of OBW;
3. You don’t get to the be

[2020-02-10 13:26] rrennick commented on #3695
@juliaamosova To go back to the onboarding use WooCommerce -> Status -> Help -> Setup Wizard.

[2020-02-10 14:29] pmcpinto commented on #3694
Hey @juliaamosova thanks for your feedback. This option was intentional, but we're considering changing it, in order to allow users to install offline payments (#3461).

@jameskoster, I think this should be considered in your revision of the payments step. Sounds good?

[2020-02-10 15:54] juliaamosova commented on #3695
Thanks @rrennick! I didn't try `WooCommerce -> Status -> Help -> Setup Wizard` but I see now that it works indeed.

I thought adding `wp-admin/admin.php?page=wc-setup` was also possible though since it is currently possible with the older onboarding.

[2020-02-10 15:55] juliaamosova commented on #3694
Thanks @pmcpinto! Feel free to close my issue in favor of previously submitted. My bad for not checking.

[2020-02-10 16:11] pmcpinto opened #3696 "Documentation: new onboarding"
Create documentation outlining the most important steps in the new onboarding, how the user can reset it and so on.

[2020-02-10 16:55] jameskoster commented on #3694
I covered this in my latest design revisions. We have a chat tomorrow to discuss further. Will share here when we settle on a direction.

[2020-02-11 13:55] corsonr opened #3698 "[4.0 beta1] Stripe keys format not checked in tasks list"
**Describe the bug**

The Stripe keys format isn't checked in the tasks list

![](https://d.pr/i/1MUZmX+)

**To Reproduce**
Steps to reproduce the behavior:
1. Enable tasks list
2. Go to WC dashboard
3. Hit "Set up payments"
4. Enable Stripe
5. Enter invalid Stripe keys and proceed

**Expected behavior**

I'm sure that keys format shouldn't be checked to avoid any human error when copy pasting the

[2020-02-11 15:24] octaedro opened #3699 "Report table filter has an error adding a new term"
**To Reproduce**
1. Go to `Analytics > Customers`
2. Make a search with a valid term, e.g. a registered user's name.
3. Add another term to the search.

I tried to repeat the steps by searching for an unregistered name instead, and the terms were added successfully.

**Expected behavior**
It should add the new term to the search queue but is not happening.

**Screenshots**
![Screen Capture on 2020

[2020-02-11 19:24] timmyc commented on #3657
Given our discussion today about moving the Jetpack connection flow, does that have any impact on this task?

[2020-02-11 19:26] timmyc commented on #3634
Pedro is `false` okay to send if no selection is made on the step? At least that would be congruent with the current data being collected.

[2020-02-11 19:27] timmyc commented on #3633
I feel like this will be a `1`, but estimating at `2` just in case we encounter any oddness with the plugin install flow.

[2020-02-11 19:28] timmyc commented on #3630
Pretty sure this alert is displayed based upon the theme itself declaring support for WooCommerce. So thinking this issue will just be to install v 3.8.1 or newer of the theme, and confirm that the alert is no longer shown.

[2020-02-11 19:29] timmyc commented on #3596
Do we have a logo to display for Payfast?

[2020-02-11 19:31] timmyc commented on #3470
I'll be interested to see how many reports of this pop up during 4.0 testing. If not, I say we close this out.

[2020-02-11 19:33] rrennick commented on #3630
WC core adds theme support for the WP default themes. Versions of WC older than the original release of the default theme won't support that theme.

[2020-02-11 19:54] rrennick commented on #3630
If we were going to add the support for older versions of WC we would need to back port the compatibility code in WC - https://github.com/woocommerce/woocommerce/tree/master/includes/theme-support. I'm recommending we close this one.

[2020-02-11 23:53] timmyc opened #3701 "Exception Email from 0.25.1"
**Describe the bug**
@warrendholmes forwarded an email to me with an exception report from one of his sites, the error trace is as follows:

=============
An error of type E_ERROR was caused in line 35 of the file /srv/htdocs/wp-content/plugins/woocommerce-admin/src/Notes/WC_Admin_Notes_Onboarding_Email_Marketing.php. Error message: Uncaught Error: Undefined class constant 'PROFILE_DATA_OPTION' in

[2020-02-12 02:25] psealock commented on #3666
Here is an example of how we've handled internationalization of date formats:

https://github.com/woocommerce/woocommerce-admin/blob/859d050142de002fb41962f04a8c0887cb28baae/packages/components/src/advanced-filters/date-filter.js#L24-L25

Those data format strings can be translated before being interpreted by moment.js. Here is an example of Spanish translations: https://translate.wordpress.com/pr

[2020-02-12 09:50] jameskoster commented on #3657
Sorry if I'm missing something, but why does Jetpack / WCS need to be installed for us to suggest Square?

[2020-02-12 11:01] pmcpinto commented on #3596
@timmyc we already display PayFast in the existing onboarding, so I'm assuming that we already have it. Let me know if I need to ask for it to the partnerships team.

[2020-02-12 12:03] pmcpinto commented on #3694
@juliaamosova, no worries. I'm going to close this one. Thanks again for your feedback

[2020-02-12 12:03] #3694 closed

[2020-02-12 12:04] pmcpinto commented on #3657
Yep, I think it won't have any impact on this task.

[2020-02-12 12:35] pmcpinto commented on #3634
Hey Timmy, they're required to select a value if they want to proceed to the next step. So it would be better to display the options as values of this prop:
No
Yes, on another platform
Etc

Makes sense?

[2020-02-12 12:37] pmcpinto commented on #3630
Ok, so this will only show in older WC versions, correct?

[2020-02-12 12:43] rrennick commented on #3630
@pmcpinto Right, older than 3.8.1.

[2020-02-12 17:02] pmcpinto opened #3708 "Onboarding - customize appearance: remove redirect to edit the homepage post"
A significant % of users are dropping in this task after being redirected to edit the homepage post. So as a workaround we should allow them to create a homepage, as it is right now, but keep them in the task instead of redirecting them to the post editor.

We also need to add an event tracking to the new snackbar that displays the link to customize the homepage. It should be triggered when the us

[2020-02-12 17:52] pmcpinto opened #3709 "Onboarding - store profiler: change JP and WCS screen placement"
Currently having this screen as the welcome screen is not producing great results. We think that in terms of experience it will be better if we allow users to fill first information about their store and then giving them the option to install & connect Jetpack and WooCommerce Services. This screen and subsequent install & connect flows should be placed at the end of the Store Profiler. So just to

[2020-02-12 18:05] pmcpinto opened #3710 "Onboarding - payments step: improve flow and include offline payments"
The Payments step is performing poorly and this is probably due to some reasons:
- We don't guide users to set up offline payments, while we still have a significant % of stores that activate and use COD and BACS.
- Showing different payment methods together with the subsequent steps can increase cognitive load and cause some confusion.
- We redirect the user to external websites to set up their a

[2020-02-12 18:17] pmcpinto opened #3711 "Onboarding - task list: improve focus on the task list and allow an option to skip it"
Currently there are a lot of options in the WooCommerce menu that can distract the user and derail him from completing the most important steps to have the store ready. In order to improve the focus on the task list we should:

- Hide all the options in the WC menu and just display the setup option, if the user selects `false` as the value of the event prop `setup_client` in `wcadmin_storeprofiler

[2020-02-12 18:22] pmcpinto opened #3713 "Onboarding: payments step improvements"

[2020-02-12 18:25] pmcpinto opened #3714 "Onboarding: customize appearance step improvements"

[2020-02-13 05:15] #3553 closed

[2020-02-13 11:31] peterfabian opened #3716 "[4.0 beta] Review the image assets bundled with WC Admin"
Currently, WC Admin includes 5MBs of images in the images/onboarding directory, which contributes to the total package size of WC core considerably (total ±12MBs). We need to optimize and remove the unneeded ones.

[2020-02-13 16:01] pmcpinto commented on #3630
Thanks for confirming that. I'm going to close the issue.

[2020-02-13 16:47] pmcpinto commented on #3710
Hey @joshuatf among all the improvements that we planned for the cycle this is probably the most complex one and one of the most important. And this is also going to impact all the other changes planned for the payments step (add PayFast, fine-tune for CBD), I created an epic with all the issues associated with Payments.

So it would be important to have an estimation of how long this issue can ta

[2020-02-13 17:10] timmyc commented on #3716
Thanks @peterfabian this was on my list of to-dos this morning. Here are some thoughts I have on solutions. Since these images are only used in the setup checklist to create starter home page templates perhaps we can:

- Remove them entirely from the repo, and either host them on WPCOM ( not sure of any implications on the .org plugin guidelines here ) or download them to the site only when they a

[2020-02-13 18:47] peterfabian opened #3718 "OBW, step business details styling broken on iPad"
**Describe the bug**
Styling seems broken on iPad during the OBW, please see the screenshot
![image_from_ios](https://user-images.githubusercontent.com/2207451/74466999-95984000-4e98-11ea-894c-3a5379cfe824.png)

WC 3.9.2
WCA 0.25.1
WooCommerce Services 1.22.3

**Additional context**
p1581618045076800-slack-proton

[2020-02-13 18:55] timmyc commented on #3695
thanks for the detailed report @juliaamosova - I _think_ this is working as "designed" right now, which definitely is a bit different from the classic OBW. @pmcpinto any thoughts here? If someone wants to re-use the OBW they have to reluanch it via the help menu as Ron pointed out above... should we allow re-launching it via directly entering the `wp-admin/admin.php?page=wc-setup` URL?

Outside of

[2020-02-13 18:56] timmyc commented on #3693
@pmcpinto given some of @jameskoster's latest designs on changes to the OBW, this modal window is going away soon ( it will just become a checkbox on the first step of the profiler ), so thinking this isn't a critical bug to fix right now if we don't have time for it. Also it isn't always reproducible it seems

[2020-02-13 18:57] timmyc commented on #3692
@joshuatf could this possibly be related to the cache issues?

[2020-02-13 19:00] timmyc commented on #3665
@melek thanks so much for the feature suggestion. Tagging @pmcpinto for thoughts.

[2020-02-13 19:01] timmyc commented on #3611
Closing this out p90Yrv-1zf-p2

[2020-02-13 19:01] #3611 closed

[2020-02-13 20:00] joshuatf commented on #3695
This does appear to be working as designed since the dashboard and new OBW share the same page/URL currently.

I think it probably is as well since most users probably won't be repasting the URL, but I'm open to looking into other places to place the option to toggle the profiler/task list and make them more visible.

[2020-02-13 20:02] joshuatf commented on #3691
Thanks for noting this issue, @juliaamosova!

I haven't been able to recreate this on a JN site yet, but let's keep it open to see if it pops again or others chime in.  How often does this happen in your testing?

[2020-02-13 20:16] joshuatf commented on #3693
@juliaamosova Are you able to sometimes reproduce this on the same site after refreshing?  So far, I haven't had any luck in recreating it.

Are there any other plugins you have active besides WC when this occurs?

[2020-02-13 20:20] joshuatf commented on #3692
@timmyc Probably not since the caching issue we ran into before only affects getting, but POST requests to update data _usually_ works as expected.

Will test this one more tomorrow- having a little trouble with Jetpack on JN sites at the moment.

[2020-02-13 20:24] joshuatf commented on #3710
@pmcpinto Gotcha.  In addition to the estimation, do you want to prioritize this issue over the others since it sounds like a high priority item?

[2020-02-13 20:30] joshuatf commented on #3689
@juliaamosova The little red circle with the info icon is used to show which themes don't have WC support.  It should show a tooltip when hovering over it.  Does this not work for you?

* Do you have other plugins installed besides WooCommerce?
* Does this happen when you try a different browser? (I'm wondering if there are any browser extensions that may be interfering)

[2020-02-14 03:36] psealock commented on #3692
I can reproduce this one using Ephemeral sites

[2020-02-14 03:54] becdetat commented on #3599
Hi @ajgw. I'm having trouble reproducing this. Can you share a screenshot?

[2020-02-14 07:40] ajgw commented on #3599
Hi @becdetat bug was fixed in 0.25 I think.

[2020-02-14 08:33] joshuatf commented on #3690
@juliaamosova Thanks for taking the time to create this issue.  This sounds like something on your server is may be throwing an error outside of onboarding.

* Can you check and see the network response when this fails under the "Network" tab in Chrome dev tools?
* What other plugins do you currently have active on this site?
* Do you see any other errors being thrown around your site?  If you hav

[2020-02-14 08:37] joshuatf commented on #3692
On second thought, maybe @timmyc's suspicion was correct.  @psealock If you flush the object cache on that site, does that resolve the issue?

[2020-02-14 09:43] pmcpinto commented on #3693
Hey @timmyc,  we need to keep the modal. Actually, we already show it in the "Store details" when the user already has Jetpack & WCS installed (ignore the copy on the screenshot as it's the old copy version):

<img width="1440" alt="Captura de ecrã 2020-02-14, às 09 38 13" src="https://user-images.githubusercontent.com/3380168/74519640-0299ed00-4f0e-11ea-8315-53e76af85d35.png">

The part in the

[2020-02-14 09:59] pmcpinto commented on #3695
Thanks for the feedback @juliaamosova

I agree that this looks more as an edge case and I'm assuming that most users won't be using the url to go back to the profiler.

I think we should keep it in the backlog to evaluate in the future if it makes sense to place the option to return to the store profiler in another place. We have some data showing that a small % of users is doing this in the curre

[2020-02-14 10:09] pmcpinto commented on #3710
Hey @joshuatf, yes that would be great. I think the issues associated with the payments step and moving the Jetpack/WCS step to a different place are the most important ones, as they seem to be the most complex among all the improvements that we would like to make during this cycle.

But pls take a look at all the onboarding issues identified for this cycle, try to give just a rough estimation on

[2020-02-14 10:12] pmcpinto commented on #3470
It seems that this is also happening in the existing onboarding: [#25651](https://github.com/woocommerce/woocommerce/issues/25651)

[2020-02-14 10:23] pmcpinto opened #3720 "New Onboarding: bug fixing for 4.0"
Creating an epic to easily keep track of all the bugs that we're fixing for 4.0

[2020-02-14 10:41] joshuatf commented on #3718
Thanks for noting this issue, @peterfabian!

I tried to reproduce this on an iPad 4 and iPad Pro via BrowserStack as well as Safari's iPad user agent without any luck.

Could you let me know which version this was found on?

Were the new Jetpack `is_staging_site()` errors visible on this page?

[2020-02-14 16:45] joshuatf commented on #3626
@pmcpinto I think this is going to be very theme dependent and something we don't have much control over.

We could remove all the widgets which may collapse the sidebar (again somewhat dependent on the theme), but this may irritate users who are using those widgets elsewhere.

/cc @rrennick For your thoughts.

Can do.

[2020-02-14 16:58] joshuatf commented on #3711
@pmcpinto We currently use this same event name when the task list is complete and hidden via the "Is this card useful?"

Are we still keeping that prompt?  And if so, maybe we should pass in a prop of `skipped`?

I also feel like this event name is a tad confusing for both scenarios since users may or may not have completed the task list.  It's more indicative of wanting to hide or keep the task

[2020-02-14 17:08] joshuatf commented on #3709
So it looks like in the new design those 3 benefits are always shown and never change- is that right?
/cc @pmcpinto @jameskoster

Note the estimate for this issue does not include the design changes which I'll open another issue for so we can tackle.

[2020-02-14 17:24] #3625 closed

[2020-02-14 18:04] joshuatf commented on #3644
It may be possible that they've already opted in through WCS.  May be a little odd, but checking for any `storeprofiler_*` events covers our bases here.

I agree that this should be when an event is marked complete, however there is no event in place for this yet.  I think we may have been relying on the page view tracking built into WC Admin, but unfortunately this doesn't get tracked since a "pa

[2020-02-14 18:43] rrennick commented on #3626
Definitely. In addition to your points, not all themes implement full width content layout.

I'd recommend against removing the widgets when the user continues with their current theme. If they were switching themes it would probably be okay to remove the widgets.

[2020-02-14 20:53] #3353 closed

[2020-02-14 20:58] #3351 closed

[2020-02-16 23:00] psealock commented on #3692
I flushed the object cache before clicking "Yes, please" and the request to save settings with the following payload returns 🍏 200.

![Screen Shot 2020-02-17 at 11 31 29 AM](https://user-images.githubusercontent.com/1922453/74614084-b357f480-5179-11ea-86df-70923d126f88.png)

I can confirm the option is saved correctly

[code]

But the "Enable tax rates and calculations" settings remains unchecked.

[2020-02-17 01:12] #3666 closed

[2020-02-17 05:16] becdetat commented on #3599
Thanks @ajgw, I'll close this ticket then. Thanks for the report.

[2020-02-17 05:16] #3599 closed

[2020-02-17 09:37] jameskoster commented on #3709
@joshuatf I added situational designs [here](https://www.figma.com/file/nzAjPR4nqdJTDxH32PT4Qg/On-boarding?node-id=0%3A1). One for when neither Jetpack or WCS are present. And one for when WCS isn't present, but Jetpack is.

[2020-02-17 10:20] pmcpinto commented on #3711
@joshuatf, sorry I copied that event name but then I forgot to change it for this user action.

I agree, I think it's better to add a new event instead of adding a prop to the existing one: wcadmin_tasklist_skipped

But instead of not having any prop it would be useful to have the following ones:
- completed_tasks: number of tasks completed
- completed_tasks_names: name of the tasks that were comp

[2020-02-17 10:23] pmcpinto commented on #3626
Ok makes sense. Can we then just remove the widgets on Storefront? It's already happening when they install the Storefront homepage template

[2020-02-17 10:35] pmcpinto commented on #3644
Ok thanks for the clarification. So just to summarize, the idea is to add a loose event for the start step and a completed event for every single step in the profiler and for when all the profiler steps are completed, correct?

[2020-02-17 10:39] joshuatf commented on #3644
I think for our analytics we can just check to see if any `storeprofiler_` events have been tracked (i.e. any step or action has been taken in the profiler so we know they've at least seen the screen).  I think tracking one individual step is a little too risky and may not give accurate results if we start users at different parts of the process.

Yes to both of these.

[2020-02-17 14:21] gbruzzo commented on #3665
Hello there,

We completely support your request - our store is a music store;  products are variations (Vinyl / CD / Download etc), so filtering by variation is absolutely **essential**

Thank you in advance

Giacomo Bruzzo

[2020-02-17 14:33] pmcpinto commented on #3708
Hey @joshuatf, just a heads up that we also need to add an event tracking to the [new snackbar](https://www.figma.com/file/nzAjPR4nqdJTDxH32PT4Qg/On-boarding?node-id=4%3A7336) that displays the link to customize the homepage. It should be triggered when the user clicks to customize: wcadmin_tasklist_appearance_customize_homepage

I'm going to add it to the issue description.

[2020-02-17 15:26] pmcpinto commented on #3644
@joshuatf it could also be useful to have something similar to the task completion:

wc_admin_task_completed
Event prop: task name

What do you think?

[2020-02-17 15:57] octaedro commented on #3631
Hi @pmcpinto, I'm working on this issue and I would like to know what you think about the current behavior
1 - The user presses the `Other` option.
2 - an input appears below the `Other` checkbox
3 - The user inserts a text
4 - The user presses the checkbox `Other` and the input disappears
5 - The user presses the checkbox `Other` again and is able to see the same input again.
6 - Should the input

[2020-02-17 19:44] joshuatf opened #3728 "Onboarding: Add event props to identify stores with WCS and Jetpack installed"
In order to better identify funnel conversions, we should track if the following are active in a store when a task is being viewed via the `wcadmin_task_view` event:

* WCS is installed
* WCS is active
* Jetpack is installed
* Jetpack is active
* Jetpack is connected

This may be soon replaced by global event props, but this is a good temporary solution until that lands.

See p1581956393013000-sla

[2020-02-17 22:33] jeffstieler commented on #3659
This will be resolved when https://github.com/woocommerce/woocommerce-admin/pull/3662 is included in a release.

[2020-02-17 22:33] #3659 closed

[2020-02-17 23:35] becdetat commented on #3596
@pmcpinto I'm starting on this ticket. Is there any copy I should use for the plugin selection screen or should I just use the copy from the plugin?

[2020-02-18 00:58] timmyc commented on #3663
Hmm not sure why this didn't auto-close when the PR merged.

[2020-02-18 00:58] #3663 closed

[2020-02-18 01:09] timmyc commented on #3701
@joshuatf any thoughts on what might have caused this one? Only had the one report of it from @warrendholmes

[2020-02-18 09:30] pmcpinto commented on #3631
Hey @octaedro, I think it will be better to display the text that was thas previously entered by the user.

[2020-02-18 09:35] pmcpinto commented on #3596
Hey @becdetat, considering that we need to implement some changes in this task (#3710), I'm not sure If this issues should be solved before that. What do you think?

cc @joshuatf for any additional feedback.

[2020-02-18 09:39] pmcpinto commented on #3728
@joshuatf sounds good. I think it would be better to also identify is they have the extensions installed.

[2020-02-18 13:29] #3364 closed

[2020-02-18 15:41] peterfabian commented on #3718
cc @beaulebens as he was the one who experienced the problem.

[2020-02-18 16:17] joshuatf commented on #3728
@octaedro Any interest in tackling this issue and adding these event props to `task_view`?

I believe you can find active and installed plugins (and possibly jetpack connection status) preloaded under the onboarding property in the settings global.  `const onboarding = getSetting( 'onboarding', {} );`

[2020-02-18 16:48] joshuatf commented on #3709
One small issue we have updating this flow is that currently the cart modal shows products for purchase on the last step.  But since the last step is possibly sending users to connect Jetpack, they won’t see the cart modal.

Maybe this is a good opportunity to also focus the cart modal efforts in the task list, showing the cart modal after the initial task list welcome modal.  What are your though

[2020-02-18 21:30] beaulebens commented on #3718
I've just tried again, and was able to get it. I'm using Chrome (latest) on an older iPad (2017 model I think), 9.7".

- created a JN site, checked the box to include Woo, left the boxes for debugging messages/logging to be included
- went straight for the "set up Woo" admin notice (not the WCAdmin one)
- got the new flow, worked through everything and said i was going to have physical products on

[2020-02-18 21:31] beaulebens commented on #3718
And I don't know what was different this time, but I actually got stuck at this step completely. When I tried to tap "Continue", I got a snackbar error saying "There was a problem updating your business details." Pretty hard dead end, although I was able to figure out that I could tap the "Theme" option in the progress bar across the top.

[2020-02-18 21:53] joshuatf commented on #3718
@beaulebens I was able to reproduce this issue in Safari when the Jetpack errors are present.
<img width="1649" alt="Screen Shot 2020-02-18 at 10 48 49 PM" src="https://user-images.githubusercontent.com/10561050/74781092-29a34680-52a1-11ea-83f5-35f30490bf45.png">

After deactivating Jetpack, the issue is resolved:
<img width="1655" alt="Screen Shot 2020-02-18 at 10 49 27 PM" src="https://user-imag

[2020-02-18 22:15] octaedro commented on #3657
Hi @pmcpinto,

Currently, to show the Square option we are checking (`selling_venues`) if `Other places the store is selling products` is `brick-mortar` or `brick-mortar-other`.
Should we continue checking this after confirming the industry is `CBD` or we should show the Square option even if the `brick-mortar` or `brick-mortar-other` wasn't selected in `Other places the store is selling products`

[2020-02-19 08:56] jameskoster commented on #3709
Good point. I wonder if we should just skip the connection flow altogether at this stage. Installing the plugins is the main CTA, and we have a prompt to connect during the [tax configuration](https://www.figma.com/file/xyKPRZ73kKhDyNjwbFvBJR/Task-List?node-id=976%3A8660) task.

[2020-02-19 09:44] joshuatf commented on #3709
I'm okay with this as well since we have multiple opportunities to connect later on where needed.  @pmcpinto Any thoughts on this?

[2020-02-19 10:25] pmcpinto commented on #3709
It seems to be the best approach, I'm just not sure about displaying the cart modal right after the welcome modal. I would go with the following:

- Display Jetpack/WCS screen
- Install and activate extensions (skip the connection flow)
- Redirect to the task list and show the welcome modal

We already have a task for finishing the purchase, so I feel that we don't need to show the modal beforehan

[2020-02-19 10:43] pmcpinto commented on #3657
Hey @octaedro,

If the user selects CBD as industry and US as country we should show Square independently of what they choose in `selling_venues`.

If the user selects any other industry we need to continue doing that check to display Square.

Just ta friendly reminder that this redirect should only happen when the user selects CBD as industry and US as country.

yes please.

Lmk if you have more

[2020-02-19 10:54] pmcpinto commented on #3709
I created a funnel and 85% of users that select paid products skipped moving forward to the checkout, so we're ok moving forward with this approach.

Actually we don't have any `true` value for the `purchase_install` prop of `wcadmin_tasklist_modal_proceed_checkout`. @joshuatf can you check if the event tracking is ok and if it's being displayed just in the cart modal displayed in the task list or

[2020-02-19 13:32] joshuatf commented on #3709
@pmcpinto Sounds good on the changes.

It looks like I must have incorrectly set the `purchase_install` prop in the modal previously or broken it somewhere on the way.  Will fix that in the PR for this issue.

[2020-02-19 14:26] pmcpinto commented on #3709
@joshuatf, thanks for the heads up. Pls ping me when the issue in the event tracking is fixed.

[2020-02-19 21:14] yukikatayama opened #3761 "[4.0 beta1] Shipping On boarding UX confusion"
In the new on boarding steps for shipping, when I see "free shipping" I was initially confused as I was assuming that the free shipping method was going to get created

![](https://d.pr/i/h4DH8N+)
Link to screenshot: https://d.pr/i/h4DH8N

Instead it is a flat rate set to $0.

Also, because of the "free shipping" text, I was hoping that I could include a free shipping **and** be able to add a flat

[2020-02-19 22:24] psealock opened #3741 "Starter Pack: Styles are not updated on npm start"
**Describe the bug**

`npm create-wc-extension` produces a sibling directory for creation of a wc-admin extension with a fully functional JavaScript environment. `npm start` watches and updates the build for JS but does not do so for CSS.

It would be great if we could remove the hot pink too.

**To Reproduce**

1. `npm create-wc-extension`
2. cd into the new directory
3. Activate plugin
4. `npm s

[2020-02-19 22:32] psealock opened #3742 "Currency Formats: Add a filter to dynamically change formats in client"
**Is your feature request related to a problem? Please describe.**

When extending wc-admin reports such that specific currencies are reflected, there is no way to change the currency format for items inside the chart, summary numbers, and table.

![Screen Shot 2020-02-19 at 4 02 15 PM](https://user-images.githubusercontent.com/1922453/74882605-40968580-53d4-11ea-8dba-dc7638a6149e.png)

**Describe

[2020-02-19 22:55] psealock commented on #3176
With https://github.com/woocommerce/woocommerce/pull/25011 being merged, the last requirement of this ticket is satisfied. I will close this one out.

[2020-02-19 22:55] #3176 closed

[2020-02-19 22:58] psealock commented on #3716
With #3731 merged, this one can be closed.

[2020-02-19 22:58] #3716 closed

[2020-02-19 23:00] psealock commented on #3664
#3729 is merged, not sure why this didn't close automatically.

[2020-02-19 23:00] #3664 closed

[2020-02-20 01:26] psealock commented on #3224
### Bookings

I created a bookable product and an order for the product using the client interface. No wc-admin errors encountered. The Analytics section is working as it should, reflecting the purchased product. No incompatibilities found.

[2020-02-20 01:42] psealock commented on #3224
### Memberships

Memberships is also working well, no errors encountered with discount products for members.

Memberships should somehow extend the reports such that discounts due to memberships get reflected either in a new report or Coupons Report.

[2020-02-20 05:25] becdetat commented on #3596
@pmcpinto I only just saw your reply, I'm still getting some notification overload. Sorry about that. This is in review now, it's pretty self-contained though so if it can get in before #3710 is addressed I don't think it will be a problem.

I've just used the copy from the extension page (https://wordpress.org/plugins/woocommerce-payfast-gateway/).

[2020-02-20 09:45] peterfabian commented on #3716
Thanks folks!

[2020-02-20 10:00] pmcpinto commented on #3596
Hey @becdetat, no worries :)

Thanks for the heads up. Using the copy from the extension page seems to be a good option

[2020-02-20 10:08] joshuatf commented on #3596
Happens to most of us :)

Agreed, @becdetat.  We'll wait for #3738 to be merged before reworking the payments screen.

[2020-02-20 10:22] joshuatf commented on #3701
I haven't been able to reproduce this either.  Tried from latest master as well as packaged version in WC core beta and no luck.

@warrendholmes Have you seen the issue pop up since the first occurrence?

[2020-02-20 10:28] peterfabian commented on #3718
The error in the screenshot is caused by an updated approach in JP autoloader and should be fixed by https://github.com/woocommerce/woocommerce/pull/25697.

[2020-02-20 14:43] octaedro commented on #3657
@pmcpinto is a tooltip like this ok?

![screenshot-tooltip.png](https://images.zenhubusercontent.com/5e31b25d0dfff084858547a8/8d3fb896-fe0c-462a-8491-a91d738de23d)

I used the text:
`The industries CBD and other hemp-derived products are only supported by Square.`

Tell me if you prefer to change something.

As you mentioned above it will be visible only for `CBD` and with the country code `US`
Th

[2020-02-20 15:03] #3356 closed

[2020-02-20 17:01] grigorijurasov commented on #3710
I did some tests with WooCommerce 4.0.0 beta-1 today.

Let me know if this warrants a separate bug report, but here's somewhat an edge case scenario:

* The last step of the onboarding in WooCommerce >> Dashboard is Stripe:

<img width="1488" alt="Screenshot 2020-02-20 at 17 50 16" src="https://user-images.githubusercontent.com/13084901/74959049-355e4c80-540a-11ea-9a2e-7845292e6505.png">

* Since

[2020-02-20 17:54] benjaminprojas commented on #3665
I would also love to see this feature added.

[2020-02-20 18:03] benjaminprojas opened #3746 "Filter Orders by Payment Gateway"
**Is your feature request related to a problem? Please describe.**
When using multiple payment gateways it would be really nice to determine sales totals for periods based on specific gateways. This would help with reporting/auditing of that specific gateway.

**Describe the solution you'd like**
Would love to just see this added as a filter here:
![image](https://user-images.githubusercontent.com

[2020-02-20 18:07] rrennick opened #3747 "Product titles include encoded entities"
**Describe the bug**
Both the stock & product reports use the product title from the product post. Product titles support HTML tags and encoded entities. The encoding is showing in the stock & product reports. See Screenshots

**Expected behavior**
HTML tags should be stripped and encoded entities should be decoded before display.

**Screenshots**
<img width="1142" alt="Screen Shot 2020-02-20 at 2

[2020-02-20 18:14] rrennick commented on #3746
The [`sql-modification` example](https://github.com/woocommerce/woocommerce-admin/tree/master/docs/examples/extensions) does this for currency. With small adjustments, it could be used to filter by payment gateway.

[2020-02-20 18:26] psealock commented on #3747
I'm not sure if the solution belongs on the front end, but in case it does, just noting that a similar function exists to strip html in currency formats. Maybe it could be a helper function of some kind.

https://github.com/woocommerce/woocommerce-admin/blob/e5c30ded36fa34c080aa7180b929a286baf04a49/packages/currency/src/index.js#L38-L41

[2020-02-20 18:53] rrennick commented on #3747
We should be able to strip the tags in PHP but encoded entities like `&amp;` should probably be done in the front end because we want to have the entities display.

[2020-02-20 18:54] octaedro commented on #3728
Hi @joshuatf, I lost the ping. I had a problem with the git notifications but I solved it.
Yes, I will get started with this issue now :-)

[2020-02-21 01:18] jeffstieler opened #3752 "Regressions from coding standards PR"
**Describe the bug**

Several issues were found when smoke testing the latest WP monorepo renovate PR that are actually all issues on `master` - and look to be the result of https://github.com/woocommerce/woocommerce-admin/pull/3674.

**To Reproduce**
Steps to reproduce the behavior:

- dashboard leaderboards don't finish loading
- activity panel - "order #undefined"
- categories report compare ch

[2020-02-21 03:07] psealock opened #3754 "[0.26.0] Select Control throws error on OBW"
**Describe the bug**

In the OBW, bringing focus to the Country/State field throws an error.

![Screen Shot 2020-02-21 at 4 06 27 PM](https://user-images.githubusercontent.com/1922453/75000763-2c31b600-54c4-11ea-9b47-7e0bd7d42212.png)

**To Reproduce**

1. Enable the OBW in the `version/1.0` branch.
2. Go to Store Details, `/wp-admin/admin.php?page=wc-admin&step=store-details`.
3. Focus on the Cou

[2020-02-21 08:43] joshuatf commented on #3754
Good point.  I think the "All that include" options are also a decision that should be made and controlled outside the component to keep this component from becoming too opinionated.

[2020-02-21 10:43] ajgw opened #3756 "Admin bar overlaps attribute and taxonomy "get back link""
I had this issue before but thought it was solved with last update. But it is not.

Go to a saved attribute, edit and save and you get without WC Admin on top a link back to attribute list. If WC Admin is activated, go back link is hidden beneath admin bar – not visible.

Same was for edit and save a taxonomy, but this is now solved.

[2020-02-21 11:19] pmcpinto commented on #3657
Hey @octaedro, that will be a long tooltip :). I'd suggest simplifying the copy to: Selling CBD products is only supported by Square.

[2020-02-21 13:42] joshuatf opened #3758 "Special characters don't work in product search"
**Describe the bug**
When using the product search, an apostrophe causes an error in the product query.  The network response shows a SQL error.

These characters probably need to be escaped for use in SQL.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the products report.
1. Type a product search query in the search component with an `'` in it.
1. Note the console error.

**Expecte

[2020-02-21 13:48] joshuatf commented on #3758
Note that this works as expected in the customer search, but worth checking other reports to see if this issue exists in other search APIs.

[2020-02-21 16:43] pmcpinto commented on #3711
Hey @becdetat, just a heads up that I tweaked a bit the logic of hiding the menu options based on the last design iteration (more info on this [p2](https://wp.me/p6riRB-5li)). I updated the issue description.

[2020-02-21 16:59] pmcpinto commented on #3709
Hey @joshuatf, I think that the change to the loading screen that's being discussed in this [p2](p6riRB-5li-p2) should have a different GH issue. What do you think? Is it something that can be implemented relatively quickly?

[2020-02-21 17:00] pmcpinto commented on #3709
I think that the change to the loading screen that's being discussed in this [p2](https://wp.me/p6riRB-5li) should have a different GH issue. What do you think? Is it something that can be implemented relatively quickly?

[2020-02-21 17:13] octaedro commented on #3657
The tooltip copy sounds good to me!

I was looking at the API and at the end of the `Set up payment` process if the user selects Square they are redirected to the `Square` page, that looks like the attestation page. As I understand it looks like we should continue using this URL.
Is this ok?

Thank you Pedro!

[2020-02-22 01:32] jeffstieler commented on #3752
This turned out to be left over data from testing https://github.com/woocommerce/woocommerce-admin/pull/3730

This no longer occurs. :)

[2020-02-24 02:46] psealock commented on #3752
Thanks @jeffstieler !

I have a fix coming up for the top 3 but am unable to reproduce the Onboarding issues. Was there anything noteworthy with your setup to reproduce?

[2020-02-24 03:09] psealock commented on #3746
See also https://woocommerce.wordpress.com/2020/02/20/extending-wc-admin-reports/ for a tutorial on how to add a filter and modify sql parameters.

[2020-02-24 03:54] #3596 closed

[2020-02-24 16:25] pmcpinto commented on #3657
@octaedro we should redirect the user to the [attestation page](https://squareup.com/t/f_partnerships/d_referrals/p_woocommerce/c_general/o_none/l_us/dt_alldevice/pr_payments/?route=/solutions/cbd) of they select CBD as industry and US as country. Otherwise, we'll redirect them to the same place that we have right now.

[2020-02-24 20:18] rrennick commented on #3701
This looks like it might have been a partial plugin install where the `Onboarding` class wasn't replaced in an update.

@warrendholmes I'm closing. If you encounter this again please let us know.

[2020-02-24 20:18] #3701 closed

[2020-02-24 23:33] psealock opened #3766 "OBW: Consider changing logic around dismissal of Task List or Payment task"
In tesing the Task List Payments setup with Stripe, I was faced with the Stripe integration form. Its a long one and I decided to skip it while setting up my store.

![Screen Shot 2020-02-25 at 10 58 43 AM](https://user-images.githubusercontent.com/1922453/75199799-eda04200-57c8-11ea-853a-c8336bbe7fd0.png)

This led me back to the dashboard and Task List with one task remaining.

![Screen Shot 202

[2020-02-24 23:53] timmyc opened #3767 "Stock Report: Backordered Products Not Displayed"
**Describe the bug**
When a product is negative in inventory, and is set to allow "backorders" the product is not shown on the Stock Report page:

![image](https://user-images.githubusercontent.com/22080/75201474-5fbb4d00-571d-11ea-9d9d-fff6c4b8daf3.png)

![image](https://user-images.githubusercontent.com/22080/75201508-75307700-571d-11ea-8b73-fe6305613c09.png)

**To Reproduce**
Steps to reproduce

[2020-02-25 03:03] psealock commented on #3752
Closed by https://github.com/woocommerce/woocommerce-admin/pull/3763

[2020-02-25 03:03] #3752 closed

[2020-02-25 07:59] franticpsyx opened #3768 "WC 4.0 Design Feedback"
Hey all,

Congrats for getting close to releasing 4.0. Love the awesomeness that's built into the reporting system and the general UX direction.

My goal with this issue is to pass on some design feedback. It's mostly details, but details can make a difference in how users interact with interfaces (and how they feel while doing so). Details also shape the perception of professionals about the plat

[2020-02-25 09:04] amalinaaziz commented on #2545
any update on the issue? i am facing the same thing with error in my browser console as follows

[2020-02-25 12:40] peterfabian opened #3769 "[4.0 pre-rc]"
**Describe the bug**
As a follwo up on https://github.com/woocommerce/woocommerce-admin/pull/3687, I'm seeing the `Deactivate` notice even after the plugin has been deactivated.

Steps:
1. Installed WC 3.9.3 with WC Admin 0.23.3, went through the OBW.
2. Updated WC to the version from https://github.com/woocommerce/woocommerce/pull/25701
3. Click on `Deactivate` button.
4. WC Admin plugin is inact

[2020-02-25 12:42] peterfabian commented on #3769
Side note: Seems like my wp cli installed 2 copies side by side, so retesting now with one copy only.

[2020-02-25 12:59] rrennick commented on #2545
@amalinaaziz Can you navigate to a non-WC Admin page then go back to the WC Admin page then check for the error?

[2020-02-25 13:00] #3354 closed

[2020-02-25 13:00] #3367 closed

[2020-02-25 13:17] rrennick commented on #3769
Thanks @peterfabian, confirming I see the same.

[2020-02-25 13:45] juliaamosova commented on #3756
I can reproduce the same with 4.0 beta1:

![attr](https://user-images.githubusercontent.com/19143190/75252657-216c6f00-57ab-11ea-8714-93a3c3e11b0e.jpg)

I am going to edit the title to include `[4.0 beta1]` prefix for visibility.

[2020-02-25 15:25] rrennick commented on #3756
Transferring to WooCommerce repo and will submit a PR there.

[2020-02-25 15:36] jameskoster commented on #3766
Is this based on the new designs? In the redesigned payments task we offer a way to skip the task altogether, or enable offline methods, which would solve this issue. We also have an affordance to capture _why_ people are skipping this step.

We're also adding a way for users to skip the entire task list.

I suppose what I'm saying is that this problem will be solved as we implement the new design

[2020-02-25 17:23] octaedro commented on #3657
Excellent @pmcpinto! Thank you!

[2020-02-25 17:42] rrennick opened #3771 "Better package status"
Issue for abstracting plugin vs WC core package status to be local to WC Admin.

[2020-02-25 19:34] timmyc commented on #3768
cc @LevinMedia @josemarques @jameskoster @pmcpinto

[2020-02-26 00:56] psealock commented on #3769
This was fixed by https://github.com/woocommerce/woocommerce-admin/pull/3770

[2020-02-26 00:56] #3769 closed

[2020-02-26 00:57] psealock commented on #3766
Sounds good. I'm closing this one.

[2020-02-26 00:57] #3766 closed

[2020-02-26 00:59] psealock commented on #3754
Fixed by https://github.com/woocommerce/woocommerce-admin/pull/3755. I'm not sure why GH isn't closing automatically anymore.

[2020-02-26 00:59] #3754 closed

[2020-02-26 01:56] amalinaaziz commented on #2545
Not sure what are the exact changes that I did but it's related user role and capabilities and it's showing now.

[2020-02-26 10:08] franticpsyx commented on #3768
Happy to do some brainstorming with the team and build a couple static prototypes to share.

[2020-02-26 11:31] gbruzzo commented on #3665
This is absolutely crucial - here is a simple example for store managers:
Go to Orders, select the ones that are processing via a filter, download the CSV.
=> the CSV will only show the parent product instead of the variation. Say an order contains 5
Variations of the same parent, the CSV will only show
'1 x parent, 1 x parent, 1 x parent, 1 x parent, 1 x parent'

This is very disappointing and re

[2020-02-26 12:23] rrennick commented on #2545
@amalinaaziz Thanks for letting us know. The default capability required to access analytics is `view_woocommerce_reports`.

[2020-02-26 12:36] rrennick commented on #3665
Thank you for the feature suggestion. Over the next few weeks our team will be focused on the release of [WooCommerce 4.0](https://woocommerce.wordpress.com/2020/02/10/woocommerce-4-0-beta-1/).

If this feature is particularly important to you, we wrote a [tutorial](https://woocommerce.wordpress.com/2020/02/20/extending-wc-admin-reports/) on extending WC Admin which would be a good starting point

[2020-02-26 12:40] gbruzzo commented on #3665
Hi there

thank you for your feedback. Not satisfactory alas.

[2020-02-26 15:20] rrennick commented on #2810
This looks like it's a caching issue. If you change the date range on the report after changing the excluded status, the report shows the correct order count and totals.

[2020-02-26 15:26] #3194 closed

[2020-02-26 15:27] rrennick commented on #3415
Closing due to lack of feedback.

[2020-02-26 15:27] #3415 closed

[2020-02-26 15:27] rrennick commented on #3452
Closing due to lack of feedback.

[2020-02-26 15:27] #3452 closed

[2020-02-26 15:30] rrennick commented on #3549
Addressed on #3349

[2020-02-26 15:30] #3549 closed

[2020-02-26 15:31] #3617 closed

[2020-02-26 15:32] rrennick commented on #3423
Closing due to lack of feedback.

[2020-02-26 15:32] #3423 closed

[2020-02-26 15:34] #3592 closed

[2020-02-26 15:36] rrennick commented on #3683
Addressed in #3723

[2020-02-26 15:36] #3683 closed

[2020-02-26 15:40] juliaamosova commented on #3446
Noting here that I could reproduce it with a pre-release of 4.0 rc1 just now on a brand new JN site:

- installed Query Monitor plugin
- installed Debug Bar plugin
- uploaded and activated rc1 zip
- I was selected for the new onboarding by default so didn’t have to change anything in that regard
- Next, I proceeded with new onboarding - selected to install WooCommerce Services and connected the si

[2020-02-26 15:41] rrennick commented on #3697
@EBolt Can you update to the latest version of WooCommerce Admin then run the Historical Import in Analytics -> Settings ?

[2020-02-26 15:55] juliaamosova opened #3780 "[4.0 rc1] Retry button disappears in order to proceed without Mailchimp installation if there is an issue installing Mailchimp"
**Describe the bug**

Retry button disappears in order to proceed without Mailchimp installation if there is an issue installing Mailchimp. This issue is contingent upon this one: https://github.com/woocommerce/woocommerce-admin/issues/3446. In other words, it only happens if you are not able to proceed with the Mailchimp installation and having errors described in https://github.com/woocommerce/w

[2020-02-26 15:56] juliaamosova commented on #3446
Here: https://github.com/woocommerce/woocommerce-admin/issues/3780.

[2020-02-26 16:06] rrennick commented on #1308
Addressed in #2961 and follow ups.

[2020-02-26 16:06] #1308 closed

[2020-02-26 16:39] timmyc commented on #3780
Thanks for logging the issue @juliaamosova - thinking we can force this error state by having the REST API return an error on the mailchimp install test. We definitely want the "Continue without installing" link here to be shown.

[2020-02-26 16:45] timmyc opened #3781 "[4.0 RC1] Update Country Labeling to Match Core"
In https://github.com/woocommerce/woocommerce/pull/25530 core updated the labeling of "Country" in the UI to be "Country / Region". We need to update our usage of this label in wc-admin to be in-line with core.

The areas that @tammullen pointed out where this is currently shown in wc-admin are:

- Site Profiler
- Customer Report

Also thinking we need to update the autocompleter for country too

[2020-02-26 17:38] josemarques commented on #3768
Hey @franticpsyx, thanks for this really awesome feedback. We appreciate all the time you took to highlight all of these. Without getting into big a lot of detail here's how we are addressing some of the issues you pointed out:

**The WC Admin Bar:**
We are aware that introducing a new element on the screen did decrease the usable real estate on the screen. While this wasn't something that test su

[2020-02-26 17:50] pmcpinto opened #3783 "Review tracking JS library used with the WC Analytics module in JP"
More info soon.

Context here: p90Yrv-1BS-p2

[2020-02-26 17:50] LevinMedia commented on #3768
Thanks again, @franticpsyx for your thoughtful comments! One additional note on the color scale used for analytics. It was selected primarily because of it's accessibility, and secondarily it happens to be harmonious with other primary colors in the app (Woo's purple, and WordPress's blue.)

We're using the Viridis color scale. There's some great detail behind the scale here: https://cran.r-projec

[2020-02-26 18:01] octaedro commented on #3767
Hi @timmyc,

I'm trying to reproduce the bug but I couldn't. I tried in my local environment and in `jurassic.ninja` with no luck.

Here is what I see:
![Screen Capture on 2020-02-26 at 14-39-22](https://user-images.githubusercontent.com/1314156/75371922-60331f80-58a6-11ea-8706-7eda7b5852db.gif)

[2020-02-26 18:48] timmyc commented on #3767
interesting, wonder what i have done to break this locally for me. but if you can not reproduce it, lets go ahead and close it out.

[2020-02-26 18:48] #3767 closed

[2020-02-26 20:29] franticpsyx commented on #3768
@josemarques thanks for responding! Here I was referring to the design of the checkboxes:

but @LevinMedia has fully answered my question about the scale being used there. What an awesome resource -- thanks so much for sharing!

Would be nice if we could include this in the official guidelines for extension developers.

👍 One area that could be improved in time for the 4.0 launch is around the use

[2020-02-26 20:40] rrennick opened #3784 "Limit length of download file names"
**Is your feature request related to a problem? Please describe.**
When filters are used on reports, the download file names can be long. Example

`variations_2020-02-24_orderby-items-sold_order-desc_products-465_variations-473-471-469-467_page-wc-admin_filter-single-product_period-last-quarter_compare-previous-year_path--analytics-products_filter-variations-compare-variations_is-varia.csv`

Reque

[2020-02-27 02:12] psealock opened #3785 "OBW: Jetpack connect requesting state points to bad url"
**Describe the bug**

On the tax step of the Task List, if you have Jetpack disconnected, the `isBusy` state of the "Connect" button leads to a bad url. Its also misleading because the connection is not happening. The button should be disabled and a spinner should appear in the step number icon.

![Screen Shot 2020-02-27 at 2 48 00 PM](https://user-images.githubusercontent.com/1922453/75405673-330

[2020-02-27 03:22] psealock commented on #3780
I can reproduce this locally by forcing an error on the `onboarding/plugins/install` endpoint.

Whats also weird is if I untoggle both facebook and mailchimp, I proceed to the next screen with a success message.

[2020-02-27 14:14] leewillis77 opened #3792 "Integrate breadcrumb filtering into page registration/connection"
**Describe the bug**
`wc_admin_connect_page()` should be able to include the new WooCommerce admin navigation bar on pages provided by external plugins, with the ability to set their place in the breadcrumb hierarchy by supplying a "parent" argument. See https://woocommerce.wordpress.com/2020/02/27/integrating-the-new-woocommerce-navigation-bar/

However, while plugins can set up their own hierarc

[2020-02-27 15:40] pmcpinto opened #3788 "Remove "Add first product" inbox notification"
We can now remove the "Add first product" inbox notification, as the new onboarding presents a specific task for this.

This notification served as a preliminary test before we introduced the new onboarding and now we can compare the effectiveness of both approaches (notification vs task).

[2020-02-27 16:22] pmcpinto commented on #3708
Hey @joshuatf I'm going to close this issue as it seems that it was already merged. The event tracking is also in place, correct?

[2020-02-27 16:22] #3708 closed

[2020-02-27 16:32] pmcpinto opened #3789 ""Personalize your store" reminder: new inbox notification"
Following the recent change in the homepage creation redirect (#3708), we want to add an inbox notification that can act as a reminder to personalize the homepage that was automatically created:

**Title:** Personalize your store's homepage
**Copy:** The homepage is one of the most important entry points in your store. When done right it can lead to higher conversions and engagement. Don't forget

[2020-02-27 17:10] octaedro commented on #3781
Hi @timmyc, I was looking for the label `Country` in the code, I was able to find it in `Customer Report` but I couldn't in the `Site Profiler`. Can you point me in the right direction to find this?
Thank you!

[2020-02-27 17:15] timmyc commented on #3781
@octaedro sure thing - so I think [this is the label](https://github.com/woocommerce/woocommerce-admin/blob/master/client/dashboard/components/settings/general/store-address.js#L206) that we need to update. But maybe look in that file to make sure there aren't any error messages or other translated strings that contain country. Variable and method names are fine and do not need to be changed.

[2020-02-27 17:16] joshuatf commented on #3708
@pmcpinto Ya, that's okay to close this.  The PR went into `vesrion/1.0` so the issue had not auto-closed yet.

The new `wcadmin_tasklist_appearance_customize_homepage` event was included in https://github.com/woocommerce/woocommerce-admin/pull/3727

[2020-02-27 17:27] octaedro commented on #3781
@timmyc got it! I will replace the text: `Country / State` with  `Country / Region` and I will continue searching.
Thank you!

[2020-02-27 17:40] pmcpinto opened #3791 ""Set up payments" reminder: inbox notification"
This issue should be completed after #3710 it's done. We want to add a reminder to users that skip the "set up payments" task by selecting the option "I want to use a different payment option"

**Title:** Start accepting payments on your store!
**Copy:** Take payments with the provider that’s right for you - choose from 100+ payment gateways for WooCommerce.
**Store type:** New users that skip the

[2020-02-27 18:14] pmcpinto opened #3793 "Install Jetpack and WCS reminder: inbox notification"
Some users are experiencing problems during the Jetpack and WCS install, so we should send them an inbox notification with a reminder to retry to install the extensions:

**Title:** Uh oh...There was a problem during the Jetpack and WooCommerce Services install. Please try again
**Copy:** We noticed that there was a problem during the Jetpack and WooCommerce Services install. Please try again and

[2020-02-27 18:40] pmcpinto opened #3794 "Catalog Visibility Options: inbox notification"
We want to offer a solution for users that skip the "Set up payments" task with the option "I don't need to take payments". Our assumption is that at this stage they only want to show a catalog of products:

**Title:** Transform WooCommerce into an online catalog
**Copy:** Do you want to showcase a catalog of products that aren’t currently for sale online? You can do this by removing eCommerce fun

[2020-02-27 18:44] rrennick commented on #3792
Can you clarify what you are trying to do? A third party settings tab is automatically added to the breadcrumb:
<img width="590" alt="Screen Shot 2020-02-27 at 2 42 18 PM" src="https://user-images.githubusercontent.com/343847/75475695-9b4d5580-596f-11ea-99d4-43fc0408591b.png">

[2020-02-27 18:55] leewillis77 commented on #3792
Hi;

This isn't actually a settings tab in the WooCommerce standard settings page - it's a separate page (for longstanding legacy reasons), but from a breadcrumb point of view it makes sense to have the breadcrumb be "WooCommerce » Settings" which as far as I can tell isn't possible currently.

So, when trying to add the navigation bar to the page using `wc_admin_connect_page`, but you can't do th

[2020-02-27 19:06] rrennick commented on #3792
@leewillis77 Thanks for the clarification. There is a filter you could use to modify the breadcrumbs in https://github.com/woocommerce/woocommerce-admin/blob/1f261998e7287b77bc13c3d4ee2e84b717da7957/src/PageController.php#L179:L185 .

[2020-02-27 19:18] leewillis77 commented on #3792
I did see that, but if I use that I then have to calculate what the breadcrumbs would be myself (potentially duplicating code in the process).

Surely it would be simpler if the pages currently handled by wc_admin_get_core_pages_to_connect() were properly registered with the page controller?

[2020-02-27 20:53] #3741 closed

[2020-02-28 13:10] rrennick commented on #3792
@leewillis77 Thanks for the info and feedback. Given how close we are to the release of WC4.0, we are focused on bug fixes for current functionality and we won't be looking at this in the immediate future. However, we are evaluating our next iteration of navigation and can take this into consideration.

[2020-03-02 08:42] burnaht commented on #3195
Really need this working if possible!

[2020-03-02 12:34] RikshaDriver opened #3810 "User deletion from Wordpress does not remove entry from wp_wc_customer_lookup"
When removing a user from Wordpress via the users section, it seems that Woocommerce Admin does not remove entries under wp_wc_customer_lookup

![woocommerce_customers](https://user-images.githubusercontent.com/5790757/75676795-1dc27600-5cde-11ea-80e2-faea9f003791.jpg)
![wp_users](https://user-images.githubusercontent.com/5790757/75676799-1ef3a300-5cde-11ea-9702-e647c1d66e17.jpg)

[2020-03-02 22:43] psealock commented on #3392
@timmyc, with all the bulleted tasks satisfied, I think we can close this one. What do you think?

[2020-03-02 23:11] psealock opened #3802 "Downloads Report: Data not respecting Time Zone"
**Describe the bug**

Downloads aren't reflected in Downloads Report besides the Summary Numbers. The Chart and Table don't show any data.

**To Reproduce**

1. Set your store time zone to a location one day ahead (Fiji or New Zealand).
1. Create a downloadable product. See settings at WooCommerce > Settings >Products > Downloadable Products
2. Use a payment gateway or Stripe, COD won't work (unle

[2020-03-02 23:35] juliaamosova opened #3803 "[4.0 rc1] WC-Admin: Import Historical data task - when navigating away a message that not saved changes may be lost comes up"
**Describe the bug**

Upon starting the Import Historical data task and navigating away, a message that not saved changes may be lost comes up. Tested on the JurassicNinja site.

**To Reproduce**

Steps to reproduce the behavior:

1. Upon upgrading to 4.0, a notice comes up to import historical data. Proceed with that notice:

<img width="1438" alt="Screen Shot 2020-03-02 at 6 16 10 PM" src="https

[2020-03-02 23:57] juliaamosova opened #3804 "[4.0 rc1] WC-Admin: Import Historical data task - not able to rebuild data after deleting previously built data"
**Describe the bug**

WC-Admin: Import Historical data task - not able to rebuild data after deleting previously built data. Tested on one of my Pressable test sites.

**To Reproduce**

Steps to reproduce the behavior:

1. Upon upgrading to 4.0, a notice comes up to import historical data. Proceed with that notice:

<img width="1438" alt="Screen Shot 2020-03-02 at 6 16 10 PM" src="https://user-ima

[2020-03-03 00:08] juliaamosova opened #3805 "[4.0 rc1] WC-Admin: Import Historical data task - when deleting previously built data, change button to `Deleting` or similar"
**Is your feature request related to a problem? Please describe.**

WC-Admin: Import Historical data task - when deleting previously built data, change button to `Deleting` or similar.

Currently, when you click on `Delete previously imported data`, the button stays there and it is difficult to know if the process of deletion is in fact in the process. Even though there is a message comes up letti

[2020-03-03 01:40] timmyc commented on #3195
cc @pmcpinto

[2020-03-03 12:37] joshuatf opened #3808 "Onboarding: Development flags force onboarding to remain on"
**Describe the bug**
Setting the option `woocommerce_onboarding_opt_in` to `no` doesn't work if any dev flags or enabled or if `WOOCOMMERCE_ADMIN_ONBOARDING_ENABLED` is `true`.

These flags are probably no longer needed and can be safely removed.

**To Reproduce**
Steps to reproduce the behavior:

1. Set `WP_DEBUG` to `true`.
1. Set `woocommerce_onboarding_opt_in` to `no`.
1. Note that onboarding

[2020-03-03 13:44] timmyc commented on #3747
Closing this out since it has landed in the version/1.0 branch

[2020-03-03 13:44] #3747 closed

[2020-03-03 13:44] timmyc commented on #3781
Closing this out since it has landed in version/1.0

[2020-03-03 13:44] #3781 closed

[2020-03-03 13:49] timmyc commented on #3810
I feel like this is working as designed, but want to pull in @LevinMedia to double check that. If I recall correctly we opted to retain the customer lookup table entry to reflect the sales activity even if the WordPress user account was deleted.

We do support deletion of data from the customers table when the GDRP tooling is used to perform a deletion of user data though.

[2020-03-03 15:55] jeffstieler commented on #3718
Testing `woocommerce-admin` on the `version/1.0` branch @ fa3d21534ae6fc64ca6e42b5002b735c88f333f7 with `woocommerce` on the `4.0.0-rc.1` tag @ 7c7a74bfa3c27d3c7c7cd2b4e4c22a87639cab8d shows that this has been resolved.

OK to close @peterfabian ?

[2020-03-03 16:02] jeffstieler commented on #3691
I'm not able to reproduce this on a JN site running the [`4.0.0-rc.1`](https://github.com/woocommerce/woocommerce/releases/tag/4.0.0-rc.1) plugin.

[2020-03-03 16:04] jeffstieler commented on #3690
+1 to @joshuatf's questions as I'm not able to reproduce this on a JN site running the [`4.0.0-rc.1`](https://github.com/woocommerce/woocommerce/releases/tag/4.0.0-rc.1) plugin.

[2020-03-03 16:07] jeffstieler commented on #3689
+1 to @joshuatf's questions as I'm not able to reproduce this on a JN site running the [`4.0.0-rc.1`](https://github.com/woocommerce/woocommerce/releases/tag/4.0.0-rc.1) plugin:

![Screen Shot 2020-03-03 at 9 07 08 AM](https://user-images.githubusercontent.com/63922/75794714-6bff6580-5d2e-11ea-82d6-e1a4be947d53.png)

[2020-03-03 16:24] peterfabian opened #3811 "Small RTL issues"
**Describe the bug**
When testing 4.0-rc.1, I noticed some RTL issues, mostly of cosmetic character:

- Notice carousel is incorrect and
- arrows in the Performance section are pointed in the opposite direction
![Screenshot 2020-03-03 at 17 11 13](https://user-images.githubusercontent.com/2207451/75795583-cfab8200-5d72-11ea-9144-b4394b9bb11f.png)

The loading icon is incorrect: small dot is rotati

[2020-03-03 17:01] octaedro commented on #3658
Hi @pmcpinto,
Does this issue need to go into `WC 4.0`.
Thank you!

[2020-03-03 18:29] timmyc opened #3813 "Activity Panels: JITM Alerts Hidden by Nav Bar"
**Describe the bug**
The new navigation bar is obscuring JITM messages that are loaded async. Full report and background on p6q8Tx-1BW-p2

![image](https://user-images.githubusercontent.com/22080/75807173-c94ce400-5d39-11ea-8d2d-e1dfcfafdadf.png)

[2020-03-03 18:30] #3363 closed

[2020-03-03 18:32] #3355 closed

[2020-03-03 20:28] juliaamosova commented on #3691
@joshuatf @jeffstieler thanks for testing and keeping it open. I was not able to replicate it again ever since on JN or any other site. I think it is safe to close it at this point.

[2020-03-03 20:31] juliaamosova commented on #3690
@joshuatf @jeffstieler sorry for the delayed response. This was tested on JN site and I could no longer reproduce this again. Another one that can be safely closed at this point.

I will look around into error logs in case it happens again and will report back if I will come across it.

[2020-03-03 20:36] juliaamosova commented on #3689
@joshuatf @jeffstieler thanks! Good call about browser extensions interfering. Let me test in another browser and I will report back.

[2020-03-03 20:48] timmyc commented on #3392
<3

[2020-03-03 20:48] #3392 closed

[2020-03-04 02:30] #3366 closed

[2020-03-04 02:37] #3691 closed

[2020-03-04 02:38] #3690 closed

[2020-03-04 02:40] psealock commented on #3785
Fixed by https://github.com/woocommerce/woocommerce-admin/pull/3786

[2020-03-04 02:40] #3785 closed

[2020-03-04 08:46] #3808 closed

[2020-03-04 10:27] rwkyyy opened #3821 "Orders closed via cron status import do not update in Analytics (order status)"
**Describe the bug**
Orders go to status "processing" then are exported and sent to the shipping depo, from there daily (in night time), orders are updated from courier based on their status (delivered, failed, etc.)

The issue is that when they change to status "completed" this status update is not reported in reports; basically all reports for the past few months are "processing" although they a

[2020-03-04 10:40] rwkyyy commented on #3821
Update:
Apparently after going to **settings** and selecting last 90 days and start, a button "delete previously imported data" became clickable so I used it and now it's re-importing the orders via Action Scheduler, first results look good, the orders seem to have the right status.

Still not having to always delete and re-import data would be great.

[2020-03-04 10:53] dyszczo opened #3822 "Hidden WordPress notices"
**Describe the bug**

I'm using WP `admin_notices` notices and now, after an upgrade to WC 4.0, they have stopped showing up anywhere in the WooCommerce admin (including the products list and the product page in admin).
The effect is that every plugin using the admin_notices to communicate with the users is now forcibly silenced.

Example:
1. Let's say the plugin adds some functionality to the Woo

[2020-03-04 10:59] peterfabian commented on #3718
Sure, thanks for checking.

[2020-03-04 13:06] rrennick commented on #3822
@dyszczo Thank you for the feedback. This is by design. If there are notices, the header panel has a WordPress logo icon. Clicking the icon toggles the visibility of the notices.

WordPress core is also working on the [notification system]9https://make.wordpress.org/core/2020/02/28/wp-notify-weekly-meeting-agenda-for-monday-2-march-2020/).

[2020-03-04 13:10] rrennick commented on #3821
@rwkyyy On the import screen there is a "Skip already imported" checkbox that is checked by default. If you uncheck that then you do not need to delete the existing data.

[2020-03-04 13:10] #3821 closed

[2020-03-04 13:34] dyszczo commented on #3822
@rrennick Thank you for the response. I'm aware that the current admin_notices routine needs a major refactor but the problem with the new design is that users do not know about the new WordPress logo icon. They only know that the plugin is broken and there is no notice to help them figure it out.

The lack of such a notice was a high priority bug in WC core https://github.com/woocommerce/woocomme

[2020-03-04 14:02] potreb commented on #3822
Why do you hide WordPress core functionality? Also you may remove some filters or actions.

[2020-03-04 15:21] rrennick commented on #3822
@dyszczo We appreciate that users are not initially familiar with the interface.

WC Admin does provide a way to have a notice left visible. We have written an example here: https://github.com/woocommerce/woocommerce-admin/tree/master/docs/examples/extensions/important-admin-notice

@potreb Can you clarify what you are referring to?

[2020-03-04 15:25] EdithAllison opened #3824 "WooCommerce Admin Examples : Add-Report . Filter name change in Woo 4.0"
For those who are using the WooCommerce Admin Examples "Add-Report" and are working with the beta version of WooCommerce 4.0.

The filter in /woocommerce-admin-add-report-example.php on line 50
`woocommerce_admin_report_menu_items`
is now called
`woocommerce_analytics_report_menu_items`

But the extension still fails. It adds a page, but it's empty and throws a JS / React error.  Is there any guid

[2020-03-04 15:54] dyszczo commented on #3822
I think it would be best to give users a few months to get used to a new functionality and after the introduction hide it by default. Otherwise, I expect hacks like `#wp__notice-list { display: block !important; } ` pretty quickly.

[2020-03-04 16:06] joshuatf opened #3825 "Onboarding: Business details step should not use autoInstall"
Discovered when reviewing https://github.com/woocommerce/woocommerce-admin/pull/3787 it looks like we should not use `autoInstall` with the `Plugins` component as this is a workaround and creates more issues on plugin failure that need to be handled in the parent component.

In order to do this, we'll need to do a few things
* Add `onComplete/OnStart` or `setRequestPending` methods to the `Plugin`

[2020-03-04 16:18] #3365 closed

[2020-03-04 16:20] #3718 closed

[2020-03-04 16:56] jeffstieler commented on #2810
This was fixed in https://github.com/woocommerce/woocommerce-admin/pull/3465.

[2020-03-04 16:56] #2810 closed

[2020-03-04 17:22] jeffstieler commented on #3642
What about adding the `role="menu"` here? https://github.com/WordPress/gutenberg/blob/master/packages/components/src/menu-group/index.js#L23

[2020-03-04 17:58] pmcpinto commented on #3658
Hey @octaedro, it can wait until the upcoming wc-admin release that probably will happen at the end of this cycle.

[2020-03-04 18:09] octaedro commented on #3658
@pmcpinto Perfect! Thank you!

[2020-03-04 18:53] psealock commented on #3824
Hi, Can you add the error message?

[2020-03-04 19:04] EdithAllison commented on #3824
Sorry, should have added. Error shows as:

index.js:34:729730
`TypeError: e is undefined`

Screenshot with ReactDevTools is here: [https://www.dropbox.com/s/0k5zm7f8th0h9ch/error.png?dl=0](https://www.dropbox.com/s/0k5zm7f8th0h9ch/error.png?dl=0)

[2020-03-04 22:14] Phil-A-Delphia opened #3829 "PHP Warning: A non-numeric value encountered in NoteTraits.php on line 34"
I'm receiving the following warning each time I start WordPress:

Woocommerce Admin PHP Warning: A non-numeric value encountered in [MyPath]\wp-content\plugins\woocommerce-admin\src\Notes\"NoteTraits.php on line 34"

My WP configuration is as follows:
WordPress Version: 5.3.2
Woocommerce Version: Version 3.9.3
OS: Windows: NT 10.0 x64
Web server: Apache/2.4.41 (Win64) OpenSSL/1.1.1d PHP/7.4.2
PHP

[2020-03-04 23:31] psealock commented on #3824
Hi @EdithAllison, thanks for the bug report!

Here is a fix for the broken extension example, https://github.com/woocommerce/woocommerce-admin/pull/3830.

I'm glad to see these being used and hopefully its helpful to you. If you have any questions, feel free to open a new issue or ask on this one.

[2020-03-05 01:05] psealock commented on #3780
Fixed by #3780

[2020-03-05 01:05] #3780 closed

[2020-03-05 04:52] frigginglorious commented on #3518
I've been trying to figure out why the Jetpack plugin wasn't installing for a few days now. I found this thread and had a long-winded "but why isn't it working" question.

I'm working with Godaddy shared hosting as well.

But apparently whatever changes y'all made were included in WooCommerce 3.9.3 released yesterday.

I updated WooCommerce and Jetpack installed and is working awesome. Thank you!

[2020-03-05 08:54] peterfabian commented on #3518
Yup, 3.9.3 includes a couple of fixes for the latest Jetpack versions. Glad it fixed your problems!

[2020-03-05 09:15] Aljullu commented on #3642
I did a quick test with devtools and it looks like that would work as well @jeffstieler.

[2020-03-05 14:18] joshuatf commented on #3710
Thanks for noting the issue @grigorijurasov.  Since https://github.com/woocommerce/woocommerce-admin/pull/3782 and https://github.com/woocommerce/woocommerce-admin/pull/3801 refactor how the payments tasks are set up and include configuration checks, I don't believe that will be an issue anymore once they've been merged.

[2020-03-05 17:33] EdithAllison commented on #3824
Hi Paul, many thanks! I've given the fix a go, but still get the same JS error. React is a learning curve for me, so not sure if I'm doing something wrong?

My work environment is WP installed on server (siteground); with my work done on Mac with Terminal. What I've done:

Siteground: Installed WordPress 5.32.
Siteground: Installed WooCommerce plugin through WP Admin
Siteground: Installed Woo Beta

[2020-03-05 18:13] rrennick commented on #3824
@EdithAllison Can you try clearing your browser cache? If that doesn't work, can you rename the `add-report` folder and reactivate the plugin?

[2020-03-05 18:15] rrennick commented on #3824
You can just Ctrl-C at this point.

[2020-03-05 18:19] rrennick commented on #3824
@EdithAllison Sorry, I just noticed this as well

[code]
should be
[code]

[2020-03-05 19:19] EdithAllison commented on #3824
Thank you for the suggestions and providing the correct git command. I've tried but same error.  What I've tried:

Deleted folder woocommerce-admin
[code]
Then uploaded "add-report" folder and activated it.
Also tried re-naming the folder.
Tested in Firefox (with cache cleared) , Opera and Chrome. Chrome gives a slightly different error message:

[code]

[code]

I'm just starting to work with Reac

[2020-03-05 19:24] rrennick commented on #3824
Did you try both of those?

[2020-03-05 19:31] juliaamosova opened #3833 "[4.0 rc1] WC-Admin: Inbox - New Features - `Learn more` button links to wc dev blog"
**Describe the bug**

Currently, when clicking on `Inbox/New Feature(s)/Learn more` links to the WC dev blog url: https://woocommerce.wordpress.com/.

**To Reproduce**

Steps to reproduce the behavior:

1. Update to WC 4.0 rc1
2. Click on `Inbox/New Features(s)/Learn more`:

![new_features](https://user-images.githubusercontent.com/19143190/76017804-32c12400-5eed-11ea-89a2-9b4e79ff036e.jpg)

3. Bu

[2020-03-05 19:45] juliaamosova commented on #3689
Noting here that I can't reproduce it in Safari - works as expected there - the notice appears on hover over:

![](http://g.recordit.co/z3p1bF8uW7.gif)

I think this issue can be safely closed. As mentioned above, likely one of my Chrome browser extensions interferes.

[2020-03-05 19:46] jeffstieler commented on #3758
Closed in #3826

[2020-03-05 19:46] #3758 closed

[2020-03-05 19:53] jeffstieler opened #3834 "Report Tables: Partial string search doesn't display all results."
**Describe the bug**

Performing a partial string search in a report table only shows the first "page" of items returned from the API, which results in the appearance of "missing" items.

**To Reproduce**
Steps to reproduce the behavior:

1. The screenshots below should be illustrative enough

**Expected behavior**

I expect the report table to include all partial matches, paginated.

**Screenshot

[2020-03-05 19:59] ciszere opened #3835 "Correct accounting of returns"
**Is your feature request related to a problem? Please describe.**
So I love this new analytics plugin but come on. We need to make sure that the returns are registered in the correct way. In accounting, a return of an order shall be registered on the same day as the initial purchase took place. Today the returns are messing all the numbers up because if I make let's say 20 return on a single day.

[2020-03-05 20:00] juliaamosova opened #3836 "[4.0 rc1] WC-Admin: Inbox - Connect to wc.com - `Connect` notice is available only once. Disappears after clicked but still not connected to wc.com"
**Describe the bug**

Currently, if you click on `Inbox/Connect to wc.com/Connect`, the notice disappears even though the user still didn't connect to wc.com.

**To Reproduce**

Steps to reproduce the behavior:

1. Update to 4.0 rc1;
2. Click on `Inbox/Connect to wc.com/Connect`:

![connect1](https://user-images.githubusercontent.com/19143190/76020457-6ef68380-5ef1-11ea-89eb-5ab79d0a2db2.jpg)

3.

[2020-03-05 20:46] rrennick commented on #3813
Addressed in #3827

[2020-03-05 20:46] #3813 closed

[2020-03-06 00:22] octaedro opened #3840 "Report Table: products without value are disappearing when ordering"
**Describe the bug**
In the products' report, some products are disappearing from the table when they don't have a value to order by.

**To Reproduce**
Steps to reproduce the behavior:

0. To reproduce this bug it's necessary to have at least 2 products, one with a valid `SKU` value and another one without `SKU`.
1. Go to `Analytics` | `Products` (URL: `/wp-admin/admin.php?page=wc-admin&path=%2Fan

[2020-03-06 01:29] psealock commented on #3824
Hmm thats odd because that error is the one I get when the changes aren't present. I'm thinking there should have been an `npm run build` in there and perhaps the old `dist` folder was still there.

[code]
Try this:

[code]

[2020-03-06 01:30] #3689 closed

[2020-03-06 10:17] peterfabian opened #3841 "Constant not defined when calling `get_active_version()` on WP 5.2"
**Describe the bug**
`\Automattic\WooCommerce\Admin\Composer\Package::get_active_version()` will cause a PHP notice in case when wc-admin plugin is not installed && package is inactive (either when running on WP 5.2 or when disabled via filter on later WP), as `WC_ADMIN_VERSION_NUMBER` is not defined.

**To Reproduce**
Steps to reproduce the behavior:

1. Use WP 5.2 and install WC 4.0-rc
2. Try to

[2020-03-06 10:18] EdithAllison commented on #3824
Hi Paul, thank you I've tried the supplied code (updated for the merge into v1) but no luck. I'm now offline, I will give this another go next week.

My try today:
[code]

[2020-03-06 11:03] jobthomas opened #3842 "Downloads report: Add filters for customer name and email"
**Is your feature request related to a problem? Please describe.**

When reviewing the docs for WC Admin, I noticed that you can only filter per username. I think it's unlikely that the shop manager will be super familiar with the username. I would suggest that allowing to search for both the customer's name/last name and email address would make for a more realistic use of this filter.

**Describ

[2020-03-06 11:19] joshuatf commented on #3544
@warrendholmes Since the new design removes a bunch of these items, do you have any input on the new design? /cc @Timstreep as well in case you have any feedback.

<img width="646" alt="Screen Shot 2020-02-21 at 4 23 22 PM" src="https://user-images.githubusercontent.com/10561050/76079272-978b8580-5fa4-11ea-95c1-f5c1dfb141b3.png">

<img width="1064" alt="Screen Shot 2020-02-24 at 1 50 20 PM" src="h

[2020-03-06 11:25] joshuatf commented on #3139
@pmcpinto Should we close this issue now that we'll have offline payments directly in the payments task?

[2020-03-06 11:26] joshuatf commented on #3461
Going to close this issue since we have https://github.com/woocommerce/woocommerce-admin/issues/3710 which will be resolved by https://github.com/woocommerce/woocommerce-admin/pull/3832.

[2020-03-06 11:26] #3461 closed

[2020-03-06 11:29] joshuatf commented on #3626
I believe we can force the homepage to use the full width template included in Storefront.

[2020-03-06 11:30] pmcpinto commented on #3139
Yep, I'm going to close it. Thanks!

[2020-03-06 11:30] #3139 closed

[2020-03-06 11:35] joshuatf commented on #3644
Good idea @pmcpinto - was added in https://github.com/woocommerce/woocommerce-admin/pull/3726.  Closing this issue.

[2020-03-06 11:35] #3644 closed

[2020-03-06 11:36] joshuatf commented on #3643
Closed via https://github.com/woocommerce/woocommerce-admin/pull/3645

[2020-03-06 11:36] #3643 closed

[2020-03-06 11:37] joshuatf commented on #3692
Thanks for taking the time to outline this issue, @juliaamosova!  This issue is resolved via https://github.com/woocommerce/woocommerce-admin/pull/3795.

[2020-03-06 11:37] #3692 closed

[2020-03-06 11:55] jobthomas opened #3843 "Offer "npm run build" instructions earlier"
**Describe the bug**
When installing WC Admin, I can see the notice to run `composer install` in the right folder.

![](https://d.pr/i/pcIM6n+)
If the image does not load, please click this link: https://d.pr/i/pcIM6n.

However, when I do so, I get the following error when trying to activate the plugin:

[code]

Only after running `npm run build` do I get rid of the fatal error. At that point, I s

[2020-03-06 15:09] jobthomas commented on #3843
Maybe it's worth actually just linking to the instructions in the readme file here on this repo.

[2020-03-06 15:53] joshuatf commented on #3810
This is correct since we keep user data tied to any orders that were made with guest accounts.

However, it's possible that a user account is created and an order is not created alongside them.  We'll need to decide if we want to keep orphaned user data that's not tied to orders; my gut feeling is that we should not but /cc @LevinMedia  for feedback on this.

At a minimum, we should remove the `cu

[2020-03-06 19:20] #3658 closed

[2020-03-08 13:22] maximus13k opened #3849 "Chart Image is very small on every Woocommerce Admin Menu"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Woocommerce Menu'
2. Click on 'Dashboard'
3. See error

**Expected behavior**
The Charts were not visible, they are too small.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

*

[2020-03-09 01:29] psealock commented on #3841
I have a fix https://github.com/woocommerce/woocommerce-admin/pull/3851 to make sure `get_active_version` doesn't reference constants that may not be defined. With the exception of Woo Core, would anyone need to use this function? Should we ask extension developers to use `get_active_version` as THE way to determine if a site has at wc-admin active?

If so, I can add some documentation too.

[2020-03-09 01:42] psealock commented on #3840
Fixed by #3845

[2020-03-09 01:42] #3840 closed

[2020-03-09 01:46] psealock commented on #3824
I'm closing this one out due to fix by https://github.com/woocommerce/woocommerce-admin/pull/3830.

@EdithAllison feel free to continue with updates here. I'm not sure why you're having trouble. Can you paste any error messages or is it the same one?

[2020-03-09 01:46] #3824 closed

[2020-03-09 01:48] psealock commented on #3822
Fixed by #3827

[2020-03-09 01:48] #3822 closed

[2020-03-09 09:57] peterfabian commented on #3841
Maybe @allendav would be able to say if their plugin is using some parts from wc-admin, if they check for wc admin version? I could see it being useful for extensions built on top of WC Admin, so in my view, having THE way to determine currently loaded version makes sense.

[2020-03-09 11:38] joshuatf commented on #3709
It's relatively quick, but to keep the size of https://github.com/woocommerce/woocommerce-admin/pull/3739 down, we'll handle in a follow-up so another issue for that would be better.

[2020-03-09 11:39] #3634 closed

[2020-03-09 15:42] pmcpinto commented on #3761
@jameskoster what do you think?

[2020-03-09 15:48] pmcpinto commented on #3833
I agree that it makes sense to change the link to the WC Admin documentation and probably we should consider removing this notification on 4.1 or 4.2.

cc @timmyc and @jameskoster for additional feedback

[2020-03-09 16:18] jameskoster commented on #3761
Any reason not to just create a free shipping method rather than a zero cost flat rate method if the user inputs a "0.00" price for shipping costs?

[2020-03-09 16:21] jameskoster commented on #3833
+1 on linking to docs, and removing ASAP.

[2020-03-09 16:21] jeffstieler commented on #3849
Thanks for the report @maximus13k.

I'm unable to reproduce this on a Windows 7 machine running Chrome:

![Screen Shot 2020-03-09 at 10 20 09 AM](https://user-images.githubusercontent.com/63922/76234630-9732fa80-61ef-11ea-983c-2ce3cfc2eedf.png)

Are you seeing any errors in the console (developer tools)?

If not, are you able to perform a plugin conflict test by disabling all plugins other than Wo

[2020-03-09 16:26] pmcpinto opened #3853 "WP Notification panel: reassessment"
It was decided to remove the WP Notification panel as for WooCommerce 4.0: #3827
At this moment the WP notifications will be automatically visible in all the non-wcadmin pages.

We should reconsider introducing the panel, depending on how the [WP Notify project](https://make.wordpress.org/core/tag/feature-notifications/) is going to evolve

[2020-03-09 18:56] rrennick commented on #3835
@ciszere We appreciate you posting detailed feedback.

I'm not familiar with how financial filing may be distinct in Sweden. Do you have a reference that you can provide for that requirement? (I've been doing some corporate bookkeeping for most of the last 25 years and that's definitely not how returns are filed in my tax jurisdiction.)

[2020-03-09 19:14] psealock commented on #3841
I agree, in the fix's testing instructions I re-create this exact scenario, https://github.com/woocommerce/woocommerce-admin/pull/3851.

[2020-03-09 19:39] rrennick commented on #3804
@juliaamosova Thanks for the report. Can you clarify the steps you took for this?

My start button was not enabled automatically when the delete was complete.

[2020-03-09 19:56] ObliviousHarmony opened #3856 "Stock panel not returned to empty state after being cleared"
**Describe the bug**
Once the user has addressed all of the stock problems, closing and opening the panel will give an empty list instead of the friendly message that you would expect.

**To Reproduce**
Steps to reproduce the behavior:

1. Set a product's stock to the warning threshold
2. Open the stock pane and set the stock to number that won't trigger the warning
3. Close the panel and re-open

[2020-03-09 19:59] rrennick commented on #3803
@juliaamosova Have you been able to reproduce this? I tried both another analytics screen and the products list and didn't get the warning in either case.

[2020-03-09 22:44] psealock commented on #3856
This sounds like state not being updated to `wcSettings`. If its not addressed before hand, this should be resolved in the wp.data refactor to using data stores.

[2020-03-09 23:16] #3709 closed

[2020-03-10 09:14] #3626 closed

[2020-03-10 10:21] pmcpinto commented on #3761
I'm not seeing any benefit of having a zero cost flat rate instead of free shipping.

@joshuatf any additional feedback?

[2020-03-10 14:44] juliaamosova commented on #3803
@rrennick I have not been able to reproduce it ever since - I paid attention to it every time I tested but no luck. I think we can safely close this issue for now. I will comment on it again in case I come across it.

[2020-03-10 15:08] juliaamosova opened #3858 "[4.0 rc2] WC Admin: Inbox - Add your first product"
**Describe the bug**

Currently, in WC Admin / Inbox there is a notification prompting users to create their first product when products have already been created.

**To Reproduce**

Steps to reproduce the behavior:

1. On a brand new installation, I run WooCommece Core e2e tests for a smoke test to test pre-release of 4.0. E2E tests create new products on the site.
2. Click on `Inbox` and you wil

[2020-03-10 16:20] #3803 closed

[2020-03-10 16:31] rrennick commented on #3630
Re-opening. This happens with any of the WP default themes. The onboarding support check code searches the theme for `add_theme_support`. WC core adds the `woocommerce` support for the default themes so the default themes all fail the support check.

[2020-03-10 18:30] pmcpinto opened #3859 "Looker dashboard: Start & Manage"
We’re now in the position of fine-tuning the Looker dashboard for the Start & Manage focus, considering that:
- There’s was an initial spike focused on exploring Looker, where Joshua implemented an excellent dashboard
- In our roadmap, we already defined the most relevant metrics for the Start & Manage focus.

This [doc](https://docs.google.com/document/d/1ULD7t2j3chSHCAuWUV5MCONkOLyzYHGsRWRMRKiSh

[2020-03-10 18:34] pmcpinto commented on #3859
@joshuatf here's the issue about the Looker dashboard. I think we can use the google doc for any preliminary questions, feedback, etc.

cc @deltaWhiskey, as maybe we'll need some input/help from you :)

[2020-03-10 19:00] dechov commented on #3630
For reference, the old OBW explicitly checks for WP default theme [here](https://github.com/woocommerce/woocommerce/blob/bc4f246dc0cfa04265edf54270696e9ed7e3f466/includes/admin/class-wc-admin-setup-wizard.php#L78-L93).

[2020-03-10 19:09] joshuatf commented on #3761
There's no reason to not create free shipping option over a flat rate; it just complicates some of the logic on the front-end, but I agree it should be fixed.

I'm afraid that with the current UI that's not possible, but @jameskoster would be the expert here.

[2020-03-10 20:03] jeffvee opened #3860 "WC 4.0.0 Analytics bug with Bitcoin as default currency"
When using Bitcoin as the default shop currency and CryptoWoo payment gateway to process cryptocurrency payments, the analytics does not register any data from sales to order count, everything is displayed as 0.

![Screen Shot 2020-03-10 at 12 58 36 PM](https://user-images.githubusercontent.com/18080302/76354296-6e823200-62cf-11ea-8438-4cf576e137d3.png)
![Screen Shot 2020-03-10 at 12 59 01 PM](htt

[2020-03-10 20:45] timmyc commented on #3518
In all of my recent 4.0 testing I haven't encountered this again, so I'm closing this out.

[2020-03-10 20:45] #3518 closed

[2020-03-10 20:50] timmyc commented on #3836
Thanks for the report @juliaamosova - I see a few different options to explore here, and will leave it up to the dev who gets this to determine which path(s) to explore:

- Option 1: See if there is any hook or action we can use on the local site after the initial WCCOM connection is established. If so, possibly use that to mark this inbox notif as actioned. This seems like the cleanest approach i

[2020-03-10 21:58] rrennick commented on #3860
@jeffvee Thanks for the report. Can you provide us with the details on your WC currency settings and what the Bitcoin amounts show on an order?

[2020-03-10 22:01] jeffvee commented on #3860
In the first screenshot you can see the order was for 0.005 BTC (~$40 USD).

![Screen Shot 2020-03-10 at 3 00 12 PM](https://user-images.githubusercontent.com/18080302/76363274-ea847600-62df-11ea-92f4-c303d1c5ae02.png)

[2020-03-10 22:45] snowloversglobal opened #3861 "Woocommerce Admin crashing website"
Last night my website crashed. After talking to the SiteGround team it seems the woocommerce admin plugin is causing this error....

Stack trace: #0 /home/customer/www/snowloversglobal.com/public_html/wp-content/plugins/woocommerce/includes/class-wc-data-store.php(139): WC_Data_Store->__construct('admin') #1 /home/customer/www/snowloversglobal.com/public_html/wp-content/plugins/woocommerce-admin/s

[2020-03-11 00:51] timmyc commented on #3810
I chatted with @LevinMedia about this, and I think what you said at the end @joshuatf is exactly what we need to test to see what happens, and change if needed. The case of a user that does place an order, then the wp-user row is deleted, making sure the customer lookup table clears out the customer_id properly.

[2020-03-11 06:09] SiR-DanieL opened #3869 "[4.0] WC Admin fatal error"
**Describe the bug**
I am not sure if this is a bug with WooCommerce but I suspect it might be.

I have this error on a customer's site:

[code]

It is shown on the `plugins.php` page. The site is a multisite, it's shown on the Network tab but also when opening `wp-admin` of some subsites.

My suspect is this line

[code]

The Data Store `admin` does not seem to exist anywhere and it's causing thi

[2020-03-11 09:30] jameskoster commented on #3761
Over time I think we'll expand this interface and introduce additional layers of complexity, but naturally we'd need to consider all the intricacies of the current shipping settings in order to do so in a successful way. For example if we allow folks to create additional rates, they'd also need to add descriptions and priorities, or conditions around when the different rates are made available to

[2020-03-11 10:17] peterfabian commented on #3869
Transferred to WC Admin repo.

[2020-03-11 13:15] anjanesh opened #3871 "Error installing woocommerce services - No Error message"
There was an error installing woocommerce services - please try again

**Screenshots**
https://imgur.com/a/eSVpNMe

**WordPress Environment**
PHP Version 7.3.15
WordPress 5.3.2
WooCommerce 4.0.0

[2020-03-11 14:12] dougaitken commented on #3665
I think this is the same as #3195, am I right @timmyc?

[2020-03-11 14:14] peterfabian commented on #3869
This seems to be related: https://wordpress.org/support/topic/asap-php-fatal-error-after-woocommerce-update/

[2020-03-11 14:24] peterfabian commented on #3869
This one seems to be a duplicate of https://github.com/woocommerce/woocommerce-admin/issues/3861.

[2020-03-11 14:53] peterfabian commented on #3869
btw `WC_Data_Store->__construct('admin')` is a bit of a red herring, WC looks for data store 'admin' if 'admin-note' has not been found, as the code is hoping the 'parent' data store might handle it.

[2020-03-11 17:47] jeffstieler commented on #3861
Hello @snowloversglobal,

I'm currently working on a fix for the issue, but in the meantime - if you don't mind WooCommerce Admin being active on all of your sites, network activate it and the problem should be resolved.

[2020-03-11 17:48] jeffstieler commented on #3869
@SiR-DanieL

I'm currently working on a fix for the issue, but in the meantime - if the customer doesn't mind WooCommerce Admin being active on all of their sites, network activating it should stop the PHP Fatal.

[2020-03-11 18:21] rrennick commented on #3860
I don't have a Bitcoin account/wallet but I can change my currency decimals to the same setting. I created a `.005` product. It shows up correctly on the analytics (Note I have some translation test strings in place so some labels will be different.)

<img width="1104" alt="Screen Shot 2020-03-11 at 3 15 44 PM" src="https://user-images.githubusercontent.com/343847/76449925-b4142d00-63ab-11ea-999d-

[2020-03-12 00:03] timmyc commented on #3665
@dougaitken indeed the look to be similar.

[2020-03-12 00:22] JakePT opened #3877 "Select control in new onboarding experience is not keyboard navigable"
**Describe the bug**
When setting up a store with the new onboarding screen in 4.0, when you are selecting a country you cannot move between options with the up and down arrows.

**To Reproduce**
Steps to reproduce the behavior:
1. Install WooCommerce
2. Begin setup Wizard
3. Select Country/Region dropdown, type a few letters
4. Use up and down arrows to try and move between options

**Expected be

[2020-03-12 04:03] psealock opened #3875 "Failing tests on release branch"
**Describe the bug**

Tests are failing on `version/1.0`.

**To Reproduce**

`vendor/bin/phpunit -c phpunit.xml.dist`

[code]

[2020-03-12 10:14] pmcpinto opened #3878 "Remote Inbox Messaging"
With the upcoming changes coming to the wc-admin dashboard (pbIJXs-1w-p2), the inbox notification panel is going to occupy a prominent place. So it's more important than never to find a way to control the notifications without waiting for a new release. Ideally, we should be able to control the following:

- Add new notifications
- Delete existing notifications
- Editing the notification content
-

[2020-03-12 11:09] gbruzzo commented on #3665
Maybe related, as it is currently impossible to **drill down orders by variations**

Example 1 :
Go To Analytics/Orders => Select Advanced Filters => add a filter (Product) => notice how individual variations cannot be added to the filter. **We need to be able to add individual variations to the order filter**

Example 2:
Go To Analytics/Orders => If you decide to filter by a parent product, the r

[2020-03-12 16:50] pmcpinto opened #3880 "eCommerce plan - removing Calypsoify"
We're thinking about removing Calypsoify from the Store experience on the eCommerce plan (more info here pbIJXs-1G-p2). So we would like to understand the following:
- A rough estimation of how long it can take this implementation
- The main risks involved in doing this change
- What would be required to do if we wanted to revert this change in the future
- A list with the largest modules of work

[2020-03-12 17:17] joshuatf opened #3881 "Move plugin information and Jetpack status out of onboarding settings"
Currently the wc-api includes selectors such as `isJetpackConnected` and `getActivePlugins` that exist under onboarding.

These are selectors that may benefit a whole host of areas outside of onboarding.  While it's possible to use these selectors without onboarding being active, they have potential to throw errors with data not being preloaded.

This issue will involve:
* Moving these selectors o

[2020-03-12 17:37] pmcpinto opened #3882 "Traffic reports - wc-admin dashboard"
In the upcoming cycle, we plan to start implementing some changes in the wc-admin dashboard, including the inclusion of 1/2 traffic reports based on pageviews/visitors. More info here: pbIJXs-1w-p2 (design tbd)

It seems that this can only be achieved for stores using Jetpack, so at the end of the cooldown it would be great to understand the following:
- If we can introduce these reports for new a

[2020-03-12 17:57] #3861 closed

[2020-03-12 17:57] #3869 closed

[2020-03-12 18:02] pmcpinto commented on #3761
Thanks y'all for your feedback.

@joshuatf when you have time can you just add a rough estimate of how long it will take to implement this change (setting free shipping instead of a zero cost flat rate)? Just so we can evaluate if this should be included in the next cycle.

[2020-03-12 20:28] jeffvee commented on #3860
FWD: Felix Stein (CryptoWoo):

[2020-03-12 22:58] #3788 closed

[2020-03-13 04:07] psealock opened #3889 "Github releases include files that should be ignored"
Github releases include many files that should not be there.

For .org releases, it complicates the copy/paste, making the process more error prone.

For Core releases, it means users need to download unneeded files, increasing the plugin bundle size.

## Included now

![Screen Shot 2020-03-13 at 5 02 17 PM](https://user-images.githubusercontent.com/1922453/76588802-e610c500-654c-11ea-8217-3a3a9ea

[2020-03-13 04:34] #3711 closed

[2020-03-13 10:57] joshuatf opened #3892 "Payfast logo needs cropping"
**Describe the bug**
Minor but the Payfast logo needs to be cropped slightly to remove whitespace and sit flush with the side.  We may also want to use a PNG with a transparent background.

**To Reproduce**
Steps to reproduce the behavior:

1. Enable the task list.
1. Set your store country to SA.
1. View the payments task.
1. Note the logo is slightly off the left-hand side.

**Expected behavior*

[2020-03-13 12:20] joshuatf opened #3893 "Preloaded settings with a boolean don't get preloaded"
**Describe the bug**
Found when testing https://github.com/woocommerce/woocommerce-admin/pull/3796 an option that is `false` will not get preloaded since it doesn't pass the condition to check if it's set.

https://github.com/woocommerce/woocommerce-admin/blob/e3d5c325dbeb64a6c4510d240b951565f3c7ed57/client/wc-api/options/selectors.js#L35

We can do one of or both of the following:
* Change settin

[2020-03-13 13:01] joshuatf opened #3894 "Onboarding: Remove plugin installation step from profiler"
From discussion in p6riRB-5li-p2 we should remove the final plugins step from the profiler and install plugins in the background.

Following the benefits screen, the installation should then occur in the background if the user has opted into the plugin installation.

https://github.com/woocommerce/woocommerce-admin/pull/3888 will introduce inbox notices if installation fails, prompting the user to

[2020-03-13 15:11] Delphinworks opened #3964 "Back to product categories disappears"
**Describe the bug**
After working within a product category the "back to categories" button near top disappears.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'product categories'
2. Click on 'customize category'
3. SAVE
4. Try to navigate back with <-- back to categories  ---- disappears

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Expected behav

[2020-03-13 15:35] jameskoster opened #3897 "Standardise colors"
TLDR - Remove any style overrides applied to components we're consuming from the WordPress core component package so that we gracefully inherit "[G2](https://www.figma.com/file/fnyj380i05vGzuuH60frLQ/G2-Design?node-id=85%3A6975)" design updates. https://github.com/WordPress/gutenberg/issues/18667

To make WooCommerce feel like a seamless part of the broader WordPress UI, and to better respect user

[2020-03-13 15:59] jeffstieler commented on #3860
Hi @jeffvee, thanks for reporting this issue.

Do you have an "pending" actions under Tools > Scheduled Actions? WooCommerce Admin uses the background processing library Action Scheduler to sync order data for analytics. If the actions aren't being processed, that would explain the zeros in your reports.

[2020-03-13 16:18] pmcpinto commented on #3894
Hey @joshuatf thanks for the ping. I think you covered everything.

[2020-03-13 16:35] pmcpinto commented on #3644
@joshuatf can you confirm if this event tracking was also included? I'm not seeing it on Tracks

[2020-03-13 17:16] NaelG commented on #3871
@anjanesh (same problem)
 Have you found any solution to install woocommerce even with this error ?

[2020-03-14 01:12] anjanesh commented on #3871
@NaelG I am still waiting for a fix for the setup.

[2020-03-15 13:24] ciszere commented on #3835
Hello again,

Thanks for your answer :)

Okey i understand, and you are probably right also, so maybe the
bookkeeping is different in our countries. This is just what my bookkeeper
told me here in Sweden..

But lets take this example. On black friday our sales skyrocket with 500%
(this also means that the returns went up 500% in the next 3 weeks (Since
that's our return policy). and after black fr

[2020-03-15 23:39] psealock commented on #3881
It would be great to get this merged before starting on this project so refactors can happen at the same time. https://github.com/woocommerce/woocommerce-admin/pull/3313

[2020-03-16 03:34] derekakelly opened #3904 "WC Dashboard - Performance section doesn't load, causing high server load resulting in server errors"
**Describe the bug**
While viewing the WooCommerce dashboard. The Performance section doesn't load, causing high server load resulting in 503 & 500 errors in my console.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.yoursite.com/wp-admin/admin.php?page=wc-admin
2. The page loads, but the entire performance section doesn't.

**Expected behavior**
the performance section t

[2020-03-16 06:12] #3633 closed

[2020-03-16 10:41] joshuatf commented on #3761
Hey @pmcpinto I think this is a 2.  I dabbled in this one a bit while I was on porter duty so I may try and implement a fix this cycle if I get a chance.

[2020-03-16 11:06] pmcpinto commented on #3833
Let's remove it on 4.1 if possible.

[2020-03-16 11:29] pmcpinto opened #3905 "WCPay invitational beta: Inbox notification"
We need to include a new inbox notification that aims to increase the number of users that required an invitation to use WCPay:

**Title:** Experience a new way to get paid
**Copy:** You're invited to try WooCommerce Payments, before its official release. View and manage transactions, including payments, chargebacks and deposits, without leaving your WooCommerce dashboard.
**Store type:**
- Existi

[2020-03-16 11:57] #3710 closed

[2020-03-16 12:53] dougaitken commented on #3869
As a note for anyone else reading this - network activating WooCommerce Admin fixed this for one customer I chatted to

[2020-03-16 15:24] pmcpinto opened #3906 "Tracks: review duplicated events (php and js)"

[2020-03-16 15:43] jeffstieler commented on #3631
This was closed by https://github.com/woocommerce/woocommerce-admin/pull/3730.

[2020-03-16 15:43] #3631 closed

[2020-03-16 15:46] jeffstieler commented on #3714
Looks like this can be closed @pmcpinto.

[2020-03-16 15:47] pmcpinto commented on #3761
Ok Joshua, thanks for the heads up!

[2020-03-16 15:51] jeffstieler commented on #3693
I'm also unable to reproduce this - using latest WooCommerce `master`:

![Screen Shot 2020-03-16 at 9 50 51 AM](https://user-images.githubusercontent.com/63922/76775934-b5f33d00-676b-11ea-9739-f25885065902.png)

[2020-03-16 15:52] pmcpinto commented on #3714
Thanks for the ping. I'm going to close it.

[2020-03-16 15:52] #3714 closed

[2020-03-16 16:12] juliaamosova commented on #3693
I couldn't reproduce this ever since. And it was on JN site so I can't go back to it to check again. I think this issue can be safely closed.

[2020-03-16 16:13] jeffstieler commented on #3693
Thanks for the follow up @juliaamosova! Closing.

[2020-03-16 16:13] #3693 closed

[2020-03-16 16:14] #3224 closed

[2020-03-16 16:37] joshuatf opened #3907 "Onboarding: Add event when task is completed and task list is completed"
We should record an event `wcadmin_task_completed` when a task is marked complete in the task list.  This will only be responsible for checking task completion when done in the task list and will not check if a task has been completed outside the task list.

Event name: `task_completed`
Event prop: `task name`

We should pass `completeTask()` as a prop to each task so that we can easily record thi

[2020-03-16 16:37] joshuatf commented on #3644
Sorry I misread your earlier comment, @pmcpinto.  New issue opened here https://github.com/woocommerce/woocommerce-admin/issues/3907

[2020-03-16 21:09] psealock commented on #3877
While looking into this, we should consider using https://github.com/WordPress/gutenberg/tree/master/packages/components/src/custom-select-control

[2020-03-16 22:09] psealock commented on #3893
This may be fixed by the settings refactor, which handles preload settings in new data stores.

[2020-03-16 22:26] Ismail-elkorchi opened #3913 "Impossible to import historical data"
**Describe the bug**
Trying to import Historical Data results in this error : "No route was found matching the URL and request method". Moreover, the console shows that the browser tries to `GET` a `URL` that doesn't exist : `/wp-json/wc-analytics/reports/import/?skip_existing=true&_locale=user`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Setting in the Analytics section
2. Scroll

[2020-03-17 00:45] sgrizzle7 commented on #3904
I am having the same issue on a client account. Whenever we click the dashboard link the server locks up. We spent hours troubleshooting settings and adjusting PHP-FPM settings to no avail.  I reached out to WooCommerce who sent me a link to a plugin to disable the dashboard. The plugin adds this filter:

add_filter( 'woocommerce_admin_disabled', '__return_true' );

I really would like to use the

[2020-03-17 08:46] derekakelly commented on #3904
I have tested with the updated version and I'm still experiencing this issue.

[code]

[2020-03-17 13:34] tobiasfeistmantl opened #3923 "Uncaught Exception on WPMU"
**Describe the bug**
I get an "Uncaught Exception" error on an individually activated site in a WordPress Multisite Network.

Here the full error:

[code]

**Isolating the problem (mark completed items with an [x]):**
- [ All individually activated ] I have deactivated other plugins and confirmed this bug occurs when only WooCommerce plugin is active.
- [ x ] This bug happens with a default WordPr

[2020-03-17 16:31] tobiasfeistmantl opened #3914 "Uncaught Exception on WPMU"
**Describe the bug**
I get an "Uncaught Exception" error on an individually activated site in a WordPress Multisite Network.

Here the full error:

[code]

**Isolating the problem (mark completed items with an [x]):**
- [ All individually activated ] I have deactivated other plugins and confirmed this bug occurs when only WooCommerce plugin is active.
- [ x ] This bug happens with a default WordPr

[2020-03-17 16:51] jeffstieler commented on #3913
Hello @Ismail-elkorchi,

Are you perhaps using any plugins that restrict the WP REST API? That endpoint should exist with WooCommerce 4.0.0 and/or WooCommerce Admin enabled.

[2020-03-17 17:22] #3698 closed

[2020-03-17 20:10] Ismail-elkorchi commented on #3913
Hello @jeffstieler,

No I don't have any plugins that restrict the WP REST API. As an example, the "/wp-json/wc-analytics/" endpoint is working well.

[2020-03-17 20:32] #3836 closed

[2020-03-17 20:32] timmyc commented on #3833
I think we can get this note removed during the cooldown period.

[2020-03-17 20:58] rrennick commented on #3913
@Ismail-elkorchi Can you load the `/wp-json/wc-analytics/reports/import/?skip_existing=true` endpoint directly in an authenticated rest client?

[2020-03-17 21:06] jeffstieler commented on #3913
@Ismail-elkorchi that's quite curious - the `/wp-json/wc-analytics/reports/import/` endpoint expects a `POST` request to be made, not a `GET`.

What plugins do you have active?

[2020-03-17 21:17] volkerforster commented on #3869
Hi,
I am reading this and I have issues since I tried to update to WooCommerce 4.0 (I am back to 3.9.3 due to even more issues). Some of it looks very similar to mine, but something doesn't.
The biggest mysterium for me is that Action Scheduler tries to access non-existing database tables with the prefix "a." Nobody so far was able to answer my question where this comes from and how to fix it. I c

[2020-03-17 21:56] rrennick commented on #3869
@volkerforster Please see https://github.com/woocommerce/woocommerce/issues/25895.

[2020-03-18 09:32] pmcpinto commented on #3907
Hey @joshuatf can we also add the one that we talked about to trigger when all the tasks are completed? It can have the following name: `wcadmin_tasklist_finished`

So it doesn't conflict with `wcadmin_tasklist_completed`

Thanks

[2020-03-18 09:51] pmcpinto commented on #3907
We already have an event with the name `wcadmin_tasklist_completed` that's triggered when the user clicks in one of the options available to close the task list. I suggest setting the name of this new event as `wcadmin_tasklist_finished`.

Thanks

[2020-03-18 11:30] Ismail-elkorchi commented on #3913
@rrennick Loading the `/wp-json/wc-analytics/reports/import/?skip_existing=true` endpoint results in this response :
[code]

@jeffstieler You can find all the plugins I'm using under the **WordPress Environment** heading in the issue report.

[2020-03-18 11:35] pmcpinto commented on #3771
Hey @rrennick this issue can be closed, correct?

[2020-03-18 11:38] pmcpinto commented on #3728
@octaedro this issue can be closed, correct?

[2020-03-18 13:36] #3771 closed

[2020-03-18 13:37] rrennick commented on #3771
@pmcpinto Yes, this was addressed and should have been auto closed by GH.

[2020-03-18 14:51] jeffstieler commented on #3913
This is really strange. The code that makes this API call is hardcoded to send a `POST`.. not `GET`: https://github.com/woocommerce/woocommerce-admin/blob/8585ed89b80c394b9cec160ded8c591a8fbfa20d/client/analytics/settings/historical-data/index.js#L55

@rrennick do you know of any cases where `@wordpress/api-fetch` would change the HTTP method for a `POST`?

[2020-03-18 17:10] rrennick commented on #3913
The only thing that comes to mind is this might happen with an expired nonce.

[2020-03-18 18:12] allendav opened #3930 "Add WCPay to the Setup Checklist Payments Task"
In order to be able to introduce it in WC 4.1 as the recommended payment option in the new setup checklist payment task.

For all child tasks here, lets use a feature branch of `add/wc-pay` and target all child PRs off of that feature branch.

__Background__
pbIJXs-2c-p2

__Child Issues__
- [ ] `#516` from wcpay for proper redirect back to task list dashboard
- [x] Create Feature Flag #3946
- [x]

[2020-03-18 21:32] szuranski opened #3943 "503 Errors in Admin"
When accessing the backend in version 4.0 multiple AJAX call are being made which caused the server to start returning 503 errors. The more AJAX requests being made the more likely the page doesn't load.

Many others reporting the same problem.
[https://wordpress.org/support/plugin/woocommerce/](https://wordpress.org/support/plugin/woocommerce/)

![image](https://user-images.githubusercontent.com/

[2020-03-19 11:52] joshuatf commented on #3893
Nice- was wondering if that may be the case.  Will put this on hold until that gets merged and we can retest then.

[2020-03-19 15:12] octaedro commented on #3728
@pmcpinto yes, I will close it now. The PR associated with it is already merged.

[2020-03-19 15:12] #3728 closed

[2020-03-19 18:47] dz0ny commented on #3904
I can confirm:
Following requests cause 20x CPU usage on PHP workers (no effect on DB)

[code]

[2020-03-19 19:16] timmyc opened #3946 "Create new feature flag for WcPay"
Child task of #3930

In order to have the ability to toggle the WcPay appearance in the Setup Checklist across our various install points, we should create a new [Feature](https://github.com/woocommerce/woocommerce-admin/blob/master/docs/features/feature-flags.md) for this functionality in wc-admin. That way if things aren't quite ready yet for whatever reason, we can keep it turned off in builds

[2020-03-19 19:43] timmyc opened #3948 "Add wcpay to Payments Checklist"
Child task of #3930
Dependent upon #3946

This task involves actually adding wcpay to the payment option to the payment step of the setup checklist:

![image](https://user-images.githubusercontent.com/22080/77107577-2608f980-69de-11ea-812c-78ad3a9dd5e2.png)

**We are currently still in the process of getting the wc-pay plugin officially posted to .org.** As such this step will need to be built in

[2020-03-19 21:02] tonydjukic commented on #3849
Confirming that I'm seeing the same issue in Safari and Chrome on a Mac.  Error console is empty and the issue persists with default theme and all other plugins except WooCommerce deactivated.

[2020-03-19 21:41] ericmicali opened #3949 "Default theme colors in cart"
When this plugin is activated, and using the Divi Theme, when you visit the Cart page of the website, the default theme colors show throughout the page (secondary menu, widgets, etc.).  Once I deactivated the plugin, it went back to normal.

[2020-03-19 22:46] LevinMedia commented on #3948
when the merchant is returned to the payment task screen, the design of the payment option changes to match the other cards on the screen.

<img width="709" alt="Screen Shot 2020-03-19 at 3 44 52 PM" src="https://user-images.githubusercontent.com/4500952/77121587-c2d89080-69f8-11ea-9291-cf063b478c76.png">

[2020-03-19 23:50] szuranski commented on #3943
Can you give any idea how long? 1 week, 1 month?

[2020-03-20 04:03] r365online opened #3954 "The source link dashboard in the bar of product page hides my tool (add image)"
**Describe the bug**
The source link dashboard in the bar of product page hides my tool (add image)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'edit product page'
2. Click on 'nothing'
3. Scroll down to 'add image'
4. I can't, I have to scroll up to add image because the tab hides my add image tool.

**Screenshots**
<img width="1440" alt="Screen Shot 2020-03-20 at 11 00 01" src="h

[2020-03-20 15:25] peterfabian opened #3956 "Multisite fatal with WC Admin 0.24 and WC 4.0.1"
Multisite WP 5.3.2
Fresh install of WC 4.0.1 and WC Admin 0.24
WC network activated
WC Admin -- attempted to local activate, got the fatal:

[code]

Seems like the situation is the same with WC Admin 0.25, 0.26.1, 1.0.0

[2020-03-20 15:32] peterfabian commented on #3956
But I guess that's expected, that's why we've implemented the fix in WC Admin 1.0.2...

[2020-03-20 15:35] #3956 closed

[2020-03-20 17:16] rrennick opened #3957 ".pot translation not included in composer package"
**Describe the bug**
I found this while investigating https://github.com/woocommerce/woocommerce/issues/25920.

WooCommerce includes WooCommerce Admin via the composer package. We currently build a `woocommerce-admin.pot` for the plugin uploaded to WordPress.org. The package retrieved via composer does not include this file.

#3433 updated the `.pot` generation script to account for the fact that

[2020-03-20 17:38] rrennick commented on #3957
Closing. I created a test plugin and pulled in via composer and the language file is there.

[2020-03-20 17:38] #3957 closed

[2020-03-20 18:33] #3657 closed

[2020-03-20 19:34] timmyc commented on #3948
But only if they have gone through the setup of WCPay correct? If they view the payment task, go eat a burrito, log back in, it should still be purple right?

[2020-03-20 19:47] allendav commented on #3948
Adding to the main description that if the user has selected that they are setting up the store for someone else, that the payment card should include a link to developer mode information for wcpay.

[2020-03-20 20:01] timmyc commented on #3954
@jameskoster Thoughts on this?

[2020-03-20 20:07] timmyc commented on #3943
@szuranski thanks for the report. Can you share a few more details about your site to see if we can reproduce? Where is the site hosted specifically? Based upon the status report above, it says "example.com" is this happening in a local environment only?

We have tested the dashboard, and all of WooCommerce 4.0 on a variety of hosting environments and did not encounter this, but I am aware it has

[2020-03-20 20:10] timmyc commented on #3923
@tobiasfeistmantl  and @lukaszj-salag could you see if the latest release of WooCommerce ( 4.0.1 ) fixes this problem for you?

[2020-03-20 20:17] timmyc commented on #3949
Hello @ericmicali - Could you include a screenshot of the problem, along with System Status Report from WooCommerce?

Instructions on how to do that [can be seen here](https://docs.woocommerce.com/document/understanding-the-woocommerce-system-status-report/)

[2020-03-20 22:11] Ismail-elkorchi commented on #3913
The latest WooCommerce update seems to solve my problem. By installing it I managed to import the historical data.

[2020-03-20 22:12] szuranski commented on #3943
@timmyc

https://www.hi-vis-shirts.com/

It's a fresh install of WP and Woo on a GoDaddy server. All plugins except Woo where disabled with the same result. It's directly related to the amount of AJAX calls made after page load. There more calls the more likely the page times out.

[2020-03-20 22:15] timmyc commented on #3943
@szuranski thanks so much! We have tested on GoDaddy, but I will test again and see if I can reproduce. It almost sounds like there might be some sort of firewall/web security thing triggering to block the requests to the REST API.

I'm not extremely familiar with GoDaddy, but what is the name/level of the hosting plan that is in use? We do have some contacts at GoDaddy I can reach out to also and

[2020-03-21 00:29] allendav opened #3959 "Copypasta in Dashboard, Task List, Square"
**Describe the bug**

The square component references stripe settings in 4 places in square.js, e.g.:

https://github.com/woocommerce/woocommerce-admin/blob/b355b6aa5489992e2765567e2b6fbc52d754d9e6/client/dashboard/task-list/tasks/payments/square.js#L50

https://github.com/woocommerce/woocommerce-admin/blob/b355b6aa5489992e2765567e2b6fbc52d754d9e6/client/dashboard/task-list/tasks/payments/square.j

[2020-03-21 09:53] tobiasfeistmantl commented on #3923
The problem is fixed on our side. Thanks!

[2020-03-21 19:44] szuranski commented on #3943
@timmyc

GoDaddy Deluxe Hosting

[2020-03-21 23:22] jatrant opened #3968 "Can not add new customer within wordpress admin"
**Describe the bug**
I dont get an option to add a customer manually within the wordpress backend admin.

**To Reproduce**
Steps to reproduce the behavior:
1. Log into wordpress admin
2. Click on woocommerce -> Customers
3. You will see there is no option to add a customer manually.

Aslo there is no

**Screenshots**
<img width="1505" alt="Screen Shot 2020-03-21 at 5 17 19 PM" src="https://user-im

[2020-03-22 13:31] dz0ny commented on #3943
I did a quick trace on **wp-json/wc-analytics/admin/notes**

Spec:
- 1000CPU units (1 core)
- 512MB memory (4 workers)

Summary
![image](https://user-images.githubusercontent.com/239513/77250640-97001980-6c49-11ea-87d3-be304b2080d9.png)

Trace for **wp-json/wc-analytics/admin/notes**
![app tideways io_o_Niteo_dz0 us_trace_NFldAnEBlTGRFerWPRSv_full_fn=register_rest_route (1)](https://user-images.gi

[2020-03-22 20:06] psealock commented on #3904
We are also getting reports of errors such as the one below. Seems to be related.

[code]

[2020-03-22 22:27] bernattorras opened #3960 "Add 'guest' as a customer type in the Order filters"
**Context**
As explained in this [WooCommerce issue](https://github.com/woocommerce/woocommerce/issues/25992), a customer wanted to find a way to get all their "guest" orders after some of their customers got deleted by inactivity.

In addition to this case, I think that it could also be a good thing to be able to filter in the analytics to get a better picture of the number of orders that are pla

[2020-03-22 23:52] DOSEOFiNSANiTY opened #3970 "Major Issues with WooCommerce Dashboard & Analytics Rendering"
**Whats Happening**
I am having a lot of problems with getting Woocommerce to show me the Dashboard or Analytics page. They render, then immediately disappear. I checked the console and saw that these errors are thrown...

![b1272431-5dd3-4f85-8e5a-3b74992fb9db](https://user-images.githubusercontent.com/35680555/77265708-caf03480-6c73-11ea-8e18-3260be5a7e56.png)

I found a related bug that was an

[2020-03-22 23:57] #3923 closed

[2020-03-23 02:27] PWDAZ opened #3962 "PHP Error in Products Screen After Update"
After upgrading from 3.9 to 4.01 I have the following error sitting at the top of my Products page. It's a pretty bare bones dev site and I don't have steps to recreate other than just rolling back plugins and upgrading again which I did but the error still persists.

Notice: Undefined property: stdClass::$tco-data in /home/chaseb49/public_html/examples/f4lo/wp-admin/includes/class-wp-posts-list-t

[2020-03-23 08:30] ajgw opened #3973 "No effect clicking on wc-settings wc-hide-notice=update _wc_notice_nonce"
Just updated WC 3.9.3 to 4.0.1 and went fine til database updated. I got a notice in WC screens which told me that database update is finished. In notice the button "Thanks" does not work. If I click on it, a page reload is done but notice still comes up.

Any idea how to close/hide notice?

[2020-03-23 09:58] jameskoster commented on #3954
WordPress applies `position: fixed` to the toolbars when you scroll past them. If it's possible, we just need to offset the values applied there by the height of the top bar.

[2020-03-23 10:12] jameskoster opened #3963 "Remove breadcrumb in the top bar"
In all our recent screen designs, we're simply displaying the screen title in the top bar. The breadcrumb has questionable usability benefits and is causing issues like [this](https://github.com/woocommerce/woocommerce/issues/25918) for screens that exist outside of the WooCommerce hierarchy.

The screen title should utilise the `Text - Subtitle Small` [component](https://wordpress.github.io/guten

[2020-03-23 11:22] joshuatf commented on #3948
Currently we have a recommended ribbon for Stripe.  Will we keep this or only add the above recommended design for WCPay and remove the ribbon from Stripe?
/cc @jameskoster @LevinMedia

![Screen Shot 2020-03-23 at 1.20.37 PM.png](https://images.zenhubusercontent.com/5d7fd4b446611c000130d6f9/5df8b9d0-b64f-42e4-9b1f-2c033468b335)

[2020-03-23 12:08] ericmicali commented on #3949
Hi @timmyc - thanks for getting back to me! It appears the issue is resolved.  Not sure if it's because of a plugin update or not, but I'm not noticing the issue anymore.  I appreciate the followup.

[2020-03-23 12:08] #3949 closed

[2020-03-23 12:19] poehaldur opened #3966 "Navigation bar Inbox to another URL?"
**Is your feature request related to a problem? Please describe.**
Really love the new WC navigation bar but I have no use for the inbox.

**Describe the solution you'd like**
I have a “leads from forms” listings page, so I would like a way to change the inbox button URL to that page.

**Additional context**
![download (11)](https://user-images.githubusercontent.com/32192439/77315005-6edaee00-6d0f

[2020-03-23 12:24] jameskoster commented on #3966
We hope the Inbox will prove useful over time, so I wouldn't recommend replacing it.

Instead it sounds like it would be better for you to add a tab panel here. Hopefully an engineer will chime in with advice on whether that's possible and how to achieve it.

[2020-03-23 12:52] poehaldur commented on #3966
Thanks @jameskoster , I know it will be useful to beginners but I have clients who do not have access to settings as I take care of everything and to them inbox recommendations to connect with wordpress.com and etc. is just confusing. Even with new tab, I would still hide the inbox with css but you are right, that new tab would be a better solution than replacing inbox url.

[2020-03-23 14:33] jeffstieler commented on #3913
Thanks for following up with us @Ismail-elkorchi - I'll go ahead and close the issue.

[2020-03-23 14:33] #3913 closed

[2020-03-23 14:59] juliaamosova commented on #3970
@jeffstieler thanks! Done.

[2020-03-23 15:03] jeffstieler commented on #3970
Hello @DOSEOFiNSANiTY,

We've seen this issue once before and the root cause was an issue with SVG images loading in the store dashboard. (I suspect it's an issue with the hosting setup)

The last user to write in with this problem was able to resolve it by [clearing their browser cache](https://www.siteground.com/kb/how_to_clear_cache_in_firefox_internetexplorer_safari_opera/).

Please let us kno

[2020-03-23 15:04] jeffstieler commented on #3849
Nice sleuthing @tonydjukic! Any chance you have links to those tutorials or the plugin?

Thank you.

[2020-03-23 15:19] tonydjukic commented on #3849
I actually searched the other night but everything I find now seems to have an updated logic to the way it instructs the admin to display SVGs.  Everything I find now is `width:100%` rather than the specificity.

I only know it exists because I had used the tutorial myself and ended up with that code snippet running on a local test site and I actually wrote that code to replace a plugin that added

[2020-03-23 15:25] #3761 closed

[2020-03-23 15:31] pmcpinto opened #3971 "Onboarding: Business details: change Google Ads title and increase logo size"
Some people can be confused with the term "Google Shopping". We should change it in the copy to "Google Ads".

Title: Drive sales with Google Ads
Plugins disclaimer: The following plugins will be installed for free: Facebook for WooCommerce, Mailchimp for WooCommerce, Google Ads

Also, the logo is super small if we compare it with Facebook and Mailchimp logos. Is it possible to increase its size?

[2020-03-23 15:57] c-shultz opened #3972 "Dashboard does not work in ie11"
**Describe the bug**
I tested the wc-admin dashboard (/wp-admin/admin.php?page=wc-admin) and got a blank view. The wp-admin sidebar was visible but none of the reports appeared.

The ie11 console showed `Syntax error index.js( 7, 347320)`.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to /wp-admin/admin.php?page=wc-admin in ie11
2. See error

**Expected behavior**
Dashboard works in ie

[2020-03-23 18:11] DOSEOFiNSANiTY commented on #3970
Hi there @jeffstieler,

I tried clearing the cache and was met with the same issue.
This SVG issue however, is there a solution to that? Something the hosting company would need to resolve?

Any other suggestions?

Thanks for the help.

[2020-03-23 20:07] #3630 closed

[2020-03-23 20:47] #3907 closed

[2020-03-23 21:27] allendav commented on #3948
FYI. I intend on not showing WCPay if `hasCbdIndustry` is true

[2020-03-23 22:57] #3246 closed

[2020-03-23 23:38] psealock commented on #3966
I agree that would be useful. Unfortunately, we don't have filters in place to do that currently. I think it could add value and a discussion around what that would entail will be good.

[2020-03-24 06:55] bobmulder opened #3981 "Cannot receive download e-mail (e.g. stock) from WooCommerce Analytics"
**Describe the bug**
I am thankful for this plugin, however I don't understand how the following should work. In WC Admin I can get an overview of the whole stock. Nice. When I click the 'Download' button I get a popup that I'll receive an e-mail with the download. The e-mail is never received, and I have no idea what this feature should be doing either...

**To Reproduce**
Steps to reproduce the

[2020-03-24 08:03] Aljullu commented on #3811
I remember fixing this one some time ago (https://github.com/WordPress/gutenberg/pull/14418). Might it be related to an old version of Gutenberg?

[2020-03-24 12:18] jameskoster commented on #3948
We should only recommend Stripe to stores where WCPay is not available. The "Ribbon" design should match the latest design in the OP, for both methods :)

[2020-03-24 13:20] rrennick opened #3982 "Update routine uses undefined constant"
**Describe the bug**
[code]

The `QUEUE_GROUP` was removed in a previous PR. This error would only occur when a site with a 0.24 or older WCA deactivated with WC4.0.X installed (or WCA 1.0.X).

**Expected behavior**
Update the function to use either the group string or pull it from the current sync code. Since this action is no longer scheduled and all existing instances of the action use the same

[2020-03-24 14:17] rrennick commented on #3968
@jatrant To add customers prior to the order flow process, go to Users -> Add New and use `Customer` as the User Role. The WooCommerce -> Customers screen is a report of existing customers.

[2020-03-24 14:17] #3968 closed

[2020-03-24 14:26] rrennick commented on #3962
@PWDAZ Do you have a plugin with the initials `TCO` or one where the author initials would be the same?

[2020-03-24 16:09] jeffstieler commented on #3904
I found this code in the "Advanced Coupons for WooCommerce" plugin:

[code]

This is likely the root of these errors from the ticket:

[code]

I'll get a fix up for that and then dig into the `TimeInterval` errors.

[2020-03-24 16:36] PWDAZ commented on #3962
No I do not. Here's all the plugins currently installed as well as where the error shows up.

![64000c477c2f0834a32813946bfd61ad](https://user-images.githubusercontent.com/17669641/77452106-cbdbb000-6db2-11ea-9270-ffe559d50638.png)

![bc06f77515709fcc84a5bdacf267230b](https://user-images.githubusercontent.com/17669641/77452239-ef065f80-6db2-11ea-96f9-c4a7d30ea7d6.png)

[2020-03-24 16:40] PWDAZ commented on #3962
The error persists after deactivating all plugins except for WooCommerce.

[2020-03-24 16:52] rrennick commented on #3960
@bernattorras Thanks for submitting the request. I've added this to our feature request list. If someone wanted to write this as an extension [this tutorial](https://woocommerce.wordpress.com/2020/02/20/extending-wc-admin-reports/) is a good starting point.

[2020-03-24 16:57] timmyc commented on #3943
@szuranski I set up a new site on GoDaddy hosting and can not re-create myself there. By chance are you running Sucuri firewall or a similar service.

@dz0ny absolutely, please do reach out with a site where this is happening that I can access 🙌

timmy.crawford -at- automattic.com

[2020-03-24 17:12] robertstaddon commented on #3904
I also have a dedicated server with plenty of memory and horsepower and I also have the same issue. Instead of disabling the entire Dashboard, I've found that I can disable all of the "Performance" widgets .

I've increased my PHP timeouts to 180, disabled Mod_Security, disabled CloudFlare, disabled LiteSpeed caching, set LiteSpeed noconntimeout to 1, set LiteSpeed noabort to 1, and none of those

[2020-03-24 17:17] dz0ny commented on #3904
Related with tracing enabled https://github.com/woocommerce/woocommerce-admin/issues/3943

[2020-03-24 17:25] szuranski commented on #3943
@timmyc

The Wordfence plugin is installed but even with it deactivated it still happens.

There's still dozens of AJAX requests on page load on the WooCommerce > Dashboard tab that all end with a 503. Are you seeing the same amount of requests on your setup?

![image](https://user-images.githubusercontent.com/4400466/77456742-adcd7a00-6dc9-11ea-9edd-64ee31cb4e90.png)

[2020-03-24 17:55] derekakelly commented on #3904
@robertstaddon I can confirm that if I switch it to the previous period option, it does load. However the data is incorrect. It's showing $25k in sales, whereas we've had $66k in sales so far this month.

[2020-03-24 18:15] robertstaddon commented on #3904
What if you "Import Historical Data" under "Analytics > Settings"?

[2020-03-24 18:20] timmyc commented on #3943
@szuranski indeed I have those REST API xhr requests happening too, just none are failing for me.

Did you by chance configure the site/DNS to use the Sucuri firewall service still? I'm not really savvy with their offering, and am in the process of setting it up myself to see if that could be throttling the requests.

[2020-03-24 18:25] rrennick commented on #3962
@PWDAZ What's your theme info?

[2020-03-24 18:32] derekakelly commented on #3904
I've recently cleared it and reimported previously. Perhaps it's not counting some orders because we have so many in the "processing" status, rather than "completed"?

[2020-03-24 18:34] rrennick commented on #3904
@derekakelly You can choose the statuses included in the reports in Analytics -> Settings.

[2020-03-24 18:47] rrennick commented on #3973
@ajgw When you click the notice button are there any errors logged to your browser console?

[2020-03-24 19:02] rrennick commented on #3973
@ajgw I was able to reproduce this in my install. As a work around you should be able to go to the Plugins page and dismiss the notice there.

[2020-03-24 19:04] PWDAZ commented on #3962
Currently using "Pro" from theme.co. The child theme is a blank child theme for future modifications. Can confirm the error is gone when switching to "Twenty Twenty". Interesting as I have multiple other sites using Pro v3.2.3 and WooCommerce v4.0.1 and they don't appear to have the same error.

![57d1f7ba49995d0c762d66ca130970e5](https://user-images.githubusercontent.com/17669641/77466128-0c45290

[2020-03-24 19:04] derekakelly commented on #3904
I'm thinking it was likely due to the plugin being disabled with
 `add_filter( 'woocommerce_admin_disabled', '__return_true' );`

Unfortunately my site is experiencing more than 10 times it's normal traffic right now, so it's not a good time for me to troubleshoot. When i get some more time i will look into it again.

[2020-03-24 19:15] ajgw commented on #3973
Well @rrennick, I checked my Javascript console in Safari Browser but did not get any error. Instead after opening console and clicking on button I got a blank window with a formatted notice which told me "action failed …" (it was a message in german language). And after clicking button few times, notice is now gone. Seems there was a timer setup? Thanks.

[2020-03-24 21:53] psealock commented on #3981
Hi @bobmulder, thanks for the bug report. Can you confirm the email address in your settings is set and working correctly? Cheers

[2020-03-24 22:07] allendav commented on #3959
Also observed in bacs, where PayFast is incorrectly included:

https://github.com/woocommerce/woocommerce-admin/blob/c5b6c7edcf1928c4bb0d5453c075da1beec2b933/client/dashboard/task-list/tasks/payments/bacs.js#L20

https://github.com/woocommerce/woocommerce-admin/blob/c5b6c7edcf1928c4bb0d5453c075da1beec2b933/client/dashboard/task-list/tasks/payments/bacs.js#L202

[2020-03-24 22:23] psealock commented on #3783
@pmcpinto I plan on tackling the issues in the linked p2. Is there anything outside that context that needs addressing as well?

[2020-03-25 00:07] ntpixels commented on #3982
also reported in a live chat; more information in 2815798-zen

[2020-03-25 00:31] nicolasdelrio opened #4028 "Hello!. The Dashboard of my WooCommerce generate a 503 ERROR"
Hello!,I'm creating a small store, without much data (15 products loaded so far), if I open the "Desktop" of woorcomerce, the server freezes and then I get a 503.
Has it happened to someone else?
I really am not going to use it, can it be disabled?

The wordpress version is 5.3.2 and woocommerce 4.0.1.

What files can help analysis?
Thanks!!

[2020-03-25 01:45] memerson75 opened #3989 "Dashboard reports don't load"
None of the reports screens under Analytics (e.g.: Analytics > Orders) are loading. The Analytics > Settings tab does load. The filters will show for a second, then the screen is blank with the exception of navigation links at the top. The console shows "TypeError: Cannot read property 'setProperty' of undefined"

<img width="1039" alt="Screen Shot 2020-03-24 at 21 34 32" src="https://user-images.

[2020-03-25 03:20] #3661 closed

[2020-03-25 04:24] becdetat commented on #3849
Hi @maximus13k

I'm just circling back to you on this issue. I'm unable to reproduce the issue without adding some conflicting CSS such as @tonydjukic mentions. As requested by @jeffstieler, can you perform a plugin conflict test by disabling all plugins other than WooCommerce and WooCommerce Admin one by one?

Thanks
Rebecca

[2020-03-25 06:24] maximus13k commented on #3849
Hi Rebecca..

I've tried disabling the other plug-in one by one but there's no result, the graphic still shows very small in the top left corner..

Thanks..

[2020-03-25 06:54] becdetat commented on #3849
@maximus13k can you provide a system status report? Under WooCommerce -> Status -> Get system report. Just copy the output here. Thanks.

[2020-03-25 07:34] #3713 closed

[2020-03-25 07:41] pmcpinto commented on #3783
Hey @psealock. Nope, I think it will only be necessary to address what was mentioned in the p2. Thanks

[2020-03-25 08:41] maximus13k commented on #3849
`
### WordPress Environment ###

WordPress address (URL): https://na7uku.com
Site address (URL): https://na7uku.com
WC Version: 4.0.1
REST API Version: ✔ 1.0.7
WC Blocks Version: ✔ 2.5.14
Action Scheduler Version: ✔ 3.1.4
WC Admin Version: ✔ 1.0.3
Log Directory Writable: ✔
WP Version: 5.3.2
WP Multisite: –
WP Memory Limit: 256 MB
WP Debug Mode: –
WP Cron: ✔
Language: id_ID
External object cache: –

[2020-03-25 10:43] DOSEOFiNSANiTY commented on #3989
Having the same problem in my post, they mentioned it possibly being something Hosting setup related. Waiting on a response back. They mentioned clearing your browser cache. Fixed for some people but I see you have already tried that... By chance, what theme are you using?

[2020-03-25 11:02] Aljullu opened #3992 "Tags look broken with last Gutenberg release"
The steps to reproduce are with WooCommerce Blocks, which consumes the `Tag` component:

**To Reproduce**
1. Make sure you have the last version of Gutenberg.
2. Add an _On Sale Products_ block.
3. Select a category in the sidebar panel _Filter by Product Category_.
4. Notice the chip looks broken (missing background):
![imatge](https://user-images.githubusercontent.com/3616980/77529017-3104d380-6

[2020-03-25 12:29] memerson75 commented on #3989
Glad to hear I'm not the only one, and thanks for the comment! I'm using Woodmart theme and Siteground hosting.

[2020-03-25 13:55] rrennick commented on #3989
@memerson75 Siteground was the host where we tracked it back to the hosting.

[2020-03-25 13:57] memerson75 commented on #3989
Interesting - was a fix figured out with Siteground or is it still an open issue?

[2020-03-25 13:57] rrennick commented on #3962
@PWDAZ Glad you found it.

[2020-03-25 13:57] #3962 closed

[2020-03-25 14:00] rrennick commented on #3989
@memerson75 Unless the hosting company contacts us directly we are not usually involved in resolving the hosting issue.

[2020-03-25 18:15] octaedro opened #3995 "Removing Homepage is not removing a database field"
Removing the site's `Homepage` does not remove the database field `woocommerce_onboarding_homepage_post_id` in `wp-options`

**To Reproduce**

The easiest way to test this is:

0. Have a Homepage created.
1. Execute this sentence in the database:
[code]
2. It should show the homepage id.
3. Go to `/wp-admin/edit.php?post_type=page` and delete the `Homepage`
4. Execute the `Step 1` SQL sentence aga

[2020-03-25 19:56] LevinMedia opened #3998 "Update default dashboard data points"
Per the discussion at pbIJXs-2U-p2

Reduce the default dashboard data points to the following:

**Four summary numbers:**

Total sales
Net sales
Orders
Items sold

**two charts:**

Net sales
Orders

**Two leaderboards:**

Top categories
Top products

<img width="1374" alt="Screen Shot 2020-03-25 at 12 54 31 PM" src="https://user-images.githubusercontent.com/4500952/77579592-cd32d880-6e97-11ea-99b3

[2020-03-25 20:52] DOSEOFiNSANiTY commented on #3989
I will contact Siteground in a moment and discuss it with one of the business profile reps. Maybe we will see something figured out here.

Thanks for providing additional info on this one @memerson75

[2020-03-25 22:57] dechov opened #4002 "Use the <Card> WordPress component"
As noted by @LevinMedia, all uses of the `<Card>` _WooCommerce_ component should be switched to the `<Card>` _WordPress_ component [[src](https://github.com/WordPress/gutenberg/tree/master/packages/components/src/card), [story](https://wordpress.github.io/gutenberg/?path=/story/components-card--default)]. (cc @jameskoster)

One possible approach to consider would be a deprecation path in which the

[2020-03-26 02:12] becdetat commented on #3849
Thanks @maximus13k .

I couldn't find the issue with any of your plugins but I suspect it is caused by your theme. I hopped on to xxx and inserted an SVG using the developer tools, and it was sized at 16x16 pixels. I found this CSS inserted in the header:

[code]

1 em is 16 pixels.

Can you try temporarily use the 2020 or Storefront theme to see if the charts show correctly? If that's the case yo

[2020-03-26 02:26] erikdemarco opened #4003 "woocommerce_admin_get_feature_config doesnt work"
i unset activity-panels using 'woocommerce_admin_get_feature_config' hook, but the activity panels still showing in my dashboard

[2020-03-26 02:36] memerson75 commented on #3989
@DOSEOFiNSANiTY I reached out to Siteground today and they were not helpful. They are saying they are getting different errors on those pages than the ones I see and are giving the usual "disable other plugins" answer. I pasted the errors below, subbing in xxx for our domain. Let me know if you get any better resolution on your end.

TypeError: &quot;this.style is undefined&quot;
    fa https://xx

[2020-03-26 04:31] maximus13k commented on #3849
Okay Rebecca..

I'll try to change the theme and see if the problem persists..

Thank you
Best Regards

[2020-03-26 05:43] DOSEOFiNSANiTY commented on #3989
Good news @memerson75 !

I just heard back from my rep in the IT side and he said the following...

![Siteground](https://user-images.githubusercontent.com/35680555/77614197-fccafa80-6f02-11ea-9fa8-69c846939361.PNG)

Looks like we finally have a solution to this headache.

NOTE: I still had the issue after his message, the problem was browser cache, however using the browser tool to do it did not

[2020-03-26 05:44] DOSEOFiNSANiTY commented on #3970
Problem solved. Be sure to clear browsing history if you stumble across this with the same problem.

![Siteground](https://user-images.githubusercontent.com/35680555/77614452-5c290a80-6f03-11ea-9756-83a4f5ddbe27.PNG)

[2020-03-26 05:45] #3970 closed

[2020-03-26 06:29] becdetat commented on #4003
Unfortunately the activity panels are currently shown or hidden depending on a client-side value loaded from a static JSON configuration file, which can't be changed using the hook. See https://github.com/woocommerce/woocommerce-admin/blob/0c44db342f2a1f15fde92831c25a6cbe8bdbbbfc/webpack.config.js#L204.

[2020-03-26 10:14] jameskoster commented on #4002
One potential use case for keeping the wc-admin Card component around:

We've often spoken about how the padding values on a Card should adapt depending on its rendered dimensions. The obvious example is that the padding should be smaller on phones than it is on desktop.

So on a super-basic level, perhaps the wc-admin Card component could contain logic to switch the `size` of the core Card compon

[2020-03-26 10:55] jameskoster commented on #3966
Hey @poehaldur , without wanting to derail this too much, I just wanted to ask a couple of questions.

How would you feel about the idea of allowing different users to toggle what category of notifications they receive, based on their role at the store? As a basic example, we could have notification categories like "Marketing", "Technology", "Education", etc. Merchants would likely be interested i

[2020-03-26 11:40] jrodger opened #4005 "Admin notifications not displaying on several WooCommerce screens"
**Describe the bug**
When running WooCommerce Admin 0.26.1 admin notifications were wrapped up and accessible through the 'W' icon on screens with the nav bar. Clicking the icon revealed the messages:
![image](https://user-images.githubusercontent.com/686419/77641372-e1d4a680-6f53-11ea-8bdc-42856104ae78.png)

For the WooCommerce settings screen when running 1.0.0 and up the 'W' icon has been remov

[2020-03-26 11:50] mattsherman commented on #3877
@JakePT Thanks for reporting. I am unable to reproduce this. Can you please provide some more information on the browser environment you are experiencing this in?

- OS
- Browser
- Browser extensions

[2020-03-26 12:50] rrennick commented on #4005
Screens affected seem to be `Reports`, `Settings`, `Status`, and `Extensions`.

[2020-03-26 13:09] rrennick commented on #3973
@becdetat The note action link has a nonce which expires in 12 - 24 hours. If that is expired it causes

When I got back to the dev install above, I wasn't able to reproduce the button not working (got the action failed instead). I suspect that the conditions to reproduce involve the nonce being expired. Then a sequence of navigation (eg. started update, go orders to look at what needs fulfillment

[2020-03-26 13:13] memerson75 commented on #3989
@DOSEOFiNSANiTY - thank goodness SOMEONE at Siteground figured it out! The combination of turning off https enforce and clearing my cache worked for me too. What a relief, and hopefully helpful to someone else.

[2020-03-26 13:13] #3989 closed

[2020-03-26 13:57] jeffstieler commented on #3970
Thank you for following up @DOSEOFiNSANiTY, I'm glad your issue is now resolved.

[2020-03-26 14:31] pmcpinto commented on #3971
@timmyc  this needs to be shipped in wc-admin 1.1, as the name of the extension is Google Ads. Can you assign this one to someone? Thanks

[2020-03-26 15:25] timmyc commented on #3971
Original implementation in #3725

[2020-03-26 17:39] peterfabian opened #4006 "Stats are not easily printable"
**Is your feature request related to a problem? Please describe.**
Looking at the report from the dev blog, I agree that the analytics pages are not easily printable.

**Describe the solution you'd like**
Maybe a print CSS or something along those lines?

**Describe alternatives you've considered**
Perhaps there is some React library for it?

**Should this be prioritized? Why?**
Some people still

[2020-03-26 18:51] dechov commented on #4002
Dynamically switching the value based on browser width is possible – at one time I was doing a similar thing across so many projects that I'd [packaged a higher-order component](https://github.com/two-n/react-sizeable) for facilitating it (except it reads parent node size, but in response to browser resize).

I would leave it to Isotope to determine if it's advisable in this context – I don't see

[2020-03-26 20:07] #3789 closed

[2020-03-27 04:29] JakePT commented on #3877
I could not replicate the issue in Chrome on MacOS WooCommerce 4.0.1 with no browser extensions.

I originally experienced the issue with Chrome on Windows 10 with WooCommerce 4.0.0. I don't have access to Windows right now to test again (🦠).

[2020-03-27 06:42] maximus13k commented on #3849
Probelm solved, it is a theme issue.. when i change the theme.. the graphic displayed nicely.. thanks rebecca..

Best regards

[2020-03-27 06:42] #3849 closed

[2020-03-27 07:15] psealock commented on #3783
These two close out the issue

https://github.com/Automattic/analytics/pull/48
https://github.com/Automattic/analytics/pull/47

[2020-03-27 07:19] psealock commented on #3906
Hi @pmcpinto, is this an issue? Any more info?

[2020-03-27 08:14] pmcpinto commented on #3906
Hey @psealock, Timmy noticed possible duplicate tracks recorded on page views, an example is Order Listing Page. @timmyc can you provide more context on this? Thanks

[2020-03-27 09:54] jameskoster commented on #4002
It looks like your `Sizeable` component is basically solving the container query problem, is that correct?

Would it enable us to - for example - set the `size` of the `Card` to `small` if the _parent element_ was narrower than 375px, and to `medium` if it was wider than 375px?

If so, that would be awesome! Afaik this is not currently possible with CSS alone.

As a fallback, a swap based on _brow

[2020-03-27 11:08] thenbrent opened #4012 "Add an inbox notification for WooCommerce Payments"
We'd like to help existing merchants discover WooCommerce Payments.

Merchants who completed their onboarding before WooCommerce Payments was included will not have been presented it as a payment option. An inbox notification can change that.

**Describe the solution you'd like**
A week or so after completing onboarding, merchants in the US who do not have the WooCommerce Payments plugin installed

[2020-03-27 11:28] mattsherman commented on #4005
`Customers` also is affected.

[2020-03-27 12:43] bobmulder commented on #3981
Thanks for your reply, @psealock! I can confirm the e-mail address is valid in my settings! Also, FYI, I have a cron-job running every 5 minutes, so that can't be the issue either.

If there's anything I can do, please let me know :)

[2020-03-27 13:05] StSaens commented on #3982
I created issue #502
As per your reply I installed the standalone WP-admin plugin (I tried that one many months before and quickly de-activated & uninstalled it, so it was no long installed on my site). But I am still seeing this error. What should I do?

[2020-03-27 13:11] rrennick commented on #3982
Which version of WooCommerce Admin did you install? This error occurs with the latest version. If that is the version you installed go to https://wordpress.org/plugins/woocommerce-admin/advanced/ and download version 0.24.1 from the Previous Versions section. Install and activate that version using the plugin uploader.

[2020-03-27 13:14] StSaens commented on #3982
I picked the latest. Your 0.24.1 is not listed.
It doesn't matter. It's my staging so I'll wait until the next official release/update and see how it fares.

Thanks for all the work!

[2020-03-27 13:50] mattsherman commented on #4005
@timmyc @jameskoster Should the admin notices be visible on both legacy (embedded) WooCommerce pages (Orders, Products, etc.) and `woocommerce-admin` pages (Dashboard, Reports, Analytics), or just legacy pages?

[2020-03-27 13:50] joshuatf commented on #1893
https://github.com/Automattic/woocommerce.com/pull/6895 unblocks this issue and allows us to send this data to wccom.

[2020-03-27 14:27] rrennick commented on #3982
@StSaens Sorry, should have been 0.24.0.

[2020-03-27 14:54] rrennick commented on #4005
@mattsherman Legacy pages.

[2020-03-27 17:18] #3971 closed

[2020-03-27 18:03] sandra-sanz commented on #3943
I am having the same issue with the 503 Errors. The log shows some errores related to the database:

Error while sending QUERY packet. PID=1024988 in /home/fardatxo/public_html/wp-includes/wp-db.php on line 2030

mysqli_real_connect(): (HY000/1203): User fardatxo_woo already has more than 'max_user_connections' active connections in /home/fardatxo/public_html/wp-includes/wp-db.php on line 1633

Th

[2020-03-27 18:36] allendav opened #4014 "Improve check for isConfigured for WooCommerce Payments"
Replace the simple plugin activation check here

https://github.com/woocommerce/woocommerce-admin/pull/3978/files#diff-9aee137ae7c9cbd12ab43fc8f26e4ebfR98

with this

https://github.com/Automattic/woocommerce-payments/issues/538

[2020-03-27 18:39] timmyc commented on #4005
Yes the current solution was to keep notices hidden on wc-admin pages: Analytics Dashboard, All items under Analytics Menu ( Reports + Settings ), and the Customers Report/Page.

Long term I feel we might need a solution to toggle them again ( @jameskoster  ) but this route was taken based upon the pattern used in Jetpack pages.

All other Woo legacy pages impacted here: Settings, Status **should

[2020-03-27 18:40] allendav opened #4016 "Track WooCommerce Payment task clicks"
From clicks on the various links in the WooCommerce Payments flow (card) to establish some funnels

Ref: https://github.com/woocommerce/woocommerce-admin/pull/3978#pullrequestreview-382403799

Props @timmyc

[2020-03-27 18:43] timmyc commented on #4016
cc @thenbrent and @pmcpinto for any special tracks considerations on this feature. Specifically thinking it might be interesting to drop a track when the card/option is even displayed to get a true sense of the funnel start size.

[2020-03-27 19:08] #3992 closed

[2020-03-27 19:50] mattsherman opened #4020 "Help meta link is not visible on Orders screen"
**Describe the bug**

The Help meta link is not visible on the Orders screen. It briefly appears and then disappears. It is visible on other legacy/embedded screens and should be on Orders as well.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Orders screen
4. See Help meta link briefly appear and then disappear

**Expected behavior**

The Help meta link should be visible as it is o

[2020-03-27 20:58] allendav opened #4021 "Replace Recommended sash with pill for WooCommerce Payments"
And only when WooCommerce Payments is the Recommended option.

And update the card background to `$studio-woocommerce-purple-80`

<img width="563" alt="Screen Shot 2020-03-27 at 1 57 57 PM" src="https://user-images.githubusercontent.com/1595739/77799894-fb005480-7032-11ea-95d0-924c6a73581f.png">

cc @LevinMedia

[2020-03-27 21:03] LevinMedia commented on #4021
@allendav if you're going to be able to add the pill, you can keep it's background as transparent or purple to match the card background - I was only suggesting adding 1$studio-pink-50` to the sash if you couldn't implement the pill 👍

[2020-03-27 21:11] szuranski commented on #3943
@timmyc

Sucuri or any other firewall is not set up on the site.

[2020-03-27 21:18] allendav opened #4023 "Enable WooCommerce Payments on plugin and core"
See related #4022

[2020-03-28 21:29] tivnet commented on #3742
@psealock Paul, until there is a proper solution, is it possible to just remove the currency symbol?

The markup is not the same as the regular WC:

    <span class="woocommerce-summary__item-value">C$200.00</span>

There is no separate `<span>` for the symbol, so it's harder to alter it with JS.

And the view is unpleasant:

![image](https://user-images.githubusercontent.com/1696330/77834191-28bf

[2020-03-29 07:48] svenauhagen opened #4032 "Woocommerce Dashboard Quarter to Date"
Hi,

in Woocommerce 4.0.1 when I use the Dashboard preset Quarter to Date the statistics percentage do not work and the PHP process goes to 100% CPU until the timeout is reached.

When I pick the dates manually for the quarter until today it works fine.
I attach a screenshot.

Best
Sven

<img width="1253" alt="Screenshot 2020-03-29 at 9 46 42 AM" src="https://user-images.githubusercontent.com/2235

[2020-03-30 01:47] psealock commented on #3742
Thanks for the question @tivnet. This is the last piece of this and is not yet implemented. Here is the issue to track https://github.com/woocommerce/woocommerce-admin/issues/3742.

[2020-03-30 02:40] becdetat commented on #3973
I've created a PR in WC Core which seems to fix the problem: https://github.com/woocommerce/woocommerce/pull/26031

I don't see what would need to be done in wc-admin to fix this as the note is created and managed in WC core, unless I'm missing something @rrennick ...

[2020-03-30 05:27] thenbrent commented on #4016
Good idea.

[2020-03-30 05:31] thenbrent commented on #4016
@pmcpinto do you have any special considerations given to other Task List items that we could learn from? (Like tracking the card's display.)

I'm primarily interested in the number of clicks on the Set up button, naturally. But also keen to track the other links in the card.

[2020-03-30 11:58] tivnet commented on #3742
@psealock
Hi Paul, do I understand correctly that the filter tag will be `woocommerce_admin_report_currency`?
Thanks

[2020-03-30 12:34] rrennick commented on #3973
@becdetat Nice :) When you do a PR in another repo that addresses the issue you can close the one in WC Admin.

[2020-03-30 13:11] jameskoster commented on #4005
For the wc-admin screens, I'm inclined to say we should just continue to align with Jetpack, probably until the [notifications feature](https://make.wordpress.org/core/tag/feature-notifications/) is added to core.

[2020-03-30 14:22] heArt-coder commented on #3973
Hi! Having the same problem.
![image](https://user-images.githubusercontent.com/2024154/77921708-c990be80-72a8-11ea-88c5-7bff81c6eb83.png)

![image](https://user-images.githubusercontent.com/2024154/77921809-e75e2380-72a8-11ea-9c43-efef37c59b81.png)

[2020-03-30 15:41] pmcpinto commented on #4016
That's a great suggestion. By the way, in 4.1 we're going to have `wcadmin_tasklist_payment_setup` with an event prop that shows the gateways displayed in the task and the ones that were clicked, @timmyc can you confirm? So that would give the number of views and the number of clicks. We'll also have three additional events:

- When the user clicks "Skip this step": `wcadmin_tasklist_payment_skip_

[2020-03-30 21:15] jeffstieler commented on #3904
Just wanted to give you all an update.

We've got several performance improvements in the works:

* https://github.com/woocommerce/woocommerce-rest-api/pull/155
* https://github.com/woocommerce/woocommerce-admin/pull/3969
* https://github.com/woocommerce/woocommerce-admin/pull/3977
* https://github.com/woocommerce/woocommerce-admin/pull/3997
* https://github.com/woocommerce/woocommerce-admin/pull/

[2020-03-30 22:32] jconroy opened #4029 "Add an inbox notification for the new Marketing Tab"
Similar to #4012 we'd like to add an inbox notification to help merchants find the new Marketing Tab.

**Describe the solution you'd like**

An example of existing notifications is

<img width="537" alt="Screen Shot 2020-03-31 at 8 54 26 am" src="https://user-images.githubusercontent.com/355014/77967815-73b22a00-732d-11ea-8b87-5412ad1f5cf4.png">

We'll use text similar to the Marketing tab welcome

[2020-03-31 00:50] mattsherman commented on #3877
I tested this on Windows 10 with both Chrome and Edge (legacy) and could not reproduce this. Closing the issue.

[2020-03-31 00:50] #3877 closed

[2020-03-31 01:08] mattsherman commented on #4005
@jameskoster I'm not terribly familiar with how Jetpack handles admin notifications. What exactly are you proposed we do with this issue? From what I have observed in Jetpack, it hides admin notifications on some screens (Dashboard, Settings, VaultPress) and shows them on others (Site Stats, Akismet Anti-Spam).

@pmcpinto @timmyc What are your thoughts on how we should handle this?