[2021-09-14 02:41] elizaan36 opened #7662 "Inbox note: Habit moment survey"
We’ve identified that updating multiple orders within a short time can indicate a successful store, however we’re not clear on other key habits that are an indication of thriving stores.

**New inbox note, delivered using the remote system:**

**Title:** We're all ears! Share your experience so far with WooCommerce
**Content:** We'd love your input to shape the future of WooCommerce together. Feel

[2021-09-14 10:00] pmcpinto commented on #7662
I think we should user product_count and order_count:

product_count: > 0
order_count > 3

@becdetat what do you think?

[2021-09-14 14:40] #7548 closed

[2021-09-14 14:53] mattsherman commented on #7661
@joshuatf Is this ready to be groomed/estimates by @woocommerce/mothra? If so, please move it to the Groom pipeline on the Mothra board and let the team know. Thanks!

[2021-09-14 21:39] becdetat commented on #7662
@pmcpinto I would have expected significantly more than three orders over three months as an indication of a thriving store but I'm happy to be wrong. Everything else looks ok :-)

[2021-09-15 03:02] ilyasfoo commented on #7653
This bug is fixed, context: p1631527123016500/1631523543.015600-slack-C02D8QPCWB0

[2021-09-15 03:02] #7653 closed

[2021-09-15 03:40] ilyasfoo commented on #7655
I wasnt able to reproduce this

[2021-09-15 06:22] Stas0238 opened #7708 "Uploading of the logo in the Personalize my store section reset theme options"
Please provide us with the information requested in this bug report. Without these details, we won't be able to fully evaluate this issue.
Bug reports lacking detail, or for any other reason than to report a bug, may be closed without action.

**Prerequisites (mark completed items with an [x]):**
- [x] I have carried out troubleshooting steps and I believe I have found a bug.
- [x] I have searched

[2021-09-15 10:18] rodelgc commented on #7655
Hi @gglobalstep,

I wasn't able to reproduce this either on WC 5.4.2 in Mac Safari. In the video below, I was able to proceed to the next screen just fine. I was using JN in the video below.

https://user-images.githubusercontent.com/4509348/133415815-fb3f8387-492d-4465-890b-ae492feab4ad.mov

Maybe there's a key step that's missing? I'll keep this issue open for the meantime for future feedback.

[2021-09-15 10:24] pmcpinto commented on #7662
Ahah good point. I'd go with 30 orders if we want to only target "successful" stores. @elizaan36 do you think we should include merchants who are struggling or just successful stores?

[2021-09-15 17:33] gglobalstep commented on #7655
@ilyasfoo @rodelgc Sorry for incorrect steps I have updated steps, attachment and log. Could you please check again this issue with above updated steps.

Sorry again for inconvience.

[2021-09-16 02:48] elizaan36 commented on #7662
Ideally we would target higher volume stores for this one, so the survey itself can do less of the segmentation work. A higher order count would be good and >30 sounds good to me. Will update that and the product count in the description. If there's not enough of a response we can adjust.

[2021-09-16 14:33] simplysaru opened #7668 "Composite Product reports breaks when WooCommerce Admin is acitvated."
WooCommerce Admin messes up the reports for [Composite Products](https://woocommerce.com/products/composite-products/). The report works as expected when WooCommerce Admin is deactivated.

### To Reproduce

1. Ensure the Composite Products and WooCommerce Admin plugin is active.
2. Click on "Analytics > Composites"
3. The report will be missing any data.

### Actual behavior:
![FtEJOR](https://use

[2021-09-16 16:31] mattsherman commented on #7655
@gglobalstep I don't see any WooCommerce 5.4.3 release in the WooCommerce GitHub repository (https://github.com/woocommerce/woocommerce/releases). Can you please double-check these version numbers?

In addition, does this issue happen with any other versions of WooCommerce, or is is specific to these two versions -- I have been unable to reproduce it using other versions.

[2021-09-16 17:51] mattsherman commented on #7621
@gglobalstep Can you please retest this issue with the updated "Pinterest for WooCommerce" zip, as requested above?

[2021-09-16 18:19] mattsherman commented on #7644
@elizaan36 Would the `devicefamily` property suit your needs? It groups things into "Mac", "iPhone", "iPad", "Other", etc.

If not, we would need to come up with a definitive list of what OSes we consider mobile vs desktop. We might want to do this on the backend, in Tracks too, instead of adding this logic to WooCommerce directly. It's something we should probably discuss with the Tracks/Data dev

[2021-09-16 20:26] elizaan36 opened #7670 "Inbox note: WCPay - Remind me later"
This note will be a reminder for users that view the Welcome screen in [#744](https://github.com/Automattic/wc-calypso-bridge/issues/744), then navigate away without installing WCPay.

Title: Save big with WooCommerce Payments
Content: Save up to 50% in fees by managing transactions in WooCommerce Payments. With WooCommerce Payments, you can securely accept major cards, Apple Pay, and payments in

[2021-09-16 20:33] elizaan36 commented on #7644
Thanks for this suggestion, Matt! Is there anyone on the Tracks/Data team that we could ping and ask on this issue?
@Garance91540 to confirm, but I think `devicefamily` would still require a decent amount of manual work.

[2021-09-16 20:48] elizaan36 commented on #7633
Closing this issue since there's no change with the Personalize my store task

[2021-09-16 20:48] #7633 closed

[2021-09-16 20:52] sparky672 commented on #4114
Seriously!?  Version 5.8.1 and you still cannot figure this out?  Like stated above my post, not a big confidence boost when the simple things can't be figured out after more than a year.  Good grief... and I am a PAYING customer of WC products.

Yes, I have the issue yet again and yet again need to manually edit the database table... WTF

[2021-09-16 20:56] JakeQZ commented on #4114
See woocommerce/woocommerce#32241 this is the current open issue for this.

[2021-09-16 21:03] sparky672 commented on #7508
Same here... actually have had this issue for a very long time, perhaps a year or more.  Up to 5.8.1 and surprised to see it's still a lingering problem.  Just a simple thing needs to be bullet-proofed.   I shouldn't have to make manual edits to the database to hide this nag every time.  One of the plugin developers stated over on the WordPress forum stated that if you don't click the button withi

[2021-09-16 21:22] richsadams commented on #7508
Agreed, should be fixed by now. This issue is posted on numerous sites and numerous threads. It's a well-known bug.

The nag persisted even if I updated within a few hours. I've been having to manually correct it for far too long.

[2021-09-16 21:25] sparky672 commented on #7508
And there are so many open and closed bug reports on this I don't even know where I am supposed to post.

[2021-09-16 21:26] sparky672 commented on #7561
Same here... actually have had this issue for a very long time, perhaps a year or more. Up to 5.8.1 and surprised to see it's still a lingering problem. Such a simple thing that needs to be bullet-proofed.

I shouldn't have to make manual edits to the database to hide this nag every time. One of the plugin developers over on the WordPress forum stated that if you don't click the button within 24 h

[2021-09-17 04:53] AashikP commented on #7617
@joelclimbsthings  I agree that we can let the browser field intact. That said, other fields are not reliable / consistent as well. For example:

![https://d.pr/i/0LfsCm+](https://d.pr/i/0LfsCm+)

[2021-09-17 13:26] leonardola opened #7672 "Wrong position of dismiss dropdown on Safari"
## Bug Description:
"Dismiss Message" popup appears misaligned on " Payments-> Overview" screen.

This bug has been fixed before in https://github.com/woocommerce/woocommerce-admin/pull/7278/files#diff-58e56c2da5e5510a46d6554511caf7a6f039428c49f6d052bcda89c8a00bf451R131

But reverted in https://github.com/woocommerce/woocommerce-admin/commit/2872f26bc70348abd2992f592cad7b1f232de020#diff-58e56c2da5

[2021-09-17 13:33] ifrountas commented on #7667
I can reproduce this bug on my end.

[2021-09-17 15:47] John-belt commented on #7328
Hi, Any update on this??

[2021-09-17 15:54] John-belt opened #7674 "Add column total order value(per taxcode) in taxes section of analytics"
HI,
this is a small feature that kind of helps in tax filing. On the taxes section under analytics section, we have fields like taxcode, rate, total tax, shipping tax, Orders. Can we have total order amount(total sale) per tax code as well?? Yes this can be calculated from the rate and tax value but it would be nice addition to the whole report.

[2021-09-17 16:21] mattsherman commented on #7674
Hi @John-belt,

Thank you for taking the time to share this idea, we really appreciate your help. We’re going to add it to our backlog, where it will be considered for future releases.

[2021-09-17 18:20] mattsherman commented on #7660
@pmgarman Thanks for reporting this. I agree that appears that Notes do not actually use metadata, but I am not 100% sure.

@allendav I know it has been a while, but according to git, I think you are one of the original implementors of the Admin Notes data source. Do you happen to recall anything specific about the use (or non-use) of metadata by Notes?

[2021-09-17 18:29] elizaan36 opened #7676 "Can't install extensionns after business details step"
### Describe the bug
I'm unable to install extensions in the free business features step of the store profiler, and I'm getting the error "Your business details cannot be updated."

There's also a "Retry" button in the business features step and another link to "Continue without installing". I had to choose continue without installing in order to proceed to the next step.

This is extremely confus

[2021-09-17 19:17] mattsherman commented on #7641
@pmcpinto This seems like a pretty big miss for the new nav. I'm not sure of the overall prioritization of the new nav though. What are your thoughts on how to prioritize this?

[2021-09-17 19:52] mattsherman commented on #7644
@elizaan36 I'll DM you a few suggestions on who to ping.

[2021-09-17 20:07] mattsherman commented on #7642
@woocommerce/mothra This would be a nice, easy tweak to make to the design of this screen!

[2021-09-17 20:10] mattsherman commented on #7644
Update: I'll dig into this a bit more and reach out to the Tracks team to see how to best accomplish this.

[2021-09-17 21:15] jacob-sewell commented on #7591
@pmcpinto Do we also need changes in woocommerce core? Specifically [includes/admin/class-wc-admin-setup-wizard.php:1494](https://github.com/woocommerce/woocommerce/blob/trunk/includes/admin/class-wc-admin-setup-wizard.php#L1494).

[2021-09-18 04:44] gglobalstep commented on #7655
@mattsherman Actually this issue on only observed on WooCommerce 5.4.3 but first we have to install and activate  WooCommerce 5.4.2 to reproduce this issue so we put 5.4.2 in environment sorry for that confusion. We have updated environment. We are unable to reproduce this issue with other versions of WooCommerce.

[2021-09-19 06:02] Hartamon opened #7680 "Trying to get property 'category_id' of non-object in CategoryLookup classs"
There is a bug in update method in CategoryLookup class.
Getting message
`Trying to get property 'category_id' of non-object`

It seems line 191 should be
`$inserts[] = $this->get_insert_sql( $child, $ancestor );`
instead of
`$inserts[] = $this->get_insert_sql( $child->category_id, $ancestor );`

[2021-09-20 09:59] pmcpinto commented on #7591
Yes. That would be great. Thanks!

[2021-09-20 10:09] pmcpinto commented on #7641
I agree. I think we should try to fix it during Cycle 18. It would be helpful to know the effort required to implement this fix.

[2021-09-20 10:37] damiannep opened #7681 "Coupon Export Limited to 25 coupons"
### Describe the bug
Downloading the coupons from Analytics > Coupons lacks pagination on only 25 coupons are shown/downloaded.

### To Reproduce

1. Make sure that you have at least 26 orders with unique coupons added.
2. Go to Analytics > Coupons
3. Notice that only 25 coupons are shown even if you select a time range that should have all the orders with coupons (at least 26).

### Actual behavi

[2021-09-20 13:53] louwie17 commented on #7617
@AashikP I was able to reproduce this issue as well, and I think your case above might be correct that the typeahead autocomplete was blocking the rest of the fields. This is not the case for every address and must be related to the format of the country and state.

I did make some recent changes to the Country/Region field that address most of the issues mentioned in this issue as part of https:/

[2021-09-20 14:28] louwie17 commented on #7667
I was also able to reproduce this, this issue is also present in WC 5.5 with WCA 2.4.4. Labeling this as a bug.

[2021-09-20 16:04] joshuatf opened #7683 "Look into breaking Navigation style updates"
The `Navigation` components were recently updated (not yet released) in https://github.com/WordPress/gutenberg/pull/34885/files.

Some of these styling changes may break our experimental WC Navigation feature.  We should audit the nav feature to make sure things are styled and continue to work as expected.

### Testing

1. Enable the navigation feature.
2. Clone the `trunk` branch of GB and activa

[2021-09-20 17:24] louwie17 commented on #7667
I did do some further digging into this issue, this filter works fine for variations. The reason being is that we rely on the `woocommerce_order_itemmeta` table and look for the attributes within there.
It appears that the attribute data is added to this table for variations, but not for normal products. This is handled in WooCommerce core. @tammullen do you know if this is by design?

Otherwise w

[2021-09-20 17:49] mattsherman commented on #7660
@woocommerce/isotope Does anybody have any insight into whether Notes makes use of metadata?

[2021-09-20 18:14] allendav commented on #7660
Sorry, no, it has been far too long to recall

[2021-09-20 18:16] louwie17 commented on #7660
For extra context, it looks we overwrote the `get_data` function here just to prevent calling `get_meta_data` -> https://github.com/woocommerce/woocommerce-admin/blame/main/src/Notes/Note.php#L165-L176

Which makes me lean towards this not being necessary.

[2021-09-20 18:29] joshuatf commented on #7649
@joelclimbsthings I don't think this needs multiple issues, but definitely multiple PRs.

I would break this up into as many PRs as possible (up to 1 PR per above item), but if you find that to be overkill, the endpoints could probably be combined.  Not a hard and fast rule, but PRs over a few hundred lines could probably be broken down.

Feel free to edit the above and add your name next to any y

[2021-09-20 18:40] joelclimbsthings commented on #7649
Perfect, managing who was working on what is what I was wondering about 👍🏻

[2021-09-20 19:12] louwie17 commented on #7672
Hi @leonardola, thanks for creating both an issue and a fix right away for this issue.
I did some further digging and it appears this is not something in relation to our `woocommerce/experimental` package, but instead an issue within [woocommerce-payments](https://github.com/Automattic/woocommerce-payments), as you can see [here](https://github.com/Automattic/woocommerce-payments/blob/develop/webp

[2021-09-20 19:22] louwie17 commented on #7672
@leonardola looks like I can't transfer it across another organization, are you able to re-create this issue in [woocommerce-payments](https://github.com/Automattic/woocommerce-payments)?
The focus might have to change a bit to updating `wordpress/components`, or relying on the `wordpress/components` that is available under `window.wp.components` by [updating this](https://github.com/Automattic/wo

[2021-09-20 19:22] #7672 closed

[2021-09-20 19:31] leonardola commented on #7672
Hi @louwie17 the issue and PR created here were meant to fix an [issue](https://github.com/Automattic/woocommerce-payments/issues/2698) that already exists in woocommerce-payments. So no need to create another. I have not tried to update the wordpress-components. As the problem seemed to be introduced [here](https://github.com/woocommerce/woocommerce-admin/commit/2872f26bc70348abd2992f592cad7b1f23

[2021-09-20 20:06] louwie17 commented on #7672
Thanks, yeah I would prefer not adding a fix within the package that was already fixed by a dependency update. You could always add the specific CSS on the woocommerce-payments side, making sure it is woocommerce-payment specific.

[2021-09-21 00:48] sanebg3 commented on #4390
Hello, I desperately need to be able to pull "yesterday's" data from Analytics or reports and "last 7 days"

How can I achieve that via API?

[2021-09-21 04:35] elizaan36 commented on #7636
Here's a [folder with SVGs](https://share.getcloudapp.com/xQu6kknN) for the illustrations.
The illustrations will use the wp-theme-color to match the store theme.

[2021-09-21 06:47] Mister-A commented on #4390
Well if reports will do what you want, read the docs here: https://woocommerce.github.io/woocommerce-rest-api-docs/#introduction

If you need something from analytics then what you need depends on what data you're trying to get, once you've got yourself a consumer key and secret (instructions provided in the above docs) then GET

`https://{your URL}/wp-json/wc-analytics?consumer_key={your ck_xxxx}

[2021-09-21 07:36] justinwyllie commented on #4390
Or - open Chrome developer tools and look at the network tab as you make requests for the reports.

[2021-09-21 11:34] franticpsyx commented on #7668
Hey all :) We've tracked the issue down to [this](https://github.com/woocommerce/woocommerce-admin/commit/643562121e4b9a6b016331a5993b638f84afccbf) change. I can see that we rely on the `ReportChart` component to implement the **Analytics > Composites** report. @xristos3490 is this something we can handle/anticipate on our end? Any ideas/suggestions on how we could make this change in `wc-admin` s

[2021-09-21 12:12] louwie17 commented on #7668
Thanks for doing some research into this issue @franticpsyx. I believe the error is directly related to the `getReportChartData` function as the structure for this changed (instead of passing the `select` function, we pass in the specific store selector functions). `ReportChart` is an internal component for us, so I assume the composite products plugin has a component with the same name?

This sho

[2021-09-21 12:46] xristos3490 commented on #7668
Hey everyone!

Thanks @franticpsyx and @louwie17 for your insights on this!

That's right! We do implement similar internal components _(e.g. `ReportChart`, `ReportTable`, `ReportError`, etc.)_ that are shared to all of our extensions.

We could follow the data package changes introduced in this [PR](https://github.com/woocommerce/woocommerce-admin/pull/7355/files) and refactor the instance of `@w

[2021-09-21 13:07] sanebg3 commented on #4390
For some reason, I cannot find the endpoint of Analytics Today's Revenue.

[2021-09-21 13:42] Mister-A commented on #4390
This is probably more a discussion for stackoverflow where you can show what you've tried and other may help guide you in the right direction, that said here's my last input in the hope it sends you in the right direction:

Following @justinwyllie 's recommendation we can see one of the calls Analytics makes when requesting today's revenue report is:

/wp-json/wc-analytics/reports/revenue/stats?or

[2021-09-21 13:47] sanebg3 commented on #4390
Thank you! But I already did that and as you can see from the endpoint it doesn't show yesterday's data but imports date range data.

 I need to be able to see yesterday's data.  :) I will follow your advice and go to stackoverflow.

[2021-09-21 13:51] louwie17 commented on #7443
Yes that was quite helpful, thanks @felipelousantos.
I still haven't been able to reproduce it, although the error gave an idea of what the issue might be. It appears that we expect each variation to have a `name`, which is what the `indexOf` function is being called on:
https://github.com/woocommerce/woocommerce-admin/blob/main/client/lib/async-requests/index.js#L101-L103

It appears that `name`

[2021-09-21 14:02] joshuatf opened #7685 "WooCommerce Payments task should be busy while installing"
### Describe the bug
The WC Pay task installs WC Pay and redirects, but nothing seems to occur while this is happening.  A busy state should be placed on this task while we await install.

@elizaan36 do you have thoughts on the loading state for this task?  Disable the input and gray overlay on the entire task?

This issue may exist in the current task list, but we should address in the new REST A

[2021-09-21 14:09] pmcpinto commented on #7564
Hey @louwie17 I'm testing WC 5.7 rc2 and I'm still seeing this issue: https://d.pr/i/7JWku3

Can you double-check this?

[2021-09-21 14:35] louwie17 commented on #7680
Hi @Hartamon,
Thanks for creating this issue.
I am trying to reproduce the above message but I am unable too, are you able to provide some reproducible test instructions? That will give a better sense of what might be the issue, thanks!

[2021-09-21 14:54] louwie17 commented on #7564
Thanks @pmcpinto for the ping, it does appear this fix has not been cherry-picked into the final 2.6 release and the subsequent patch releases. Hopefully we can add this to `2.6.3` if it hasn't been released yet.

[2021-09-21 15:19] pmcpinto commented on #7564
👍 Let me know if it's possible to add this to 2.6.3. The rest of the fixes were included, correct? Namely: #7565, #7566 and #7567

[2021-09-21 16:20] joshuatf opened #7689 "Header should allow for items to be slot filled"
### Is your feature request related to a problem? Please describe.
The header area could benefit from SlotFill, allowing new elements to be added.  There's interest in displaying WCCOM connection info in the header, but doing so would require back and forth logic between the WC repo and WCA repo when in reality this logic should probably be housed outside the WCA repo.

See p90Yrv-2u2-p2 for more

[2021-09-21 16:53] elizaan36 commented on #7676
Also tried installing WCPay via WP plugins and I'm getting an error there as well. "Destination folder already exists."

<img width="617" alt="image" src="https://user-images.githubusercontent.com/5121465/134213792-29bdb93a-3610-458a-bef7-f56ce870df66.png">

cc @pmcpinto

[2021-09-21 17:50] elizaan36 opened #7690 "Marketing task: Activate button not working if extension is installed outside of task"
### Describe the bug
If an extension is installed outside the marketing task and not activated, the Activate button for that extension in the marketing task isn't working. There's no feedback or error when clicking on the action.

It could be a use case (not sure how common) to explore other areas and install marketing extensions prior to opening the marketing task. If the Activate action isn't wo

[2021-09-21 19:32] joelclimbsthings opened #7693 "Clean up body classes used for tasks styling"
It was brought up in [a recent PR ](https://github.com/woocommerce/woocommerce-admin/pull/7616#discussion_r713045512)that we're adding the body classes `woocommerce-onboarding` and `woocommerce-task-dashboard__body` in [this file](https://github.com/woocommerce/woocommerce-admin/blob/2461a42e41c813aeb2da3e71de521309f681beb0/client/tasks/tasks.tsx?plain=1#L74).

These classes are never removed when

[2021-09-21 19:33] #7373 closed

[2021-09-22 07:47] Hartamon commented on #7680
Hi @louwie17. I faced this issue attempting to change term parent during products import.
The point is that function `get_term_children` returns an array of IDs, not an array of objects.
Here is the code snippet

[code]

[2021-09-22 09:27] pmcpinto commented on #7676
Thanks for opening an issue about this. AFAIR we tried to debug this in the past and it was difficult to find the root cause. Maybe we can include this in the next GlobalStep testing cycle. @becdetat @mattsherman what do you think?

[2021-09-22 10:05] tomalec opened #7694 "`<Chart>` component does not react on changing the `currency` property"
### Describe the bug

When I create and render `<Chart>` component with a given current, let's say `{code: 'CAD', symbol: '$', …}`  The chart renders correctly and put the `$` symbol on the y-axis. But when I then change the object to a new one, like: `{code: 'EUR', symbol: '€', …}`, it does not update and still renders `$`.

### To Reproduce

1. Render `<Chart currency={ {code: 'CAD', symbol: '$'

[2021-09-22 12:13] louwie17 commented on #7564
@pmcpinto this fix made it into 2.6.4, which is included in 5.7, did you want to try it again and see if it's fine now? Then we can close this ticket again.

[2021-09-22 14:22] sukafia opened #7696 "Status Widget being replaced by the Setup Widget"
### Describe the bug

The WooCommerce [status widget](https://docs.woocommerce.com/document/dashboard-widgets/#section-1) is being replaced by the setup widget in recent versions of WooCommerce. The setup widget starts showing up on existing stores after an update, replacing the status widget start. The new setup widget requires store owners to complete the setup checklist before the status widget

[2021-09-22 14:28] sukafia commented on #7696
CC: @pmcpinto

[2021-09-22 14:44] louwie17 commented on #7680
Thanks @Hartamon, I was able to reproduce it now by changing a category parent that has children. It does look like it only return category id's, which it actually expects in another function within the same class: https://github.com/woocommerce/woocommerce-admin/blob/main/src/CategoryLookup.php#L165-L167

I will create a PR to update that, strangely enough it doesn't appear to break anything alth

[2021-09-22 15:09] pmcpinto commented on #7696
@ilyasfoo @louwie17 I think this issue is connected with the reports shared by Happiness in the 5.6.1 channel

[2021-09-22 16:08] mattsherman commented on #7631
@jacob-sewell This isn't closed until the wc-admin fallback PR is merged as well.

[2021-09-22 19:12] #7631 closed

[2021-09-23 03:12] ilyasfoo commented on #7696
Just caught up with the discussions, as far as I understood, this PR will fix a similar issue https://github.com/woocommerce/woocommerce-admin/pull/7698 that occurs with WCAdmin `2.6.4` or WooCommerce `5.7.0`.

However, I'm not sure how previous versions were affected since the error is introduced in 2.6.4. It could be something else.

[2021-09-23 11:58] #7443 closed

[2021-09-23 13:39] #7630 closed

[2021-09-23 14:19] Mte90 opened #7701 "Package-lock.json is incompatible with npm 7+"
_**Update: The root cause of this issue is that our `package-lock.json` file is incompatible with npm 7+. See #7932 for a partial fix (it sets Node to 14, which includes npm 6). - @mattsherman**_

### Describe the bug
I am trying to follow https://developer.woocommerce.com/2020/02/20/extending-wc-admin-reports/ this guide but I am facing those errors:
PS: the guide is missing a `npm install` after

[2021-09-23 15:08] #7591 closed

[2021-09-23 15:35] mattsherman commented on #7676
@pmcpinto @elizaan36 It sounds like there are two distinct issues here...

1. Extensions fail to install during the "Free features" step of the profiler. This sounds like it is intermittent and difficult to reproduce/diagnosis. I'm not sure that it is useful to have GlobalStep explicitly try to reproduce this... I would think that any such failure would already be reported by them.
    - We should

[2021-09-23 18:03] louwie17 commented on #7701
Hi @Mte90 thanks for creating an issue for this.
What node version are you using, I only encounter this error when I run the latest (non LTS) version `16.10`, when I use the latest stable version - `14.17.6` it installs and builds fine.
Let me know if you do encounter this with a stable version of `node`?

[2021-09-23 18:09] joshuatf commented on #7374
Bad stale bot.  Bad.

[2021-09-23 19:14] #7668 closed

[2021-09-23 19:34] elizaan36 commented on #7642
Adding one more tweak. The body text style in the card header has increased to 20px and should match the body text shown in the rest of the task.

<img width="799" alt="image" src="https://user-images.githubusercontent.com/5121465/134572011-adb3fcbd-31aa-474f-82a2-645cc26db835.png">

[2021-09-23 20:11] leonardola opened #7703 "Warning when using ReportFilters"
### Describe the bug
When using ReportFilters component I am getting warnings like "div cannot appear as a descendant of p" and that is breaking some tests on my end while working on [this WC Payments issue](https://github.com/Automattic/woocommerce-payments/issues/1881). Apparently the problem could be solved by changing [this element](https://github.com/woocommerce/woocommerce-admin/blob/main/pa

[2021-09-23 21:11] elizaan36 commented on #7676
Yeah, I did try the "Retry" button a few times with no luck.

Since it's a database error where the plugin already appears there for whatever reason (from what Moon had mentioned on Slack, there's almost no point in having a Retry button, unless it's to drive people batty lol.)

Do you think it would make more sense to just show the link, "Continue without installing" after the error? I definitely

[2021-09-24 06:27] moon0326 opened #7706 "Support payment request callback in the Stripe plugin"
This is a follow-up issue for https://github.com/woocommerce/woocommerce-admin/issues/7301

**Description**: Due to the technical difficulties of getting available express checkout methods (Apple Pay or Google Pay), we implemented a callback in WC Payment. You can see the PR [here](https://github.com/Automattic/woocommerce-payments/pull/2610).

This was used in Jetpack's WooCommerce Analytic modul

[2021-09-24 06:31] moon0326 opened #7707 "Support the Stripe plugin in WooCommerce Analytic module"
This is a follow-up issue for #7301

**Description**: WIth completion of https://github.com/woocommerce/woocommerce-admin/issues/7706 issue, we should be able to capture `express_checkout` value from the Stripe plugin.

Capture `express_checkout` value from the Stripe plugin in WooCommerce Analytic module.

We already worked on capturing `express_checkout` value from the WC Payment plugin. You can

[2021-09-24 09:11] pmcpinto commented on #7676
@mattsherman what do you think about exploring the idea shared on #6988 to solve this?

[2021-09-24 09:57] Stas0238 commented on #7708
@rodelgc
Thanks for getting me right !
Will I see any answers from them here or it will be on another link ? (if so, please share here)
Hope they will fix it soon because it can broke alotta web-sites settings !
Regards, @Stas0238

[2021-09-24 10:13] Mte90 commented on #7701
I am using node 12 on debian

[2021-09-24 11:50] louwie17 commented on #7701
Thanks, which version of 12 are you using on debian? I tried it on debian with the latest version `12.22.6` and things worked fine. I also tried it with 12.18 & 12.20, which both worked fine.

[2021-09-24 11:57] Mte90 commented on #7701
v12.22.5 😅 from their unstable repositories.

[2021-09-24 12:56] louwie17 opened #7710 "Category reports query returns invalid net sales"
### Describe the bug
When a product has multiple categories selected (parent and child for example) and this product is purchased the Category reports shows double the amount for the parent category.

### To Reproduce

1. Create a new store and finish the Onboarding flow
2. For simplicity go to the **Personalize your store** task and Import products
2. Go to **Products > All Products** and edit th

[2021-09-24 13:04] louwie17 commented on #7710
Here is the broken query that is [used here](https://github.com/woocommerce/woocommerce-admin/blob/main/src/API/Reports/Categories/DataStore.php#L266):
[code]

[2021-09-24 14:23] pmcpinto commented on #7319
@louwie17 I'd like to confirm if it's possible to include this in 2.8. Also, can you publish here a quick demo showing the changes? Thanks!

[2021-09-24 18:16] louwie17 commented on #7319
Yes it will be included in `2.8`.
Here is the demo, let me know if you wanted a more detailed demo:

https://user-images.githubusercontent.com/2240960/134722020-04941322-827b-4cff-a832-b1afc6c87841.mp4

[2021-09-25 17:24] tpaksu opened #7711 "Add E2E tests for locale-info.php modifications"
@tpaksu commented on [Mon Jul 26 2021](https://github.com/woocommerce/woocommerce/pull/30350)

### All Submissions:

* [x] Have you followed the [WooCommerce Contributing guideline](https://github.com/woocommerce/woocommerce/blob/trunk/.github/CONTRIBUTING.md)?
* [x] Does your code follow the [WordPress' coding standards](https://make.wordpress.org/core/handbook/best-practices/coding-standards/)?

[2021-09-26 12:51] mattsherman commented on #7644
I've posted a question to discuss the best approach for this: p4qSXL-45Y-p2

[2021-09-26 12:57] mattsherman commented on #7676
@pmcpinto I don't think that the idea shared on #6988 necessarily solves this issue, but they are very closely related, and I think that it would be good for Mothra to look into improving this. I'll put this on our radar for Cycle 18.

[2021-09-27 09:27] pmcpinto commented on #7564
I just tested 5.7 and it's working properly. Thanks!

[2021-09-27 09:27] #7564 closed

[2021-09-27 09:29] pmcpinto commented on #7319
Thanks, Lourens. It's looking good!

cc @elizaan36 so you can also check the demo.

[2021-09-27 12:44] jacoswan commented on #7508
Another instance of this [reported here](https://wordpress.org/support/topic/database-update-is-completed-notice-keeps-reappearing-2/).

[2021-09-27 13:24] #7319 closed

[2021-09-27 15:35] a-danae opened #7713 "[GlobalStep] "Calendar" window fails to dismiss upon clicking anywhere on the screen on Transactions and deposits screen"
### Describe the bug
"Calendar" window fails to dismiss upon clicking anywhere on the screen on Transactions and deposits screen.

### To Reproduce
1. Create any test site using JN site.
2. Install and activate all the required plugins (WooCommerce Payments)
3. Complete setup wizard using United States address as a store address and selecting WC Payments on Business Details step.
4. Go to Payments

[2021-09-27 18:30] elizaan36 commented on #7319
Looks perfect to me!

[2021-09-27 18:40] ecgan commented on #7415
Is there a way to keep this open until it is solved?

[2021-09-27 19:26] mattsherman commented on #7445
@octaedro Can you please provide an update for this? Is there anything that @joelclimbsthings, @jacob-sewell, or anybody else could assist with?

[2021-09-27 20:37] octaedro commented on #7445
Hi @mattsherman ,
I started working on this issue late Wednesday and I had Friday and Monday off. I think, that our estimations were correct and it should take 4 or 5 days, so it should be ready by the end of this week (maybe Thursday).

[2021-09-27 20:41] joelclimbsthings commented on #7445
Just let me know if I can help with anything in parallel/otherwise @octaedro . I'll focus on task-list issues until then 👍🏻

[2021-09-27 21:10] elizaan36 opened #7715 "Inbox notes: Complete store details, Edit store details"
This note will be a reminder for users to complete the store details (if the store profiler was skipped) or edit the store details if it was already filled out. **This only applies to the segment of users who are part of the task list UI experiment.**

[Skipped profiler]
Title: Add your store details to complete store setup
Content: Complete your store details with important information for setup

[2021-09-27 21:28] elizaan36 opened #7716 "Paid extensions task to extended task list"
When a user chooses one of the paid extensions in the store profiler, a [new task appears in the store setup task list](https://d.pr/U5vWBf), "Add paid extensions to my store". For the new task list UI experiment, we will move this task from the store setup task list to the extended task list (Things to do next).

[2021-09-27 21:43] joshuatf opened #7717 "Task list placeholder does not show on load"
### Describe the bug
On load, the task list placeholder no longer shows for the new `tasks` feature.

### To Reproduce

1. Enable the `tasks` feature
2. Navigate to the task list
3. Note that the task list placeholder is not shown on load

### Screenshots
![Screen Shot 2021-09-27 at 5 42 05 PM](https://user-images.githubusercontent.com/10561050/134989604-01d94232-0517-4349-9193-59fb81000491.png)

[2021-09-27 23:47] nicdwilson commented on #7667
4331132-zen

[2021-09-28 01:05] bozzmedia commented on #7508
Just encountered this persistent issue on recent upgrade to WC . Possibly related console error:

[2021-09-28 11:09] pmcpinto commented on #7715
Here's the event wcadmin_storeprofiler_store_details_skip

[2021-09-28 11:28] pmcpinto opened #7719 "Store setup: update WCPay copy to include a mention of in-person payments"
**Description:** the in-person payments feature is coming soon to WCPayments. The initial release will be limited to COD and US merchants. See this post with more info: pbIJXs-YR-p2
We want to update the copy in the main touchpoints of the WCPayments setup flow, to promote the new feature.

**Design:**

Welcome screen:

<img width="718" alt="image" src="https://user-images.githubusercontent.com/51

[2021-09-28 11:30] pmcpinto commented on #7719
@elizaan36 you can add the copy changes here. Thanks!

[2021-09-28 11:47] pmcpinto opened #7720 "Improve discoverability of setting up other (non-WCPay) payment providers"
**Description:** users can easily miss the inbox notification informing them about other payments' solutions when we display the WCPayments task. We want to improve this by taking advantage of the "things to do next" task list

## Acceptance criteria
- If the WCPayments task is displayed, remove the `wc-admin-set-up-additional-payment-types` inbox message ([src](https://github.com/woocommerce/wooc

[2021-09-28 11:48] pmcpinto commented on #7720
@elizaan36 we can tweak the acceptance criteria once you have the designs ready. Thanks!

[2021-09-28 15:02] louwie17 opened #7721 "Show/Hide new task list (REST api version)"
## Description

The task list should be able to be hidden and shown. When hidden this should be reflected right away.

## Todo's

- [x] Allow user to hide the task list without having to refresh the page
- [x] Activity panels (Reviews/Orders/Stock) should show once the task list has been hidden
- [x] Should trigger a `tasklist_completed` track when user hides the list
- [x] List can be re-shown th

[2021-09-28 15:08] louwie17 opened #7723 "Support extended task list - Things to do next"
## Description

Dev's should be able to add extended task list items both internally and externally to the WC Admin home screen under the `Things to do next` task list.

## Todo's

- [ ] Can be hidden and shown just like the main task list
- [ ] Should be backwards compatible with the `woocommerce_admin_onboarding_task_list` filter, we should depreciate this filter in favour of using PHP code
- [

[2021-09-28 15:18] joshuatf commented on #6692
I'm closing this issue since I haven't heard back from you in a while, but please feel free to comment back here if you'd like to continue the discussion and we can reopen this!

[2021-09-28 15:18] #6692 closed

[2021-09-28 15:21] joshuatf commented on #6693
@LevinMedia Do you have a preferred way of handling this?

[2021-09-28 16:22] joshuatf commented on #2006
I'm able to reproduce this issue.  We store notes in UTC time and the REST response includes the datetimes with `date_created` and `date_created_gmt`.

https://github.com/woocommerce/woocommerce-admin/blob/f78b285418f681829affd61851192e56ef0fb32b/src/API/Notes.php#L452-L453

We then use the date created (the store's timezone) in moment to get the "from now" time, but this appears to expect UTC tim

[2021-09-28 16:59] #7680 closed

[2021-09-28 17:09] tomalec opened #7725 "Support `@wordpress/components.Button` isLink as wc-admin link"
### Is your feature request related to a problem? Please describe.

When developing Google Listings and Ads plugin. We have a number of button links:
![image](https://user-images.githubusercontent.com/17435/135122371-f6b67c02-d599-43f5-b9e7-ad49aad55d2c.png)
We use [`@wordpress/components.Button`](https://wordpress.github.io/gutenberg/?path=/story/components-button--secondary), to achieve the look

[2021-09-28 17:35] joshuatf opened #7726 "Task list items not snoozeable"
### Describe the bug
Setting a task item to `is_snoozeable` does not show the option to snooze the task.

### To Reproduce

1. Add `is_snoozeable` to a server-side task
2. Load the task list on the frontend
3. Note that no drop down option is given

[2021-09-28 18:51] joshuatf opened #7729 "Task list items cannot be expanded"
### Describe the bug
When the expandable experiment is added, the current task item is expanded, but others do not expand on click.

### To Reproduce

1. Set `isExpandable={ true }` in `client/tasks/tasks.tsx`
2. Load the task list
3. Click on other tasks

### Screenshots

<img width="726" alt="Screen Shot 2021-09-28 at 2 47 57 PM" src="https://user-images.githubusercontent.com/10561050/135147893-

[2021-09-28 20:19] joshuatf commented on #7729
Actually this seems to be working well on my end.  I didn't realize completed tasks could not be expanded.

Wouldn't mind a quick look from @louwie17 before we close this just to make sure all expandable issues are covered here.  Feel free to close this if so.

[2021-09-28 20:26] octaedro commented on #7445
Hi @pmcpinto  and @elizaan36

I'm working on this issue now and I have a few questions:

After selecting `Subscriptions`  in the store profiler, the option `Add Subscriptions to my store` appears in the setup tasklist.  Should we remove that task item?

![screenshot-one wordpress test-2021 09 28-15_28_06](https://user-images.githubusercontent.com/1314156/135159903-48f8834b-b353-4081-9014-c734fb374

[2021-09-29 07:32] ilyasfoo commented on #7670
Hey @elizaan36, I have a couple of things for you to check to make sure we're on the same page:

1. Regarding note content, I'm assuming the correct text is "Save up to 50% in fees ..."
1. If the user has chosen to remove the welcome screen, the note should not show after 3 days

[2021-09-29 07:49] AashikP commented on #7617
@louwie17  Sorry for the delay in response here.

I can confirm that things are working as expected with WooCommerce Admin 2.7 installed:

![https://d.pr/i/5zIRkN+](https://d.pr/i/5zIRkN+)

[2021-09-29 13:19] diegohaz commented on #7725
I think all of these options are applicable. The Link logic could be provided through a component hook, render props, or component injection ([video talking about these patterns](https://www.youtube.com/watch?v=_kyv3tnQKfg)). I'd also add the [Next.js Link](https://nextjs.org/docs/api-reference/next/link) as a reference here.

[2021-09-29 13:55] pmcpinto commented on #7445
That task should be removed in this use case. It was created just for paid extensions

I think it should be also activated

My recommendation is to remove it from the free features section if installed, to avoid any edge cases like: what should we do if the user deselects the WCPayments extension in this step

I'd keep it simple without any dummy data in this initial release.

cc @elizaan36 for ad

[2021-09-29 14:29] mattsherman commented on #7445
@octaedro I moved this to the `In Progress` pipeline. Please remember to do this in the future with stories once you start work on them!

[2021-09-29 15:17] elizaan36 commented on #7670
Yes, correct based on the changes discussed in the other issue.

No, we shouldn't show the note if the user has chosen to remove WCPay.

Yes, will be both.

I've updated the comment to reflect these changes. Thank you!

[2021-09-29 16:48] jacob-sewell commented on #7642
@elizaan36 Can you provide a little more specific description of the change to padding between elements?

[2021-09-29 17:55] #7726 closed

[2021-09-29 18:15] joshuatf commented on #7453
Thanks for the issue, @apmwebdev!  I had to double take as I also thought this already existed.

While it's definitely possible to extend these reports via filters, I agree that this would be useful information to include out of the box.

[2021-09-29 18:20] joshuatf commented on #6668
Sorry for the very late response on this, @dougaitken!  I am able to reproduce this issue using a store with a London timezone setting.

The date range for revenue is likely being sent back from the server as UTC and formatted in the table based on the local store settings.  We'll look into getting this fixed.

[2021-09-29 18:30] #7717 closed

[2021-09-29 18:57] joshuatf commented on #6861
I'm not able to reproduce this on the current `main` branch.  @LevinMedia would you mind seeing if you can reproduce this using the latest WooCommerce Admin?  I think the WP.org version should be okay for testing.

[2021-09-29 18:58] joshuatf commented on #6861
Ah, scratch that.  I believe it was resolved by @moon0326 in https://app.zenhub.com/workspace/o/woocommerce/woocommerce-admin/issues/7290.  Closing this issue for now.  Feel free to reopen if you're still able to recreate!

[2021-09-29 18:58] #6861 closed

[2021-09-29 19:03] joshuatf commented on #7725
Love all these ideas, @tomalec!  This is definitely something worth tackling.  I'll add it to our backlog.

[2021-09-29 19:05] joshuatf commented on #7719
Thanks, @pmcpinto!  Do we have a version we're targeting for this change?

[2021-09-29 19:17] #7617 closed

[2021-09-29 19:17] joshuatf commented on #7617
Thanks for checking, @AashikP!  Closing this issue, feel free to reopen if the problem persists.

[2021-09-29 20:47] pojke commented on #3904
Having the same problem. To solve it you need to remove WC Status widget from dashboard:
Add this code to functions.php and you're good to go
[code]

[2021-09-29 23:47] #7647 closed

[2021-09-30 02:44] elizaan36 commented on #7720
Updated the original comment with the design.

Pretty sure @LevinMedia is removing the UPE task regardless. If not, we can revisit the copy.

[2021-09-30 03:10] elizaan36 commented on #7719
Here's what I've got for copy.

### Welcome screen

<img width="718" alt="image" src="https://user-images.githubusercontent.com/5121465/135379249-02a3571a-197e-43c7-acf6-4583edc3b4d6.png">

### Payments task (It's the same - I don't see any reason to have different copy here, do you @pmcpinto ?)

<img width="694" alt="image" src="https://user-images.githubusercontent.com/5121465/135379574-ae489fdd

[2021-09-30 09:55] pmcpinto commented on #7719
It makes sense to apply the same copy change there.

AFAIK they plan to release it in mid-November. But let me confirm the exact date.

[2021-09-30 10:37] pmcpinto opened #7735 "Update Inbox Tracks"
**Description:** currently, we don't have a way to check how many inbox notifications are displayed in the panel. The number of messages can have a negative impact on the inbox effectiveness and we should start tracking the number of messages visible when the user visits the home screen.

**Acceptance criteria:**

- [ ] Fire an event tracking the number of messages included in the inbox panel when

[2021-09-30 12:31] louwie17 commented on #7729
Correct they should not be expanded, see the requirements of the original issue - https://github.com/woocommerce/woocommerce-admin/issues/6774

[2021-09-30 12:31] #7729 closed

[2021-09-30 13:43] joshuatf opened #7737 "Move enqueued task custom scripts to respective task classes"
Some tasks contain scripts that are enqueued on individual pages.  These scripts are enqueued in `src/Features/OnboardingTasks/Init.php` but would benefit from being moved to their respective classes.

For example, `add_onboarding_tax_notice_admin_script()` could be moved to `src/Features/OnboardingTasks/Tasks/Tax.php`

[2021-09-30 14:21] sajmes commented on #7603
Report of this here: 31939031-hc

[2021-09-30 15:24] pmcpinto commented on #7719
@joshuatf it will be released October 18th. When do you think it will be possible to release the updates?

[2021-09-30 15:32] gglobalstep opened #7738 "[GlobalStep] "Order Id" is displayed instead of "Refund Id" for refunded order on "Analytics>> Orders" screen."
## Bug Description:
Order id is displayed instead of refund id for refunded order on "Analytics>> Orders" screen.

## Environment:
Woocommerce Version : WooCommerce 5.8 RC 1
WordPress version: v5.8.1

PC:
Windows 10, Mac 10.14.6
Chrome(Version 94.0.4606.61)
Firefox(Version 92.0 (64-bit))
Safari: v14.1.2

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the

[2021-09-30 16:28] #5154 closed

[2021-09-30 20:50] joshuatf commented on #7738
I'm able to reproduce this, but I think this is intentional since the refund is tied to an order and the link is in fact to the order page (not directly to the refund).  But I'm not sure if this is confusing or not.  cc @LevinMedia @elizaan36 for any thoughts.

[2021-09-30 20:54] joshuatf commented on #7701
@Mte90 can you try running `npm cache verify` and `npm cache clean --force` before installing again?  Also, was this on a fresh clone of this repository?

[2021-09-30 21:04] joshuatf commented on #7694
@tomalec I was not able to reproduce this bug.  Does the change have to occur without a page refresh to trigger this issue?

Using `<Chart currency={ {code: 'EUR', symbol: '€', …} } />` did render the expected currency for me:

![Screen Shot 2021-09-30 at 5.02.16 PM.png](https://images.zenhubusercontent.com/5d7fd4b446611c000130d6f9/7ee38a72-7a59-4cbf-9095-dc4291bd18d3)

[2021-09-30 21:13] joshuatf commented on #7690
Thanks, @elizaan36!  I'm able to reproduce this.

Looks like the already installed functions are not being passed the required install/activate methods for plugins.  I'll put a fix out for this now.

[2021-09-30 21:21] joshuatf commented on #7685
@elizaan36 It looks like no matter whether WC Pay is already installed and connected, it still walks through the entire flow:

1. Install
2. Activate
3. Connect

And because those are all separate synchronous (they have to be) requests, it can be a little slow if the server is not responding quickly.

I think there's some area to speed this up if the plugin is already installed/connected, but the

[2021-10-01 01:21] sanebg3 commented on #4390
I'm really desperate. Can someone tell me how to figure out the end point for "yesterday" on Analytics? I will be very, very grateful.

[2021-10-01 07:38] Mister-A commented on #4390
I was watching on stackoverflow for your post so I could help, but I see you post anything with a woocommerce tag for a couple of days after your last post here.

Presuambly you're calling this from your own software.
Your own software will know what date it is.
Yesterday is today minus 1 day.

So if your software knows today is 2021-9-30 it just takes one day off the date and uses that in the cal

[2021-10-01 10:09] Mte90 commented on #7701
this was on a clone of this repository, I tried now those commands and nothing changed always errors.

[2021-10-01 12:45] sanebg3 commented on #4390
Hello, and thank you very much for trying to help.

I'm not using software, I'm scraping directly the API URL and send the data to somewhere else.

That's why I need the ability to directly have "last_week," yesterday" etc, because in reality there is no date in my software. Imagine If I directly open the URL in a browser and scrape the data that's there.

[2021-10-01 13:23] #7432 closed

[2021-10-01 13:27] Mister-A commented on #4390
Then you've likely to need to contract a software developer to do this for you, the API doesn't have "yesterday" as far as I can see - it has a date range. The thing calling it works out what yesterday was from today - 1 day. Good luck.

[2021-10-01 13:54] sanebg3 commented on #4390
I understand, thank you. But if you need last week's data? Not the last week from today but last monday to sunday for example (dynamically) , how can you achieve that with -1 days etc?

[2021-10-01 15:58] gglobalstep opened #7741 "[GlobalStep - 2.8.0 Beta-1] Some inbox messages fail to dismiss upon clicking the "Dismiss all messages" option on "WooCommerce >> Home" screen."
## Bug Description:
Some inbox messages fail to dismiss upon clicking the "Dismiss all messages" option on "WooCommerce >> Home" screen.

## Environment:
Woocommerce Version : WooCommerce 5.7.1
WordPress version: v5.8.1
WooCommerce Admin 2.8.0 Beta-1

PC:
Windows 10, Mac 10.14.6
Chrome(Version 94.0.4606.71)
Firefox(Version 92.0.1)
Safari: v14.1.2

## Steps To Reproduce:
1. Create any test site usi

[2021-10-01 18:46] #7723 closed

[2021-10-01 19:53] #7371 closed

[2021-10-01 19:57] joshuatf opened #7742 "Marketing task prematurely marked complete"
### Describe the bug
In the new task list, the marketing task is prematurely marked complete.  It should wait until a marketing extension is installed while on the task or once all extensions have been installed.

### To Reproduce

1. Enable the new `tasks` feature
2. Install a marketing plugin
3. Navigate to the task list
4. Note the task is already marked complete

### Actual behavior:
The task

[2021-10-01 20:45] mattsherman commented on #7741
This sounds very similar to #7031. Keeping that one closed and this one open, since this one is newer and a bit more general in scope.

[2021-10-02 04:23] #7434 closed

[2021-10-02 04:42] sanebg3 commented on #4390
Btw the examples above don't work. It's 400 error, no matter the date.

[2021-10-02 05:41] justinwyllie commented on #4390
As far as I can see Analytics uses a component called ReportFilters (from @woocommerce/components). This does all the calculation of the dates client-side. E.g. you would choose the specific date range you want -  press "Custom" - and then - client-side - the widget generates the dates.  If you want to decode these requests so you can construct your own you will need to understand the uri encoding

[2021-10-02 06:46] Mister-A commented on #4390
If you're not doing it in a browser with an authenticated session to the backend you need to provide key and secret as mentioned nearer the top of the thread. Or seek professional assistance. 

[2021-10-02 18:47] mattsherman commented on #7741
Noting that both @adrianduffell and I have hit this during our testing as well. So, it is definitely reproducible.

[2021-10-02 18:50] sanebg3 commented on #4390
Hello, thanks but yes, I do know how to use consumer secret and consumer key when I pull data from the API but there are many, many things that are unknown.

For example, how can I pull last month's data if there is no parameter "last month" that works?

[2021-10-03 05:03] justinwyllie commented on #4390
I think this has been mentioned quite a few times above. The formation of the request and the calculation of the date parameters _is done in the client_.  If you are composing the request yourself then it is your responsibility to calculate the before date and the after dates and put them into the right format when you build the request.

This is an example I just got Analytics to do for 'Last Mon

[2021-10-03 20:39] AntonyXSI commented on #3904
Have seen this timeout issue occur on multiple sites in the TimeInterval.php file on line 321, while loading the WP dashboard. Mainly on sites with a lot of orders.

Could it be related to daylight savings? It's happened on the day before and the day of daylight savings in NZ. Then the same for AU when their daylight savings started a week later. The timeout occurred consistently on those days but

[2021-10-04 08:18] Ben-Atherton commented on #3904
I am also experiencing the same issue and can confirm that adding `add_filter( 'woocommerce_admin_disabled', '__return_true' );` resolves it (at least temporarily) so there is definitely some more investigation needed here

[2021-10-04 17:02] #7721 closed

[2021-10-04 17:11] #7690 closed

[2021-10-04 21:21] NathalyaVides commented on #6770
Also occurring in 4349820-zen.

[2021-10-05 02:52] erricgunawan commented on #7603
I had this a while ago: 31359544-hc

[2021-10-05 06:03] ShaneGowland commented on #3904
Just started happening for me on 3 sites.

@AntonyXSI might be onto something RE daylight saving time. Here in South Australia we just switched to DST as well.

[2021-10-05 11:19] pjjonesnz opened #7748 "5.7.1 – Analytics crashing"
As per the post at plugin support: https://wordpress.org/support/topic/5-7-1-analytics-crashing/page/2/#post-14936550

They have asked me to post this here.

Updated my website to 5.7.1 (from 5.6.0) yesterday. No trouble at all – it all went fine without any trouble.

BUT today, some time after my server rolled over past midnight, the WordPress dashboard now takes 30+ seconds to load, and the Wooc

[2021-10-05 11:21] rodelgc commented on #7748
For reference: There's already an internal discussion and preliminary investigation of the issue here - p1632748406271600-slack-C01DT6U03HC

[2021-10-05 17:07] #7742 closed

[2021-10-05 17:18] louwie17 commented on #7701
That is not great, I am starting to run out of idea's on what this could be.
@joelclimbsthings I believe you are running linux right? are you able to reproduce this?

[2021-10-05 17:20] joshuatf opened #7750 "Task list appearance task remains incomplete on skip"
### Describe the bug
The appearance task does not complete when skipping.  Found in https://github.com/woocommerce/woocommerce-admin/pull/7736#pullrequestreview-768961702.

This should be updated to use the new actions API and data store methods introduced in https://github.com/woocommerce/woocommerce-admin/pull/7746.

### To Reproduce

1. Navigate to the appearance task on a fresh site
2. Skip th

[2021-10-05 17:48] joelclimbsthings commented on #7701
Nope @louwie17 , not able to reproduce on my end. I'm running PopOS (based on Ubuntu), and also ran the above on `v12.22.5` without an issue.

[2021-10-05 17:50] Mte90 commented on #7701
I am using npm 7.24.0 if could be helpful on understand what is wrong.

[2021-10-05 18:20] #7374 closed

[2021-10-05 18:23] joshuatf opened #7751 "Clean up old usage of task list options"
There are several areas around the app where we still make use of the old task list options.  We should instead rely on the API and data store as the source of truth for task list status.

* `woocommerce_task_list_hidden`
* `woocommerce_extended_task_list_hidden`
* `woocommerce_task_list_complete`
* `woocommerce_task_list_dismissed_tasks`

[2021-10-05 18:37] #7741 closed

[2021-10-05 20:05] elizaan36 commented on #7685
Just chatted about this in Slack and maybe the best way forward would be, rather than creating a new pattern for a loading animation with the existing task list, use the action that's visible in the new task list UI (if the experiment is successful) to indicate all three steps, “Installing”/ “Activating” / “Connecting”.

<img width="1053" alt="image" src="https://user-images.githubusercontent.com/

[2021-10-05 20:14] elizaan36 opened #7753 "Inbox: Duplicate refund policy inbox note"
Just created a new site and noticed that there are two separate refund and returns policy Inbox notes. @pmcpinto or @garymurray do you know which one we should keep?

<img width="757" alt="Screen Shot 2021-09-28 at 9 24 42 AM" src="https://user-images.githubusercontent.com/5121465/136095809-f7949c79-a826-4592-8ede-d55da05382ae.png">

[2021-10-06 03:09] pjjonesnz commented on #7748
Hi @ilyasfoo

My timezone is set to Auckland (I'm in New Zealand).  We have just moved to daylight savings time, if that is helpful to know?

Here is a screenshot:

![image](https://user-images.githubusercontent.com/24400019/136134485-f9c147d6-7974-4531-bd14-8a8ac0ac2001.png)

[2021-10-06 05:48] ilyasfoo commented on #7748
@pjjonesnz Yes, that helps! I have now been able to reproduce the issue, it was really tricky to get it right. Your report in the forum had also included important details. In order to hit this bug, you'd have to hit these conditions:

1. In a site's Settings > General > Timezone, the site must be set to a city or a state that observers daylight savings.
2. The site needs to have an order on the p

[2021-10-06 05:58] pjjonesnz commented on #7748
Well done!  🥇

What a challenge to find that!

I have a session booking plugin that relies on the timezone, so will have a look at the code and see how that might affect it.

Looking forward to seeing how the fix goes.

[2021-10-06 06:52] #7657 closed

[2021-10-06 09:17] ilyasfoo commented on #7748
Thanks! We've found out the root cause. It comes in 2 parts:

1. In the function [next_day_start](https://github.com/woocommerce/woocommerce-admin/blob/6d63654c7fd3a4f50c82fabcd3c5df27eaf9941e/src/API/Reports/TimeInterval.php#L304), it seems a new DateTime object in [this line](https://github.com/woocommerce/woocommerce-admin/blob/6d63654c7fd3a4f50c82fabcd3c5df27eaf9941e/src/API/Reports/TimeInterv

[2021-10-06 09:36] pmcpinto commented on #7753
@elizaan36 good question :)

I'm wondering if we should merge them: the first provides context on why it's important to have this kind of page and the 2nd removes friction by auto-creating one and nudging the user to update it. @garymurray @thenbrent* what do you think?

*- I'm not sure if the first message by created by Transact.

[2021-10-06 09:44] garymurray commented on #7753
I believe the first one is coming via Transact/Woo Pay. It makes sense to me to combine them into one.

[2021-10-06 12:59] #7573 closed, assigned to rrennick

[2021-10-06 13:11] davilera opened #7758 "method_exists(): Argument #1 ($object_or_class) must be of type object|string, bool given"
### Describe the bug
Several users reported a bug that results in a fatal error when using WooCommerce with certain third-party plugins/themes:

* [Critical error thrown when trying to run the setup wizard](https://wordpress.org/support/topic/critical-error-thrown-when-trying-to-run-the-setup-wizard-2/)
* https://github.com/woocommerce/woocommerce/issues/30149 by @reardestani

This is the culprit:

[2021-10-06 14:07] #7572 closed

[2021-10-06 16:24] #7574 closed, assigned to rrennick

[2021-10-06 18:45] joshuatf opened #7760 "Add task example is broken"
Since we've updated the task list REST API, the existing `add-task` example extension works via backwards compatibility, but completion is broken until page reload.

This should also be updated to give 3PDs examples of how to register tasks and interact with them via the new API.

[2021-10-07 11:25] ryanr14 opened #7766 "Exporting address viewing WooCommerce > Customers"
### Is your feature request related to a problem? Please describe.
This is a feature request coming in via chat.

### Describe the solution you'd like

### Describe alternatives you've considered
Besides us implementing this ourselves, can we provide developer docs or examples on how to do this?

![https://d.pr/i/jLgqel](https://d.pr/i/jLgqel+)
Image link: https://d.pr/i/jLgqel

[2021-10-07 16:28] gglobalstep opened #7768 "[GlobalStep] All variations are displayed when filter is applied to a single variation on the "Analytics>> Variations" screen."
## Bug Description:
All variations are displayed when filter is applied to a single variation on the "Analytics>> Variations" screen.

## Environment:
Woocommerce Version : WooCommerce 5.8 RC 1 and 5.7.1
WordPress version: v5.8.1

PC:
Windows 10, Mac 10.14.6
Chrome(Version 94.0.4606.61)
Firefox(Version 92.0 (64-bit))
Safari: v14.1.2

## Steps To Reproduce:
1. Create any test site using JN site.
1.

[2021-10-07 20:20] mattsherman commented on #7445
At the time of onboarding, WCPay is not yet installed. That is precisely what the onboarding support is doing, when the merchants selected "Subscriptions". It is installing WooCommerce Payments for them.

Since WCPay is not installed, the WCPay account location will not be configured yet either.

[2021-10-07 20:37] haszari commented on #7445
That's a very good point @mattsherman 😄  🤦 .

Sounds like we'll have the possibility of a mismatch between store location in onboarding and what they end up setting for WCPay, but I'm sure that'll be rare in practice.

[2021-10-07 20:39] haszari commented on #7445
In that case, perhaps it's best for WCPay Subs to defer to the onboarding profile. If merchant is offered WCPay Subscriptions in onboarding, and they opt-in, we activate our feature flag (a `wp_option`). Thoughts @james-allan ?

[2021-10-07 21:00] elizaan36 commented on #7720
The WCPay task in the extended task list is being removed in [#3060](https://github.com/Automattic/woocommerce-payments/issues/3060)

[2021-10-07 22:22] mrdigitalau commented on #3904
Yep, two of my sites are having issues as well. Based in Australia using AEST time. Woocommerce Admin hangs and eventually times out. If I disable WooCommerce admin in functions.php, it fixes it.

[2021-10-08 03:20] haszari commented on #7445
Yep - that's right. I hadn't considered the non-onboarding case. For onboarding, if we've offered it and they've opted in, it's simpler to enable Subscriptions even if they don't technically meet our preview criteria (USA WCPay account).

That seems consistent with our general approach - WCPay Subs is available to anyone if they want it (via the `wp_option`); for US-based merchants, we're enabling

[2021-10-08 04:27] ilyasfoo commented on #3904
Hey folks, chiming as I think this may be related to daylight saving, as said by @AntonyXSI and @ShaneGowland. I have a fix waiting for review here: https://github.com/woocommerce/woocommerce-admin/pull/7763.

As a workaround, you may try to change the timezone in WordPress's Settings > General > Timezone to a UTC-based timezone instead of a city/state. This should temporarily disable daylight sav

[2021-10-08 04:31] mrdigitalau commented on #3904
@ilyasfoo Hi Ilyas, I can confirm that changing to a UTC +11 instead of Sydney/Australia fixes the admin timeout issue for both my sites

[2021-10-08 04:38] ilyasfoo commented on #3904
Thanks for confirming, @mrdigitalau!

[2021-10-08 13:24] tomalec opened #7772 "WC navigation handler clears `current` class from every element on entire page."
### Describe the bug

In Google Listings & Ads plugin, we use some sub-navigation in a number of places and use `NavigableMenu`, `Link` elements, and `current` CSS class for consistency with the rest of WC UI.

It occurred that sometimes the "current"/"active" state of an element was cleared in what seemed to be unrelated navigation events.

It occurred that `wpNavMenuClassChange` function, used (

[2021-10-08 15:19] #7459 closed, assigned to nobody

[2021-10-08 16:13] gglobalstep opened #7775 "[GlobalStep - 2.8.0 Beta-2] "WooCommerce Payments" extension is visible under extensions suggestions on "Free Features" screen when "Subscriptions Inclusion" feature is enabled."
## Bug Description:
"WooCommerce Payments" is visible for first time under extension suggestion on "Free Features" screen when "Subscriptions Inclusion" feature is enabled.

## Environment:
Woocommerce Version : WooCommerce 5.7.1
WordPress version: v5.8.1
WooCommerce Admin 2.8.0 Beta-2

PC:
Windows 10, Mac 10.14.6
Chrome(Version 94.0.4606.81)
Firefox(Version 93.0)
Safari: v14.1.2

## Test Instruct

[2021-10-08 16:21] gglobalstep opened #7776 "[GlobalStep - 2.8.0 Beta-2] "All extensions" are selected on clicking "Continue" button on the "Free Features" screen."
## Bug Description:
"All extensions" are selected on clicking "Continue" button on the "Free Features" screen.

## Environment:
Woocommerce Version : WooCommerce 5.7.1
WordPress version: v5.8.1
WooCommerce Admin 2.8.0 Beta-2

PC:
Windows 10, Mac 10.14.6
Chrome(Version 94.0.4606.81)
Firefox(Version 93.0)
Safari: v14.1.2

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and a

[2021-10-09 10:01] s-binder commented on #7508
I have the same error as @bozzmedia. A workaround is to disable the plugin gutenberg. Now you can accept the message without an error.

[2021-10-09 13:58] kiritodragneel opened #7778 "WC - Stuck on store Dashboard"
On the latest version of WC if I activate the plugin I get stuck on the store dashboard, I can't got to any other page in the admin area of my website it just auto reloads to store dashboard.

I can access the main site and navigate that fine but the admin area does not allow me to go anywhere else, even if i go direct to URL in a new window.

I have also tried deactivating ALL plugins bare WC and

[2021-10-11 01:44] ilyasfoo opened #7779 "Refactor `next_week_start` logic to avoid while loops"
### Describe the bug

This issue is a follow-up to https://github.com/woocommerce/woocommerce-admin/pull/7763. Currently, it uses a loop block that has a failsafe to prevent an infinite loop. This isn't ideal since the failsafe isn't a proper solution, it'll return a wrong result instead.

https://github.com/woocommerce/woocommerce-admin/blob/64782446712d32abe20414433d8f51077d9d5c74/src/API/Report

[2021-10-11 12:14] pmcpinto opened #7780 "OBW: reintroduce Google Listings and Ads extension in the business features step of OBW"
**Description:** the drop in the number of users installing the marketing extensions was higher than we expected and the conv. rate improvement in the flow post-installation is not enough to offset the drop in installs. So we aim to reintroduce the prompt to install Google Listings and Ads in the business features step and keep the marketing task to guide users to finish the setup of each extensio

[2021-10-11 12:21] tomalec opened #7781 "`countries` is missing from settings store in 5.8.0-rc.1"
### Describe the bug

While checking the compatibility of our [GLA plugin](https://github.com/woocommerce/google-listings-and-ads) with WooCommerce 5.8, [we noticed](https://github.com/woocommerce/google-listings-and-ads/issues/1041) the settings store no longer contains `currency` entry. It's still available as `window.wcSettings.currency`

### To Reproduce

[code]

### Actual behavior:

`getSett

[2021-10-11 18:43] lanej0 opened #7782 "OBW: Post Code should not be a required field"
### Describe the bug
There are a number of countries that don't use zip/postal codes. There are a number of documented exceptions [here](https://tosbourn.com/list-of-countries-without-a-postcode/) and [here](pn5zZ-1A-p2).  Additionally, officially, there may be postal codes in use but most folks don't actually use/know them (Ireland for example).  As such, the Postal Code field should be optional/

[2021-10-11 19:05] lanej0 opened #7784 "[Setup Wizard] - Form values are lost when jumping between tabs (Business Details)"
### Describe the bug
I noticed this bug on the Business Details tab first as there are 2 subsections to that tab.  If you complete the values in the Business Details section and then click "Continue", you're taken to the "Free Features" section.  If you then click on a different step in the Setup Wizard, you will lose the values you selected/entered under "Business details"

### To Reproduce
1. Go

[2021-10-11 19:26] lanej0 opened #7785 "[Setup Wizard] - Currency isn't clear on Product Types"
### Describe the bug
A number of prices are listed on the Product Types step.  They are all listed as a dollar amount, but it isn't clear what currency those are using.  Are they Canadian Dollars?  US Dollars?  Australia Dollars?  A number of countries use the dollar sign for their currency, but there's no indication on this page what the currency is.

I thought maybe the prices changed based on y

[2021-10-11 21:00] lanej0 opened #7786 "[Setup Wizard] - Country/Region label alignment is off after country is selected"
### Describe the bug
After a country/region has been selected, the label for the field has too much left padding and is out of alignment with the value selected.

### To Reproduce

1. Go to /wp-admin/admin.php?page=wc-admin&path=%2Fsetup-wizard
2. Click on 'Country/Region' and select an option

### Actual behavior:
The left padding remains on the field label, throwing off the alignment (see screen

[2021-10-11 23:38] lanej0 opened #7788 "[Setup Wizard] - If setup wizard is abandoned part way through, progress is forgotten (data still saved)"
### Describe the bug
When working through the Setup Wizard, if you're interrupted and have to return later (maybe your browser crashes, or you have a power failure, or just get distracted and close the window!), your progress is forgotten and you're returned to the first step of the Setup Wizard.

Your address data is pre-populated, however your response to the Usage Tracking modal is forgotten if

[2021-10-12 00:21] lanej0 opened #7789 "[Setup Wizard] - Currency isn't clear on Themes"
### Describe the bug

Similar to #7785 - the prices listed on the Themes page aren't clear.  The $ currency symbol is used by a number of countries, and it's not clear that the prices shown are in USD.

### To Reproduce

1. Go to /wp-admin/admin.php?page=wc-admin&path=%2Fsetup-wizard&step=theme
2. Click on 'Paid themes'

### Actual behavior:

Several themes are listed at $79.00 per year.  It's not

[2021-10-12 12:20] adrianduffell opened #7790 "Inbox 2.0 New Note Design"
### Requirements

- Notes are contained in a panel rather than each note appearing as separate components on the screen
- The card header contains the title “Inbox” to orient users and help them understand the content
- The gap between each note is collapsed
- The footer is collapsed to use tertiary button styles and conserve space in the feed
- Each note has a color-coded category icon to help sc

[2021-10-12 12:22] adrianduffell opened #7791 "Inbox 2.0 Panel Header"
### Requirements

- Controls for “Mark all as read” and “Dismiss all”, where “Dismiss all” has a confirmation prompt.

[2021-10-12 12:24] adrianduffell opened #7792 "Inbox 2.0 Layouts"
### Requirements

- Adapts to each layouts: Inbox menu, Mobile, 1-column, 2-columns.

[2021-10-12 12:27] adrianduffell opened #7793 "Inbox 2.0 Read State"
### Requirements

- Update the note state to "read" after action button clicked on.
- Remove previous functionality making notes read upon homepage view.

[2021-10-12 17:22] gabrielbonifacio commented on #7748
Reported in 4370753-zen as well.

[2021-10-13 03:05] becdetat commented on #5774
@luboslives Great catch :-). Please let us know if the problem appears again. Otherwise we will leave this issue as closed.

[2021-10-13 09:16] pmcpinto opened #7796 "Marketing task - change Google Ads copy"
### Describe the bug
In the marketing task, we're installing the right Google Ads extension (Google Listings and Ads by Woo), but the copy presented is about other Google Ads extension we were promoting before our extension was created.

### To Reproduce

1. Create a new store and go to the home screen
2. Click on the marketing task
3. See that the copy refers to the Google extension managed by Kl

[2021-10-13 13:11] ilyasfoo commented on #7758
Hi there, @davilera. Thank you for reporting this issue! Your assessment is correct, this is indeed a bug since PHP 8 changed the way `method_exists` behaves as it now throws a fatal error on passing the first parameter with anything other than string or object. We should fix this to properly support PHP 8.

Additionally, I wonder if it's worth considering adding safety checks for other `method_ex

[2021-10-13 13:54] mattsherman commented on #7796
@woocommerce/mothra We should fix this ASAP as follows:

- Update remote endpoint to correct text
- Update local fallback to correct text and cherry-pick it into 2.8

[2021-10-13 16:16] #7776 closed, assigned to octaedro

[2021-10-13 23:14] #7784 closed, assigned to adrianduffell

[2021-10-13 23:16] lanej0 commented on #7788
Just noting that this is still present in 5.8.

[2021-10-13 23:16] lanej0 commented on #7786
Still present in 5.8

[2021-10-13 23:33] lanej0 opened #7800 "[Setup Wizard] - Math on Product Types doesn't add up"
### Describe the bug
Toggling between the monthly and yearly pricing on the Product Types step of the Setup Wizard produces different pricing (because of rounding, and you can't have partial cents).

For example, Subscriptions are $16.58 per month.  $16.58 * 12 = $198.96 but the displayed yearly pricing is $199.

### To Reproduce

1. Go to /wp-admin/admin.php?page=wc-admin&path=%2Fsetup-wizard&ste

[2021-10-13 23:45] lanej0 opened #7801 "[Setup Wizard] - 5.8 - Label on the Product Type price toggle no longer changes"
### Describe the bug
On the Product Types screen, at the bottom of the list of pricing there is a toggle that lets you change between monthly pricing and yearly pricing.

In 5.7.1, clicking this toggle would change the label from "Display monthly prices" to "Display annual pricing" (or yearly pricing) depending on what was being displayed.  That no longer happens, the toggle stays "Display monthly

[2021-10-13 23:48] lanej0 commented on #7801
Ever sure that something has changed, when it hasn't in fact?

I just checked an install that I haven't updated to 5.8 yet (still 5.7.1), and it's behaving just as it is in 5.8.

[2021-10-13 23:48] #7801 closed

[2021-10-14 05:15] ilyasfoo commented on #7766
Hi there, @ryanr14. Unfortunately we don't have the documentation for this specific customization. We do have a filter that's able to modify the columns of exported CSV **but it only applies to the email version of export**.  Here's an example plugin that may be able to help: https://gist.github.com/becdetat/0de2f79672e768f4e72b43d7ab07e2e3.

The client-sided export isn't supported yet, there's op

[2021-10-14 07:28] ilyasfoo commented on #7778
Hi @kiritodragneel, thank you for reporting this issue. I haven't heard of this kind of problem before, does it still happen if you tried to install back the previous version of WooCommerce? Also, if you can copy and paste any error messages either in the browser console or WordPress log, would greatly help. Please remember to omit any confidential information if you decide to share anything.

If

[2021-10-14 09:14] ilyasfoo commented on #7768
I was able to reproduce this. It seems the table is wrongly populated.

[2021-10-14 11:34] adrianduffell opened #7802 "Provide a new API for consumers affected by settings breaking change"
In WooCommerce 5.8.0 we shipped a breaking change in WC Admin:

So far this is known to impact the `Google Listing and Ads` and `Pinterest for WooCommerce` extensions (see issue https://github.com/woocommerce/woocommerce-admin/issues/7781).

We should provide a future proof API for consumers to continue accessing the affected data.

[2021-10-14 14:29] #7796 closed

[2021-10-15 01:53] mattsherman opened #7806 "Tasks: Handling of deprecated options should use transient instead of define to determine if WCA is installing"
The [fix made in the `2.7.x` branches](https://github.com/woocommerce/woocommerce-admin/commit/0a2e9d6b8e8085dca872eaa6b38ff4787bbbba54) to accommodate the [WC_Admin_Dashboard_Setup_Test::test_widget_does_not_get_rendered](https://github.com/woocommerce/woocommerce/blob/990f7055c458052d0e2bede4f194e8c488c4bf69/tests/php/includes/admin/class-wc-admin-dashboard-setup-test.php#L63) test in Core was n

[2021-10-15 16:19] tomalec commented on #7802
Is there any quick solution for the `woocommerceTranslation` setting?
The workaround of `window.wc.wcSettings.getSetting('woocommerceTranslation')` does sometimes return `false`. See https://github.com/woocommerce/pinterest-for-woocommerce/pull/224, https://github.com/woocommerce/google-listings-and-ads/pull/1042/files#diff-3aa09978cb18aff029d3dd6535a2b9ee0a8c4df561ceae68517deb6bac6ffa7aR25

[2021-10-15 17:07] mattsherman commented on #7806
Yeah, that makes sense to me... if `WC_ADMIN_INSTALLING` isn't reliable, then why bother keeping it around.

[2021-10-15 19:00] elizaan36 commented on #7782
Thank you @lanej0 ! This is a great issue to bring up, and something our team has chatted about in the past.

Taking a little step back, there's another UX issue where users need to scroll endlessly through the Country/Region list in order to find their location.

I'd propose the following solution - use progressive disclosure and only surface the address and country fields fields first, then pres

[2021-10-15 19:07] elizaan36 opened #7807 "Navigation Inbox note showing up when navigation isn't available"
### Describe the bug
I received this Inbox note on my self hosted WooCommerce site this week. Upon clicking "Enable", I was directed to the Advanced settings area but there was no way to enable the new navigation.

### Actual behavior:
This Inbox note should be turned off for all sites that don't have the option to turn on the new WooCommerce navigation.

### Screenshot
<img width="916" alt="Scree

[2021-10-16 10:15] bambootb commented on #5745
Can anyone please take it seriously about this issue??

[2021-10-17 15:15] caiodigioia opened #7827 "Wordpress analytics reports doesn't translate the months"
Woocommerce is set to Portuguese (Brazil), but, on the chart, the months and the data format still in English.

![image](https://user-images.githubusercontent.com/81108520/137633436-da40d101-e70e-4ff7-b2d0-c675ff174d30.png)

Although they weren't translated by default, the other texts (e.g "Mês até hoje") I managed to translate using Loco Translate, but this was not possible in the chart.

Many th

[2021-10-18 10:43] tomalec opened #7810 "The source of `@woocommerce/settings` processed by DEWP is confusing"
### Describe the bug

As a plugin developer, I tried to use Dependency Extraction Webpack Plugin to use a package to obtain the WooCommerce settings. (https://github.com/woocommerce/pinterest-for-woocommerce/pull/224, https://github.com/woocommerce/google-listings-and-ads/issues/1050)

I checked that `wc.wcSettings` delivers the data I need. So I checked the [README of DEWP](https://github.com/woo

[2021-10-18 15:06] louwie17 opened #7812 "Orders activity panel styling is broken"
### Describe the bug
There appears to be a css conflict that makes the styling in the orders panel look broken.
This appears to be a css specificity issue where the `woocommerce-activity-card__button` is trumped by `.components-button`.

### To Reproduce
I couldn't reproduce it locally

1. Load WC on a Jurassic website
2. Finish the onboarding flow, and add some products and an order for those pro

[2021-10-18 15:29] lanej0 commented on #7782
@pmcpinto That's a good idea too.  I have to admit that there are times (usually soon after I had moved houses) where I didn't know my postal code.  I could look it up, but would I be motivated to do so when signing up on a website?

[2021-10-18 15:56] piinthecloud opened #7814 "Broken link on the WooCommerce Admin Docs"
### Describe the bug

The WooCommerce Admin Docs has a broken link to the WooCommerce Developers Blog. Users are informed that release and roadmap notes are available on the WooCommerce Developers Blog, however the link to that blog is broken.

### To Reproduce

1. Go to [WooCommerce Admin Docs](https://wordpress.org/plugins/woocommerce-admin/)
2. Scroll to the section titled “THIS IS AWESOME! CAN

[2021-10-18 16:47] elizaan36 opened #7815 "Navigation: Increase text/background contrast to improve accessibility"
### Problem to solve
The existing text color for the new navigation doesn't pass AAA accessibility guidelines.
<img width="227" alt="Screen Shot 2021-10-18 at 12 25 20 PM" src="https://user-images.githubusercontent.com/5121465/137772803-86ba91e0-e3d9-4cbd-aa1a-d4007ca06d57.png">

<img width="1168" alt="Screen Shot 2021-10-18 at 12 27 24 PM" src="https://user-images.githubusercontent.com/5121465/13

[2021-10-18 16:55] louwie17 opened #7816 "Items under Stock activity panels not showing"
### Describe the bug
Items under Stock activity panels not showing when using a custom stock threshold.

### To Reproduce

1. Load WooCommerce and finish the onboarding
2. Create some products
3. Edit one of you products and go to **Inventory** tab and enable the **Manage stock?**, and set the **Low stock threshold** to `10`, make sure **Stock quantity** is lower than the threshold
4. Go to **WooC

[2021-10-18 17:14] pmcpinto commented on #7815
@becdetat @mattsherman we should also include this change in the cycle 18 scope.

[2021-10-18 20:17] mattsherman commented on #7780
@joshuatf @joelclimbsthings Would we be able to add Google Listing and Ads back in without a WCA/Core release?

[2021-10-19 00:04] mattsherman commented on #7442
@pmcpinto Is it really the user we care about, or the store address?

[2021-10-19 00:20] becdetat commented on #7807
No, I haven't seen anything come through that would have changed this. The note was last modified back in March. Looks like @joshuatf did all the work for this note, Joshua do you know what could have caused this?

[2021-10-19 00:30] mattsherman commented on #7442
It is a bit unclear to me exactly how this is supposed to fit with the existing task flow. Does Jetpack and WooCommerce Tax now get installed from this new option screen? /cc @elizaan36 @jarekmorawski

Does this take the place of the following current screen?

<img width="1045" alt="Screen Shot 2021-10-18 at 20 15 13" src="https://user-images.githubusercontent.com/2098816/137823506-66160eb3-090e-4

[2021-10-19 00:34] mattsherman commented on #7442
@pmcpinto Does just selecting Avalara complete the task, or should we be checking to see if a particular extension is installed?

[2021-10-19 00:53] mattsherman commented on #7815
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce-admin/7815?planning-poker) with ZenHub @jacob-sewell @joelclimbsthings @joshuatf @louwie17 @octaedro

[2021-10-19 01:26] mattsherman commented on #7372
@joshuatf @joelclimbsthings Is this issue still valid? Is it something we need to do right now?

[2021-10-19 12:02] joshuatf commented on #7372
This issue is still valid but not urgent for the performance of the task list.

The issue as @joelclimbsthings mentioned is that some other components still use this task status and will need to be updated before the endpoint can be removed.  From what I can see the only components using this are the activity panel and the task fills.  Adding an `additional_info` property to tasks that gets passed

[2021-10-19 12:15] #7806 closed

[2021-10-19 13:15] octaedro opened #7821 "Add country validation for old task list"
### Describe the bug

[This PR](https://github.com/woocommerce/woocommerce-admin/pull/7777) added country validation to Subscriptions inclusion but that code should also be added also to the old task list.

The subscription inclusion was added before the old task list removal but not the country validation. This is why the country validation hasn't been added to the old task list.

### Screenshots

[2021-10-19 18:20] mattsherman opened #7823 "OBW: Split business features extensions listing into multiple sections"
**Description:** the drop in the number of users installing the marketing extensions was higher than we expected and the conv. rate improvement in the flow post-installation is not enough to offset the drop in installs. So we aim to reintroduce the prompt to install Google Listing and Ads in the business features step and keep the marketing task to guide users to finish the setup of each extension

[2021-10-19 19:10] mattsherman commented on #7442
@pmcpinto Is this good hard-coded in WCA, or should this be driven by a remote endpoint?

[2021-10-19 19:37] lenamtl opened #7828 "Taxes report is not displaying the exact amount."
Hi,

I'm having an issue with the taxes reports it not dislaying the correct amount compared to what is charged to clients.
I’m refering to this page page=wc-admin&path=%2Fanalytics%2Ftaxes
I don't know how come the records are not the same maybe this is a format issue.

**Report data:**
TVQ 174,23
TPS 87,33

**DB data** from wc_order_tax_lookup (this is corresponding to the Report)
TVQ 174,226346

[2021-10-19 21:43] #6120 closed

[2021-10-20 00:48] octaedro commented on #7775
@mattsherman No, it's something similar but not the same. I'm going to close this issue since it was solved in [PR 7777](https://github.com/woocommerce/woocommerce-admin/pull/7777)

[2021-10-20 00:48] #7775 closed, assigned to octaedro

[2021-10-20 14:06] tammullen opened #7825 "(WC 5.9 Beta) PHP Notice/Warning for RemoteInboxNotifications/RuleEvaluator.php upon activating WC"
### Describe the bug

When activating WC 5.9 Beta 1 there is a PHP Notice/Warning depending on the PHP Version

For Atomic PHP 7.4 Sites this PHP notice is shown

[code]

For Atomic PHP 8.0 Sites this PHP warning is shown
[code]

I have confirmed this doesn't happen with WooCommerce 5.8

### Additional context
No other plugins active. I haven't seen this on any other hosts yet.

System Status Repo

[2021-10-20 18:23] lenamtl opened #7837 "Analytics revenu should display seperate taxes and the way order taxes are saved."
Hi,

That would make more sense to display seperate taxes on revenu report
I'm refering to admin&path=%2Fanalytics%2Frevenue

As anyone that have more than one taxes will need to make reports for each taxes.

Is there any quick snipet to fix this.
I have checked in DB and it is saved as total taxes so there is not easy way to get each taxes and the taxes must be exact value that is charged to cust

[2021-10-20 18:38] lenamtl commented on #7828
Ok thanks, I was not aware...

[2021-10-21 00:33] moon0326 commented on #7716
Hey @elizaan36 ✋

Do we only display the extended task list in single column mode or two columns mode as well?

[2021-10-21 04:46] ilyasfoo commented on #7636
Hi, @elizaan36. I need a sanity check for behaviour on WCPay task. From the P2 post pbIJXs-XM-p2:

According to my understanding of the above statement, this means that WCPay header is special and can be "viewed" when user clicks on the task from the tasklist. After setting up WCPay, should we just show the same header content anyways? It'll look a bit confusing IMO.

[2021-10-21 19:20] jacob-sewell commented on #7825
Caught the following warnings on a fresh Jurrasic Ninja site (PHP 7.4):
`[21-Oct-2021 19:14:24 UTC] PHP Warning:  array_column() expects parameter 1 to be array, string given in /srv/users/user596628ea/apps/user596628ea/public/wp-content/plugins/woocommerce/packages/woocommerce-admin/src/RemoteInboxNotifications/Transformers/ArrayColumn.php on line 27`
`[21-Oct-2021 19:14:25 UTC] PHP Warning:  cou

[2021-10-21 19:39] #7821 closed, assigned to octaedro

[2021-10-21 20:17] #7814 closed

[2021-10-21 20:32] #7634 closed

[2021-10-21 21:02] mattsherman commented on #7825
@jacob-sewell @octaedro I too see these warnings on JN for WC 5.8.0 and WC 5.9.0-beta.1. They appear like a different issue though than what @tammullen described in the original issue. We should be careful not to lump potentially distinct issues together! If these are distinct issues, we should create a separate issue for them.

I can not reproduce these issues on an ephemeral site with WC 5.8.0 o

[2021-10-21 22:00] zhongruige opened #7834 "[WC 5.9 beta] WooCommerce > Home page fails to load if OBW isn't completed before upgrade"
### Describe the bug

After upgrading from a previous version of WooCommerce (I used 5.8.1) to the latest beta (5.9 beta 1) without completing the onboarding wizard, the `WooCommerce > Home` page no-longer loads post-upgrade.

### To Reproduce

1. Set up a site with a new version of the latest release version of WooCommerce  (5.8.1)
2. Don't complete or start the OBW wizard
3. Upgrade WooCommerce

[2021-10-21 22:41] mattsherman commented on #7834
This sounds very similar to #7818. I will try to reproduce and see these are the same root cause or whether they are distinct issues.

[2021-10-22 01:17] #7816 closed, assigned to louwie17

[2021-10-22 01:18] #7812 closed

[2021-10-22 09:57] pmcpinto opened #7836 "Payments task - Tracks issues"
**Description:** the finance team spotted some weird trends in the Tracks events we're using to track the payment's method selection:

`wcadmin_tasklist_payment_setup`
`selected` prop

There's a strange drop after June 8. The numbers started ramping up again on Sep 22, but they're still way below what we were seeing before the drop:
![screen-shot-2021-10-21-at-3.52.27-pm.png](https://images.zenhub

[2021-10-23 00:38] Kataklizmic commented on #6181
According the [a comment](https://wordpress.org/support/topic/cannot-edit-pages-or-products-with-woocommerce-after-updates/#post-13963139) in [this support article](https://wordpress.org/support/topic/cannot-edit-pages-or-products-with-woocommerce-after-updates/#post-14998071), WooCommerce breaking the post & page editor is related to this issue. The issue has continued to occur for months.

The w

[2021-10-23 00:59] jacob-sewell commented on #7828
Hello, @lenamtl. Thanks again for bringing this to our attention!

So far we have not been able to reproduce this behavior in our testing. Can you provide any details that might be helpful in reproducing the issue? (A dump of some relevant rows from `wp_wc_order_tax_lookup` and `wp_wc_order_stats`, and maybe the specifications for the TVQ and TPS tax rates seem like a reasonable place to start.)

[2021-10-25 13:59] #7772 closed, assigned to nobody

[2021-10-25 16:35] #7815 closed, assigned to joelclimbsthings

[2021-10-25 23:32] moon0326 opened #7842 "Fix failing test-php (7.0, 5.5, latest, 6.5.9, 1.10.19) test"
### Describe the bug

`test-php (7.0, 5.5, latest, 6.5.9, 1.10.19)` workflow is failing with the following error.

`
10) WC_Tests_API_Admin_Notes::test_update_note
Error: Call to undefined function Automattic\WooCommerce\Blocks\StoreApi\Schemas\rest_get_endpoint_args_for_schema()
`

You can see an example [here](https://github.com/woocommerce/woocommerce-admin/runs/4002949815?check_suite_focus=tru

[2021-10-26 13:18] adrianduffell opened #7844 "Task List UI: Remove body copy"
In the horizontal task list, let's remove the body copy as it should not be displayed.

<img width="1053" alt="Screen Shot 2021-10-26 at 9 10 39 pm" src="https://user-images.githubusercontent.com/9312929/138886679-192b7d57-c0c8-4f02-857f-1f46152e46e6.png">

[2021-10-26 13:50] adrianduffell opened #7845 "Task List UI: Tasks circle should have transparent background"
When rolling over a task, the circle remains white instead of changing to gray. It should be transparent like the blue active task is.

![image](https://user-images.githubusercontent.com/9312929/138892646-e008327f-4bf4-45d8-91e7-41a1aa563c26.png)

[2021-10-26 13:57] adrianduffell opened #7846 "Task List UI: CTA text for personalize my store after it's completed"
Use "Modify choices" for button text after task is completed.

<img width="753" alt="screen_shot_2021-10-25_at_8 57 52_pm" src="https://user-images.githubusercontent.com/9312929/138893844-7c050d0a-9f42-4f40-a150-a04e0f639c5b.png">

[2021-10-26 13:59] adrianduffell opened #7847 "Task List UI: Replace the experiment task titles with original task titles"
Ensure the same task titles are used between default and treatment experiences.

[2021-10-26 17:27] #7842 closed, assigned to moon0326

[2021-10-27 01:56] #7845 closed, assigned to moon0326

[2021-10-27 02:29] moon0326 opened #7850 "Task List UI: Update experiment name format to :name_yyyy_MM"
We currently use `:name_MM format. `

Update the format to `:name_yyyy:MM`

[2021-10-27 03:09] #7850 closed, assigned to moon0326

[2021-10-27 09:02] #7844 closed, assigned to nobody

[2021-10-27 09:41] #7846 closed, assigned to ilyasfoo

[2021-10-27 09:41] #7847 closed, assigned to ilyasfoo

[2021-10-27 09:46] pmcpinto opened #7854 "Store profiler: business details step - add number of employees field"
**Description:** most countries and organizations use headcount to categorize a business: micro, small, mid-size, etc. We want to start collecting this information about our users as we plan to use it to segment our user base in combination with other data points we're collecting.

## Acceptance criteria
- In the Company Details step, if the user selects that they are selling elsewhere (any option

[2021-10-27 17:00] joelclimbsthings commented on #7836
@pmcpinto @mattsherman
Alright, after looking into this today I've discovered the following for each event:

### wcadmin_tasklist_payment_setup

It looks like the inconsistencies here are largely due to the iteration on the remote payment suggestions feature. Judging from the dates the initial issue cropped up in WCAdmin `2.3.1`, and dropped off in `2.6.0`. A small typo unfortunately lead to this

[2021-10-28 07:36] slaFFik opened #7857 "PHP Warnings in several RemoteInboxNotifications/Transformers/* classes"
### Describe the bug

PHP Warnings are generated:

[code]

### To Reproduce

Unfortunately, I can't provide exact steps to replicate the problem.

### Expected behavior

There should be no PHP warnings in any case.

### Additional context

WordPress 5.8.1, WooCommerce 5.8.0.

[2021-10-28 08:08] adrianduffell opened #7859 "Inbox 2.0: Add warning message for notes exceeding 320 characters"
In issue #7247, a 320 character limit will be applied to notes in a future release (probably 3.0).

Before this release, a console warning message should be added to advise developers of notes exceeding this limit.

[2021-10-28 10:32] mattsherman opened #7860 "Base DataSourcePoller abstract class implementation depends on `ID` const in classes that extend it"
The implementation in the `DataSourcePoller` base class should not depend on a specific `ID` const defined in classes that extend it. That PHP allows this is unfortunate, as it results in brittle code.

[2021-10-28 11:05] pmcpinto commented on #7836
@joelclimbsthings thanks for investigating this!

Do you think it's safe to use `wcadmin_tasklist_payment_install_method` as a fallback event until we fine-tune `wcadmin_tasklist_payment_setup`? Are they being triggered at the same time?

This is happening with all the extensions, right?

The drop seems to be consistent across countries, browsers, devices and OS:

<img width="1414" alt="Captura de

[2021-10-28 15:20] pmcpinto opened #7862 "WCPay intl expansion: include new EU countries"
**Description:** WCPayments was launched today to more European countries: AT, BE, PT, PL, NL, CH. We need to start including WCPay in the setup flow of stores located in these geos.

**Acceptance criteria:**

- [ ] Add AT, BE, PT, PL, NL, CH to the list of countries covered by the wccom remote config file. Ideally early next week
- [ ] Add AT, BE, PT, PL, NL, CH to the Core fallback option. Ideal

[2021-10-28 17:06] zhongruige opened #7863 "[GlobalStep - 5.9.0 RC-1] "Rows per page" dropdown is misaligned on Analytics>>Revenue page."
@gglobalstep commented on [Thu Oct 28 2021](https://github.com/woocommerce/woocommerce/issues/31044)

# Bug Description:
"Rows per page" dropdown is misaligned on Analytics>>Revenue page.

# Environment:
Woocommerce Version :
WooCommerce 5.9.0 RC.1
Wordpress version: 5.8.1

PC:
Windows 10
Firefox(Version 93.0)
Chrome (Version 95.0.4638.54)
Safari: v14.0

# Steps To Reproduce:
1. Create any test si

[2021-10-29 00:17] moon0326 opened #7866 "Remove dismiss popup"

[2021-10-29 00:25] #7866 closed, assigned to nobody

[2021-10-29 01:14] moon0326 opened #7867 "Dismiss note immediately upon clicking 'dismiss' without prompting a popup"
![Screen Shot 2021-10-28 at 6 15 52 PM](https://user-images.githubusercontent.com/4723145/139357259-1d93cfb6-2f63-45c8-8033-40b51e24e933.jpg)

1. Remove the dismiss popup when a user clicks "Dismiss" on a note
2. The note should be dismissed immediately without prompting the popup

[2021-10-29 10:15] #7859 closed, assigned to ilyasfoo

[2021-10-29 12:47] #7823 closed, assigned to joshuatf

[2021-10-30 19:17] RafaelFunchal opened #7891 "Uncaught TypeError: Unsupported operand types: int - string"
Hi there :)

I'm creating this new issue as I couldn't find other issues related to `int - string`. Let me know if you want me to comment on another issue.

While working on p9F6qB-7CT-p2, I found this error:

[code]

PHP 8.0
WooCommerce 5.8.0

Switching PHP from 8.0 to 7.4 made the site usable again.

[2021-11-01 11:34] adrianduffell commented on #7791
Closing in favor of issue  #7242

[2021-11-01 11:34] #7791 closed

[2021-11-01 11:35] adrianduffell commented on #7790
Closing in favor of #7242

[2021-11-01 11:38] #7790 closed

[2021-11-01 15:22] strarsis commented on #7751
+1, this also causes the normal WooCommerce status widget to disappear and an empty WooCommerce Setup widget is shown instead.

`woocommerce_task_list_hidden` is updated by WooCommerce Admin plugin, too.
But the WooCommerce plugin doesn't "heal" inconsistent `woocommerce_task_list_hidden option values on its own.

Related issue: https://github.com/woocommerce/woocommerce/issues/30347#issuecomment-

[2021-11-01 17:36] caiodigioia commented on #7827
Hello...?

[2021-11-01 23:06] moon0326 opened #7875 "Task List UI - Remove store setup from the extended task list"
The latest main branch displays `Store Setup` in the extended task list.

Remove `Store Setup` from the extended task list as we're adding a note to provide a link to the store setup.

[2021-11-01 23:58] mattsherman commented on #7825
I have verified that this issue is fixed by #7856. Closing.

[2021-11-02 00:17] moon0326 opened #7877 "Task List UI - Update single column placeholder"
The current placeholder used in the single column mode shows the horizontal tasklist placeholder.

Update CSS to render single column tasklist place holder.

[2021-11-02 00:32] becdetat commented on #7542
@pmcpinto should this be in scope for a release? It's still in the needs scoping column.

[2021-11-02 00:50] #7301 closed

[2021-11-02 02:33] #7875 closed

[2021-11-02 02:43] #7877 closed

[2021-11-02 02:44] becdetat commented on #7180
@pmcpinto @joshuatf What's the status of this? Was it implemented?

[2021-11-02 04:30] moon0326 commented on #7793
@adrianduffell I'm a bit confused about `read` state.

Looking at this [line](https://github.com/woocommerce/woocommerce-admin/blob/main/client/inbox-panel/index.js#L167), we have a global timestamp for the `last_read` state.

It looks like we don't have a `read` state for each note.

Since we want to set `read` state if the action button is clicked, I think we can re-purpose `status` column from

[2021-11-02 05:01] #7715 closed

[2021-11-02 09:49] pmcpinto commented on #7592
I'm going to add this to the cycle 19 backlog

[2021-11-02 10:37] pmcpinto commented on #7542
I'm going to add it to the cycle 19 backlog.

@elizaan36 the google listing and ads extension was also built by Woo. Do you think we should also include the pill?

[2021-11-02 10:47] pmcpinto commented on #7862
@louwie17 has this already been updated in the wccom remote config file?

[2021-11-02 10:48] pmcpinto commented on #7836
@joelclimbsthings do you have feedback on the questions i posted in my previous comment? tks

[2021-11-02 10:52] pmcpinto commented on #7180
The WCPay launch only happened a couple of days ago, so it should be implemented this week. I created a new [issue ](https://github.com/woocommerce/woocommerce-admin/issues/7862)about this in WC Admin.
cc @louwie17

[2021-11-02 12:29] louwie17 commented on #7862
@pmcpinto not yet, I will re-open this for now until that is merged.

[2021-11-02 19:00] #7641 closed

[2021-11-02 20:47] joelclimbsthings commented on #7836
Sorry for the delay @pmcpinto , I've been AFK.

There are a couple differences, such as the fact that `wcadmin_tasklist_payment_install_method` isn't fired until after any required plugins are installed successfully. The other, `wcadmin_tasklist_payment_setup` pretty much fires when the button is clicked. So if there are no required plugins, or something goes awry before it's installed successfull

[2021-11-02 21:45] joelclimbsthings opened #7881 "Repair WCPay Tracks event(s) in payment gateway setup"
The tracks event `wcadmin_tasklist_payment_setup` has failed to fire for WCPay since the switch over to remote payment gateways. For more background information you can see https://github.com/woocommerce/woocommerce-admin/issues/7836

## Tasks
- [ ]  Add `wcadmin_tasklist_payment_setup` to WCPay component, and ensure it's firing properly.

[2021-11-02 21:49] joelclimbsthings opened #7882 "Restore previous name for paypal gateway in relevant tracks events."
The switch to remote payment gateways resulted in an inadvertent change for the ID for the Paypal gateway.

Previously identified as `paypal`, it's now referred to as `ppcp-gateway` in tracks events. Explore options for restoring the previous ID of `paypal` in events such as `wcadmin_tasklist_payment_setup` currently fired [here](https://github.com/woocommerce/woocommerce-admin/blob/a6e35e94333cb0

[2021-11-02 22:10] joshuatf commented on #7719
Closed by https://github.com/woocommerce/woocommerce-admin/pull/7830

[2021-11-02 22:10] #7719 closed

[2021-11-02 22:18] #7540 closed

[2021-11-02 22:36] #7635 closed

[2021-11-02 22:45] mtg169 opened #7884 "WooCommerce API calls needlessly call append_product_data in Onboarding.php"
### Describe the bug

Making WooCommerce API calls needlessly calls Onboarding::append_product_data every single API request. On certain sites where PRODUCT_DATA_TRANSIENT (wc_onboarding_product_data) does not exist, this also needlessly calls `wp_remote_get( 'https://woocommerce.com/wp-json/wccom-extensions/1.0/search' );` slowing down API calls and making an unnecessary and completely unrelated

[2021-11-02 23:20] adrianduffell commented on #7793
@moon0326 This sounds good. Would it be best to add a new `read` status value, or do you think using the existing statuses is possible?

[2021-11-03 00:50] moon0326 commented on #7793
I'm trying to see if we can use `actioned` and `unactioned`, but I'm a bit puzzled on how the value gets updated at the moment. I'll share what I find.

[2021-11-03 01:19] moon0326 commented on #7793
@adrianduffell After looking at the code and how notes are considered `actioned`, I think `status` column isn't ideal to track the read state. Some notes are considered `actioned` once the CTA button is clicked, but some are not.

I think we have two options.

1. Add a new column to `wp_wc_admin_note_actions` table to track the `click` count. Column name could be `cta_btn_click_count`
2. Use an op

[2021-11-03 01:42] moon0326 commented on #7792
Just tested all layouts with https://github.com/woocommerce/woocommerce-admin/pull/7864 and it looked good.

I think we don't need any changes for this issue.

[2021-11-03 02:52] adrianduffell opened #7885 "Fatal Error in Cron Event"
### Describe the bug

A fatal error occurs when the `wc_admin_daily` cron event runs.

### To Reproduce

1. Run the cron event, e.g. `wp cron event run wc_admin_daily`
2. See fatal error.

### Actual behavior:

[code]

### Expected behavior

No fatal error.

### Additional context

The error might have been introduced in this PR https://github.com/woocommerce/woocommerce-admin/pull/7671

[2021-11-03 03:45] adrianduffell commented on #7793
Thanks for investigating this @moon0326

I prefer adding a new column (option 1) as well. Is there a benefit to keeping track of the click count vs having a column like `is_read`, and updating the value to `true` when a CTA button is clicked?

I'm just not sure about sites that have opted out of tracking, where keeping a click count might go against their expectations.

[2021-11-03 04:04] moon0326 commented on #7793
That's a good insight 👍  I totally agree.

I thought we could possibly use the click count to find a note that users might have a problem with. Clicking a note CTA multiple times and not finishing might indicate a problem.

I think `is_read` is a perfect naming for the purpose.

[2021-11-03 04:17] #7336 closed

[2021-11-03 11:15] #7583 closed

[2021-11-03 12:43] #7885 closed

[2021-11-03 14:12] mattsherman commented on #7807
@jacob-sewell has been looking into this. Moving it to In Progress pipeline to reflect that.

[2021-11-03 15:13] rashedripon commented on #7768
This has been reported on 4423056-zen as well.

[2021-11-03 15:21] elizaan36 commented on #7542
Yes, thanks for catching that! Google listings would also have the `Built by WooCommerce` pill.

[2021-11-03 15:50] pjsullivan75 commented on #7748
I'm missing something probably obvious. I still can't get the Dashboards, Analytics, or Marketing pages to load.

Before version 2.8 was released, I changed the timezone settings to UTC as suggested, but I still got the error. I ended up waiting for this update.

With the updated Woocommerce Admin plugin  installed, I am still getting the same error when accessing Analytics and Marketing pages and

[2021-11-03 18:13] raj007champ opened #7888 "[Setup Wizard] - User is Able to give special characters as Input for all the fields on store details page."
### Describe the bug
When the User is navigated to the WooCommerce Setup Wizard flow and is on the Store Profiler page, Then the user is able to give special characters as Input for all the fields present on the Welcome to WooCommerce store details page except email.

### To Reproduce
 1. Install WooCommerce plugin
2. Activate the WooCommerce plugin and wait for the WooCommerce Setup Wizard flow t

[2021-11-03 18:44] raj007champ opened #7889 "[Setup Wizard] - Merchant is seeing two different currency type at two different pages of setup wizard."
### Describe the bug
When the user is navigated to the WooCommerce Setup Wizard flow and is on the Store Profiler page, There is no option to take preferred currency from the Merchant, Due to this issue, the merchant is seeing two different currencies at two different pages of the setup wizard flow.
1. User is seeing prices in US dollars on the `What type of products will be listed?` page.
2. Agai

[2021-11-03 19:12] raj007champ opened #7890 "[Setup Wizard] User is allowed to make changes for their selected item or input fields but those changes are not getting saved."
### Describe the bug
In WooCommerce Setup Wizard flow user is allowed to move back to different sections of wizard flow (like Store Details, Industry, Product Types, Business Details and Theme) by clicking on those sections present at the top. Now once the user is on a particular section, He/She is allowed to make changes for their previously selected item or input fields but those changes are not

[2021-11-03 19:44] #7862 closed

[2021-11-03 19:48] louwie17 opened #7892 "Consolidate country rules across use cases within woocommerce.com free-extensions"
### Describe the bug

In our free extensions endpoint on wc.com we have several long lists of country rules, that are slightly difficult to read given it includes a lot of [redundant code for data structure](https://github.com/Automattic/woocommerce.com/blob/b418480237a2cfe235a8bf68d554a94f1a211f79/plugins/wccom-plugins/obw-free-extensions/includes/v2/extensions.json.php#L28).

We should refactor

[2021-11-03 19:48] raj007champ opened #7893 "[Setup Wizard] - Label for Country/Region input field present on Store Profiler page is distorted on Chrome browser (Windows 10)"
### Describe the bug
Label for Country/Region input field present on Store Profiler page is distorted on Chrome browser (Windows 10), And it remains distorted at different zoom levels such as 70%, 90%, 100%, 120%, 150%.

### To Reproduce

1. Install chrome browser on Windows 10 OS.
2. Install WooCommerce plugin on WordPress
2. Activate the WooCommerce plugin and wait for the WooCommerce Setup Wiza

[2021-11-03 19:56] #7780 closed

[2021-11-03 20:27] raj007champ opened #7894 "[Setup Wizard] - User checked options are getting unchecked on doing refresh(F5) at Industry page of Setup Wizard flow."
### Describe the bug
- When a user is on the Industry page of Setup Wizard flow with few checked options and when the user tries to refresh the browser, the checked options are getting unchecked for the user.
- This issue is also happening if a user is trying to move back to the Industry page from some other sections and then do the browser refresh then in that case also user saved check options a

[2021-11-03 21:28] #7860 closed

[2021-11-04 01:05] moon0326 commented on #7894
Thank you @raj007champ for taking the time to report this issue. I was able to reproduce it on my end. We'll work on it as soon as possible.

[2021-11-04 01:07] moon0326 commented on #7827
Thank you @caiodigioia for taking the time to report this issue. I was able to reproduce it on my end. We'll work on it as soon as possible.

[2021-11-04 01:10] moon0326 commented on #7890
Thank you @raj007champ for taking the time to report this issue. I was able to reproduce it on my end.

We'll work on it as soon as possible.

[2021-11-04 01:35] moon0326 commented on #7884
Thank you @mtg169 for taking the time to test and report this issue. I was able to reproduce it on my end.

cc @woocommerce/mothra for further investigation.

[2021-11-04 01:37] moon0326 commented on #7889
Thank you @raj007champ for taking the time to test and report this issue. I was able to reproduce it on my end. We'll work on it as soon as possible.

[2021-11-04 01:45] moon0326 commented on #7888
Thank you @raj007champ for taking the time to report this issue. I was able to reproduce it on my end. We'll work on it as soon as possible.

[2021-11-04 03:17] ilyasfoo opened #7895 "Analytics filter table shows all data when it has no results"
### Describe the bug
Analytics filter isn't working as expected, the result table shows all data despite filter should return no results. Most likely a regression since the previous behaviour causes this bug https://github.com/woocommerce/woocommerce-admin/issues/7588 - "No data" returned even when there is result from filter. I tested this with WooCommerce 5.8 and WordPress 5.8.1.

### To Reprodu

[2021-11-04 04:15] moon0326 commented on #7244
This has been worked on in https://github.com/woocommerce/woocommerce-admin/pull/7896

[2021-11-04 04:24] #2110 closed

[2021-11-04 06:20] raj007champ opened #7897 "[Setup Wizard]- Free features options present on Business Details page are getting selected automatically even thought user not selected them during the setup."
### Describe the bug
[Setup Wizard]- When the User is navigated to the WooCommerce Setup Wizard flow and is on the `Free features` section of the `Business details` page, then if the user unselects them and move to the next step which is for choosing the theme now if the user moves back to `Business Details` page and check for `free features` sections then all the options are shown as selected eve

[2021-11-04 06:49] raj007champ opened #7898 "[Setup Wizard]- Selected items on Product Page is getting unselected on doing browser refresh(f5)"
### Describe the bug
When a user moves back to the `Product page` of Setup Wizard flow from `Business details page` and make some changes on the page and saves it, Now if the user moves back to `Product page` again and do the browser refresh then the selected items are getting unselected.

### To Reproduce

1. Install WooCommerce plugin
2. Activate the WooCommerce plugin and wait for the WooCommer

[2021-11-04 07:35] raj007champ opened #7899 "[Setup Wizard]- (Minor UI)- When the user clicks on Activate Woo Plugin then the label shown to user while navigating to Setup Wizard page is not user-friendly."
### Describe the bug
[Setup Wizard]- (Minor UI Bug)- When the User clicks on Activate Woo Plugin or click on the finish setup option, then the label/heading is shown to the user while navigating to Setup Wizard page is not user-friendly.
Currently, it is showing `/setup-wizardSetup Wizard` which is distorted and unreadable for non-technical person

### To Reproduce
1. Install WooCommerce plugin
2.

[2021-11-04 08:05] raj007champ opened #7900 "[Setup Wizard]- Business Details page has spacing issues for how many products and current annual revenue options."
### Describe the bug
When a user moves back to the Store profile page of Setup Wizard flow from Buisness details page and again move back to Business Details page by clicking on continue then following options has spacing issues-
1.  `How many products do you plan to display?` -->
`- 1000 is showing as 1 000 `
`- 1000+ is showing as 1 000+`
2.  `What's your current annual revenue?` ---->
-` Up to

[2021-11-04 08:21] ilyasfoo commented on #7748
Hi @pjsullivan75, it's possible that you are hitting another issue, as far as I know, this bug shouldn't affect Marketing pages. If you have more details in your log, it'd be helpful to share it (please remove any sensitive information first if you do) in a new issue.

[2021-11-04 14:18] eifjell commented on #4483
I'm having the same issue here. The notification of e-mail being sendt pops up, but no e-mail is received.

[2021-11-04 15:24] mattsherman commented on #7445
Closing this epic as all work has been completed.

[2021-11-04 15:24] #7445 closed

[2021-11-04 16:11] alexflorisca commented on #5745
@bambootb @vitaminkdesign @dlackovic2 @felipelousantos any update on when this is likely to get resolved? There is a support ticket related to this that I'm following up on.

[2021-11-04 16:13] pmcpinto commented on #7836
@joelclimbsthings thanks for the additional clarifications. The current cycle ends next Monday, so ideally the changes that were mentioned in this thread should be wrapped up during the next cycle. Let me know if you need help unblocking  some of the PRs that need to be merged in the third party plugins woocommerce/woocommerce#32258

[2021-11-04 19:21] #7662 closed

[2021-11-04 19:36] RafaelFunchal commented on #7891
Awesome! Thank you :)

[2021-11-04 22:26] moon0326 commented on #7897
Thank you @raj007champ for taking the time to test and report this issue. I was able to reproduce it locally.

I think this is also related to https://github.com/woocommerce/woocommerce-admin/issues/7890 issue. Basically, user updated values are not saved. We'll work on it as soon as possible.

[2021-11-04 22:29] moon0326 commented on #7899
Thank you @raj007champ for taking the time to report this issue. I was able to reproduce it. We'll work on it as soon as possible.

[2021-11-04 22:30] moon0326 commented on #7898
Thank you @raj007champ. I think this is also related to https://github.com/woocommerce/woocommerce-admin/issues/7897 and https://github.com/woocommerce/woocommerce-admin/issues/7890.

We'll take a loo at them together.

[2021-11-04 23:06] moon0326 commented on #7900
Thank you @raj007champ for taking the time to report this issue. I was able to reproduce it on my end.

We have space between numbers.

![Screen Shot 2021-11-04 at 4 04 52 PM](https://user-images.githubusercontent.com/4723145/140432296-2bef64f4-d028-4bb1-9a4d-a88780cd8c64.jpg)

[2021-11-04 23:20] moon0326 commented on #7893
Thank you @raj007champ for taking the time to report this issue. I was able to reproduce it on my end.

It looks like `overflow: hidden` is the culprit. Disabling `overflow: hidden` fixes the problem. We'll look into it further soon.

![Screen Shot 2021-11-04 at 4 19 11 PM](https://user-images.githubusercontent.com/4723145/140433490-ea4fa096-6a8b-4aa7-b8a4-00614301adbe.jpg)
.

[2021-11-05 03:51] #7242 closed

[2021-11-05 11:15] pmcpinto opened #7903 "Business features step: tracks not working with marketing extensions"
### Describe the bug
The `install_mailpoet` and `install_google_listings_and_ads` of `wcadmin_storeprofiler_store_business_features_continue` are not being fired when the extensions are installed in the Business features step

### To Reproduce

1. Create a new store and opt-in to share usage tracking
2. Fill the store profiler until the business features step
3. Install the Mailpoet and Google Lis

[2021-11-05 11:18] pmcpinto commented on #7903
@adrianduffell  @mattsherman is it possible to fix this on time to be included in 2.9? I'm assuming it's already too late to include in 2.8.

The internal teams rely on this data to track the number of people installing the extensions. So the sooner we have this fixed the better. This started happening on Sep 22.
Also, how can we prevent this from happening in the future? Thanks

[2021-11-05 18:10] lenamtl commented on #7828
Any news about this?

[2021-11-05 19:20] mattsherman commented on #7903
@pmcpinto 2.8.0 has already shipped (as well as the corresponding 5.9.0 core release). I would think we could include this in 2.9.0... what do you think, @adrianduffell?

It looks like these props were removed as a part https://github.com/woocommerce/woocommerce-admin/pull/7386, when the grow section was removed from the OBW in favor of the marketing task (which was first included in WCA 2.6.0 on

[2021-11-05 19:20] mattsherman commented on #7903
I'm assigning to @woocommerce/mothra to fix.

[2021-11-05 20:32] #7442 closed

[2021-11-05 21:53] jacob-sewell commented on #7807
I finally have a nice repeatable reproduction of this issue. Here's what I did:
* Start with a clean WordPress site.
* Installed WooCommerce via the plugin search (currently version 5.8.0)
* Installed WooCommerce Admin via the plugin search (currently version 2.8.0)
  * (I had to deactivate and reactivate the WC Admin plugin before the NavigationNudge note was created.)
* Deactivate WC Admin plugi

[2021-11-06 06:39] raj007champ opened #7906 "[Setup Wizard]- Clicking validation error message of Country/Region field is opening the Country/Region dropdown."
### Describe the bug
On clicking Error message displayed for empty Country/Region field present on Store profile details page is opening the Country/Region field dropdown.

### To Reproduce
1. Install WooCommerce plugin
2. Activate the WooCommerce plugin and wait for the WooCommerce Setup Wizard flow to open.
3. On store profile page, Keep the Country/Region field empty and click on continue.
4. L

[2021-11-06 13:48] mattsherman commented on #7807
@jacob-sewell The [`WooCommercePayments`](https://github.com/woocommerce/woocommerce-admin/blob/main/src/Notes/WooCommercePayments.php) nudge note does some checking to account for actioning the note if WooCommercePayments has been installed after the note was created. It seems like we could do something similar in this note to action the note (or, maybe there is some better action to take on the

[2021-11-06 18:27] raj007champ commented on #7906
This issue is reproducible with all the dropdowns present on setup wizard flow, Please do check them as well.

[2021-11-06 18:46] raj007champ opened #7907 "[Setup Wizard]- 'What is the platform name?' input fields present on the Business details page allow white space as valid input."
### Describe the bug
'What is the platform name?' input fields present on the Business Details page of Setup Wizard flow for white space as valid input, allowing a user to bypass required fields.

### To Reproduce
1. Install WooCommerce plugin
2. Activate the WooCommerce plugin and wait for the WooCommerce Setup Wizard flow to open.
3. Navigate to the Business details page.
4. Select `other `as an

[2021-11-07 22:29] becdetat commented on #7807
I think just actioning the note is fine

[2021-11-08 02:26] adrianduffell commented on #7903
Sounds good, I've now added this to the 2.9 milestone.

[2021-11-08 02:47] adrianduffell commented on #7220
Not stale

[2021-11-08 03:14] WillBrubaker commented on #7857
31986595-hc is reporting this as well

[2021-11-08 15:28] gglobalstep opened #7910 "[GlobalStep - 2.9.0 Beta-4] "Store Management" panel fails to appear after hiding the "Setup Task List"."
# Bug Description:
"Store Management" panel fails to appear after hiding the "Setup Task List".

# Environment:
Woocommerce Version : WooCommerce: v 5.8.0
WooCommerce Admin: 2.9.0 Beta 4
WordPress version: v5.8.1

PC:
Windows 10, Mac 10.14.6
Chrome(Version 95.0.4638.69)
Firefox(Version 93.0)
Safari: v14.0

# Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the

[2021-11-08 17:45] pmcpinto commented on #7903
Thanks! That would be great

[2021-11-08 19:22] mattsherman opened #7912 "Refactor `wcadmin_storeprofiler_store_business_features_continue ` Tracks event handling to not hardcode extensions"
From #7903

The `install_XXX` props on the `wcadmin_storeprofiler_store_business_features_continue` Tracks event that is fired in the Business Features step of the OBW are currently hardcoded. This is not ideal, as the actual extensions shown and installed via this step are driven via a remote spec retrieved from a WooCommerce.com endpoint.

We should refactor the implementation of this Tracks eve

[2021-11-08 21:14] mattsherman commented on #7854
Buckets seem like the way to go to me.

[2021-11-08 21:31] mattsherman commented on #7542
@joshuatf I don't see a `title` property in the spec data. Can you please clarify what you mean by this suggestion.

[2021-11-08 21:32] mattsherman commented on #7542
@pmcpinto @elizaan36 Should these pills only be shown in the marketing task, or should they be shown in the OBW as well when these extensions are presented?

[2021-11-08 21:42] joelclimbsthings commented on #6878
@joshuatf @mattsherman

Pedro [has expressed interest](https://github.com/woocommerce/woocommerce-admin/issues/7836#issuecomment-961195546) in getting these PRs moving/merged. As mentioned on my last comment, I'm just wondering if these PRs are considered out of our hands? If not, is this as simple as reaching out to responsible parties and/or merging ourselves if possible?

[2021-11-08 21:45] joelclimbsthings commented on #7836
@pmcpinto We may need help in unblocking those PRs, but I'm unsure of the next step(s). I've added another comment on [the relevant PR](woocommerce/woocommerce#32258) to better understand this.

With all of the above, are we safe to close out this issue?

[2021-11-08 22:55] joelclimbsthings commented on #7906
Thanks for reporting this @raj007champ !

I've tested this on a few different elements in the latest release. I'm able to see that the drop-down is activated upon clicking on a validation message, although it happens smoothly and without the glitchy behavior I can seem to see in in the included video. As far as I can see on my end it looks like intended behavior.

Can I ask which version of woocom

[2021-11-08 23:02] joelclimbsthings commented on #7907
Thanks @raj007champ , confirmed that this is an issue.

[2021-11-08 23:13] joelclimbsthings commented on #7910
This looks to be a valid bug. If I do a hard refresh after hiding the task list the Store Management widget does show up, but not immediately upon hiding.

[2021-11-09 00:57] gabrielbonifacio commented on #7584
Also reported on 4432754-zen.

### To Reproduce

1. Go to **Analytics → Products**.
2. Select a date range that shows some products on the results. In my test, I selected `Year to date`.
3. Look for a product with some orders associated with it. Click on the link with the number of orders ("Orders" column) to open the Orders report for that specific product - I worked with a product that had 5 ord

[2021-11-09 03:52] becdetat opened #7915 "Add meta property to admin notes for client-side filtering"
### Is your feature request related to a problem? Please describe.
Currently there is no way to filter particular notes on the client side that shouldn't be displayed in specific clients. For example, the note promoting the mobile app should not be displayed when using the mobile app.

### Describe the solution you'd like
The addition of a `meta` property allowing the storage of arbitrary metadata

[2021-11-09 11:49] pmcpinto opened #7916 "Track when WCPay is installed in product types step of store profiler"
**Description:** currently, we're not directly tracking when users install WCPay in the product types step (work implemented in #7445). We have `wcadmin_storeprofiler_store_product_type_continue` `product_type` : `subscriptions` to track this selection. However, this has some shortcomings: we were using this prop and value to track when users selected the subscriptions paid extension and we’re sti

[2021-11-09 11:50] pmcpinto commented on #7916
@becdetat  @mattsherman we have to include this in cycle 19. Let me know if you have questions. Thanks!

[2021-11-09 12:42] #7372 closed

[2021-11-09 12:51] Sandkorner commented on #7891
Had another user with this issue: HC-10154630

Changing to PHP 7.4 solved it as well. Thank you!

[2021-11-09 13:38] Mte90 opened #7917 "Returning customer counter"
### Describe the bug
I have a website where some orders mark wrongly the returning_customer flag in `wc_order_stats`. I am not able to debug better what is happening so I am trying why this should happen.

So I saw that code https://github.com/woocommerce/woocommerce-admin/blob/025d394ed3ac4ffd8c07c3df548777756c54842e/src/API/Reports/Orders/Stats/DataStore.php#L636 this code get the oldest order a

[2021-11-09 15:36] #7903 closed

[2021-11-09 16:15] elizaan36 commented on #7542
The pills should only appear in the marketing task if possible, to differentiate from non-Woo built ones. The OBW extensions are all Woo-built so there isn't a need for the pill there.

[2021-11-09 18:00] raj007champ commented on #7906
Hi @joelclimbsthings , Thank you for your reply. So that glitchy behavior is coming when you try to do double click on the error message. As a user we do lot of double clicks for text messages on the screen, So while doing that I discovered that bug.
However please let me know, If this is the expected behaviour and I will close this.

[2021-11-09 18:54] joelclimbsthings commented on #7906
Ah, understood @raj007champ . While double-clicking, I don't get exactly the same behavior, but I can see it still being confusing. If I double-click the label it basically opens the drop-down and immediately selects the visible option (closing the drop-down once again).

While this could still be considered intended behavior, I can see it being a little clumbsey . I'm curious what your impression

[2021-11-09 19:51] joelclimbsthings commented on #7917
Hi @Mte90 , thanks for bringing this up!

I'm not all that familiar with that code, but it does look like that function carries out a few tasks that wouldn't be accomplished by utilizing the counter functions you're referencing. For instance, it's tracking `is_returning_customer` on a per-order basis, and updating that field per order by comparing it to the dates/statuses of other orders.

For ins

[2021-11-09 19:51] #7917 closed

[2021-11-10 00:00] elizaan36 commented on #7551
@LevinMedia what are your thoughts on the copy above for WCPay in the onboarding wizard?

[2021-11-10 00:09] elizaan36 commented on #7906
I agree that clicking the error message shouldn't open the dropdown because it does feel buggy and confusing. I'd remove any click target from the error message so that the dropdown only opens when the dropdown itself is clicked.

[2021-11-10 00:24] becdetat commented on #7916
@pmcpinto Ok, I've put it in to scope for C19

[2021-11-10 02:06] becdetat commented on #7676
@mattsherman Is Mothra still looking at this?

[2021-11-10 02:28] becdetat opened #7919 "Store profiler: Track extensions installation performance and failures"
Business features step: spike to determine and implement some tracks to see if there are issues with extensions installation performance

- Time taken to install (buckets - something like '0-2s','3-4s','5-9s',... - TBC by @pmcpinto what the best solution is - if you could group by a range in tracks then an absolute time to install would be better)
- Instances of failed installs
- Instances of user

[2021-11-10 04:58] LevinMedia commented on #7551
@elizaan36 I think that will work great 👍

[2021-11-10 09:08] Mte90 commented on #7917
This makes sense but probably to speed up for any order check for that counter can improve the performance too. I mean if the counter says zero is useless to do a query to find the oldest order.
Instead if it is different then that do all those check.

For the filter seems a solution to force the counter to the real value until I find the cause of the issue.

[2021-11-10 11:03] pmcpinto commented on #7836
@joelclimbsthings I'll add a comment in woocommerce/woocommerce#32258 to follow up on this topic.

Yes. I'll close the issue. Thanks!

[2021-11-10 11:03] #7836 closed

[2021-11-10 11:17] pmcpinto commented on #6878
Hey @laurendavissmith we need help on the Transact side to review/merge a couple of PRs and publish a new version of some extensions owned by Transact: Wcpay, Stripe, PayPal and Square

To summarize, this work will allow us to render the API Keys inputs as a step in the payments task after the user installs the extension:

![138977503-7b87b633-47d8-4d16-b921-9e858fa4f0ac](https://user-images.githu

[2021-11-10 13:40] #7892 closed

[2021-11-10 14:36] pmcpinto commented on #7854
Thanks for the feedback! Let's move forward with the buckets :)

[2021-11-10 15:33] stuartduff opened #7920 "When requesting to download a Revenue Report for the Last Month no report is emailed"
### Describe the bug

Ticket: 4438598-zen

When requesting to download a Revenue Report for the Last Month no report is emailed when not a size to be immediately downloaded.

![last-month-revenue-report](https://user-images.githubusercontent.com/1190565/141140478-5b53849e-5c92-44d2-bbd9-a03a0b9443e8.png)

Other reports like Year to date etc are all emailed when requested and too large to initiate

[2021-11-10 15:33] stuartduff opened #8477 "When requesting to download a Revenue Report for the Last Month no report is emailed"

[2021-11-10 15:57] louwie17 opened #7921 "Set up taxes manually does not work with new Avalara tax task"
### Describe the bug
Navigating to the tax task and being provided with the WooCommerce Tax or Avalara option, the `Set up taxes manually` and `I don't charge sales tax` buttons don't work, see errors in screenshot.

### To Reproduce

1. Use latest of `main` or WooCommerce Admin 2.9.0 beta 4
2. Finish the onboarding flow
3. Click on `Set up tax` button
4. Click on either  `Set up taxes manually` a

[2021-11-10 18:59] raj007champ commented on #7906
Thank you @elizaan36 and @joelclimbsthings for the follow-up.

[2021-11-10 20:15] elizaan36 opened #7923 "[Store profiler] Mark email address field as optional in store details step"
### Problem to solve
There was a drop in users completing this first step of the store profiler with the addition of the email address field in 5.8. This could be due to error messages when the marketing newsletter is selected.

### Solution
The following solution helps the user understand the connection between the email field and marketing newsletter selection, because only when they select to r

[2021-11-10 22:05] laurendavissmith commented on #6878
@pmcpinto @joshuatf  We'll get it taken care of, can they be released as soon as they are merged, or does it need to wait to coincide with the wc-admin release?

[2021-11-10 23:01] joelclimbsthings commented on #6878
Thanks @laurendavissmith ! The relevant changes in wc-admin were already released, so no need to delay.

Looking again at he PRs listed above, it seems Stripe and Paypal are a bit out of date. I'll look into getting those updated. The PRs for WCPay and Square should still be good to go 👍🏻 . Let me know what else we can do to help get those merged as well.

[2021-11-10 23:42] joelclimbsthings commented on #6982
Closing, as it's redundant with other issues that have already been implemented.

[2021-11-10 23:42] #6982 closed

[2021-11-10 23:52] haszari commented on #6878
@pmcpinto Clarifying this further - when do we need to release these extensions by, is it urgent? We just released Square this week, happy to do another release soon if needed (nothing scheduled right now).

[2021-11-11 02:35] becdetat opened #7925 "Spike to investigate wrapping Settings/Product extensions HTML injection in a React app"
A future plan with both Settings and Product Management is to reactify those pages and make them both faster and easier to use for the end user.

A major sticking point with recreating Settings and Product Management is supporting existing 3PD and Automattic extensions that currently generate and insert HTML into those pages.

This spike is intended to investigate what would be required to wrap th

[2021-11-11 04:17] qtfish commented on #7748
So i updated to new wordpress version that came out yesterday. I still cant get analytics to work.
When i press on analytics on back end it pulls an error page with this msg
This site can’t be reachedThe webpage at https://drreefsquarantinedfish.com/wp-admin/admin.php?page=wc-admin&path=/analytics/overview might be temporarily down or it may have moved permanently to a new web address.
ERR_HTTP2_P

[2021-11-11 11:07] pmcpinto commented on #6878
This update will remove friction from the setup flow, but I'm not sure if doing another release is going to disrupt the current sprint of your team. I think it's ok to wait 2-3 weeks to do another release.

[2021-11-11 13:09] Roslynlavery commented on #6878
@pmcpinto could you clarify what you mean by unblock here? What do we need from our partners to move this forward? Seems like an easy one to motivate, definitely an improved flow.

[2021-11-11 13:45] caiodigioia commented on #7827
Hey, @moon0326 !
Do you have news about the issue?

[2021-11-11 23:19] #7501 closed

[2021-11-12 00:39] ilyasfoo commented on #7748
Hi @qtfish, if you can share any detailed error messages, it'll be helpful to identify what the root cause is

[2021-11-12 11:42] pmcpinto opened #7931 "WCPay menu item experiment: next steps"
**Description:** we want to expand the experiment implemented in [#686](https://github.com/Automattic/wc-calypso-bridge/issues/686) and [#744](https://github.com/automattic/wc-calypso-bridge/issues/744)
More info here: p1634651781002000-slack-C01LPBCV4J1/

**Acceptance criteria:**

- [ ] Reuse the same flow implemented in [#744]
- [ ] exclude new users and users who already have the extension inst

[2021-11-12 11:42] pmcpinto commented on #7931
cc @adrianduffell @becdetat

[2021-11-12 19:27] mattsherman commented on #7676
We will be looking into this as a part of the #7919 spike.

[2021-11-12 19:53] AtlantisNet-com commented on #7920
We are experiencing the exact same issue and can reproduce the screenshots above in our environment. We are running WordPress 5.8.2 and WooCommerce 5.9.0 on PHP 7.4.24.

[2021-11-12 19:54] AtlantisNet-com commented on #4483
We're having the same issue as well. Check out https://github.com/woocommerce/woocommerce-admin/issues/7920

[2021-11-12 23:36] qtfish commented on #7748
I log into the back end of my wordpress/woocommerce website, click on analytics and the page changes like its loading a new page. but the page never comes up and all i see is this error on an empty page;

This site can’t be reachedThe webpage at https://drreefsquarantinedfish.com/wp-admin/admin.php?page=wc-admin&path=/analytics/overview might be temporarily down or it may have moved permanently to

[2021-11-12 23:38] qtfish commented on #7748
`
### WordPress Environment ###

WordPress address (URL): https://drreefsquarantinedfish.com
Site address (URL): https://drreefsquarantinedfish.com
WC Version: 5.9.0
REST API Version: ✔ 5.9.0
WC Blocks Version: ✔ 6.1.0
Action Scheduler Version: ✔ 3.3.0
WC Admin Version: ✔ 2.8.0
Log Directory Writable: ✔
WP Version: 5.8.2
WP Multisite: –
WP Memory Limit: 256 MB
WP Debug Mode: –
WP Cron: ✔
Language:

[2021-11-13 13:07] mattsherman commented on #7701
I hit this same issue last night when setting up a new dev environment, as the latest LTS version of Node is now 16 (which includes npm 8). See #7932 for a partial fix.

[2021-11-13 13:44] kimek commented on #7328
Any updates on that?
That's crazy that Vat is wrongly calculated.
People loosing money cause of that

[2021-11-15 01:19] ilyasfoo commented on #7748
Thanks for sharing the details, @qtfish. Would you be able to find out the PHP error logs from your hosting? That should tell us what exactly went wrong. You may have to contact your hosting's support if you're unsure how to obtain the logs.

[2021-11-15 06:42] #7670 closed

[2021-11-15 15:14] #7701 closed

[2021-11-15 15:18] gglobalstep opened #7933 "[GlobalStep - 5.9.0] Blank screen is displayed when user clicks on "Add my products" on WooCommerce Home page after skipping OBW"
# Bug Description:
Blank screen is displayed when user clicks on "Add my products" on WooCommerce Home page after skipping the OBW.

This only happens if the OBW is skipped. It happens regardless of whether there are existing products.

# Environment:
Woocommerce Version :
WooCommerce 5.9.0
Wordpress version: 5.8.2

PC:
Windows 10
Firefox(Version 94.0.1)
Chrome (Version 96.0.4664.45)

# Steps To R

[2021-11-15 15:35] fabbaf commented on #4646
For me too. Thank you!

[2021-11-15 17:04] mattsherman commented on #7933
I believe this is because the code is looking at the product types data from the profiler to determine if subscriptions were selected, which was never set.

[2021-11-15 20:09] #7921 closed

[2021-11-15 20:10] mattsherman commented on #6693
@LevinMedia Cycling back on this one to see if you have any input to provide.

[2021-11-15 20:31] mattsherman commented on #6899
Closing this issue. The larger question of whether the plugin should always override core is a separate issue.

[2021-11-15 20:31] #6899 closed

[2021-11-15 20:39] mattsherman commented on #7215
I can reproduce this. It is still an issue.

[2021-11-15 20:43] mattsherman commented on #7220
The heart of this issue is that Navigation isn't available in Core (using the bundled WCA). It would seem to me that we should make Navigation available in Core (disabled by default). Does anybody disagree with that?

/cc @pmcpinto

[2021-11-15 20:57] #7751 closed

[2021-11-15 21:20] mattsherman commented on #7925
@becdetat What do you mean by

Do you mean when it is rendered in the browser? Or, when it is interacted with by a user? Or, something else?

[2021-11-15 23:19] #7571 closed

[2021-11-15 23:59] adrianduffell commented on #7792
Thanks @moon0326 I'll close this out.

[2021-11-15 23:59] #7792 closed

[2021-11-16 00:18] becdetat commented on #7925
When it is interacted with/submitted by the user. Sorry, could have been clearer.

[2021-11-16 00:25] adrianduffell opened #7935 "Add documentation about Inbox Notes 320 character limit"
A [developer advisory](https://developer.woocommerce.com/2021/11/10/introducing-a-320-character-limit-to-inbox-notes/) was created for the upcoming 320 character limit on notes.

We should include information about the limit in other areas of documentation

- [`woocommerce-admin/docs`](https://github.com/woocommerce/woocommerce-admin/tree/main/docs) (noting that this doesn’t seem to have any inbox

[2021-11-16 00:46] ilyasfoo commented on #7867
Should we close this?

[2021-11-16 00:48] #7933 closed

[2021-11-16 01:25] #7867 closed

[2021-11-16 01:25] adrianduffell commented on #7867
Completed in https://github.com/woocommerce/woocommerce-admin/pull/7868

[2021-11-16 04:51] #7807 closed

[2021-11-16 09:02] adrianduffell opened #7936 "(2.9 Beta 4) Welcome Modal re-appears after dismissed"
### Describe the bug
In 2.9 Beta.4, the Welcome Modal re-appears on subsequent page loads after it has been dismissed.

### To Reproduce

1. On a new site, finish the onboarding wizard.
2. See the Welcome Modal and dismiss it.
3. Reload the Home Screen.
4. See Welcome Modal.

### Actual behavior:

Welcome Modal is dismissed but re-appears on subsequent page loads.

### Screenshots
<img width="529"

[2021-11-16 10:46] pmcpinto commented on #7931
@adrianduffell can you let me know when you have news about the effort required to implement this? Thanks

[2021-11-16 14:27] joshuatf opened #7937 "Payment gateway suggestion doc improvements and example extension"
To make it easier for 3PDs to implement the payment gateway suggestions, we should improve the documentation around how to add and slotfill payment gateway suggestions.  An example extension would also be very helpful to show this in action.

## Dev tasks

- [ ] Docs: Update references to the feature flag
- [ ] Docs: Filtering gateway suggestions
- [ ] Docs: Add more information around the SlotFil

[2021-11-16 14:38] joshuatf commented on #7936
I was not able to reproduce this issue.  Are there other potential steps involved?  Were there any console errors or issues with the network request to `/options` to dismiss the modal?

[2021-11-16 15:35] jacob-sewell opened #7938 "NavigationFeedbackFollowUp should self-delete when irrelevant, like NavigationNudge and NavigationFeedback"
### Is your feature request related to a problem? Please describe.

In [PR 7914](https://github.com/woocommerce/woocommerce-admin/pull/7914) we added logic to delete the `NavigationNudge` and `NavigationFeedback` notes if the `navigation` feature is not available (which probably means that the woocommerce-admin plugin has been deactivated or is overridden by woo core), but we missed `NavigationFee

[2021-11-16 16:05] pmcpinto commented on #6878
@Roslynlavery our partners need to update their extensions to improve the step after installing the extension in the Payments task. Our team is improving the documentation, and it will create an example to facilitate the implementation by the partners. We count on having this ready to be shared during the 1st week of December. I'll let you know as soon as we have the documentation ready.

[2021-11-16 16:38] pmcpinto commented on #7220
I think this is going to happen with the monorepo unification project, right?

[2021-11-16 17:06] tomalec commented on #7628
The issue is still here AFAIK, there is no process to let the plugin developers obtain the granular dependency versions delivered by WooCommerce.

[2021-11-16 19:23] mattsherman commented on #7220
Not necessarily automatically.

We should make a clear decision on how we want to handle the Navigation feature and then we can make sure that the implementation supports that decision.

[2021-11-16 22:26] selectedselections commented on #7584
Also reported in 4461131-zen

[2021-11-17 01:58] adrianduffell commented on #7936
It looks like it could be browser related. I can reproduce it on a fresh JN site using Safari but not on Chrome.

I don't get any console or network errors. Interestingly, the value of `woocommerce_task_list_welcome_modal_dismissed` is set to `yes`.

I also can't reproduce it on the `main` branch at present.

[2021-11-17 02:11] adrianduffell commented on #7936
Also, I'm only seeing it intermittently today.

https://user-images.githubusercontent.com/9312929/142096280-36e4c5a5-8e81-4d0f-b640-6e4c015a29a2.mov

[2021-11-17 02:52] ilyasfoo commented on #7936
I was able to reproduce on the latest main with my safari browser

[2021-11-17 03:07] ilyasfoo commented on #7936
It seems [`welcomeModalDismissed`](https://github.com/woocommerce/woocommerce-admin/blob/main/client/homescreen/layout.js#L312) had the value `false`, [`welcomeModalDismissedHasResolved`](https://github.com/woocommerce/woocommerce-admin/blob/main/client/homescreen/layout.js#L311) was `true` and suspiciously I couldn't find the network request for `woocommerce_navigation_intro_modal_dismissed` opti

[2021-11-17 03:24] ilyasfoo commented on #7936
I just confirmed this issue is pre-existing, I was able to reproduce it in WooCommerce 5.9 and WCAdmin 2.8.

Something unique I've found out when I'm able to reproduce is one of the options requested without specifying the options, i.e: `https://valuable-bug.jurassic.ninja/wp-json/wc-admin/options?options=&_locale=user`:

![image](https://user-images.githubusercontent.com/3747241/142127896-dcd6fd2

[2021-11-17 04:13] thuhoang commented on #4491
Hi guy!
Can you give me a complete example code ?
I follow your guide but it does not work

Thanks.

[2021-11-17 05:17] ilyasfoo commented on #7936
I may have found the root cause, it's a race condition where an option put in batch array [here](https://github.com/woocommerce/woocommerce-admin/blob/641b86f90fe126d014fa39ca4a5125fa14aadfb7/packages/data/src/options/controls.js#L25) does not have a chance to be [fetched](https://github.com/woocommerce/woocommerce-admin/blob/641b86f90fe126d014fa39ca4a5125fa14aadfb7/packages/data/src/options/contr

[2021-11-17 05:56] #7243 closed

[2021-11-17 05:56] #7248 closed

[2021-11-17 06:25] adrianduffell commented on #7936
Ah that reminds me, this bug has come up before and we found the same race condition https://github.com/woocommerce/woocommerce-admin/issues/7478#issuecomment-895649128

[2021-11-17 06:56] ilyasfoo commented on #7936
Ah, good catch. I think this should be a priority then because it could cause intermittent issues which is super hard to reproduce.

On top of my head, a quick fix should be, instead of `optionNames = [];` we should carefully remove only options which were fetched. But I'm not sure if this would still be fundamentally unstable

[2021-11-17 07:37] adrianduffell commented on #7936
Sounds good, I'm also wondering what the purpose of the `setTimeout` wrappers are and if they are contributing to the issue. I'll investigate this some more.

[2021-11-17 07:47] ilyasfoo commented on #7936
I think the idea of `setTimeout` there is to batch option request into a single API call, that's why it's also set as only 1 millisecond. It's to get the main thread to execute and possibly gather all option requests that are supposed to happen in a single execution.

[2021-11-17 11:14] adrianduffell commented on #7931
@pmcpinto We estimate 8 story points (about 25% of our normal capacity per cycle). It's something we could target for the Woo Admin 3.1 release, with Inbox 2.0 our main priority ahead of the upcoming 3.0 beta.

[2021-11-17 11:44] pmcpinto commented on #7931
Thanks for sharing the estimate. @thenbrent is everything goes as planned we'll release the experiment in WC 6.2 (February). Does this timing sound good to you?

[2021-11-17 12:04] pmcpinto commented on #7220
I'm sorry if I wasn't clear, let me rephrase it: once wc admin is merged, the best way to show an option to enable experimental features is directly through core, correct? Unless we create other plugins.

The future of the new nav roll-out will be defined once we have more news about the annual plans. But making the nav disabled by default as you proposed seems to be a low-risk decision that can s

[2021-11-17 14:05] louwie17 opened #7940 "Create new WC Pay promotion experiment with treatment 100% and update version in wc.com"
Create new WC Pay promotion experiment with treatment 100% and update version in wc.com.

## Context

The WC Pay payment method experiment is showing clear signs that the [treatment is outperforming](https://experiments.a8c.com/experiments/20342-woocommerce-wc-pay-promotion-payment-methods-table-v2/results). Given we have to wait for a WC Admin release to remove the experiment, we will create a ne

[2021-11-17 14:13] louwie17 opened #7941 "Remove use of `woocommerce_wc_pay_promotion_payment_methods_table` experiment"
Remove use of `woocommerce_wc_pay_promotion_payment_methods_table` experiment and set it up so it's used all the time.

## context

The WC Pay payment method experiment is showing clear signs that the [treatment is outperforming](https://experiments.a8c.com/experiments/20342-woocommerce-wc-pay-promotion-payment-methods-table-v2/results). We will make use of the treatment a 100% of the time and can

[2021-11-17 14:44] pmcpinto opened #7942 "Settings: show the first option when the payment recommendation card is enabled"
**Description:** the WC Pay recommendation experiment's treatment in the settings table is hiding the first option available in the list if a user has previously manually sorted the table's row and saved that order. It shouldn't hide any other options.

**Acceptance criteria:**

- [x] Show the first option available in the payments settings table below the WC Pay recommendation

[2021-11-17 15:29] louwie17 commented on #7942
@elizaan36 would you have suggestions for a minimal UI layout to dismiss the WC Pay promotion?
Here is the current look:
<img width="1452" alt="Screen Shot 2021-11-17 at 11 28 34 AM" src="https://user-images.githubusercontent.com/2240960/142229901-50a2b647-8739-49ed-a6fd-b773fe06d8fd.png">

[2021-11-17 16:36] #7758 closed

[2021-11-17 17:19] moon0326 opened #7944 "Use last_read timestamp to update is_read"
We're tracking the read state of notes with `last_read` timestamp value stored in the user preference setting.

In https://github.com/woocommerce/woocommerce-admin/issues/7793, we added the `is_read` column to track the read state of individual notes.

We want to use `last_read` value to set `is_read` state

We can compare `last_read` timestamp to `date_created` in the notes table.

[2021-11-17 20:15] #7793 closed

[2021-11-17 21:56] leonardola opened #8030 "Blank Screen when WC Pay is active"
Related to https://github.com/Automattic/woocommerce-payments/issues/3333

**Describe the bug**
Blank Screen is displayed after clicking WooCommerce > Home when WC Pay is active.

This bug started happening after WooCommerce version 5.9.0 was released.
As far as I could dig this bug starts on version 6.1.2 of @woocommerce/components
The only differences between 6.1.1 to 6.1.2 are inside the file p

[2021-11-17 23:45] moon0326 opened #7946 "Remove "Inbox" header when the component is rendered in the activity sidebar"
When the Inbox Panel component is rendered in the sidebar, remove the header section as it's an extra noise and not needed in the activity sidebar
![Screen Shot 2021-11-09 at 8 29 56 PM](https://user-images.githubusercontent.com/4723145/142300206-2597ff0a-8a51-4bc7-b99d-28ecb38e894f.jpg)

[2021-11-18 04:52] #7936 closed

[2021-11-18 05:34] ilyasfoo commented on #7478
Fixed in #7947

[2021-11-18 05:34] #7478 closed

[2021-11-18 12:45] louwie17 commented on #7942
Re opening #7943 was only part of the fix.

[2021-11-18 13:36] ilyasfoo opened #8029 "Redirected to setup wizard from Home even after skipped setup"
**Describe the bug**
This bug is intermittent and I'm unable to reproduce it reliably. However, I have a pretty good idea of what happens when it does. I also believe this issue had been around for a while.

I think there's a race condition with `withOnboardingHydration`. There are cases when [`isResolving( 'getProfileItems', [] )`](https://github.com/woocommerce/woocommerce-admin/blob/33967a36c92

[2021-11-18 14:06] gglobalstep opened #7948 "[GlobalStep - 5.9.0] In Analytics > Variation, Search tags of Product filter appears misaligned."
## Bug Description:
In Analytics > Variation, Search tags of Product filter appears misaligned.

## Environment:
Woocommerce Version :
WooCommerce 5.9.0
Wordpress version: 5.8.2

PC:
Windows 10, Mac 10.14.6
Chrome(Version 96.0.4664.45)
Firefox(Version 94.0.1)
Safari: v15.0

## Steps To Reproduce:
1. Create any test site using JN site.
1. Install and activate all the required plugins
1. Complete th

[2021-11-18 17:15] #7912 closed

[2021-11-18 17:47] mattsherman commented on #7941
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce-admin/7941?planning-poker) with ZenHub @jacob-sewell @joelclimbsthings @joshuatf @louwie17 @octaedro

[2021-11-18 17:48] mattsherman commented on #7940
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce-admin/7940?planning-poker) with ZenHub @jacob-sewell @joelclimbsthings @joshuatf @louwie17 @octaedro

[2021-11-18 17:55] mattsherman commented on #7854
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce-admin/7854?planning-poker) with ZenHub @jacob-sewell @joelclimbsthings @joshuatf @louwie17 @octaedro

[2021-11-18 18:02] mattsherman commented on #7916
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce-admin/7916?planning-poker) with ZenHub @jacob-sewell @joelclimbsthings @joshuatf @louwie17 @octaedro

[2021-11-18 18:22] JorisA-JT commented on #3943
I have the same problem... Anyone knows how to fix this? Tried almost everything, from clean installation on new host to disabling/enabling every plugin and theme at once.

[2021-11-18 18:26] mattsherman commented on #7720
@pmcpinto @elizaan36 It is not clear what the flow is supposed to be for this change.

 https://github.com/Automattic/woocommerce-payments/issues/3060 seems to directly conflict with the second acceptance criteria

Can you please provide a Figma flow showing how things are supposed to work in the various scenarios?

[2021-11-18 18:50] mattsherman commented on #7937
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce-admin/7937?planning-poker) with ZenHub @jacob-sewell @joelclimbsthings @joshuatf @louwie17 @octaedro

[2021-11-18 18:55] mattsherman commented on #7542
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce-admin/7542?planning-poker) with ZenHub @jacob-sewell @joelclimbsthings @joshuatf @louwie17 @octaedro

[2021-11-18 21:50] mattsherman commented on #7942
Moving this back to Groom for the rest of the issue.

[2021-11-18 21:51] mattsherman opened #7951 "Allow users to easily dismiss the recommendation without leaving the Payments settings page."
**Description:** We don't provide a way to easily dismiss the WCPay recommendation inline and should do that before using this approach outside the current experiment. Right now, dismissing it requires going to **WooCommerce > Settings > Advanced > WooCommerce.com** and disabling _Marketplace suggestions_ entirely.

## Acceptance criteria

- Users are able to easily dismiss the WCPay recommendatio

[2021-11-18 21:54] #7942 closed

[2021-11-18 21:54] mattsherman commented on #7951
@elizaan36 would you have suggestions for a minimal UI layout to dismiss the WC Pay promotion?
Here is the current look:
<img width="1452" alt="Screen Shot 2021-11-17 at 11 28 34 AM" src="https://user-images.githubusercontent.com/2240960/142229901-50a2b647-8739-49ed-a6fd-b773fe06d8fd.png">

[2021-11-18 21:54] mattsherman commented on #7942
I decided to split out the dismissal part to a separate story: https://github.com/woocommerce/woocommerce-admin/issues/7951

[2021-11-18 21:57] mattsherman commented on #7951
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Mothra-60df2bf941ae44000ebbda7c/issues/woocommerce/woocommerce-admin/7951?planning-poker) with ZenHub @jacob-sewell @joelclimbsthings @joshuatf @louwie17 @octaedro

[2021-11-19 01:02] mattsherman commented on #7948
I can reproduce this issue. It exists in 5.8.0 as well, and I would surmise that the issue is even older (perhaps even from the initial introduction of this UI).

Changing the following line:

https://github.com/woocommerce/woocommerce-admin/blob/28c15f19db388b465955386b487586edee0551a9/packages/components/src/advanced-filters/style.scss#L169

from `height` to `min-height` should easily "fix" this

[2021-11-19 09:17] adrianduffell opened #7953 "Resume the install routine after failure"
### Is your feature request related to a problem?

An install routine runs every time Woo Admin is updated, performing jobs such as migrating the database.

https://github.com/woocommerce/woocommerce-admin/blob/aa608396ce1427b58d2573c3971089bf95dc3e5a/src/Install.php#L189-L214

However when the install routine fails for some reason, it can leave the site in an expected state with not all jobs bein

[2021-11-19 10:10] pmcpinto commented on #7951
@elizaan36 do you have time to check this early next week? Ideally, this should be included in wc admin 3.0 and the code freeze will be on Nov 30

[2021-11-19 10:55] pmcpinto commented on #7720
@mattsherman the TLDR is that we should replace the `wc-admin-set-up-additional-payment-types` inbox message with a new "things to do next" task. Let me know if you need further clarification. @elizaan36 maybe a rough mockup with the before and after can help.

[2021-11-19 11:49] mattsherman commented on #7720
I definitely need further clarification, and a mock-up or sketch of the flow would help.
On Nov 19, 2021, 05:55 -0500, Pedro Pinto ***@***.***>, wrote:

[2021-11-19 12:19] urlund commented on #7507
+1 for bug fix :)

[2021-11-19 13:19] slaFFik commented on #7857
And another event with the same warnings:
[code]

[2021-11-19 13:56] Mte90 commented on #7917
So to add more information, I am trying to send in the email to the admin after an order if the customer is new.
So in `admin-new-order.php` I had to add some check as seems that `is_returning_customer` report false but in the UI it is written that is returning.
My guess is that in that context doesn't always this data is saved.
My code:
[code]

The second check is to see if a guest customer has a

[2021-11-19 14:19] philbirnie commented on #7681
Still an issue in 5.8.

[2021-11-19 14:23] elizaan36 commented on #7948
@LevinMedia proposed a fix for this a little while back. woocommerce/woocommerce#32239

[2021-11-19 14:29] Mte90 commented on #7917
So the final code:
[code]
As during the email the native method is not thrustable and using other Woo methods for countings orders crash the request on the website (I have no idea why), a single query instead is more light for performance.

So I am not sure but maybe the order stats are generated after sending the emails in wordpress?

[2021-11-19 14:49] pmcpinto commented on #7720
👍 let's wait until Elizabeth shares the flow

[2021-11-19 15:01] louwie17 commented on #7940
Closing this as these changes will not be relevant anymore in favour of disabling the experiment for now and making it permanent in [this issue](https://github.com/woocommerce/woocommerce-admin/issues/7941).
Context: p1637326314022400/1636629419.008100-slack-C01LPBCV4J1

[2021-11-19 15:01] #7940 closed

[2021-11-19 17:15] Mte90 commented on #7917
A test case that is counted wrong by this api I saw now in returning_customer.
A customer with just one order processed and one in progress is marked as a new customer when it should be a new one.

[2021-11-19 23:33] octaedro opened #7956 "PHP Warning on 'Add new product' page"
### Describe the bug

The PHP warning below is shown in the `Add a new product` page. It's necessary to get to that page through the tasklist in the `Home` screen.

[code]

It's worth noting that this is happening on the `main` branch but it's not present on v2.9

### To Reproduce

0. Checkout the `main` branch.
1. Go to **WooCommerce** > **Home**.
2. Press **Add my products** in the task list.
3.

[2021-11-20 18:21] #7621 closed

[2021-11-20 18:21] #7648 closed

[2021-11-22 00:12] csmcneill opened #7957 "run_remote_notifications scheduled actions set to run at 0000-00-00 00:00:00"
### Describe the bug
Sometimes, when scheduled actions are not running, I have found that there are several `woocommerce_admin/stored_state_setup_for_products/async/run_remote_notifications` scheduled actions with a scheduled run date/time of `0000-00-00 00:00:00`.Because these actions have an erroneous date, they will never run.

While most sites experiencing this issue are running WooCommerce Su

[2021-11-22 06:30] thenbrent commented on #7931
Is WC 6.2 being released February 8? If the 8th, that will be fine. The goal is to have the WC Pay in core plans finalized by 2022-02-28, and the results of this are an important contributor to that so we want to get 1-2 weeks data on it before finalizing those plans.

[2021-11-22 08:20] adrianduffell commented on #7957
Hi @csmcneill ,

Thanks for reporting this. I was able to reproduce the creation of multiple actions by importing the [products sample data](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/sample-data/sample_products.csv) and also observed these actions remain in a pending state.

<img width="1342" alt="Screen Shot 2021-11-22 at 3 24 56 pm" src="https://user-images.github

[2021-11-22 11:39] pmcpinto commented on #7931
Yes

[2021-11-22 15:58] mattsherman commented on #7942
@louwie17 Would it be possible to fix this for existing customers without them installing an updated, by disabling or changing the experiment in some fashion? Or, is the damage done once they are initially assigned an experiment option?

[2021-11-22 16:23] mattsherman commented on #7942
Answer: The experiment was already disabled, fixing this issue for existing customers!

[2021-11-22 17:16] #7938 closed

[2021-11-22 17:34] elizaan36 commented on #7951
Hey @mattsherman @pmcpinto, here's an option for the dismiss action.
![Screen Recording 11-22-2021 at 11 30 AM](https://user-images.githubusercontent.com/5121465/142908081-ece46ff1-2154-46c0-a092-71c30f2c9e04.gif)
- An ellipses menu is shown to the left of the "Install" CTA
- A "Dismiss" menu item will remove the WCPay prompt

<img width="1258" alt="Screen Shot 2021-11-22 at 11 28 41 AM" src="http

[2021-11-22 17:52] elizaan36 commented on #7720
hey @mattsherman @pmcpinto here are details on the flow.

Before the WCPay setup is complete, the "Set up additional payment providers" task will direct users to the payment task screen with the WCPay header card.
![Screen Recording 11-22-2021 at 11 44 AM](https://user-images.githubusercontent.com/5121465/142910651-c78c25c8-589a-44a0-865e-0a1df11f285f.gif)

After WCPay setup is complete, the "Set

[2021-11-22 18:33] mattsherman commented on #7915
Notes:

- Are these wccom or local? Or both?
- Note: will still be shown until client is updated
- Note: we should have consistency for the "meta" information in various specs (have "additional data" and "additional info" in tasks)

[2021-11-22 18:45] mattsherman commented on #7919
Notes:

- If subscriptions is selected, WCPay is installed before this step
- Do we track the total duration for all extensions, or each extension individually (we can't do this client-side, since we make one call to the server)
- Do we just use something like Action Scheduler to do the installation?

[2021-11-23 01:17] mattsherman commented on #7297
@joelclimbsthings What is the status of this? You were exploring the css-in-js solution, right? A P2 post with your findings would be excellent. And we should put the rest of his on the backburner until the next cool down (we can also consider some of this work for a future cycle).

[2021-11-23 01:24] adrianduffell commented on #7244
Fixed in PR https://github.com/woocommerce/woocommerce-admin/pull/7896

[2021-11-23 01:24] #7244 closed

[2021-11-23 10:21] pmcpinto commented on #7951
Elizabeth, thanks!

@mattsherman it would be good to also add Tracks to this action.

[2021-11-23 10:27] #7946 closed

[2021-11-23 13:30] joshuatf commented on #7910
Closed by https://github.com/woocommerce/woocommerce-admin/pull/7841

[2021-11-23 13:30] #7910 closed

[2021-11-23 13:48] Mte90 commented on #7917
[code]

Implemented that code in the filter and now should be work in the right way.

[2021-11-23 20:39] joelclimbsthings commented on #7297
@mattsherman Yup! I spent some time looking into alternatives to Linaria as well. Planning to put up a P2, although I didn't get as far with this as I'd like due to portering and other tasks, so I plan to finish it off during the next cool down.

[2021-11-23 23:47] #7247 closed

[2021-11-24 13:16] #7916 closed

[2021-11-24 16:15] pmcpinto commented on #7720
@mattsherman @joelclimbsthings we're thinking about running an a/b test with this change before releasing it to all users. We know that this change will eventually divert users from the WCPay setup flow, but it is impossible to know in advance the magnitude of its impact. Let me know what you think. Thanks!

[2021-11-24 17:45] John-belt opened #7964 "Order Report should have advance filter for country states also as required by every country tax filing"
### Is your feature request related to a problem? Please describe.
HI there has been a lot of issues related to taxing and reports in the analytics and for that reason, I want to use my third-party apps for tax filing and calculation.  The only data that is needed is filtered by states(like amount, total orders, total amount) for the whole month. There is no filter for that. Since the tax calculat

[2021-11-24 17:48] John-belt commented on #7964
@psealock Read your comment on the support of the plugin.

[2021-11-24 21:20] tomalec commented on #6483
It's still an issue with WooCommerce 5.7 => `@woocommerce/components` 8.0.0 => 7.1.0 (8.0.0 is unpublished, so we need to fall back to 7.1.0.)

[2021-11-25 01:44] #7944 closed

[2021-11-25 05:24] nagpai opened #8388 "Dashboard Widgets - Orders widget showing random names for each recent order."

[2021-11-25 10:59] adrianduffell commented on #7536
Closing, this was fixed in PR https://github.com/woocommerce/woocommerce-admin/pull/7531

[2021-11-25 10:59] #7536 closed

[2021-11-25 11:09] adrianduffell commented on #6779
Closing, as no longer relevant due to the [upcoming merge with Core](https://developer.woocommerce.com/2021/10/14/rfc-woocommerce-admin-is-merging-into-core/).

[2021-11-25 11:09] #6779 closed

[2021-11-25 11:14] adrianduffell commented on #6400
Closing, as no longer relevant due to the [upcoming merge with Core](https://developer.woocommerce.com/2021/10/14/rfc-woocommerce-admin-is-merging-into-core/).

[2021-11-25 11:14] #6400 closed

[2021-11-25 16:59] pmcpinto opened #7967 "Home screen default layout changed with wc admin 2.9-rc.2"
### Describe the bug
With wc admin 2.9-rc.2 the home screen for new users defaults to the two-column layout. The default should be the single-column

### To Reproduce
1. Create a new store using WooCommerce 6.0.0 Beta 1
2. Skip the store profiler and visit the home screen
3. See that the default layout is the two-column

### Actual behavior:
The home screen for new users defaults to the two-column

[2021-11-25 17:01] pmcpinto commented on #7967
@adrianduffell afaik you're the 2.9 release lead. is it possible to fix this in time for it to be included in the final version of wcadmin 2.9?

cc @becdetat

[2021-11-25 17:03] tgglv opened #7968 "Caching for get_notes"
### Description
During the first several hours of BlackCyber 2021, we noticed places in WC Admin that indirectly affected WCCOM's performance.

These 2 places were:
- Notes::possibly_delete_survey_notes
- Notes::possibly_add_note

They both uses `Automattic\WooCommerce\Admin\Notes\DataStore::get_notes()`.

The reason was in using `Automattic\WooCommerce\Admin\Notes\DataStore::get_notes_where_claus

[2021-11-26 10:57] pmcpinto opened #7970 "Remove low-performing inbox notifications"
**Description:** as part of the inbox optimization initiative (pbIJXs-12m-p2), we want to remove inbox notifications that have shown a low conversion rate over the past few months.

**Acceptance criteria:**
- [ ] Remove the Marketing.php notification
- [ ] Remove the DrawAttention.php notification
- [ ] Remove the NeedSomeInspiration.php notification
- [ ] Remove the ChooseNiche.php notification
-

[2021-11-26 11:22] pmcpinto opened #7971 "Inbox notification: How to Migrate from Magento to WooCommerce"
**Title:** How to Migrate from Magento to WooCommerce
**Content:**  Changing platforms might seem like a big hurdle to overcome, but it is easier than you might think to move your products, customers, and orders to WooCommerce. This article will help you with going through this process.
**Segmentation:**
New users with `setup_client`: `false` on `wcadmin_storeprofiler_store_details_continue` OR `s

[2021-11-26 12:57] adrianduffell commented on #7967
@pmcpinto I was able to reproduce this and aiming to have this fixed for the 2.9 final release.

[2021-11-29 14:59] louwie17 commented on #7964
Hi @John-belt, thanks for creating an issue for this feature request. I agree that this would be beneficial.
I am tagging this under votes needed for now as this could be more specific to the United States and Canada, I am not as familiar with tax laws under other countries and how they differ between states/provinces.

In the mean time we do allow for 3PDs to write their own advanced filter, whic

[2021-11-29 16:32] louwie17 commented on #7968
@tgglv thanks for creating this issue. I have two initial thoughts/questions:
- From your screenshots it appears that the main bottleneck is the `get_terms` call used by the `filter_admin_notes_by_vendor_id` filter that is listening to the `woocommerce_note_where_clauses` filter. Could caching be added to this instead?
- Having a deeper look at the two notes that do trigger `get_notes`, it appears

[2021-11-29 18:01] louwie17 commented on #7917
Glad you got something working @Mte90, I would suggest to also check for the `post_modified` column to see if the order is older than the new order.

After getting this fix do you still think this is a clear bug, or a custom use case for you? If you still think it's a bug, would you be able to write some test instructions on how to reproduce it and an easy way to see the error? Otherwise I will le

[2021-11-29 18:11] Mte90 commented on #7917
I see that this fixed the issue at all between emails and also in the Data Order view in the backend.
As those filters are executed in the moment the order is done counting them in my case fix all the cases.

[2021-11-29 18:52] louwie17 commented on #7785
We are making use of this query under the hood -> https://woocommerce.com/wp-json/wccom-extensions/1.0/search
Which does take a `?country=NL` option, but after trying a couple different countries I didn't see a price difference.

Even the checkout page on woocommerce.com isn't clear about the currency and only adds the specified taxes if the country has been changed: https://woocommerce.com/checko

[2021-11-29 20:00] #7854 closed

[2021-11-29 21:04] #7967 closed

[2021-11-30 00:10] moon0326 opened #7975 "Make note title clickable"
You can only click a note directly on a CTA.

Make note title clickable to make it easier to click.

[2021-11-30 01:29] apmwebdev commented on #7825
Had a user experiencing this with WC 5.9. Reopening. Ticket: 4554934-zen Transcript: 32882196-hc.

SSR:

<details>

[code]

</details>

[2021-11-30 02:13] #7975 closed

[2021-11-30 07:44] adrianduffell opened #7978 "Fatal error in WooSubscriptions note when accessing note that doesn't exist"
### Describe the bug
A site owner reported a fatal error in the `WooSubscriptionsNotes` class.

[code]

We can see in the stacktrace, a call is made to `get_product_id_from_subscription_note ` with a note of `false`, rather than a valid `Note` object. A possible quick fix is to check for `false` return values and defensively handle them.

A possible reason for the `false` return value is due to a

[2021-11-30 10:30] PageNorth commented on #7307
Removing the %2Fanalytics takes you to that customers profile not the statistics of that customer.

The link should (and used to) take you to a further analytics page showing the purchases etc for that specific top customer.

[2021-11-30 13:52] tgglv commented on #7968
Hey @louwie17! 👋

Indeed, we fix that by removing that expensive call for non-logged users.

Indeed. This issue is a kind of feedback to let you know how unexpectedly might behave a big store on the `get_notes` call. Since we've fixed that case locally please feel free to close the issue if you plan to do something with `get_notes` in a separate issue.

[2021-11-30 14:01] louwie17 commented on #6896
Closing this as there has been no feedback and no other issue's have come in, in relation to this issue.

[2021-11-30 14:01] #6896 closed

[2021-11-30 14:18] #7644 closed

[2021-11-30 14:21] louwie17 commented on #7183
I couldn't reproduce this either, I will close this. Feel free to re-open if the issue is still present.

[2021-11-30 14:21] #7183 closed

[2021-11-30 17:13] #7941 closed

[2021-11-30 18:02] #7951 closed

[2021-11-30 18:34] moon0326 opened #7981 "Display actioned notes"
We currently hide `actioned` notes from the Woo Home.

With changes in the Inbox 2.0, we want to display `actioned` notes and let the customers decide to dismiss them individually.

Adjust API call from the frontend to query actioned and unactioned notes.

[2021-11-30 22:04] tammullen opened #7984 "WC 6.0 RC1 - Set up shipping task - Step 3 Enable shipping label printing not offered"
### Describe the bug
In the task list, the `Set up shipping` task closes after pressing `Proceed` instead of offering step 3 `Enable shipping label printing` as in WC 5.9 and earlier.

### To Reproduce
1. Complete setup wizard with physical products and choose not to install free extensions
![Screenshot 2021-11-30 at 21 50 24](https://user-images.githubusercontent.com/24649833/144135038-e74328ae-5

[2021-11-30 22:09] #7720 closed

[2021-12-01 03:13] #7984 closed

[2021-12-01 14:43] louwie17 commented on #7968
Yeah we appreciate the feedback, as this will certainly be worth fixing. I will create two separate issues for this.

[2021-12-01 14:51] louwie17 opened #7986 "Remove expensive `get_notes` call in the `CouponPageMoved::possibly_add_note` function"
### Describe

As mentioned in #7968, the `CouponPageMoved::possibly_add_note` makes use of the `get_notes` function that can be expensive as it contains several filters for 3PD's and is also called on `admin_init`.
Given this call is very specific to the `CouponPageMoved` note and checking if it is deleted or not, we should do this check ourselves using $wpdb.

### Acceptance criteria

- Make sure

[2021-12-01 14:55] louwie17 opened #7987 "Remove `get_notes` call in the `Notes::possibly_delete_survey_notes`"
### Describe

As mentioned in #7968, the `Notes::possibly_delete_survey_notes` makes use of the `get_notes` function that can be expensive as it contains several filters for 3PD's and is also called on `admin_init`.
Given this call is very specific to survey notes, we should do this check ourselves using $wpdb.

### Acceptance criteria

- Make sure the `Notes::possibly_delete_survey_notes` doesn't

[2021-12-01 14:56] louwie17 commented on #7968
Closing this in light of the above two issues (#7986, #7987 ) and that the immediate issue has been fixed:

[2021-12-01 14:56] #7968 closed

[2021-12-01 15:26] johnregan3 commented on #7660
@mattsherman  I can take this one.  Do I need to have this Issue assigned to me?

[2021-12-01 15:30] louwie17 commented on #7508
I just tried again and couldn't reproduce it, it does seem like the error lies with our call to `triggerNoteAction`.
If someone does get this again, please have a look at the note action request in the network panel and see if it returns a 404 and if it shows any errors.
The request would look something like this: `/wc-analytics/admin/notes/<note_id>/action/<action_id>`

[2021-12-01 15:50] mattsherman commented on #7720
@pmcpinto @joshuatf I missed this comment... sorry about that!

Hmm... Josh has made the change in #7980 without an experiment (as there was no experiment mentioned in the AC).

I wonder if it would be better to just run with the change and track the metrics to see if there is a significant drop. Since we are not removing the main WCPay task, and WCPay is still highlighted at the top of the additi

[2021-12-01 16:41] johnregan3 commented on #7660
PR issued. [#7988](https://github.com/woocommerce/woocommerce-admin/pull/7988)

[2021-12-01 16:57] johnregan3 commented on #7786
Just to confirm: are these two assumptions correct?

1. Using the screenshot above, "Country / Region" should align with "Afghanistan" (not all the way to the left as with the other inputs)
2. Although not noted in the original issue, the vertical space between the label and text should also be the same as the other inputs

![Screen Shot 2021-12-01 at 10 49 30 AM](https://user-images.githubusercon

[2021-12-01 17:04] lanej0 commented on #7786
@johnregan3 I think that your assumptions are correct.  I think aligning the label with the box would look funny.  The other possibility I could think of would be to have the search icon go away once a value is set, and have the label/value pair look just like all other text inputs.

[2021-12-01 17:14] davelozier commented on #7920
Same issues with WordPress 5.8.2, WooCommerce 5.9.0 and PHP 7.4.26.

As suggested above we can download directly by replacing the report ID as needed.
wp-admin/?action=woocommerce_admin_download_report_csv&filename=wc-revenue-report-export-```16365562862955```

The report lacking labels isn't helpful though.

[2021-12-01 19:15] #7415 closed

[2021-12-01 20:12] louwie17 commented on #7588
I could not reproduce this and this should be fixed now as part of https://github.com/woocommerce/woocommerce-admin/issues/6820, which would of been released in WC 5.7

[2021-12-01 20:12] #7588 closed

[2021-12-01 21:10] diegpl opened #7990 "Slow query issue and AutomateWoo plugin"
Hi, I just bought AutomateWoo plugin from woocommerce.com and I realized it depends on Woocommerce Admin, a plugin with a deprecated soon warning. Could someone tell me why will it be deprecated and why AutomateWoo depends on it?

It also generated some slow query, as showed in the below image:
https://pasteboard.co/ftD4kyMOeKdQ.png

Tks! ;-)

[2021-12-01 23:52] ahmedzeidan commented on #7584
the issue seems resolved on the latest WC version as testing to export products went through and got it by email... Thanks for the support here.

[2021-12-01 23:52] #7584 closed

[2021-12-02 00:50] joelclimbsthings opened #7992 "WCPay task stepper stalls after clicking Get Started"
### Describe the bug
When navigating through the Payments task, and then clicking "Get Started" on the WCPay button at the very top, the stepper stalls on the second step with no option for continuing.

### To Reproduce

1. Use fresh site, and ensure you select a country that is WCPay supported (USA)
2. Go through Onboarding wizard and select "WooCommerce Payments" in the free features (deselect e

[2021-12-02 02:26] nagpai commented on #7825
@apmwebdev The site seems to have other plugins active. It would be best to have this tested with Twenty Twenty one and all other plugins disabled to confirm that the bug exists in WooCommerce core.

[2021-12-02 02:56] adrianduffell opened #7993 "Changelog not displayed by WordPress"
### Describe the bug

With the move of changelog entries from `readme.txt` to `changelog.txt` , WordPress no longer displays a Changelog tab in the plugins UI.

### To Reproduce

1. Go to WordPress Plugins screen.
2. Search for WooCommerce Admin.
3. Click "More Details".
4. See that there is no "Changelog" tab.

### Actual behavior:

No Changelog tab on WordPress plugin screen.

### Screenshots

<

[2021-12-02 03:44] adrianduffell commented on #7990
Hi @diegpl ,

Thanks for reporting this. Are you able to provide a screenshot of the deprecated warning you see to help investigate this further? [WooCommerce Admin is merging into the Core plugin soon](https://developer.woocommerce.com/2021/10/14/rfc-woocommerce-admin-is-merging-into-core/) but will retain compatibility with other plugins that depend on its features.

The times on these queries l

[2021-12-02 04:05] diegpl commented on #7990
I`ve updated Woocommerce and the DB and toe problem is solved. The warning was in the old reports page if I am not misaken. The time is reasonable just in Query Monitor report, not real. I ll close this thread now. Tks for the attention! ;-)

[2021-12-02 04:05] #7990 closed

[2021-12-02 11:01] John-belt commented on #7964
Hey, it is beneficial to other countries as well like Asian countries where each state has its own tax rates. So makes sense. Will try to write the filter as suggested in the blog.

[2021-12-02 12:00] pmcpinto commented on #7720
@mattsherman thanks for your feedback. To have a sense of the best way to mitigate the risks of this implementation:
- What's the effort required to implement the ab test?
- Can we easily roll back the changes if we release them to all users and the drop in the WCPay setup flow is higher than expected? I'm assuming that the biggest roadblock is complying with the Core release train.

[2021-12-02 12:02] pmcpinto commented on #7967
I've tested WC 6.0 RC1 this morning and the default layout is showing as expected. Thanks for fixing this so quickly.

[2021-12-02 12:55] #7956 closed

[2021-12-02 13:38] pmcpinto commented on #7915
Will this change be included in the Inbox updates implemented by Ghidorah? @adrianduffell

[2021-12-02 14:56] joshuatf commented on #7720
cc @pmcpinto

It's more than just modifying the existing task.  We'd probably need to create an additional task to house the logic instead of housing it in a single task.  This probably doubles the effort of the original task but I'm optimistic we could get it knocked out in a couple days for a beta 2 release if necessary.

But let me know sooner rather than later if possible so we can hit that go

[2021-12-02 19:47] louwie17 commented on #7610
Just to follow up on this, I did some more testing, and it does appear that the attributes filter only works for orders with variations, that required a certain attribute to be selected within the order.

Although I do think that filtering by any product with that attribute would be beneficial and a nice feature to have. I will label this as an enhancement.

[2021-12-02 19:52] darcie commented on #6770
Reported in 4563461-zen also.

[2021-12-02 20:00] louwie17 commented on #7667
This seems to be a duplicate of woocommerce/woocommerce#32237, I labeled that as a feature request, so that we can also include attributes of simple products.

[2021-12-02 20:00] #7667 closed

[2021-12-02 21:04] #7981 closed

[2021-12-03 02:06] elizaan36 opened #7997 "Analytics: Tooltip to inform users that full refunds aren't deducted"
### Problem to solve
This is a temporary solution to inform users of a potential issue with analytics reporting where full refunds are not deducted from tax or net sales. This issue has been reported [here](https://github.com/woocommerce/woocommerce-admin/issues/7328) and @louwie17 has done research to discover the underlying problem in pbIJXs-Vz-p2. Full refund data is saved in such a way that it

[2021-12-03 02:49] adrianduffell commented on #7915
cc @mattsherman

@pmcpinto Mothra took this issue as we didn't have the resources to include it with the Inbox 2.0 work this cycle.

[2021-12-03 05:19] adrianduffell commented on #7990
No problems, thanks @diegpl. I'm glad to hear the problem is solved now.

[2021-12-03 08:02] pmcpinto commented on #7720
@joshuatf let's move forward without the a/b test. Thanks

[2021-12-03 10:54] tsetend opened #7998 "The order in Customers doesn't match the actual number of orders from a customer"
### Describe the bug
When we look at the number of orders for a customer in **WooCommerce > Orders** it doesn't match the number of orders for the customer in **WooCommerce > Customers**.

### To Reproduce

1. Go to 'WooCommerce > Orders'. Make sure you have at least one user with a number of different orders.
2. Filter the order with the customer's email address.
3. Now open a different tab and o

[2021-12-03 11:59] puntope opened #7999 "E2e Failing on main branch"
### Describe the bug

I'm unable to make E2E pass in a fresh installation of WC Admin + WooCommerce using `main` branch.

### To Reproduce

1. Checkout main
2. `npm i`
3. `composer install`
4.  `npx wc-e2e docker:up`
5.  `px wc-e2e test:e2e`
6. Test didn't pass

### Screenshots

<img width="1150" alt="Screenshot 2021-12-03 at 12 56 26" src="https://user-images.githubusercontent.com/5908855/1445986

[2021-12-03 13:27] #7992 closed

[2021-12-03 13:29] #7507 closed

[2021-12-03 15:03] #7321 closed

[2021-12-03 15:35] mattsherman commented on #7915
Yes, we took this issue and aim to have it included in WCA 3.1.0 (the cutoff for WCA was too soon to the cycle start for us to get this in).

[2021-12-03 15:54] louwie17 commented on #7999
Hi @puntope, thanks for creating an issue for this.
I couldn't re-produce what you are referring to above, although I did encounter an issue where it would be stuck on `Docker container is still being built` as the container failed to build, I am creating a [PR for this](https://github.com/woocommerce/woocommerce-admin/pull/8000).

One reason the tests could be failing is that wc-admin wasn't buil

[2021-12-03 16:36] louwie17 commented on #7998
Hi @tsetend, thanks for creating a bug report for this.
I am currently having trouble replicating this bug. It only seems to be present when the action scheduler hasn't finished it's tasks yet under **WooCommerce > Status > Scheduled Actions**
The customers table is part of the analytics and relies on the scheduled actions having run, this can sometimes take a couple minutes.

Was this the case wh

[2021-12-03 18:22] #6668 closed

[2021-12-03 18:54] louwie17 commented on #7681
@philbirnie thanks for commenting again, I was indeed able to reproduce it, it appears that when we call the page size query we keep the limit on, meaning it always returns 25 or less.
I will push a fix up for this.

[2021-12-03 20:13] #7937 closed

[2021-12-03 22:04] danielbarenkamp opened #8449 "Slow Loading when Editing a Product"
Can somebody please explain me what theses script loadings (see attached) are and why they are loading 15 seconds? Can I stop them? Do I need them?

<img width="2521" alt="Bildschirmfoto 2021-12-03 um 23 01 09" src="https://user-images.githubusercontent.com/3169388/144678837-df5199af-b5d5-4229-b370-e63f787b11de.png">

[2021-12-04 01:09] bozzmedia commented on #7508
Just tried it again now, this console error pops up on click:

No 404's present in the Network panel.

[2021-12-04 18:29] #7681 closed

[2021-12-05 00:09] ChadReitsma commented on #7667
Thanks louwie. I didn't see woocommerce/woocommerce#32237, and I did try searching before I posted the initial bug report :)  Appreciate your time!

[2021-12-06 14:14] louwie17 commented on #7667
No worries at all, I missed it as well when I did the initial grooming of this issue.
It is not yet determined when this would be fixed, although we more than welcome contributions if you have the time and know how to add this functionality.

[2021-12-07 01:18] #7735 closed

[2021-12-07 03:42] ilyasfoo opened #8005 "Inbox 2.0 character limit calculation support for multi-characters Unicode letters"
### Describe the bug
Currently, our inbox notes HTML truncator will suffer from miscalculation when handling multi-character Unicode letters. The most common use case would be emojis, such as `🏳️‍🌈` will result in 6 characters count when in fact, it's represented as 1 letter visually. Another common use case would be languages that heavily use combining marks in their letters, such as Hindi's `अनु

[2021-12-07 04:24] ilyasfoo commented on #7935
+ Add a detail for emojis not supported yet p1638849921063800-slack-C01SFMVEYAK

[2021-12-07 09:33] ilyasfoo opened #8006 "Free extensions list headers are displayed despite not having plugins"
### Describe the bug
This is likely regression of https://github.com/woocommerce/woocommerce-admin/issues/7472.

It seems extensions list headers are shown even when there are no plugins included in them. I think it's optimal to just hide them when plugins aren't available in those categories.

### To Reproduce
1. In a new JN site with WooCommerce, install [WCAdmin 3.0.0-beta.1](https://github.com

[2021-12-07 09:42] ilyasfoo opened #8007 "Free extensions list isn't updated after store location and industry is changed"
### Describe the bug
In setup wizard, the free-extensions query was not re-queried despite going back to previous steps and changing store location and industry (which both could affect the resulting extensions listed). I think we should invalidate the free extensions state whenever these settings were changed.

### To Reproduce
1. In a new JN site with WooCommerce, install [WCAdmin 3.0.0-beta.1](

[2021-12-07 10:45] adrianduffell opened #8008 "Inbox 2.0: Long notes are not replaced with shorter notes"
### Describe the bug

A [developer advisory](https://developer.woocommerce.com/2021/11/10/introducing-a-320-character-limit-to-inbox-notes/) was made for developers to reduce their notes to 320 characters.

However, the notes feature does not refresh note content once it is on the site. As such, existing notes on stores in the wild are truncated, rather than refreshed to use a shorter version of t

[2021-12-07 19:01] joshuatf opened #8010 "Add slots to allow fills in main content area of pages"
### Is your feature request related to a problem? Please describe.
Related to https://github.com/Automattic/wc-calypso-bridge/issues/720

### Describe the solution you'd like
Being able to extend the main content area of pages with SlotFill would greatly improve the extensibility of all WCA pages.

### Describe alternatives you've considered
We could hardcode these elements in WCA, but that feels

[2021-12-07 19:20] joshuatf opened #8011 "New WooCommerce Navigation: Long Site Title Doesn't Fit Well And Gets Cut Off"
Thanks to @zdenys for originally noting this issue!

### Steps to Reproduce

1. Start with an WordPress.com eCommerce Plan site with WooCommerce
2. Set a long site title (example: `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.`) in My Site → Settings → General → Site Title
3. Navigate to WooCommerce section

### What I e

[2021-12-07 19:21] joshuatf commented on #8011
Thanks for the bug report @zdenys! I'm able to reproduce this issue with the new navigation turned on.

I wonder if truncating the site title with an ellipsis would be appropriate or if the full site title would always be preferred. My concern with displaying a full site title is pushing the rest of the menu out of alignment, but it is certainly an option. cc @pmcpinto @elizaan36

I'm going to mov

[2021-12-07 20:26] joelclimbsthings opened #8012 "Woo Navigation: Category change animation triggered when navigating within a category"
### Describe the bug
With the new Woo Navigation, clicking into our out of a category triggers a "slide" animation within the nav. This should only be triggered when changing categories, although I've noticed at least one instance of it being triggered while changing to other screens within the same category.

### To Reproduce

1. Ensure Woo Nav is enabled (WooCommerce -> Settings -> Advanced -> F

[2021-12-07 20:32] joshuatf commented on #7597
@fhaps I was also unable to reproduce this.

Do you still have access to the site with this issue?  I'm curious if we can rule out caching if the issue has persisted.

[2021-12-07 20:54] joshuatf opened #8013 "New WooCommerce Navigation: Unstyled Vertical Scrollbar #742"
Thanks to @zdenys for originally identifying this issue!

### Steps to Reproduce

1. Navigate to WooCommerce section on a site with the [the new WooCommerce navigation on WordPress.com](https://wordpress.com/support/new-woocommerce-experience-on-wordpress-dot-com/), such as an WordPress.com eCommerce Plan site.
2. Resize the browser window being until you see the vertical scrollbar appear in the l

[2021-12-07 20:58] joshuatf commented on #8013
Thanks for the reporting this, @zdenys.

Tested in Firefox, Safari, and Chrome.  Of those, all appeared with a darker bar with the exception of Firefox.  However, upon dragging or hovering over the scrollbar, a lighter color scrollbar can be seen.

![Screen Shot 2021-12-07 at 3 53 04 PM](https://user-images.githubusercontent.com/10561050/145105133-4911591c-80c6-4175-b1ef-009fa65fc7ca.png)
![Screen

[2021-12-07 21:17] joshuatf commented on #7685
@elizaan36 do we have a rough timeframe on when we will implement this experiment?  I'll keep this issue open for tracking until we add it.

[2021-12-07 21:18] joshuatf commented on #7694
@tomalec Do you still need any help with this?  If not, I'll close this issue for now.

[2021-12-07 22:11] joelclimbsthings opened #8014 "Duplicate "Subscriptions" items displayed in the Woo Nav Extensions menu with WCPay installed"
### Describe the bug
We currently have two "Subscriptions" menu items, both in the original navigation, and the new navigation, which is leading to confusion when WCPay is installed.

This is especially an issue on the new Woo Navigation since it's displaying both items side-by-side within the _Extensions_ menu:

![Screenshot from 2021-12-01 16-32-56](https://user-images.githubusercontent.com/4446

[2021-12-08 00:07] fhaps opened #8015 "Customers report miscounts refunded orders"
### Describe the bug

When filtering customers by No. of Orders, refunded orders are not counted correctly.

Here's a specific example. If I filter by customers who have more than 1 order, I get this report with 5 customers – which is correct:

![](https://d.pr/i/8DKrCT+)
Image Link: https://d.pr/i/8DKrCT

I have one customer who has only placed one order on the site. If I go and refund that singl

[2021-12-08 04:11] elizaan36 commented on #7685
The new task list experiment is going out with the next WC release so we'll have the results by the end of this month!

[2021-12-08 06:43] adrianduffell opened #8017 "Inbox 2.0: Don't truncate "old" notes"
In https://github.com/woocommerce/woocommerce-admin/issues/8008, it was discovered there is no capability to update notes to show newer versions of their content.

Until that is possible, let's temporarily prevent "old" notes being truncated so as not to create support issues with the Inbox 2.0 launch.

To determine an "old" note, a check could be made on the note’s `date_created` to see if it was

[2021-12-08 07:11] adrianduffell opened #8018 "Inbox 2.0: Don't truncate non-English notes"
In https://github.com/woocommerce/woocommerce-admin/issues/8005, it was discovered our truncation handling is broken for some non-English characters.

Until that is fixed, let's temporarily prevent non-English notes being truncated so as not to create support issues with the Inbox 2.0 launch.

To determine a non-English note, a check could be made on the note’s `locale` field. This would need to b

[2021-12-08 12:42] tomalec commented on #7694
Ah, thanks for the heads up, I missed the notification. I'll check again this week.

[2021-12-08 14:37] joshuatf commented on #7708
Hi @Stas0238 👋  - thanks for reporting this bug!

I attempted to reproduce this issue with StoreFront and was unable to encounter the issue.  It's possible that this was resolved in the current version of WooCommerce Admin or there are other steps involved in reproducing this issue.

Could you try to test this with the latest version of WooCommerce Admin ( https://wordpress.org/plugins/woocommerce

[2021-12-08 14:44] Stas0238 commented on #7708
Hello @joshuatf
Thanks for your time !
I will try to check it from my side and I would like to ask you check with older version of wp admin (when I wrote the topic) to know from both sides if the issues was there.
As @rodelgc wrote
`In WC 5.6.0, I used Storefront and modified its Background color in the Customizer page to be light yellow.`
Regards, @Stas0238

[2021-12-08 14:46] joshuatf commented on #7785
cc @pmcpinto as well as @elizaan36 for your thoughts on displaying the currency.

It would be great to get the respective prices on the WCCOM side of things, but it might be a bit of an overhaul if they don't have any currency support as @louwie17 noted above.

[2021-12-08 14:47] joshuatf commented on #7786
@elizaan36 do you have any opinions on removing the search icon when a value exists?

[2021-12-08 23:31] joshuatf commented on #7891
The install timestamp ends up getting retrieved as a string when the option has already been saved.  `$install_timestamp` on this line needs to be parsed to an integer to fix this.